<script language="javascript" type="text/javascript">
//<![CDATA[
$(function() {
    var cache = {};
    var userKeywordText = '';
    $("{{ field }}").autocomplete({
        appendTo:'{{ field }}_list',
        minLength: 2,
        source: function( request, response ) {
            var term = request.term;
            userKeywordText = term;
            if ( term in cache ) {
                response( cache[ term ] );
                return;
            }
            var rurl = Routing.generate("{{ route }}", { term: request.term });
            rurl = rurl.replace(':https','');
            $.ajax({
                url: rurl,
                dataType: 'json',
                type: 'GET',
                data: {page_limit: 10},
                success: function(data) {
                    var result = $.map(data['results'], function(item) {
                        return {
                            label: item.text,
                            id: item.id,
                            position: item.position,
                        };
                    });
                    cache[ term ] = result;
                    response(result);
                }
            });
        },
        select: function( event, ui ) {
            $("{{ field }}"+'_close').show();
            $("{{ field }}"+'_searchGo').show();
            var keywordCategoryText = '';
            var keywordCategoryId = ui.item.id.split('--');
            var keywordCategoryTextRes = ui.item.label.split('<span>');
            if (keywordCategoryTextRes.length > 1) {
                keywordCategoryText = keywordCategoryTextRes[1];
                keywordCategoryText = keywordCategoryText.replace("</span>", "");
            }
            window.dataLayer = window.dataLayer || []
            dataLayer.push({
                'event' : 'Position',
                'eventCategory':  'Site Search',
                'eventAction': 'Suggestion Position '+ui.item.position,
                'eventLabel': userKeywordText+' - '+keywordCategoryId[0]+(keywordCategoryText ? ' - '+keywordCategoryText : '')
            });
            ga('send', 'event', 'Site Search', 'Suggestion Position '+ui.item.position, userKeywordText+' - '+keywordCategoryId[0]+(keywordCategoryText ? ' - '+keywordCategoryText : ''));
            {% if addGtm is defined %} gaTopSearch(); {% endif %}
            
            if (keywordCategoryId.length > 1) {
                $("{{ field }}").val(keywordCategoryId[0]);
                $("#fa_top_search_keyword_category_id").val(keywordCategoryId[1]);
            } else {
                $("{{ field }}").val(keywordCategoryId[0]);
            }
            $('form[name="fa_top_search"]').submit();
            return false;
        },
        open: function( event, ui ) {
            {% if dropdownCssClass is defined %}
                $("{{ field }}_list ul").addClass("{{ dropdownCssClass }}");
                $("{{ field }}_list ul").removeAttr("style");
                $("{{ field }}_list ul").show();
            {% endif %}
        },
        search: function( event, ui ) {
            if ($("{{ field }}").val().length > 0) {
                $("{{ field }}"+'_close').show();
                $("{{ field }}"+'_searchGo').show();
            }
        },
        focus: function( event, ui ) {
            console.log(ui)
            var keywordCategoryId = ui.item.id.split('--');
            if (keywordCategoryId.length > 1) {
                $("{{ field }}").val(keywordCategoryId[0]);
                $("#fa_top_search_keyword_category_id").val(keywordCategoryId[1]);
            } else {
                $("{{ field }}").val(keywordCategoryId[0]);
            }

            $("{{ field }}"+'_close').show();
            $("{{ field }}"+'_searchGo').show();
            return false;
        },
        change: function( event, ui ) {
            // TODO: redirect to search result based on keyword and category selected
        },
    }).autocomplete('instance')._renderItem = function( ul, item ) {
         return $("<li class='search-dropdown__item'>").append(item.label).appendTo( ul );
    };
});

function gaTopSearch() {
	window.dataLayer = window.dataLayer || []
    dataLayer.push({      
    'event' : 'ahp-search',
    'eventCategory':  'Site Search',     
    'eventAction': 'Adult Homepage Basic',
    'eventLabel': $("#fa_top_search_keywords").val()
    }); 
}

$(document).ready(function(){
    {% if placeHolder is defined %}
        $("{{ field }}").attr("placeholder", "{{ placeHolder }}");
    {% endif %}
    
    $("{{ field }}"+'_close').click(function() {
        $("{{ field }}").val('');
        $("#fa_top_search_keyword_category_id").val('');
        $(this).hide();
    });

    $("{{ field }}").keyup(function() {
        if ($(this).val().length < 1) {
            $("{{ field }}"+'_close').hide();
            $("{{ field }}"+'_searchGo').hide();
        }
    });

    $("{{ field }}").focus(function() {
        $(this).select();
    });

    $("{{ field }}").blur(function() {
        if ($("{{ field }}").val().length == 0) {
            $("{{ field }}"+'_close').hide();
            $("{{ field }}"+'_searchGo').hide();
        }
    });

    if ($("{{ field }}").length > 0 && $("{{ field }}").val().length < 1) {
        $("{{ field }}"+'_close').hide();
        $("{{ field }}"+'_searchGo').hide();
    } else {
        $("{{ field }}"+'_close').show();
        $("{{ field }}"+'_searchGo').show();
    }
});
//]]>
</script>