{% extends 'FaFrontendBundle::layout.html.twig' %}

{% block body %}
    <div class="row text-center error-page">
        <div  class="bg-img500"></div>
        <h1>Congratz! You’ve found the 500 Error page!</h1>
        <h2 class="ptop_spac">Next, find something you really want from the search bar below or visit</h2>
        <a href="{{ path('fa_frontend_homepage') }}" class="hp-link">Friday Ad homepage</a>
        {{ render(controller('FaAdBundle:AdList:topSearch', { 'searchParams': searchParams is defined ? searchParams : {}, 'isErrorSearch': true } )) }}
        {% set staticPageRepository = fetch_repository('FaContentBundle:StaticPage') %}
        {% set contactUsPage = staticPageRepository.findOneBy({'id': constant('Fa\\Bundle\\ContentBundle\\Repository\\StaticPageRepository::STATIC_PAGE_CONTACT_US_ID'), 'status': 1}) %}
        {% if contactUsPage is not null %}
            <h2 class="black-text text-center mt30 mb20">If you're having an issue with the site,<br>please <a href="{{ path('location_home_page', {'location': contactUsPage.getSlug()}) }}">contact us</a> and we will do our best to fix it!</h2>
       {% endif %}
    </div>
{% endblock %}

{% block dimension2 %}
    <!-- Google TAG Manager -->
    {% if app.user %}
        {% set ClientID = app.user.id %}
        {% set login_status = 'true' %}
        {% if app.user.role == 'ROLE_BUSINESS_SELLER' %}
            {% set userType = 'Business' %}
        {% else %}
            {% set userType = 'Private' %}
        {% endif %}
    {% else %}
        {% set ClientID = 'null' %}
        {% set login_status = 'false' %}
        {% set userType = 'null' %}
    {% endif %}
    <script>
        let adBlocker = false;
        if(isAdBlocker) {
            adBlocker = true;
        }
        window.dataLayer = window.dataLayer || [];
        dataLayer.push({
            "page": {
                "pageType": '_500_page',
                "loggedInStatus": '{{ login_status }}',
                "clientID": '{{ ClientID }}',
                "ipAddress": '{{ app.request.server.get("REMOTE_ADDR") }}',
                "loggedInType": '{{ userType }}',
                "adBlocker": adBlocker,
                "banners": '{{ bannersArray is defined ? bannersArray|length : '' }}'
            },
        });
    </script>
    <!-- Google TAG Manager -->
<script language="javascript" type="text/javascript">
//<![CDATA[
    {% if app.user.getId() is not defined or app.user.getId() is null %}
    	ga('set', 'dimension9', 'not logged in');
    {% else %}
    	ga('set', 'dimension9', 'logged in');
    {% endif %}
    ga('send', 'pageview', {'dimension1': defLocationText, 'dimension2':  '_500_page'{% if app.request.get('ti_url') %} ,'dimension8': '{{ app.request.get('ti_url') }}' {% endif %}});
//]]>
</script>
{% endblock %}
