{% extends 'FaAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="text-center">
        <div class="bg-img403"></div>
        <h1>Application Error</h1>
        <p class="red-text">Oops! {{ status_text }}</p>
        <p><a href="{{path("fa_user_admin_welcome")}}">Go to home</a></p>
    </div>
{% endblock %}

{% block dimension2 %}
    <!-- Google TAG Manager -->
    {% if app.user %}
        {% set ClientID = app.user.id %}
        {% set login_status = 'true' %}
        {% if app.user.role == 'ROLE_BUSINESS_SELLER' %}
            {% set userType = 'Business' %}
        {% else %}
            {% set userType = 'Private' %}
        {% endif %}
    {% else %}
        {% set ClientID = 'null' %}
        {% set login_status = 'false' %}
        {% set userType = 'null' %}
    {% endif %}
    <script>
        window.dataLayer = window.dataLayer || [];
        dataLayer.push({
            "page": {
                "pageType": '_403_page',
                "loggedInStatus": '{{ login_status }}',
                "clientID": '{{ ClientID }}',
                "ipAddress": '{{ app.request.server.get("REMOTE_ADDR") }}',
                "loggedInType": '{{ userType }}',
                "banners": '{{ bannersArray is defined ? bannersArray|length : '' }}'
            },
        });
    </script>
    <!-- Google TAG Manager -->
<script language="javascript" type="text/javascript">
//<![CDATA[
   {% if app.user.getId() is not defined or app.user.getId() is null %}
    	ga('set', 'dimension9', 'not logged in');
    {% else %}
    	ga('set', 'dimension9', 'logged in');
    {% endif %}
    ga('send', 'pageview', {'dimension1': defLocationText, 'dimension2':  '_403_page'{% if app.request.get('ti_url') %} ,'dimension8': '{{ app.request.get('ti_url') }}' {% endif %}});
//]]>
</script>
{% endblock %}