{% form_theme form 'FaFrontendBundle:Form:fields.html.twig' %}
<div id="forgotPasswordModal" class="modal custom-modal">
    <div class="modal-dialog">
    <div class="modal-content">
	    <div class="modal-header">
            <h5 class="modal-title no-icon-title">
                {{'Forgot password'|trans({}, 'frontend-forgot-password')}}
            </h5>
            <button class="close-modal" class="close" data-dismiss="modal">×</button>
        </div>
	    <div class="modal-body">
            <div class="contact-box">
                {{ form_start(form, {'attr': {'novalidate': '', 'id': 'forgot_password_id'}}) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.email) }}
                    {{ form_widget(form.save, {'attr': {'class':'secondary-btn-1 btn btn-block'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
</div>
<div id="forgotPasswordSuccessModal" class="modal custom-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title save-search-title">
                {{'Forgot password'|trans({}, 'frontend-forgot-password')}}
                </h5>
                <button class="close-modal" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <div class="contact-box">
                    {{'A mail with reset password link has been sent to your email address.'|trans({}, 'frontend-forgot-password')}}
                </div>
            </div>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
//<![CDATA[
    $( "#forgot_password_id" ).submit(function( event ) {
        // Stop form from submitting normally
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "{{path('forgot_password')}}",
            data: $("#forgot_password_id").serialize()
        })
        .done(function(response) {
            if (response.htmlContent.length) {
                $('#forgotPasswordModal').html(response.htmlContent);
            }
            if (response.success.length) {
                $('#forgotPasswordModal').modal('hide');
                $('#forgotPasswordSuccessModal').modal('show');
            }
        });
    });
//]]>
</script>