{% extends 'FaFrontendBundle::simpleLayout.html.twig' %}
{% form_theme form 'FaFrontendBundle:Form:fields.html.twig' %}

{% block page_title %}
    {{'Forgot Password'|trans({}, 'frontend-paa-login')}}
{% endblock %}

{% block body %}

<div class="simple-wrapper">
    <h1 class="simple-heading">{{'Forgot password'|trans({}, 'frontend-forgot-password')}}</h1>
    
    <div class="small-wrapper white-input-fields">
        {{ form_start(form, {'attr': {'novalidate': '', 'id': 'forgot_password_id'}}) }}
            {{ form_errors(form) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.save, {'attr': {'class':'secondary-btn-1 button mb0 expand'}}) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}