{% extends 'FaFrontendBundle::simpleLayout.html.twig' %}

{% block body %}
    <div class="simple-wrapper">
        <div id="login-dialog">
            <h1 class="simple-heading">{{'Log In'|trans({}, 'frontend-login')}}</h1>
            {{ include('FaCoreBundle::message.html.twig') }}
            
                {% if error %}
                    <div data-alert class="alert-box alert radius">
                        <span class="alert-icon">&nbsp;</span>
                        {{ error.message }}
                        <a href="javascript:void(0)" class="close">&times;</a>
                    </div>
                {% endif %}
                
                <div class="clearfix">
                    <div class="login-left reg-process">
                        <form action="{{ path('login_check') }}" method="post">
                            <label>{{'Email address'|trans({}, 'frontend-login')}}</label>
                            <input placeholder="Email address" id="username" name="_username" type="email" autofocus value="{{ last_username }}" tabindex="1" />
                            
                            <div class="clearfix">
                                <label class="left">{{'Password'|trans({}, 'frontend-login')}}</label>
                                <a href="{{ path('forgot_password') }}" data-reveal-id="forgotPasswordModal" data-reveal-ajax="true" class="right">{{'Forgotten password?'|trans({}, 'frontend-login')}}</a><br />
                            </div>
                            <input placeholder="{{'Password'|trans({}, 'frontend-login')}}" id="user_login_password" name="_password" type="password" value="" tabindex="2" class="mb0" />
                            <div class="label-inline white-checkbox mt10 mb10">
                                <span class="custom-checkbox">
                                    <input type="checkbox" value="1" class="form-control" name="show_password" id="user_login_show_password">
                                </span>
                                <label for="user_login_show_password">{{'Show password'|trans({}, 'frontend-login')}}</label>
                            </div>
                            <button type="submit" class="primary-btn-1 button expand" tabindex="3">{{'Log In'|trans({}, 'frontend-login')}}</button>
                        </form>
                    </div>
                    <div class="login-right">
                        {% if facebookLoginUrl %}
                            <button type="reset" class="signup-fb-btn button expand" onclick="javascript:fbLoginPopup('{{ facebookLoginUrl }}');"><span class="signup-fb-icon">&nbsp;</span>{{ 'Sign In with Facebook'|trans({}, 'frontend') }}</button>
                        {% endif %}
                        {% if googleLoginUrl %}
                            <button type="reset" class="signup-google-btn button expand" onclick="javascript:googleLoginPopup('{{ googleLoginUrl }}');"><span class="signup-google-icon">&nbsp;</span>{{ 'Sign In with Google'|trans({}, 'frontend') }}</button>
                        {% endif %}
                        <span class="signup-ins">
                            {{'We won\'t post anything <b>without your permission.</b>'|trans({}, 'frontend-login')|raw}}{{ include('FaAdBundle:AdPost:paaToolTipHelp.html.twig', {'paaBlockSlug': 'registration-login-help'}) }}
                        </span>
                    </div>
                </div>
                
                <div class="reg-here">
                    <h2>{{'Don\'t have an account?'|trans({}, 'frontend-login')}}</h2>
                    <a href="{{ path('fa_user_register') }}" class="secondary-btn-1 button button">{{'Register here'|trans({}, 'frontend-login')}}</a>
                </div>
        </div>
    </div>
<div id="forgotPasswordModal" class="reveal-modal small" data-reveal>
{% endblock %}

{% block scriptbottom %}
<script language="javascript" type="text/javascript">
//<![CDATA[
    $(document).ready(function(){
        // untick show_password
        if ($('#user_login_show_password').is(':checked')) {
            $('#user_login_show_password').attr('checked', false);
            $('#user_login_show_password').closest('span').removeClass('checked');
        }

        $("#user_login_show_password").click(function() {
            showHidePassword();
        });

        function showHidePassword() {
            if ($('#user_login_show_password:checked').val()) {
                $('#user_login_password').attr('type', 'text');
            } else {
                $('#user_login_password').attr('type', 'password');
            }
        }
   });
//]]>
</script>
{% endblock %}

{% block dimension2 %}
<script language="javascript" type="text/javascript">
//<![CDATA[
    {% if app.user.getId() is not defined or app.user.getId() is null %}
    	ga('set', 'dimension9', 'not logged in');
    {% else %}
    	ga('set', 'dimension9', 'logged in');
    {% endif %}
    ga('send', 'pageview', {'dimension1': defLocationText, 'dimension2':  'Login_Or_Register'{% if app.request.get('ti_url') %} ,'dimension8': '{{ app.request.get('ti_url') }}' {% endif %}});
//]]>
</script>
{% endblock %}