{% extends 'FaFrontendBundle::simpleLayout.html.twig' %}

{% block body %}
 <section class="login-register-block">
        <div class="container">
            <div class="row">
                <div class="col-md-24 pad-none">
                    <h1 class="s-h1 mt30 mb30 text-center">{{'Log In'|trans({}, 'frontend-login')}}</h1>
                </div>
            </div>
			{{ include('FaCoreBundle::message.html.twig') }}           
            {% if error %}
                <div data-alert class="alert-box alert radius">
                    <span class="alert-icon">&nbsp;</span>
                    {{ error.message }}
                    <a href="javascript:void(0)" class="close">&times;</a>
                </div>
            {% endif %}
            
            <div class="row justify-content-center">
                <div class="col-md-11 col-lg-8 login-left reg-process">
                <form action="{{ path('login_check') }}" method="post">
                    <div>
                        <label>{{'Email address'|trans({}, 'frontend-login')}}</label>
                        <input placeholder="Email address" class="form-control white-field" id="username" name="_username" type="email" autofocus value="{{ last_username }}" tabindex="1" />
                    </div>
                    <div>
                    	<label>{{'Password'|trans({}, 'frontend-login')}}</label>
                        <span class="float-right"><a href="{{ path('forgot_password') }}" data-toggle="modal" data-target="#forgotpasswordModal">{{'Forgotten password?'|trans({}, 'frontend-login')}}</a></span>
                        <input placeholder="{{'Password'|trans({}, 'frontend-login')}}" class="form-control white-field" id="user_login_password" name="_password" type="password" value="" tabindex="2"/>
                    </div>
                    <div>
                        <div class="white-check">
                        	<input type="checkbox" value="1" class="checkbox" name="show_password" id="user_login_show_password">
                        	<label for="user_login_show_password"></label>{{'Show password'|trans({}, 'frontend-login')}}                                                                                    
                        </div>
                    </div>
                    <div class="mt20">
                    	<button type="submit" class="primary-btn-1 btn btn-block btn-fad-blue-large" tabindex="3">{{'Log In'|trans({}, 'frontend-login')}}</button>
                    </div>
                </form>
                </div>
                <div class="col-md-11 col-lg-8 login-right">
                    {# {% if facebookLoginUrl %} #}
                    <div>
                        <button type="reset" class="signup-fb-btn button expand" onclick="javascript:fbLoginPopup('{{ facebookLoginUrl }}');">
                            <span class="signup-fb-icon">&nbsp;</span>{{ 'Sign In with Facebook'|trans({}, 'frontend') }}
                        </button>
                    </div>
                    {# {% endif %} #}
                    {% if googleLoginUrl %}
                    <div>
                        <button type="reset" class="signup-google-btn button expand" onclick="javascript:googleLoginPopup('{{ googleLoginUrl }}');">
                            <span class="signup-google-icon">&nbsp;</span>{{ 'Sign In with Google'|trans({}, 'frontend') }}
                        </button>
                    </div>
                    {% endif %}
                    <span class="signup-ins">
                        {{'We won\'t post anything <b>without your permission.</b>'|trans({}, 'frontend-login')|raw}}{{ include('FaAdBundle:AdPost:paaToolTipHelp.html.twig', {'paaBlockSlug': 'registration-login-help'}) }}     
                    </span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-8">
                    <div class="reg-here">
                        <h2 class="s-h2 mb20">{{'Don\'t have an account?'|trans({}, 'frontend-login')}}</h2>
                        <a href="{{ path('fa_user_register') }}" class="secondary-btn-1 btn register-btn">{{'Register here'|trans({}, 'frontend-login')}}</a>
                    </div>
                </div>
            </div>
        </div>        
    </section>
 <div id="forgotPasswordModal" class="modal custom-modal"></div>
{% endblock %}

{% block scriptbottom %}
<script language="javascript" type="text/javascript">
//<![CDATA[
    $(document).ready(function(){
        // untick show_password
        if ($('#user_login_show_password').is(':checked')) {
            $('#user_login_show_password').attr('checked', false);
            $('#user_login_show_password').closest('span').removeClass('checked');
        }

        $("#user_login_show_password").click(function() {
            showHidePassword();
        });

        function showHidePassword() {
            if ($('#user_login_show_password:checked').val()) {
                $('#user_login_password').attr('type', 'text');
            } else {
                $('#user_login_password').attr('type', 'password');
            }
        }
   });
//]]>
</script>
{% endblock %}

{% block dimension2 %}
<script language="javascript" type="text/javascript">
//<![CDATA[
    {% if app.user.getId() is not defined or app.user.getId() is null %}
    	ga('set', 'dimension9', 'not logged in');
    {% else %}
    	ga('set', 'dimension9', 'logged in');
    {% endif %}
    ga('send', 'pageview', {'dimension1': defLocationText, 'dimension2':  'Login_Or_Register'{% if app.request.get('ti_url') %} ,'dimension8': '{{ app.request.get('ti_url') }}' {% endif %}});
//]]>
</script>
{% endblock %}
