<div class="homepage-row">
    <div class="preference-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-14 col-lg-13">
                    <h1 class="s-h1">Let's get personal</h1>
                    <div class="mt20">We want you to get the most out of your Friday-Ad newsletter experience.<br> Give us a hand by letting us know what you are most interested in.<br> Tell us where you're based and we'll let you know about upcoming events and deals in your area!</div>
                </div>
                <div class="col-md-10 col-lg-7 newsletter-block">
                    <div class="text-center newsletter-img">
                        <img src="{{ asset_url('fafrontend/images/newsletter.png') }}" alt="Newsletter" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="updatemynewsletterpreferences">
                {{ form_start(userNewsletterPrefForm, {'attr': {'novalidate': 'novalidate', 'class': ''}}) }}
                {{ form_errors(userNewsletterPrefForm) }}
                    <div class="row justify-content-center mt30">
                        <div class="col-md-12 col-lg-10 news-form-l">
                            <div class="pr100">
                                <div class="mb20">
                                    {{ form_row(form.email) }}
                                </div>
                                <div class="image-tooltip-wrapper">
                                    <span class="info-icon">info</span>
                                    <span class="newsletter_info_txt">
                                        Please
                                        <a href="{{ path('my_account') }}">
                                            log in
                                        </a>
                                        to your Friday-Ad account to update your email address.
                                    </span>
                                </div>
                                <div class="mb20">
                                    {{ form_row(form.firstname) }}
                                </div>
                                <div class="mb20">
                                    {{ form_row(form.lastname) }}
                                </div>
                                <div class="mb20">
                                    {{ form_row(form.gender) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-10 news-form-r">
                            <div class="pl100">
        {#                        <label>&nbsp;</label>#}
        {#                        <input class="form-control textcounter" >#}
        {#                        <div class="text-left">#}
        {#                            <p class="mb0">#}
        {#                            <div>&nbsp;<br>&nbsp;<br>&nbsp;</div>#}
        {#                            </p>#}
        {#                        </div>#}
                                <div class="gap-h"></div>
                                <div class="mb20">
                                    <label for="" class="required">Date of birth</label>
                                    <div class="d-inline-flex f-width">
                                        <div class="l-slect float-left">
                                            {{ form_row(form.day) }}
                                        </div>
                                        <div class="m-slect float-center">
                                            {{ form_row(form.month) }}
                                        </div>
                                        <div class="r-slect float-right">
                                            {{ form_row(form.year) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="mb20">
                                    {{ form_row(form.postcode) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
    
<div class="homepage-row white-bg" id="updatemypreferences">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-20 text-center">
                <h1 class="s-h1 mb20">What would you like to hear about?</h1>
                <div class="mb20">Tailor your Friday-Ad email experience by ticking the areas below that interest you. Find the cutest pets, hottest cars or upcoming events in your area, or get involved with our competitions.</div>
            </div>
        </div>
        <div class="row">
            <div class="col paa-block">
                <ul class="row ul-news-blk mt20" style="list-style: none;">
                    {% set totalChoices = newsletterMainCategoryArray|length %}
                    {% set totalColumns = 3 %}
                    {% set choicesPerColumn = (totalChoices / totalColumns)|round(0, 'ceil') %}
                    {% set choiceCount = 0 %}
                    {% set strForThirdParty = '' %}
                    {% for mainCatId in newsletterMainCategoryArray %}
                    {% set child = userNewsletterPrefForm.dotmailer_newsletter_type_id.children[(mainCatId - 1)] %}
                        <li class="col-md-8">
                            <div class="col-md-24 paa-box">
                                    <div class="f-width mb30" id="element_personalized_{{ child.vars.name }}" style="border: 0px;">
                                        <div class="text-center f-width border-btm">
                                            <a id="element_toggle_personalized_{{ child.vars.name }}" href="#list-toggle-type-id-01" class="panel-heading collapsed" data-toggle="collapse" data-target="#element_toggle_personalized_{{ child.vars.name }}_target">
                                                <span class="detail-location icon-{{ child.vars.label|striptags|lower|replace({' ':''})  }} list-icons" style=""></span>
                                                <div class="clearfix">
                                                    <h3 class="s-h3 text-center">{{ child.vars.label|striptags }}</h3>
                                                </div>
                                                <div class="mb20">
                                                    <div class="arrow-block">
                                                        <i class="fa fa-chevron-up"></i>
                                                        <i class="fa fa-chevron-down"></i>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="collapse collapse-body-content" id="element_toggle_personalized_{{ child.vars.name }}_target" style="display:none;">
                                            <div class="mt20 pl20">
                                                {% set childrenArray = newsletterTypeRepository.getChildrens(mainCatId, container)|keys %}
                                                <div class="label-inline">
                                                    <ul class="custom-control custom-checkbox search-type crawlable-checkbox">
                                                        <li class="grey-check">
                                                            {{ form_widget(child, {'attr': {'class':'parent_newsletter checkbox'}}) }}
                                                            <label for="{{ child.vars.id }}"></label>
                                                            <b>{{ child.vars.label|striptags }}</b>
                                                        </li>
                                                    </ul>
                                                    {% for subCatId in childrenArray %}
                                                        {% set subChild = userNewsletterPrefForm.dotmailer_newsletter_type_id.children[(subCatId - 1)] %}
                                                        <ul class="custom-control custom-checkbox search-type crawlable-checkbox">
                                                            <li class="grey-check">
                                                                {{ form_widget(subChild, {'attr': {'class':'checkbox child_newsletter_'~mainCatId}}) }}
                                                                <label for="{{ subChild.vars.id }}"></label>
                                                                {{ subChild.vars.label|striptags }}
                                                            </li>
                                                        </ul>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </li>
                        {% if mainCatId == 43 %}
                             <li class="col-md-8">
                                 <div class="col-md-24 paa-box">
                                     <div class="f-width mb30" id="list-type-id-1">
                                         <div class="text-center f-width border-btm">
                                             <a id="element_toggle_personalized_non_mappped" class="panel-heading collapsed" data-toggle="collapse" data-target="#element_toggle_personalized_non_mappped_target">
                                                 <span class="detail-location icon-competitions list-icons" style=""><!-- <img src="preference-center_files/images/newslettre-icon.png" width="80px" height="80px"> --></span>
                                                 <span class="detail-location icon-forsale list-icons"></span>
                                                 <div class="clearfix">
                                                     <h3 class="s-h3 text-center">{{ 'Competitions and deals'|trans({}, 'frontend-newsletter-pref') }}</h3>
                                                 </div>
                                                 <div class="mb20">
                                                     <div class="arrow-block">
                                                         <i class="fa fa-chevron-up"></i>
                                                         <i class="fa fa-chevron-down"></i>
                                                     </div>
                                                 </div>
                                             </a>
                                         </div>
                                         <div class="collapse collapse-body-content" id="element_toggle_personalized_non_mappped_target">
                                             <div class="mt20 pb10"  style="display:none;">
                                                 <div class="label-inline">
                                                     <ul class="custom-control custom-checkbox search-type crawlable-checkbox">
                                                         {% set nonMappedChildrenArray = newsletterTypeRepository.getNonMappedCategories(container)|keys %}
                                                         {% set strForThirdParty = null %}

                                                         {% for nonMappedCatId in nonMappedChildrenArray %}
                                                             {% set nonMappedCatChild = userNewsletterPrefForm.dotmailer_newsletter_type_id.children[(nonMappedCatId - 1)] %}
                                                             <li class="grey-check">
                                                                 {% if nonMappedCatChild.vars.name|raw == "47" %}
                                                                     {% set strForThirdParty = nonMappedCatChild %}
                                                                 {% else %}
                                                                     {{ form_widget(nonMappedCatChild,{'attr':{'class':'checkbox'}}) }}
                                                                     <label for="{{ nonMappedCatChild.vars.id }}"></label>
                                                                     {{ nonMappedCatChild.vars.label|striptags }}
                                                                 {% endif %}
                                                             </li>
                                                         {% endfor %}
                                                     </ul>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                           </li>
                        {% endif %}
                        {% set choiceCount = choiceCount + 1 %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row justify-content-center offers-promotions mt30">
            <div class="col-md-10">
                <h3 class="s-h3 mb20">Offers and promotions from trusted partners</h3>
                <div class="label-inline">
                    <ul class="custom-control custom-checkbox checked search-type crawlable-checkbox">
                        <li class="grey-check">
                            {{ form_widget(strForThirdParty,{'attr':{'class':'checkbox'}}) }}
                            <label for="user_newsletterupdate_dotmailer_newsletter_type_id_47"></label>
                            {{ "I'd like to receive offers and promotions by email on behalf of carefully chosen partners."|trans }}
                        </li>
                    </ul>
                </div>
                <div class="mt10 privacy-pol">
                    By ticking this box, we will send you emails on behalf of trusted local partners,
                    bringing you offers, promotions and local events that we think you may be interested in.
                    <b>We will never share your personal information with these partners.</b>
                    Learn more in our <a href="{{ path('location_home_page', {'location': 'privacy-policy'}) }}" target="__blank"> privacy policy</a>.
                </div>
            </div>
            <div class="col-md-10 text-center">
                <img class="img-fluid" src="{{ asset_url('fafrontend/images/desktop-mobile-view.png') }}" alt="Desktop-Mobile-View">
            </div>
            <div class="col-md-6">
                {{ form_widget(form.update_newsletter_preferences, {'label': 'Update'|trans, 'attr': {'class':'primary-btn-1 btn btn-block btn-h-lg', 'onClick': "newsletterUpdate(this)"}}) }}
            </div>
        </div>
    </div>
</div>
    
    {# {% do userNewsletterPrefForm.dotmailer_newsletter_type_id.setRendered %}
	<div class="homepage-row" id="unsubscribefrommails">
        <div class="row">
            <div class="medium-14 medium-push-5 large-14 large-push-5 columns text-center">
                <div><img src="{{ asset_url('fafrontend/images/newslettre-icon.png') }}" alt="newsletter-icon"></div>
                <h1 class="mb20">Unsubscribe</h1>
                <h2 style="font-size:14px;">
                	You can control the types of email that you receive using the categories above. 
                	However if you would like to leave the Friday-Ad mailing list, please confirm by clicking Unsubscribe below. 
                	We're sorry to see you go!
                </h2>
                <div class="medium-14 medium-push-5 large-12 large-push-6 columns mt40 p0 text-center">
                    {{ form_widget(form.stop_third_party_emails, {'label': 'Stop third party emails'|trans, 'attr': {'class':'button expand primary-btn-2'}}) }} 
                     {{ form_row(form.email_dis) }}
                	{{ form_widget(form.unsubscribe_from_all_emails, {'label': 'Unsubscribe'|trans, 'attr': {'class':'button expand primary-btn-1', 'onClick': "newsletterUpdate(this)"}}) }}
                </div>
                <div class="clearfix"></div>
                <div class="text-left mt20 mb20" style="font-size:13px; color:#a8a8a8;">
                	By clicking 'Unsubscribe', you will be removed from the Friday-Ad mailing list. 
                	If you are a registered Friday-Ad account holder, this will still be active. 
                	You will continue to receive any search alert emails that you may have previously set up, 
                	as well as email notifications about your adverts and your enquiries.
                </div>
            </div>
        </div>
    </div>    
   {{ form_end(userNewsletterPrefForm) }}#}
   {{ form_widget(form.clickedElementValue) }}
<script language="javascript" type="text/javascript">
//<![CDATA[
	/*$('.parent_newsletter').on('click', function() {
		var parNewsId = $(this).val();
		if($(this).is( ":checked" )) {
            $('.child_newsletter_'+parNewsId).parent('span').addClass('checked');
            $('.child_newsletter_'+parNewsId).each(function(){
                    var id = $(this).attr('id');
                    $('#'+id).attr('checked', 'checked');
            });
        } else {
                $('.child_newsletter_'+parNewsId).parent('span').removeClass('checked');
                $('.child_newsletter_'+parNewsId).each(function(){
                        var id = $(this).attr('id');
                        $('#'+id).removeAttr('checked');
                });
        }
	})*/
    function newsletterUpdate(e) {
        var clickedElement = $(e).attr('id');
        if(clickedElement =='user_newsletterupdate_update_newsletter_preferences') {
            $('#user_newsletterupdate_clickedElementValue').val('update');
        } else if(clickedElement =='user_newsletterupdate_unsubscribe_from_all_emails') {
        	$('#user_newsletterupdate_clickedElementValue').val('unsubscribe');
        }
    	$(e).html('Please wait...');
    	
    	$("form[name='user_newsletterupdate']").submit();
    	//return true;	
    }
//]]>
</script>