{% extends 'FaFrontendBundle::layout.html.twig' %}
{% form_theme form 'FaFrontendBundle:Form:fields.html.twig' %}

{% block body %}
 {{ include('FaUserBundle:Newsletter:newsletter-css.html.twig')}}
<div class="homepage-row">
        <div class="row">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="medium-14 medium-push-5 large-14 large-push-5 columns text-center">
                <h1 class="mb20">Sorry to see you go 
                	<span><img class="img-fluid" src="{{ asset_url('fafrontend/images/sad_emoji_icon.png') }}" width="30px"></span>
               	</h1> 
                <h2>You have successfully unsubscribed from Friday-Ad email newsletters.</h2>
                <div class="medium-14 medium-push-5 large-14 large-push-5 columns text-left mt20">
                    <div>If you have a few minutes, we'd love to know how we can improve. What was the reason 
            that you unsubscribed?</div>   
                    <ul class="mt20" style="margin-left:0px !important;">
                    	<div class="newsleterr_feedback_types">
							<li>
                                {{ form_widget(form.reason, {'attr': {'class':'feedback-reason-option common-radio-box'}}) }}
                        	</li>                    	
                    	</div>
                        <li>
                            {{ form_errors(form.reason) }}
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <div  {% if not form.otherReason.vars.errors|length %} style="display:none;" {% endif %} class="feeback-other-reason">
                        {{ form_widget(form.otherReason) }}
                        {{ form_errors(form.otherReason) }}
                    </div>
                </div>
                <div class="clearfix"></div>  
                <div class="medium-14 medium-push-5 large-12 large-push-6 columns mt40 p0 text-center">
                    {{ form_widget(form.feedback, {'label': 'Give your feedback'|trans, 'attr': {'class':'button expand primary-btn-2'}}) }}
                </div>
            </div>
            <div class="clearfix"></div>
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block scriptbottom %}
<script language="javascript" type="text/javascript">
//<![CDATA[
    $(document).ready(function(){
   		$("input[name='newsletter_feedback[reason]']").click(function(e) { 
   			if ($("#newsletter_feedback_reason_5").is(':checked')) {
    			$('.feeback-other-reason').show();
    		} else {
    			$('.feeback-other-reason').hide();
        	}
    	});
    });
//]]>
</script>
{% endblock %}