{% set salaryRendered = false %}
{% if orderedFields|length  > 0 %}
    {% for field in orderedFields %}  
        {% if attribute(form, field) is defined %}
             {{ set_variables('formFields', {'lastField':field}) }}
                {% if field == 'title' %}
                    <div class="paa-bdr-box btm-pa-0" id="element_{{ field }}">
                        {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                        {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                        <div class="pb30" id="element_toggle_{{ field }}_target" style="display:{{ showHideElement }}">
                            {% if attribute(attribute(form, field).vars.attr, 'field-help') is defined %}
                                <div class="paa-title-ins">
                                    {{ attribute(attribute(form, field).vars.attr, 'field-help') }}
                                </div>
                            {% endif %}
                            {{ form_widget(attribute(form, field), {'attr': {'placeholder': ((attribute(form, field).vars.attr.placeholder is defined and attribute(form, field).vars.attr.placeholder is not null) ? attribute(form, field).vars.attr.placeholder : 'eg. Little Tikes'|trans({}, 'frontend-ad-edit'))}}) }}
                            {% if attribute(form, field).vars.attr.maxlength is defined and attribute(form, field).vars.attr.maxlength %}
                                <div class="paa-title-char" id="{{ attribute(form, field).vars.id }}_textcounter" >{{ '(%textCount% characters left)'|trans({'%textCount%' : attribute(form, field).vars.attr.maxlength }, 'frontend-ad-edit') }}</div>
                            {% endif %}
                            {{ form_errors(attribute(form, field)) }}
                        </div>
                    </div>
                {% elseif field == 'description' %}
                    <div class="paa-bdr-box btm-pa-0" id="element_{{ field }}">
                        {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                        {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                        <div class="pb30" id="element_toggle_{{ field }}_target" style="display:{{ showHideElement }}">
                            <div class="paa-title-ins">
                                {% if attribute(attribute(form, field).vars.attr, 'field-help') is defined %}
                                    ({{ attribute(attribute(form, field).vars.attr, 'field-help') }})
                                {% else %}
                                    ({{ 'Describe your item here.You can add details about your business in the next step.'|trans({}, 'frontend-ad-edit') }})
                                {% endif %}
                            </div>
                            {{ form_widget(attribute(form, field), {'attr': {'placeholder': ''}}) }}
                            {% if attribute(form, field).vars.attr.maxlength is defined and attribute(form, field).vars.attr.maxlength %}
                                <div class="paa-title-char" id="{{ attribute(form, field).vars.id }}_textcounter" >{{ '(%textCount% characters left)'|trans({'%textCount%' : attribute(form, field).vars.attr.maxlength }, 'frontend-ad-edit') }}</div>
                            {% endif %}
                            {{ form_errors(attribute(form, field)) }}
                        </div>
                    </div>
                {% elseif field == 'location_autocomplete' %}
                    {{ include('FaAdBundle:AdPost:paaLocationWithMap.html.twig', {'is_edit' : true}) }}
                {% elseif field == 'photo_error' %}
                    {{ include('FaAdBundle:AdPost:paaUploadImage.html.twig', {'vertical':'adult'}) }}
                {% elseif field == 'youtube_video_url' %}
                    {{ include('FaAdBundle:AdPost:paaYoutubeVideo.html.twig') }}
                {% elseif field == 'business_phone' %}
                    {{ include('FaAdBundle:AdPost:businessPhoneField.html.twig') }}
                {% elseif field == 'personalized_title' %}
                    <div class="paa-bdr-box btm-pa-0" id="element_{{ field }}">
                        {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                        {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                        <div class="pb30" id="element_toggle_{{ field }}_target" style="display:{{ showHideElement }}">
                            <div class="row">
                              <div class="large-12 columns subtitle-ins">
                                {% if attribute(attribute(form, field).vars.attr, 'field-help') is defined %}
                                    <p>{{ attribute(attribute(form, field).vars.attr, 'field-help') }}</p>
                                {% else %}
                                    <p>{{ 'Add some personality to your ad with a short quote statement that tells readers what makes your advert special'|trans({}, 'frontend-ad-edit')}}</p>
                                {% endif %}
                              </div>
                              <div class="large-12 columns">
                                    {{ include('FaAdBundle:AdPost:adSubtitleImage.html.twig', {'categoryId':ad.category.id}) }}
                              </div>
                            </div>
                            {{ form_widget(attribute(form, field), {'attr': {'class': 'textcounter'}}) }}
                            {% if attribute(form, field).vars.attr.maxlength is defined and attribute(form, field).vars.attr.maxlength %}
                                <div class="paa-title-char" id="{{ attribute(form, field).vars.id }}_textcounter" >{{ '(%textCount% characters left)'|trans({'%textCount%' : attribute(form, field).vars.attr.maxlength }, 'frontend-ad-edit') }}</div>
                            {% endif %}
                            {{ form_errors(attribute(form, field)) }}
                        </div>
                    </div>
                {% elseif field == 'services_id' %}
                    <div class="paa-bdr-box btm-pa-0" id="element_{{ field }}">
                        {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                        {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                        <div class="pb30" id="element_toggle_{{ field }}_target" style="display:{{ showHideElement }}">
                            {% if attribute(attribute(form, field).vars.attr, 'field-help') is defined %}
                                <div class="paa-title-ins">
                                    {{ attribute(attribute(form, field).vars.attr, 'field-help') }}
                                </div>
                            {% endif %}
                            <ul class="paa-features clearfix fa-equalizer" id="{{ field }}_equalizer">
                                {% set selectedValues = attribute(form, field).vars.data %}
                                {% for child in attribute(form, field) %}
                                    {% set activeClass = '' %}
                                    {% if child.vars.value in selectedValues %}
                                        {% set activeClass = 'active' %}
                                    {% endif %}
                                    <li class="{{ activeClass }}">
                                        {{ form_widget(child) }}
                                        <label for="{{ child.vars.id }}">{{ child.vars.label }}</label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% elseif field == 'rates_id' %}
                <div class="paa-bdr-box btm-pa-0" id="element_{{ field }}"  style="display:none;">
                	 {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                    {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                    <div class="pb30 in-out-calls-block" id="element_toggle_{{ field }}_target" style="display:{{ showHideElement }}">
                        {% if attribute(attribute(form, field).vars.attr, 'field-help') is defined %}
                            <div class="paa-title-ins">
                                {{ attribute(attribute(form, field).vars.attr, 'field-help') }}
                            </div>
                        {% endif %}     
                                           
                        {{ include('FaAdBundle:AdPost:paaFieldRates.html.twig') }}                        
                    </div>
                </div>  
                {% elseif field == 'position_preference_id' %}
                    <div class="kind-of-paa paa-bdr-box btm-pa-0" id="element_{{ field }}">
                        {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                        {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                        <div id="element_toggle_{{ field }}_target" style="display:{{ showHideElement }}">
                            {% if attribute(attribute(form, field).vars.attr, 'field-help') is defined %}
                                <div class="paa-title-ins">
                                    {{ attribute(attribute(form, field).vars.attr, 'field-help') }}
                                </div>
                            {% endif %}
                            <div id="position_preference_choice_div" style="display:none">
                                {{ form_widget(attribute(form, field)) }}
                            </div>
                            <div class="capsule-links ad-type-links">
                                {% set selectedAdTypeId = attribute(form, field).vars.data %}
                                {% for choice in attribute(form, field).vars.choices %}
                                    {% set activeClass = '' %}
                                    {% if choice.value == selectedAdTypeId %}
                                        {% set activeClass = 'active' %}
                                    {% endif %}
                                    <a href="javascript:void(0)" class="position_preference_choice {{ activeClass }}" id="position_preference_choice_{{ choice.value }}">{{ choice.label }}</a>
                                {% endfor %}
                            </div>
                            {{ form_errors(attribute(form, field)) }}
                        </div>
                    </div>  
                {% elseif field == 'experience_id' %}
                    <div class="kind-of-paa paa-bdr-box btm-pa-0" id="element_{{ field }}">
                        {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                        {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                        <div id="element_toggle_{{ field }}_target" style="display:{{ showHideElement }}">
                            {% if attribute(attribute(form, field).vars.attr, 'field-help') is defined %}
                                <div class="paa-title-ins">
                                    {{ attribute(attribute(form, field).vars.attr, 'field-help') }}
                                </div>
                            {% endif %}
                            <div id="experience_choice_div" style="display:none">
                                {{ form_widget(attribute(form, field)) }}
                            </div>
                            <div class="capsule-links ad-type-links">
                                {% set selectedAdTypeId = attribute(form, field).vars.data %}
                                {% for choice in attribute(form, field).vars.choices %}
                                    {% set activeClass = '' %}
                                    {% if choice.value == selectedAdTypeId %}
                                        {% set activeClass = 'active' %}
                                    {% endif %}
                                    <a href="javascript:void(0)" class="experience_choice {{ activeClass }}" id="experience_choice_{{ choice.value }}">{{ choice.label }}</a>
                                {% endfor %}
                            </div>
                            {{ form_errors(attribute(form, field)) }}
                        </div>
                    </div>  
                {% elseif field == 'payment_method_id' %}
                    <div class="paa-gray-box btm-pa-0 relative paa-bdr-box paa-bdr-lbl" id="adult_paypal_block">
                        {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                        {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                        <div class="pb30" id="element_toggle_{{ field }}_target" style="display:{{ showHideElement }}">
                            <div id="payment_method_choice_div" class="radio-capsule payment-method-links">
                                {{ form_widget(attribute(form, field), {'attr': {'class' : 'radio-capsule-btn'}}) }}
                            </div>
                            <div class="paa-paypal-mail" id="paypal_section_id" {% if not form.paypal_email.vars.errors|length %}style="display:none;"{% endif %}>
                                <p class="text-center mt20">Please provide the first name, last name and the email address used for your Paypal account</p>
                                {% set paypalUserEmail = null %}
                                {% set paypalFirstName = null %}
                                {% set paypalLastName = null %}
                                {% if ad and ad.getUser() and ad.getUser().getPaypalEmail() and app.request.getMethod() != 'POST' %}
                                    {% set paypalUserEmail = ad.getUser().getPaypalEmail() %}
                                {% elseif app.request.getMethod() == 'POST' %}
                                    {% set paypalUserEmail = app.request.get('fa_paa_edit_adult').paypal_email %}
                                {% endif %}
                                {% if ad and ad.getUser() and ad.getUser().getPaypalFirstName() and app.request.getMethod() != 'POST' %}
                                    {% set paypalFirstName = ad.getUser().getPaypalFirstName() %}
                                {% elseif app.request.getMethod() == 'POST' %}
                                    {% set paypalFirstName = app.request.get('fa_paa_edit_adult').paypal_first_name %}
                                {% endif %}
                                {% if ad and ad.getUser() and ad.getUser().getPaypalLastName() and app.request.getMethod() != 'POST' %}
                                    {% set paypalLastName = ad.getUser().getPaypalLastName() %}
                                {% elseif app.request.getMethod() == 'POST' %}
                                    {% set paypalLastName = app.request.get('fa_paa_edit_adult').paypal_last_name %}
                                {% endif %}
                                
                                <label>{{'Paypal details'|trans({}, 'frontend-paa-fourth-step')}}</label>
                                {{ form_widget(attribute(form, 'paypal_first_name'), {'value': paypalFirstName, 'attr': {'class' : 'white-field', 'placeholder': 'Paypal first name'|trans({}, 'frontend-paa-fourth-step')}}) }}
                                {{ form_widget(attribute(form, 'paypal_last_name'), {'value': paypalLastName, 'attr': {'class' : 'white-field', 'placeholder': 'Paypal last name'|trans({}, 'frontend-paa-fourth-step')}}) }}
                                {{ form_widget(attribute(form, 'paypal_email'), {'value': paypalUserEmail, 'attr': {'class' : 'white-field', 'placeholder': 'Paypal email address'|trans({}, 'frontend-paa-fourth-step')}}) }}
                                <button type="button" class="secondary-btn-1 mb0" id="verify_paypal_email_button">{{'Verify'|trans({}, 'frontend-paa-fourth-step')}}</button><span class="error-icon" id="paypal_email_verify_status" style="display:none;">error</span>
                                {{ form_errors(attribute(form, 'paypal_email')) }}
                                <div class="paypal-ins" id="paypal_text_id"></div>
                            </div>
                            {{ form_errors(attribute(form, field), {'attr': {'class' : 'error center'}}) }}
                        </div>
                    </div>                            
                {% else %}
                    <div class="paa-bdr-box btm-pa-0" id="element_{{ field }}">
                        {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                        {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                        <div class="pb30" id="element_toggle_{{ field }}_target" style="display:{{ showHideElement }}">
                            {% if attribute(attribute(form, field).vars.attr, 'field-help') is defined %}
                                <div class="paa-title-ins">
                                    {{ attribute(attribute(form, field).vars.attr, 'field-help') }}
                                </div>
                            {% endif %}
                            <div class="small-wrapper {{ field == 'my_service_id'?'custom-checkbox-main':'' }} {{ field == 'independent_or_agency_id'?'label-inline':'' }}">
                                {{ form_widget(attribute(form, field)) }}
                                {{ form_errors(attribute(form, field)) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}