{% if orderedFields|length  > 0 %}
    {% for field in orderedFields %}
        {% if attribute(form, field) is defined %}
             {{ set_variables('formFields', {'lastField':field}) }}
                {% if field == 'ad_type_id' %}
                    <div class="kind-of-paa paa-bdr-box btm-pa-0" id="element_{{ field }}">
                        {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                        {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                        <div class="collapse collapse-body-content {{ showHideElement }}" id="element_toggle_{{ field }}">
                            {% if attribute(attribute(form, field).vars.attr, 'field-help') is defined %}
                                <div class="paa-title-ins">
                                    {{ attribute(attribute(form, field).vars.attr, 'field-help') }}
                                </div>
                            {% endif %}
                            <div id="ad_type_choice_div" style="display:none">
                                {{ form_widget(attribute(form, field)) }}
                            </div>
                            <div class="capsule-links ad-type-links">
                                {% set selectedAdTypeId = attribute(form, field).vars.data %}
                                {% for choice in attribute(form, field).vars.choices %}
                                    {% set activeClass = '' %}
                                    {% if choice.value == selectedAdTypeId %}
                                        {% set activeClass = 'active' %}
                                    {% endif %}
                                    <a href="javascript:void(0)" class="ad_type_choice {{ activeClass }}" id="ad_type_choice_{{ choice.value }}">{{ choice.label }}</a>
                                {% endfor %}
                            </div>
                            {{ form_errors(attribute(form, field)) }}
                        </div>
                    </div>
                {% elseif field == 'is_new' %}
                    <div class="paa-bdr-box btm-pa-0" id="element_{{ field }}">
                        {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                        {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                        <div class="collapse collapse-body-content {{ showHideElement }}" id="element_toggle_{{ field }}">
                            {% if attribute(attribute(form, field).vars.attr, 'field-help') is defined %}
                                <div class="paa-title-ins">
                                    {{ attribute(attribute(form, field).vars.attr, 'field-help') }}
                                </div>
                            {% endif %}
                            <div id="is_new_choice_div" style="display:none">
                                {{ form_widget(attribute(form, field)) }}
                            </div>
                            <div class="capsule-links">
                                {% set selectedIsNewId = attribute(form, field).vars.data %}
                                {% for choice in attribute(form, field).vars.choices %}
                                    {% set activeClass = '' %}
                                    {% if choice.value == selectedIsNewId %}
                                        {% set activeClass = 'active' %}
                                    {% endif %}
                                    <a href="javascript:void(0)" class="is_new_choice {{ activeClass }}" id="is_new_choice_{{ choice.value }}">{{ choice.label }}</a>
                                {% endfor %}
                            </div>
                            {{ form_errors(attribute(form, field)) }}
                        </div>
                    </div>
                {% elseif field == 'title' %}
                    <div class="paa-bdr-box btm-pa-0" id="element_{{ field }}">
                        {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                        {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                        <div class="collapse collapse-body-content {{ showHideElement }}" id="element_toggle_{{ field }}">
                            {% if attribute(attribute(form, field).vars.attr, 'field-help') is defined %}
                                <div class="paa-title-ins">
                                    {{ attribute(attribute(form, field).vars.attr, 'field-help') }}
                                </div>
                            {% endif %}
                            {{ form_widget(attribute(form, field), {'attr': {'placeholder': ((attribute(form, field).vars.attr.placeholder is defined and attribute(form, field).vars.attr.placeholder is not null) ? attribute(form, field).vars.attr.placeholder : 'eg. Little Tikes'|trans({}, 'frontend-ad-edit'))}}) }}
                            {% if attribute(form, field).vars.attr.maxlength is defined and attribute(form, field).vars.attr.maxlength %}
                                <div class="paa-title-char" id="{{ attribute(form, field).vars.id }}_textcounter" >{{ '(%textCount% characters left)'|trans({'%textCount%' : attribute(form, field).vars.attr.maxlength }, 'frontend-ad-edit') }}</div>
                            {% endif %}
                            {{ form_errors(attribute(form, field)) }}
                        </div>
                    </div>
                {% elseif field == 'description' %}
                    <div class="paa-bdr-box btm-pa-0" id="element_{{ field }}">
                        {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                        {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                        <div class="collapse collapse-body-content {{ showHideElement }}" id="element_toggle_{{ field }}">
                            {% if attribute(attribute(form, field).vars.attr, 'field-help') is defined %}
                                <div class="paa-title-ins">({{ attribute(attribute(form, field).vars.attr, 'field-help') }})</div>
                            {% endif %}
                            {{ form_widget(attribute(form, field), {'attr': {'placeholder': ''}}) }}
                            {% if attribute(form, field).vars.attr.maxlength is defined and attribute(form, field).vars.attr.maxlength %}
                                <div class="paa-title-char" id="{{ attribute(form, field).vars.id }}_textcounter" >{{ '(%textCount% characters left)'|trans({'%textCount%' : attribute(form, field).vars.attr.maxlength }, 'frontend-ad-edit') }}</div>
                            {% endif %}
                            {{ form_errors(attribute(form, field)) }}
                        </div>
                    </div>
                {% elseif field == 'photo_error' %}
                    {{ include('FaAdBundle:AdPost:paaUploadImage.html.twig', {'vertical':'animals'}) }}
                {% elseif field == 'youtube_video_url' %}
                    {{ include('FaAdBundle:AdPost:paaYoutubeVideo.html.twig') }}
                {% elseif field == 'business_phone' %}
                    {{ include('FaAdBundle:AdPost:businessPhoneField.html.twig') }}
                {% elseif field == 'price' %}
                    <div id="paa_price" class="paa-bdr-box">
                        <div class="btm-pa-0">
                            <h3 class="text-center" id="price_label">{{ attribute(form, field).vars.label }}</h3>
                        </div>
                        <div class="small-wrapper">
                            <div class="paa-enter-price clearfix">
                                <div class="price-icon">&pound;</div>
                                {{ form_widget(attribute(form, field)) }}
                                {{ form_errors(attribute(form, field)) }}
                            </div>
                        </div>
                    </div>
                {% elseif field == 'location_autocomplete' %}
                    {{ include('FaAdBundle:AdPost:paaLocationWithMap.html.twig', {'is_edit' : true}) }}
                {% elseif field == 'personalized_title' %}
                    <div class="paa-bdr-box btm-pa-0" id="element_{{ field }}">
                        {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                        {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                        <div class="collapse collapse-body-content {{ showHideElement }}" id="element_toggle_{{ field }}">
                            <div class="row">
                              <div class="large-12 columns subtitle-ins">
                                {% if attribute(attribute(form, field).vars.attr, 'field-help') is defined %}
                                    <p>{{ attribute(attribute(form, field).vars.attr, 'field-help') }}</p>
                                {% else %}
                                    <p>{{ 'Add some personality to your ad with a short quote statement that tells readers what makes your advert special'|trans({}, 'frontend-ad-edit')}}</p>
                                {% endif %}
                              </div>
                              <div class="large-12 columns">
                                  {{ include('FaAdBundle:AdPost:adSubtitleImage.html.twig', {'categoryId':ad.category.id}) }}
                              </div>
                            </div>
                            {{ form_widget(attribute(form, field), {'attr': {'class': 'textcounter'}}) }}
                            {% if attribute(form, field).vars.attr.maxlength is defined and attribute(form, field).vars.attr.maxlength %}
                                <div class="paa-title-char" id="{{ attribute(form, field).vars.id }}_textcounter" >{{ '(%textCount% characters left)'|trans({'%textCount%' : attribute(form, field).vars.attr.maxlength }, 'frontend-ad-edit') }}</div>
                            {% endif %}
                            {{ form_errors(attribute(form, field)) }}
                        </div>
                    </div>
                {% elseif field == 'breed_id_autocomplete' %}
                    <div class="paa-bdr-box btm-pa-0" id="element_{{ field }}">
                        {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                        {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                        <div class="collapse collapse-body-content {{ showHideElement }}" id="element_toggle_{{ field }}">
                            {% if attribute(attribute(form, field).vars.attr, 'field-help') is defined %}
                                <div class="paa-title-ins">
                                    {{ attribute(attribute(form, field).vars.attr, 'field-help') }}
                                </div>
                            {% endif %}
                            <div class="relative">
                                {{ form_widget(attribute(form, field)) }}
                                <a href="javascript:void(0);" id="fa_paa_edit_animals_breed_id_close" class="ui-autocomplete-close select2-search-choice-close">Close</a>
                            </div>
                            {{ form_errors(attribute(form, field)) }}
                        </div>
                    </div>
                {% elseif field == 'species_id_autocomplete' %}
                    <div class="paa-bdr-box btm-pa-0" id="element_{{ field }}">
                        {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                        {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                        <div class="collapse collapse-body-content {{ showHideElement }}" id="element_toggle_{{ field }}">
                            {% if attribute(attribute(form, field).vars.attr, 'field-help') is defined %}
                                <div class="paa-title-ins">
                                    {{ attribute(attribute(form, field).vars.attr, 'field-help') }}
                                </div>
                            {% endif %}
                            <div class="relative">
                                {{ form_widget(attribute(form, field)) }}
                                <a href="javascript:void(0);" id="fa_paa_edit_animals_species_id_close" class="ui-autocomplete-close select2-search-choice-close">Close</a>
                            </div>
                        {{ form_errors(attribute(form, field)) }}
                        </div>
                    </div>
                {% elseif field == 'colour_id_autocomplete' %}
                    <div class="paa-bdr-box btm-pa-0" id="element_{{ field }}">
                        {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                        {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                        <div class="collapse collapse-body-content {{ showHideElement }}" id="element_toggle_{{ field }}">
                             {% if attribute(attribute(form, field).vars.attr, 'field-help') is defined %}
                                <div class="paa-title-ins">
                                    {{ attribute(attribute(form, field).vars.attr, 'field-help') }}
                                </div>
                            {% endif %}
                            <div class="relative">
                                {{ form_widget(attribute(form, field)) }}
                                <a href="javascript:void(0);" id="fa_paa_edit_animals_colour_id_close" class="ui-autocomplete-close select2-search-choice-close">Close</a>
                            </div>
                            {{ form_errors(attribute(form, field)) }}
                        </div>
                    </div>
                {% elseif field == 'gender_id' %}
                    <div class="paa-bdr-box btm-pa-0" id="element_{{ field }}">
                        {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                        {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                        <div class="collapse collapse-body-content {{ showHideElement }}" id="element_toggle_{{ field }}">
                            {% if attribute(attribute(form, field).vars.attr, 'field-help') is defined %}
                                <div class="paa-title-ins">
                                    {{ attribute(attribute(form, field).vars.attr, 'field-help') }}
                                </div>
                            {% endif %}
                            <div id="gender_choice_div" style="display:none">
                                {{ form_widget(attribute(form, field)) }}
                            </div>
                            <div class="capsule-links gender-links">
                                {% set selectedGenderId = attribute(form, field).vars.data %}
                                {% for choice in attribute(form, field).vars.choices %}
                                    {% set activeClass = '' %}
                                    {% if choice.value in selectedGenderId %}
                                        {% set activeClass = 'active' %}
                                    {% endif %}
                                    <a href="javascript:void(0)" class="gender_choice {{ activeClass }}" id="gender_choice_{{ choice.value }}">{{ choice.label }}</a>
                                {% endfor %}
                            </div>
                            {{ form_errors(attribute(form, field), {'attr': {'class' : 'error center'}}) }}
                        </div>
                    </div>
                {% else %}
                    <div class="paa-bdr-box btm-pa-0" id="element_{{ field }}">
                        {{ include('FaAdBundle:AdPost:paaFieldHeading.html.twig') }}
                        {% set showHideElement = attribute(get_variables('fieldHeading'), 'showHideElement' ~ (field)) %}
                        <div class="collapse collapse-body-content {{ showHideElement }}" id="element_toggle_{{ field }}">
                            {% if attribute(attribute(form, field).vars.attr, 'field-help') is defined %}
                                <div class="paa-title-ins">
                                    {{ attribute(attribute(form, field).vars.attr, 'field-help') }}
                                </div>
                            {% endif %}
                            <div class="small-wrapper">
                                {{ form_widget(attribute(form, field)) }}
                                {{ form_errors(attribute(form, field)) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}