{% set container = fetch_container_instance() %}
{% set entityCacheManager = container.get('fa.entity.cache.manager') %}
{% set categoryRepository = fetch_repository('FaEntityBundle:Category') %}
<div class="nav-mobile">
    <div class="nav-dropdown">
        <ul class="menu-accordion show-accordion ">
            {% if headerCategories|length %}
                {% cache 'header|menu|'~location_id~'front/header_menu_mobile' ~ (thirdPartyAdultModalBox is defined and thirdPartyAdultModalBox?1:0) 86400 %}
                    <li id="cat-mob-menu" class="main-menu__item categories">
                        <a href="#" class="main-menu__link accordion-link">Browse by Categores</a>
                        <ul class="nav-dropdown__block">
                            {% for categoryId, categoryArray in headerCategories %}
                                {% set secondLevelLength = 0 %}
                                {% if categoryArray['children'] is defined and categoryArray['children']|length %}
                                    {% set secondLevelLength = categoryArray['children']|length %}
                                {% endif %}
                                <li class="nav-dropdown__item sub-menu ">
                                    {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') %}
                                        {% set listurl1 = path('fa_new_adult_homepage') %}
                                    {% else %}
                                        {% set listurl1 = container.get('fa_ad.manager.ad_routing').getCategoryUrl(location_id, categoryArray['full_slug']) %}
                                    {% endif %}
                                    <a {% if not secondLevelLength %} href="{{ listurl1 }}" {% endif %} class="nav-dropdown__link {{ categoryArray['class'] is defined ? categoryArray['class'] : "" }} ">
                                        {{categoryArray['name']}}
                                        {# <span>({{ categoryArray['count'] is defined?categoryArray['count']|number_format:0}} {{'ads'|trans()}})</span>#}
                                    </a>
                                    {% if secondLevelLength %}
                                        <ul class="nav-dropdown__menu">
                                            <li class="nav-dropdown__menu--item back-title goBack" level="2">
                                                <a href="#" class="nav-dropdown__menu--link">Back</a>
                                            </li>
                                            <li class="nav-dropdown__menu--item dropdown-title home-icon">
                                                <a href="{{ listurl1 }}" class="nav-dropdown__menu--link">{{categoryArray['name']}}</a>
                                            </li>
                                            {% for secondLevelCategoryId, secondLevelCategoryArray in categoryArray['children'] %}
                                                {% set thirdLevelLength = 0 %}
                                                {% if secondLevelCategoryArray['children'] is defined and secondLevelCategoryArray['children']|length %}
                                                    {% set thirdLevelLength = secondLevelCategoryArray['children']|length %}
                                                {% endif %}
                                                <li class="nav-dropdown__menu--item">
                                                    {% if secondLevelCategoryArray['is_static'] is defined and secondLevelCategoryArray['is_static'] %}
                                                        {% set listurl1 = secondLevelCategoryArray['link_url'] %}
                                                    {% else %}
                                                        {% set listurl1 = container.get('fa_ad.manager.ad_routing').getCategoryUrl(location_id, secondLevelCategoryArray['full_slug']) %}
                                                    {% endif %}
                                                    <a  {% if not thirdLevelLength %} href="{{ listurl1 }}" {% endif %} class="{{ thirdLevelLength ? 'nav-dropdown__menu--link' : 'nav-dropdown__link' }}">
                                                        {% if secondLevelCategoryArray['is_static'] is defined and secondLevelCategoryArray['is_static'] %}
                                                            {{secondLevelCategoryArray['link_text']}} {% else %}{{secondLevelCategoryArray['name']}}
                                                        {% endif %}
                                                    </a>
                                                    {% if thirdLevelLength %}
                                                        <ul class="nav-dropdown-third">
                                                            <li class="nav-dropdown__menu--item back-title goBack" level="3">
                                                                <a href="#" class="nav-dropdown__menu--link">Back</a>
                                                            </li>
                                                            <li class="nav-dropdown__menu--item dropdown-title home-icon">
                                                                <a href="{{ listurl1 }}" class="nav-dropdown__menu--link">
                                                                    {% if secondLevelCategoryArray['is_static'] is defined and secondLevelCategoryArray['is_static'] %}
                                                                        {{secondLevelCategoryArray['link_text']}} {% else %}{{secondLevelCategoryArray['name']}}
                                                                    {% endif %}
                                                                </a>
                                                            </li>
                                                            {% for thirdLevelCategoryId, thirdLevelCategoryArray in secondLevelCategoryArray['children'] %}
                                                                {% set fourthLevelLength = 0 %}
                                                                {% if thirdLevelCategoryArray['children'] is defined and thirdLevelCategoryArray['children']|length %}
                                                                    {% set fourthLevelLength = thirdLevelCategoryArray['children']|length %}
                                                                {% endif %}
                                                                <li class="nav-dropdown__menu--item">
                                                                    {% set listurl1 = container.get('fa_ad.manager.ad_routing').getCategoryUrl(location_id, thirdLevelCategoryArray['full_slug']) %}
                                                                    <a {% if not fourthLevelLength %} href="{{ listurl1 }}" {% endif %} class="{{ fourthLevelLength ? 'nav-dropdown__menu--link' : 'nav-dropdown__link' }}">
                                                                        {{thirdLevelCategoryArray['name']}}
                                                                    </a>
                                                                    {% if fourthLevelLength %}
                                                                        <ul class="nav-dropdown-third">
                                                                            <li class="nav-dropdown__menu--item back-title goBack" level="4">
                                                                                <a href="#" class="nav-dropdown__menu--link">Back</a>
                                                                            </li>
                                                                            <li class="nav-dropdown__menu--item dropdown-title home-icon">
                                                                                <a href="{{ listurl1 }}" class="nav-dropdown__menu--link">{{thirdLevelCategoryArray['name']}}</a>
                                                                            </li>
                                                                            {% for fourthLevelCategoryId, fourthLevelCategoryArray in thirdLevelCategoryArray['children'] %}
                                                                                {% set fifthLevelLength = 0 %}
                                                                                {% if fourthLevelCategoryArray['children'] is defined and fourthLevelCategoryArray['children']|length %}
                                                                                    {% set fifthLevelLength = fourthLevelCategoryArray['children']|length %}
                                                                                {% endif %}
                                                                                <li class="nav-dropdown__menu--item">
                                                                                    {% set listurl1 = container.get('fa_ad.manager.ad_routing').getCategoryUrl(location_id, fourthLevelCategoryArray['full_slug']) %}
                                                                                    <a {{ fifthLevelLength ? '' : 'href="'~listurl1~'"' }} class="{{ fifthLevelLength ? 'nav-dropdown__menu--link' : 'nav-dropdown__link' }}">
                                                                                        {{fourthLevelCategoryArray['name']}}
                                                                                    </a>
                                                                                    {% if fifthLevelLength %}
                                                                                        <ul class="nav-dropdown-third">
                                                                                            <li class="nav-dropdown__menu--item back-title goBack" level="5">
                                                                                                <a href="#" class="nav-dropdown__menu--link">Back</a>
                                                                                            </li>
                                                                                            <li class="nav-dropdown__menu--item dropdown-title home-icon">
                                                                                                <a href="{{ listurl1 }}" class="nav-dropdown__menu--link">
                                                                                                    {{fourthLevelCategoryArray['name']}}
                                                                                                </a>
                                                                                            </li>
                                                                                            {% for fifthLevelCategoryId, fifthLevelCategoryArray in fourthLevelCategoryArray['children'] %}
                                                                                                {% set sixthLevelLength = 0 %}
                                                                                                {% if fifthLevelCategoryArray['children'] is defined and fifthLevelCategoryArray['children']|length %}
                                                                                                    {% set sixthLevelLength = fifthLevelCategoryArray['children']|length %}
                                                                                                {% endif %}
                                                                                                <li class="nav-dropdown__menu--item">
                                                                                                    {% set listurl1 = container.get('fa_ad.manager.ad_routing').getCategoryUrl(location_id, fifthLevelCategoryArray['full_slug']) %}
                                                                                                    <a {% if not sixthLevelLength %} href="{{ listurl1 }}" {% endif %} class="{{ sixthLevelLength ? 'nav-dropdown__menu--link' : 'nav-dropdown__link' }}">
                                                                                                        {{fifthLevelCategoryArray['name']}}
                                                                                                    </a>
                                                                                                    {% if sixthLevelLength %}
                                                                                                        <ul class="nav-dropdown-third">
                                                                                                            <li class="nav-dropdown__menu--item back-title goBack" level="6">
                                                                                                                <a href="#" class="nav-dropdown__menu--link">Back</a>
                                                                                                            </li>
                                                                                                            <li class="nav-dropdown__menu--item dropdown-title home-icon">
                                                                                                                <a href="{{ listurl1 }}" class="nav-dropdown__link">
                                                                                                                    {{fifthLevelCategoryArray['name']}}
                                                                                                                </a>
                                                                                                            </li>
                                                                                                            {% for sixthLevelCategoryId, sixthLevelCategoryArray in fifthLevelCategoryArray['children'] %}
                                                                                                                <li class="nav-dropdown__menu--item">
                                                                                                                    {% set listurl1 = container.get('fa_ad.manager.ad_routing').getCategoryUrl(location_id, sixthLevelCategoryArray['full_slug']) %}
                                                                                                                    <a href="{{ listurl1 }}" class="nav-dropdown__menu--link" >
                                                                                                                        {{sixthLevelCategoryArray['name']}}
                                                                                                                    </a>
                                                                                                                </li>
                                                                                                            {% endfor %}
                                                                                                        </ul>
                                                                                                    {% endif %}
                                                                                                </li>
                                                                                            {% endfor %}
                                                                                        </ul>
                                                                                    {% endif %}
                                                                            {% endfor %}
                                                                        </ul>
                                                                    {% endif %}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                            {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') %}
                                                <li class="nav-dropdown__menu--item">
                                                    {% if thirdPartyAdultModalBox is defined and thirdPartyAdultModalBox %}
                                                        <a class="nav-dropdown__menu--link" href="{{ constant('Fa\\Bundle\\CoreBundle\\Repository\\ConfigRepository::LIVE_CAMS_URL') }}" rel="nofollow" target="_blank" >Hook Ups</a>
                                                    {% else %}
                                                        <a class="nav-dropdown__menu--link" href="javascript:void(0);" rel="nofollow" onclick="return showAdultPopup();" >Hook Ups</a>
                                                    {% endif %}
                                                </li>
                                            {% endif %}
                                            {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::MOTORS_ID') %}
                                                <li class="nav-dropdown__menu--item">
                                                    {% set staticPageUrls = fetch_repository('FaContentBundle:SeoTool').getLandingPageStaticPageUrlArray('motors', container, location_id) %}
                                                    {% if staticPageUrls['Classic cars'] is defined %}
                                                        <a class="nav-dropdown__menu--link" href="{{ staticPageUrls['Classic cars'] }}">Classic Cars</a>
                                                    {% endif %}
                                                </li>
                                            {% endif %}
                                            {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::FOR_SALE_ID') %}
                                                <li class="nav-dropdown__menu--item">
                                                    {% set freeToCollectorUrl = container.get('fa_ad.manager.ad_routing').getListingUrl({'item__category_id': constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::FOR_SALE_ID'), 'item__ad_type_id' : constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_TYPE_FREETOCOLLECTOR_ID'), 'item__location': location}) %}
                                                    {% if freeToCollectorUrl %}
                                                        <a class="nav-dropdown__menu--link" href="{{ freeToCollectorUrl }}">Free to Collector</a>
                                                    {% endif %}
                                                </li>
                                            {% endif %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endcache %}
            {% endif %}

            {% if app.user %}
                {% set messageRepository = fetch_repository('FaMessageBundle:Message') %}
                {% set totalUnreadMsg = messageRepository.getMessageCount(app.user.getId(), 'all', fetch_container_instance()) %}
                <li class="main-menu__item user-info">
                    <a href="#" class="main-menu__link accordion-link">
                        <strong>
                            Hello,
                            {% if app.user.getFullName() %}
                                {{app.user.getFullName()}}
                            {% else %}
                                {{app.user.getUsername()}}
                            {% endif %}
                            <span class="notify-badge"></span>
                        </strong>
                    </a>
{#                <li><a href="{{ path('my_account') }}" id="account-header-id" class="account-icon">{{ 'Account'|trans({}, 'frontend-header-usermenu') }}</a></li>#}
                    <ul class="nav-dropdown__block">
                        <li class="nav-dropdown__item">
                            <a href="{{ path('dashboard_home') }}" class="nav-dropdown__link dashboard-icon">My Dashboard</a>
                        </li>
                        <li class="nav-dropdown__item">
                            <a href="{{ path('user_ad_message_all') }}" class="nav-dropdown__link messages-icon">
                                Messages
{#                                {% if totalUnreadMsg > 0 %}#}
                                    <span class="notify-badge"></span>
{#                                {% endif %}#}
                            </a>
{#                            {% if totalUnreadMsg > 0 %}&nbsp;<span class="notification-digit">({{totalUnreadMsg}})</span>{% endif %}#}
                        </li>
                        <li class="nav-dropdown__item">
                            <a href="{{ path('user_review_list') }}" class="nav-dropdown__link reviews-icon">Reviews</a>
                        </li>
                        <li class="nav-dropdown__item">
                            <a href="#" class="nav-dropdown__link account-icon">Preferences</a>
                        </li>
                        <li class="nav-dropdown__item">
                            <a href="{{ path('manage_my_ads_active') }}" id="manage-my-ad-id" class="nav-dropdown__link manage-item-icon">Manage my ads</a>
                        </li>
                        <li class="nav-dropdown__item">
                            <a href="{{ path('my_profile') }}" class="nav-dropdown__link manage-profile-icon">Edit profile</a>
                        </li>
                        <li class="nav-dropdown__item">
                            <a href="{{ path('my_orders') }}" class="nav-dropdown__link orders-icon">Orders</a>
                        </li>
                        <li class="nav-dropdown__item">
                            <a href="{{ path('my_favourite') }}" class="nav-dropdown__link my-favourites-icon">Favourites</a>
                        </li>
                        <li class="nav-dropdown__item">
                            <a href="{{ path('list_search_agent') }}" id="saved-search-header-id" class="nav-dropdown__link alerts-icon">Search alerts</a>
                        </li>
                        <li class="nav-dropdown__item">
                            <a href="{{ path('my_purchases') }}" id="shop-header-id" class="nav-dropdown__link purchase-icon">Purchases</a>
                        </li>
                        <li class="nav-dropdown__item logout">
                            <a href="{{ path('logout') }}" id="logout-header-id" class="nav-dropdown__link" id="logOut">Logout
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            <li class="main-menu__item basket-notify">
                <a href="#" class="main-menu__link">
                    Basket
                    <span class="notify-badge"></span>
                </a>
            </li>
            {% if not app.user %}
                <li class="main-menu__item ">
                    <a href="{{ path('login') }}" id="login-header-id" class="main-menu__link">Log in</a>
                </li>
                <li class="main-menu__item ">
                    <a href="{{ path('fa_user_register') }}" id="register-header-id" class="main-menu__link">Register</a>
                </li>
            {% endif %}

            <li class="main-menu__item ">
                <a href="#" class="main-menu__link">Help center</a>
            </li>
            <li class="main-menu__item">
                <a href="{{ path('location_home_page', {'location': 'contact-us'}) }}" id="contact-header-id" class="main-menu__link">Contact us</a>
            </li>
        </ul>
        <div class="main-menu__item goPaAdBtn">
            <a href="{{ path('ad_post_first_step') }}" class="main-menu__link ga-PAAbutton btn-rounded">Place an ad</a>
        </div>
    </div>
</div>
{% cache 'header|menu|'~location_id|replace({' ':''})~'front/header_menu_tablet' ~ (thirdPartyAdultModalBox is defined and thirdPartyAdultModalBox?1:0 ) (staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'isBot', [container]) ? 600 : 86400) %}
    <ul class="main-menu__list">
        <li class="main-menu__item">
            <a href="#!" class="main-menu__link search-icon" id="topSearch">
                <span>Search</span>
            </a>
            <div class="top-search">
                <div class="row">
                    <div class="container">
                        <div class="top-search__block">
                            <form class="top-search__input">
                                <input type="text" class="top-search__input--text" vlaue="" placeholder="What are you looking for?" id="topSearchKeywords">
                                <a hre="#" class="top-search__input--btn"></a>
                                <!-- Search dropdown Content starts-->
                                <ul class="search-dropdown">
                                    <li class="search-dropdown__item">
                                        <a class="search-dropdown__link">
                                            Plumber
                                            <span class="search-dropdown__link--color"></span>
                                        </a>
                                    </li>
                                    <li class="search-dropdown__item">
                                        <a class="search-dropdown__link">
                                            Plumber
                                            <span class="search-dropdown__link--colored">
                                                plumbers and heating
                                            </span>
                                        </a>
                                    </li>
                                    <li class="search-dropdown__item">
                                        <a class="search-dropdown__link">Plumber
                                            <span class="search-dropdown__link--colored">
                                                plumbers and heating
                                            </span>
                                        </a>
                                    </li>
                                    <li class="search-dropdown__item">
                                        <a class="search-dropdown__link">
                                            Plumber
                                        </a>
                                    </li>
                                    <li class="search-dropdown__item">
                                        <a class="search-dropdown__link">
                                            Plumber
                                            <span class="search-dropdown__link--colored">
                                                plumbers and heating
                                            </span>
                                        </a>
                                    </li>
                                    <li class="search-dropdown__item">
                                        <a class="search-dropdown__link">
                                            Plumber
                                        </a>
                                    </li>
                                </ul>
                                <!---Search dropdown Content end-->
                            </form>
                            <div class="top-search__location">
                                <div class="top-search__location--change">
                                    in United Kingdom
                                    <span id="topPickLocation">
                                        (change)
                                    </span>
                                </div>
                            </div>
                            <div class="top-search__select-location" id="topLocationView">
                                <input type="text" class="top-search__select-location--text" value="" placeholder="Type postal code or town" id="topSelectLocation">
                                <div class="close-icon" id="topCloseIcon"></div>
                                <div class="top-search__select-location--ok" id="topCancelBtn">Ok
                                </div>
                                <div class="top-search__select-location--cancel" id="topCancelBtn">cancel
                                </div>
                            </div>
                            <div class="top-search__preferences">
                                <a class="top-search__preferences--link">Set search preferences
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="main-menu__item post-btn ga-buttonPAA" >
            <a href="{{ path('ad_post_first_step') }}" class="main-menu__link post-icon ga-buttonPAA" title="{{ 'Place An Ad'|trans({}, 'frontend-top-menu') }}">
                <span>Post</span>
            </a>
        </li>
        <li class="main-menu__item mega-dropdown ">
            <a href="#" class="main-menu__link dropdown-icon" id="megaDropdown">Categories</a>
            <a href="#" class="main-menu__link menu-hamburger" id="mobileMegaDropdown">
                <span>Menu</span>
                <span class="notify-badge"></span>
            </a>
            <div class="nav-dropdown">
                <div class="container">
                    <ul class="nav-dropdown__block">
                        {% for categoryId, categoryArray in headerCategories %}
                            {% set linkParam = { 'item__location': location_id, 'item__category_id': categoryId} %}
                            {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::FOR_SALE_ID')
                                or categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::MOTORS_ID')
                                or categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ANIMALS_ID')
                                or categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::PROPERTY_ID')
                                or categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::JOBS_ID') %}
                                {% set listurl = container.get('fa_ad.manager.ad_routing').getCategoryLandingPageUrl(linkParam) %}
                            {% elseif categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') %}
                                {% set listurl = path('fa_new_adult_homepage') %}
                            {% else %}
                                {% set listurl = container.get('fa_ad.manager.ad_routing').getCategoryUrl(location_id, categoryArray['full_slug']) %}
                            {% endif %}
                            <li class="nav-dropdown__item sub-menu">
                                <a href="{{ listurl }}" class="nav-dropdown__link">{{categoryArray['name']}}</a>
                                {% if categoryArray['children'] is defined and categoryArray['children']|length %}
                                    {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::MOTORS_ID') %}
                                        {% set staticPageUrls = fetch_repository('FaContentBundle:SeoTool').getLandingPageStaticPageUrlArray('motors', container, location_id) %}
                                        {% set categoryArray  = append_to_array_by_index(categoryArray, {'10000': {'is_static': true, 'link_url' : (staticPageUrls['Classic cars']), 'link_text' : 'Classic Cars'}}, 'children') %}
                                    {% endif %}
                                    {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::FOR_SALE_ID') %}
                                        {% set freeToCollectorUrl = container.get('fa_ad.manager.ad_routing').getListingUrl({'item__category_id': constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::FOR_SALE_ID'), 'item__ad_type_id' : constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_TYPE_FREETOCOLLECTOR_ID'), 'item__location': location}) %}
                                        {% set categoryArray  = append_to_array_by_index(categoryArray, {'10001': {'is_static': true, 'link_url' : (freeToCollectorUrl), 'link_text' : 'Free to Collector'}}, 'children') %}
                                    {% endif %}
                                    {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::JOBS_ID') %}
                                        {% set staticPageUrls = fetch_repository('FaContentBundle:SeoTool').getLandingPageStaticPageUrlArray('jobs', container, location_id) %}
                                        {% set categoryArray  = append_to_array_by_index(categoryArray, {'10002': {'is_static': true, 'link_url' : (staticPageUrls['Part-time, Evening & Weekend']), 'link_text' : 'Part-time, Evening & Weekend', 'name' : 'Part-time, Evening & Weekend'}}, 'children') %}
                                        {% set sortedCategoryArray = msort(categoryArray['children'], 'name') %}
                                        {% set categoryArray  = replace_value_in_array(categoryArray, 'children', sortedCategoryArray) %}
                                    {% endif %}
                                    <div class="nav-dropdown__menu">
                                        <ul class="nav-dropdown__menu--list container">
                                            {% set columns = 3 %}
                                            {% set ctr = 0 %}
                                            {% set totalItems = categoryArray['children']|length %}
                                            {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') %}
                                                {% set totalItems = totalItems + 1 %}
                                            {% endif %}
                                            {% set itemsPerCol = (totalItems/columns)|round(0, 'floor') %}
                                            {% set extraColumn = (totalItems % columns) %}
                                            {% set colCounter = {} %}
                                            {% set staticTxtCnt = 0 %}
                                            {% for i in 0..columns-1 %}
                                                {% if loop.index0 < extraColumn %}
                                                    {% set colCounter = colCounter|merge({0: itemsPerCol + 1}) %}
                                                {% else  %}
                                                    {% set colCounter = colCounter|merge({0: itemsPerCol}) %}
                                                {% endif %}
                                            {% endfor %}
                                            {% set subCategoryArray = categoryArray['children']|keys %}
                                            {% for i in 0..columns-1 %}
                                                {% for k in 0..colCounter[i]-1 %}
                                                    <li class="nav-dropdown__menu--item">
                                                    {% if subCategoryArray[ctr] is defined %}
                                                        {% if categoryArray['children'][subCategoryArray[ctr]]['is_static'] is defined and categoryArray['children'][subCategoryArray[ctr]]['is_static'] %}
                                                            <a href="{{ categoryArray['children'][subCategoryArray[ctr]]['link_url'] }}" class="nav-dropdown__menu--link">{{ categoryArray['children'][subCategoryArray[ctr]]['link_text'] }}</a>
                                                        {% else %}
                                                            {% set listurl1 = container.get('fa_ad.manager.ad_routing').getCategoryUrl(location_id, categoryArray['children'][subCategoryArray[ctr]]['full_slug']) %}
                                                            <a href="{{ listurl1 }}" class="nav-dropdown__menu--link">{{categoryArray['children'][subCategoryArray[ctr]]['name']}}</a>
                                                        {% endif %}
                                                    {% elseif staticTxtCnt == 0 and categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') %}
                                                        {% if (thirdPartyAdultModalBox is defined and thirdPartyAdultModalBox) or (app.request.cookies.has('is_over_18')) %}
                                                            <a class="nav-dropdown__menu--link" href="{{ constant('Fa\\Bundle\\CoreBundle\\Repository\\ConfigRepository::LIVE_CAMS_URL') }}" rel="nofollow" target="_blank" >Hook Ups</a>
                                                        {% else %}
                                                            <a class="nav-dropdown__menu--link" href="javascript:void(0);" rel="nofollow" onclick="return showAdultPopup(0,'live-cams');" >Hook Ups</a>
                                                        {% endif %}
                                                        {% set staticTxtCnt = 1 %}
                                                    {% endif %}
                                                    {% set ctr = ctr + 1 %}
                                                    </li>
                                                {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </li>
        <li class="main-menu__item">
            <a href="{{ path('ad_post_first_step') }}" class="main-menu__link ga-PAAbutton btn-rounded">Place an ad</a>
        </li>
    </ul>
{% endcache %}
<div id="show-confirm-age-main"></div>
<script language="javascript" type="text/javascript">
//<![CDATA[
    $(document).ready(function() {
        $('#tab_cat_link').click(function() {
            if ($('#tab_cat_link').hasClass('active')) {
                $('#tab_cat_link').removeClass('active');
            } else {
            	$('#tab_cat_link').addClass('active');
            }
            $("#top_category_menu").toggle();

        });

        $(document).click(function(e){
            if(!$('.tab-cat-link').is(e.target) || !$('.tab-cat-link').has(e.target)) {
                if (!($(e.target).hasClass('inside-top-category-menu'))) {
                    $("#top_category_menu").hide();
                    $('#tab_cat_link').removeClass('active');
                }
            }
        });
    });

$(window).on('load', function() {
    $(document).foundation('topbar', 'reflow');
    $(document).foundation('accordion', 'reflow');
    $(document).foundation({
          accordion: {
            // allow multiple accordion panels to be active at the same time
            multi_expand: false,
          }
    });
});
    $(document).click(function (e){
        var container = $("#top_bar_nav");
        if (!container.is(e.target) // if the target of the click isn't the container...
            && container.has(e.target).length === 0){ // ... nor a descendant of the container
            container.removeClass('expanded');
            $("#top_bar_nav_menu_span").removeClass("menu-on");
            $("#top_bar_nav_menu_span").addClass("menu");
        }
      });
     $(document).ready(function() {
     	$("#top_bar_nav_menu_span").click(function (e){
             if (!$("#top_bar_nav").hasClass("expanded")) {
                 $("#top_bar_nav_menu_span").removeClass("menu");
                 $("#top_bar_nav_menu_span").addClass("menu-on");
             } else {
                 $("#top_bar_nav_menu_span").removeClass("menu-on");
                 $("#top_bar_nav_menu_span").addClass("menu");
             }
         });
     });

     $("#cat-mob-menu").click(function (e){
         scrollToElement('#cat-mob-menu', '1000', -100);
     });


function showAdultPopup(modify = 0,elem = null)
{ 
    var redrctlink= null;
    if(elem!=null) {
    	if(elem=='live-cams') {
    	    redrctlink = "{{ constant('Fa\\Bundle\\CoreBundle\\Repository\\ConfigRepository::LIVE_CAMS_URL') }}";
    	} 
    }
    $.ajax({
        type: "POST",
        url: "{{path('eighteen_plus_warnning_model_ajax')}}",
        data: {'popupModification': modify,'redirectlink':redrctlink}
    })
    .done(function(response) {
        if(response.success) {
            $("#show-confirm-age-main").html(response.htmlContent);
            $('#eighteenPlusWarnningModel').foundation('reveal', 'open',{
            	close_on_background_click: false,
            	close_on_esc: false,
            });
        }
    });
	
}
</script>
