{% set container = fetch_container_instance() %}
{# {% cache 'home|page|'~location_id~'front/home_page_footer' (staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'isBot', [container]) ? 600 : 1800) %} #}
{% set getNoFollowLink = fetch_repository('FaEntityBundle:Category').getCategoryNoFollowLink(app.request.get('searchQueryString')) %}
{% if footerCategories|length %}
    {% for categoryId, categoryArray in footerCategories %}
        <div class="category-links">
            {% if categoryArray['category_name'] is defined %}
                    {% set listurl = container.get('fa_ad.manager.ad_routing').getCategoryUrl(location_id, categoryArray['category_full_slug']) %}
                    <h6 class="footer-head">
                        <a href="{{ listurl }}" {% if getNoFollowLink  %}rel="nofollow"{% endif %} >{{categoryArray['category_name']}}</a>
                    </h6>
               {% if categoryArray['children'] is defined and categoryArray['children']|length %}
                    {% if categoryArray['root_category_id'] == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::FOR_SALE_ID') %}
                        {% set freeToCollectorUrl = container.get('fa_ad.manager.ad_routing').getListingUrl({'item__category_id': constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::FOR_SALE_ID'), 'item__ad_type_id' : constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_TYPE_FREETOCOLLECTOR_ID'), 'item__location': location}) %}
                        {% if freeToCollectorUrl %}
                            {% set categoryArray  = append_to_array_by_index(categoryArray, {(categoryArray['children']|length): {'is_static': true, 'link_url' : (freeToCollectorUrl), 'link_text' : 'Free to Collector'}}, 'children') %}
                        {% endif %}
                    {% endif %}

                    {% if categoryArray['root_category_id'] == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::JOBS_ID') %}
                        {% set partTimeEveningAndWeekendJobsUrl = container.get('router').generate('listing_page', {'location': (location_id), 'page_string': 'jobs/part-time-evening-weekend'}, true) %}
                        {% if partTimeEveningAndWeekendJobsUrl %}
                            {% set categoryArray  = append_to_array_by_index(categoryArray, {(categoryArray['children']|length): {'is_static': true, 'link_url' : (partTimeEveningAndWeekendJobsUrl), 'link_text' : 'Part-time, Evening and Weekend jobs'}}, 'children') %}
                        {% endif %}
                    {% endif %}

                    {% set columns = 3 %}
                    {% set ctr = 0 %}
                    {% set totalItems = categoryArray['children']|length %}
                    {% set itemsPerCol = (totalItems/columns)|round(0, 'floor') %}
                    {% set extraColumn = (totalItems % columns) %}
                    {% set colCounter = {} %}
                    {% for i in 0..columns-1 %}
                        {% if loop.index0 < extraColumn %}
                            {% set colCounter = colCounter|merge({0: itemsPerCol + 1}) %}
                        {% else  %}
                            {% set colCounter = colCounter|merge({0: itemsPerCol}) %}
                        {% endif %}
                    {% endfor %}

                    <div class="list-parent-link"><ul>
                        {% set subCategoryArray = categoryArray['children'] %}
                        {% for i in 0..columns-1 %}    
                        	<li class="list-child-link">                            
                                {% for k in 0..colCounter[i]-1 %}
                                    {% if subCategoryArray[ctr] is defined %}
                                        {% if subCategoryArray[ctr]['is_static'] is defined and subCategoryArray[ctr]['is_static'] %}
                                            <a href="{{ subCategoryArray[ctr]['link_url'] }}" {% if getNoFollowLink  %}rel="nofollow"{% endif %} >{{ subCategoryArray[ctr]['link_text'] }}</a>
                                        {% else %}
                                            {% set listurl = container.get('fa_ad.manager.ad_routing').getCategoryUrl(location_id, subCategoryArray[ctr]['category_full_slug']) %}
                                            <a href="{{ listurl }}" {% if getNoFollowLink  %}rel="nofollow"{% endif %} >{{subCategoryArray[ctr]['category_name']}}</a>
                                        {% endif %}
                                    {% endif %}
                                    {% set ctr = ctr + 1 %}
                                {% endfor %}  
                           </li>                                                       
                        {% endfor %}
                    </ul></div>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
{# {% endcache %} #}