{% extends 'FaAdminBundle::layout.html.twig' %}
{% form_theme form 'FaAdminBundle:Form:adminFields.html.twig' %}

{% block content -%}

{{ include('FaAdminBundle:Default:addEditHeading.html.twig') }}

<div class="row">
   <div class="columns">
       <div class="panel">
           <p class="text-right"><span class="required">*</span> = mandatory fields</p>
           {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
               {{ form_row(form.name) }}
               {{ form_row(form.type) }}
               {{ include('FaAdminBundle:Default:saveButton.html.twig', {'cancelUrl': 'role'}) }}
           {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}
