{% set bigImageRoute = "ajax_get_big_user_site_banner_image" %}
{% set userSiteBannerUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserSiteBannerUrl', [fetch_container_instance(), userSiteObj.getId(), 1]) %}
{% if fromProfilePage is defined and fromProfilePage %}
    <img id="user_site_banner_img" class="sie-if" src="{{ userSiteBannerUrl }}?{{ date().timestamp }}" />
{% else %}
    <div class="profile-banner">
        <img id="user_site_banner_img" class="sie-else" src="{{ userSiteBannerUrl }}?{{ date().timestamp }}" />
        <div class="edit-pro-banner">
            <div class="clearfix">
                <div class="edit-pro-btns">
                    <a class="xs-btn-1 button edit-banner-btn" href="javascript:void(0);" onclick="return getUserSiteBannerOriginalImage('{{ path(bigImageRoute, {'userSiteId': userSiteObj.getId()}) }}', true);" id="edit_banner_btn">{{'Edit'|trans({}, 'frontend-my-profile')}}</a>
                    <a class="xs-btn-1 button change-banner-btn" href="javascript:void(0);" data-reveal-id="shopBannerModal">{{'Change image'|trans({}, 'frontend-my-profile')}}</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="show-for-small-only text-right mt10"><a class="primary-btn-3 button thin-btn mb0" href="javascript:void(0);" data-reveal-id="shopBannerModal">{{'Change image'|trans({}, 'frontend-my-profile')}}</a></div>
{% endif %}