{% form_theme form 'FaFrontendBundle:Form:fields.html.twig' %}
<style>.alert-flex { display:inline-flex !important; }#form_create_alert_email_alert label, #form_create_alert_third_partyemail_alert label { font-size:13px !important;font-weight:500 !important }</style>
{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'outline'}}) }}
{{ form_errors(form) }}
<div class="mt20">
    {{ form_row(form.first_name) }}
    {{ form_row(form.email) }}
    <div id="form_create_alert_email_alert">
    	<div class="alert-flex">
        {{ form_widget(form.email_alert) }}
        {{ form_label(form.email_alert) }}
        </div>
    </div>
    <div id="form_create_alert_third_partyemail_alert">
    	<div class="alert-flex">
        {{ form_widget(form.third_party_email_alert) }}
        {{ form_label(form.third_party_email_alert) }}
        </div>
    </div>
</div>
{{ form_widget(form.save, {'attr': {'class': 'secondary-btn-1 button mb0 mt10 expand'}}) }}
{{ form_end(form) }}

<script language="javascript" type="text/javascript">
//<![CDATA[
	checkThirdPartCheck();
    $('.custom-checkbox').click(function(e) {
        if ($(this).hasClass('checked')) {
            $(this).removeClass('checked');
         } else {
            $(this).addClass('checked');
         }
    });
    function checkThirdPartCheck() {
        if ($('#fa_user_half_account_email_alert').parent('span').hasClass('checked')) {
            $('#fa_user_half_account_email_alert').attr('checked', true);
            $("#fa_user_half_account_third_party_email_alert").css('cursor','pointer');
            $('#fa_user_half_account_third_party_email_alert').attr("disabled", false);
        } else {
            $('#fa_user_half_account_third_party_email_alert').attr('checked', false);
            $('#fa_user_half_account_third_party_email_alert').attr("disabled", true);
            $('#fa_user_half_account_third_party_email_alert').parent('span').removeClass("checked");
            $("#fa_user_half_account_third_party_email_alert").css('cursor','not-allowed');
        }
    }
   
    $("#fa_user_half_account_email_alert").change(function (e) {
        if ($('#fa_user_half_account_email_alert').parent('span').hasClass('checked')) {
            $('#fa_user_half_account_email_alert').attr('checked', true);
        } else {
            $('#fa_user_half_account_email_alert').attr('checked', false);
            $('#fa_user_half_account_email_alert').parent('span').removeClass('checked');
        }
        checkThirdPartCheck();
    });

    $("#fa_user_half_account_third_party_email_alert").change(function (e) {
        if ($('#fa_user_half_account_third_party_email_alert').parent('span').hasClass('checked')) {
            $('#fa_user_half_account_third_party_email_alert').attr('checked', true);
        } else {
            $('#fa_user_half_account_third_party_email_alert').attr('checked', false);
            $('#fa_user_half_account_third_party_email_alert').parent('span').removeClass('checked');
        }
        checkThirdPartCheck();      
    });
//]]>
</script>