<div class="about-shop">
    <h1 class="bus-name-head" oncopy="gaSendDealerNameCopyEvent('{{ businessName }}');">{{ (userDetail['user_name'] ? userDetail['user_name'] : '-') }}</h1>
    <div class="other-pro-location" id="business_location_div">
        {{ include('FaContentBundle:ProfilePage:shopLocationDetail.html.twig') }}
    </div>

    {% if (userDetail['id'] is defined and userDetail['business_category_id'] is defined) %}
        {{ include('FaContentBundle:ProfilePage:showTrustedUserLogo.html.twig', {'userId':userDetail['id'], 'businessCategoryId':userDetail['business_category_id'], 'userUpsells': userUpsell}) }}
    {% endif %}
    
    {% if (userDetail['contact_through_email'] is defined and userDetail['contact_through_email'] == 1) or (userDetail['contact_through_phone'] is defined and userDetail['contact_through_phone'] == 1) %}
        <button class="ga-contactSellerProfile primary-btn-1 expand button uppercase " name="profilepage_contactuser" id="profilepage_contactuser" type="button">{{'Contact us'|trans({}, 'frontend-profile-page')}}</button>
    {% endif %}
    {% if userDetail['website_link'] is defined  and userDetail['website_link']|length %}
                    {% set websiteLabel = 'Visit website'|trans({}, 'frontend-profile-page') %}  
                    {% set profileWebSite = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'addHttpToUrl', [userDetail['website_link']]) %} 
                   <a rel="nofollow" onclick="openUserWebsite('{{(userDetail['id'] ? userDetail['id'] : '-')}}', '{{ profileWebSite }}', '{{ userName }}')" href="javascript:void(0);" class="website-btn-1 ga-visitWebsiteBusiness button expand"><span class="website-icon ga-visitWebsiteBusiness"></span>{{ websiteLabel }}</a>
                {% endif %} 
    <a href="{{ profileAdsUrl }}" class="button secondary-btn-1 expand mt5 hide-for-small-only">View all our ads</a>
</div>
 {% block dimension2 %}
<script language="javascript" type="text/javascript">
//<![CDATA[
    function openUserWebsite(userId, websiteUrl, businessName)
    {
        window.open(websiteUrl);
        updateUserSiteViewCounterField(userId, 'profile_page_website_url_click_count', '');
        ga('send', 'event', 'CTA', 'url click - business page', businessName);
    }
//]]>
</script>
{% endblock %}
