{% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
{% set currentDevice = 'D' %}
{% if mobileDetectManager.isMobile() and not mobileDetectManager.isTablet() %}
    {% set currentDevice = 'M' %}
{% elseif mobileDetectManager.isMobile() and mobileDetectManager.isTablet() %}
    {% set currentDevice = 'T' %}
{% endif %}

{% set userSiteViewCounter = fetch_repository('FaUserBundle:UserSiteViewCounter').getUserSiteViewCounter(userDetail['id'], fetch_container_instance()) %}
{% set userSiteBannerUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserSiteBannerUrl', [fetch_container_instance(), userDetail['site_id'], 1]) %}
<div class="shops-header" id="shop_header_div">
    {% if allowProfileEdit %}
        <div class="cover-img-overlay"> </div>
    {% endif %}
    <div class="shops-header-img text-center" id="user_site_banner_div">
        <img id="user_site_banner_img" src="{{ userSiteBannerUrl }}?{{ random(1000) }}" alt="" />
    </div>
    {% if allowProfileEdit %}
        {% set bigImageRoute = "ajax_get_big_user_site_banner_image" %}
        <div class="cover-img-box">
            <div class="container">
                <div class="row">
                    <div class="cover-img-edit dropdown show">
                        <a href="javascript:void(0);" id="shop_banner_anchhor" data-toggle="dropdown" data-dropdown="banner_image_upload" aria-controls="banner_image_upload" aria-expanded="false" class="photo-icon thin-btn dropdown-toggle "><label>{{'Change image'|trans({}, 'frontend-my-profile')}}</label></a>
                        <ul class="dropdown-menu" id="banner_image_upload" data-dropdown-content class="f-dropdown" aria-hidden="true">
                            <li class="dropdown-item"><a class="needsclick" href="javascript:void(0);" data-reveal-id="shopBannerModal">{{'Choose image'|trans({}, 'frontend-my-profile')}}</a></li>
                            {% if currentDevice != 'M'%}
                                <li class="dropdown-item"><a class="needsclick" href="javascript:void(0);" onclick="return getUserSiteBannerOriginalImage('{{ path(bigImageRoute, {'userSiteId': userSiteObj.getId()}) }}', true);" id="edit_banner_btn">{{'Edit'|trans({}, 'frontend-my-profile')}}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="shops-header-content">
        <div class="container">
            <div class="row shops-header-row">
                <div class="col-md-6">
                    <div class="shops-logo">
                        {% if allowProfileEdit %}
                            <div class="profile-img-overlay"> </div>
                        {% endif %}
                        <span id="left_profile_image_div">
                        {% set userLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogo', [fetch_container_instance(), userDetail['company_logo'], userDetail['id'], null, null, true, true, userDetail['status_id'], userDetail['user_name']]) %}
                            {% if userLogo %}
                                {{userLogo|raw}}
                            {% endif %}
                        </span>

                        {% if allowProfileEdit %}
                            <div class="profile-box" id="profile_change_btn_with_opt" {% if not userSiteObj.getPath() %}style="display:none;"{% endif %}>
                                <a class="photo-icon thin-btn dropdown-toggle" id="profile_change_btn_with_opt_anchor" data-toggle="dropdown" aria-expanded="false">
                                    <label>{{'Change image'|trans({}, 'frontend-my-profile')}}</label>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="profile_change_btn_with_opt_anchor">
                                    <li class="dropdown-item">
                                        <a class="pickProfileFile needsclick" id="pickProfileFile">
                                            {{'Upload profile photo'|trans({}, 'frontend-my-profile')}}
                                        </a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a onclick="getProfileBigImage('{{ path(getProfileBigImageRoute, {'userId': app.user.getId(), 'isCompany': 1}) }}')">
                                            {{'Edit profile photo'|trans({}, 'frontend-my-profile')}}
                                        </a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a onclick="deleteProfileImage('{{ path(deleteRoute, {'userId': app.user.getId(), 'isCompany': 1}) }}')">
                                            {{'Remove'|trans({}, 'frontend-my-profile')}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="profile-box" id="profile_change_btn_without_opt" {% if userSiteObj.getPath() %}style="display:none;"{% endif %}>
                                <a href="javascript:void(0);" id="pickProfileFile1" class="photo-icon thin-btn dropdown pickProfileFile needsclick"><label>{{'Change image'|trans({}, 'frontend-my-profile')}}</label></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if (userDetail and userDetail['user_rating'] is defined and userDetail['user_rating'] > 0) %}
                    <div class="col-md-4 shop-rating">
                        <div class="rating-white-stars">
                            {{ include('FaCoreBundle::showStarRating.html.twig', {'rating': userDetail['user_rating']}) }}
                            {{'Rating'|trans({}, 'frontend-profile-page')}}: <b>{{ userDetail['user_rating'] }}</b>
                        </div>
                    </div>
                {% endif %}
                {% if userDetail['sold_ad_count'] > 10 %}
                    <div class="col-md-4 shop-sold">
                        <span class="sold-icon sold-icon-white">{{'Sold'|trans({}, 'frontend-profile-page')}}</span><br />
                        {{'Items sold'|trans({}, 'frontend-profile-page')}}: <b>{{userDetail['sold_ad_count']}}</b>
                    </div>
                {% endif %}
                <div class="col-md-4 shop-view">
                    <span class="views-sold-icon">{{'Views'|trans({}, 'frontend-profile-page')}}</span><br />
                    {{'Views'|trans({}, 'frontend-profile-page')}}: <b>{{ userSiteViewCounter is not null ? userSiteViewCounter : 0 }}</b>
                </div>
                <div class="col-md-4 end shop-review">
                    <span class="review-sold-icon review-sold-icon-white">{{'Reviews'|trans({}, 'frontend-profile-page')}}</span><br />
                    {{'Reviews'|trans({}, 'frontend-profile-page')}}: <b>{{ userDetail['total_review'] }}</b>
                </div>
            </div>
        </div>
    </div>
</div>