{% if userSiteImages|length %}
    <div class="shop-gallery">
        <h5>{{'Photo Gallery'|trans({}, 'frontend-profile-page')}}</h5>
        <div class="media-grid-section mt10 mb20">
            {% for userSiteImage in userSiteImages %}
                {% set userSiteSmallImgUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getSharedImageUrl', [fetch_container_instance(), userSiteImage.getPath(), userDetail["site_id"]~'_'~userSiteImage.getHash()~'_300X225.jpg']) %}
                {% set userSiteBigImgUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getSharedImageUrl', [fetch_container_instance(), userSiteImage.getPath(), userDetail["site_id"]~'_'~userSiteImage.getHash()~'_800X600.jpg']) %}
                <div class="item">
                    <a class="item__details" rel="gallery1" href="{{ userSiteBigImgUrl }}">
                        <img src="{{ userSiteSmallImgUrl }}" alt="" />
                    </a>
                </div>
            {% endfor %}
        </div>
        {% if allowProfileEdit %}
            <div class="profile-edit clearfix">
                <div class="right relative">
                    <a href="javascript:void(0);" onclick="return editGallery();">Edit</a>
                    <div class="edit-tooltip">{{'Edit your gallery'|trans({}, 'frontend-profile-page')}}</div>
                </div>
            </div>
        {% endif %}
    </div>
{% elseif allowProfileEdit %}
    <div class="shop-gallery">
        <h5>{{'Photo Gallery'|trans({}, 'frontend-profile-page')}}</h5>
    </div>
    <div class="mt10 mb10">
        <a href="javascript:void(0);" onclick="return editGallery();">{{'+ Add photos to your gallery'|trans({}, 'frontend-profile-page')}}</a>
    </div>
{% endif %}