{% block search_html %}
<div class="row">
    <div class="columns">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'outline search_box'}}) }}
            {{ form_errors(form) }}

            <div class="row">
                <div class="large-4 columns">
                    {{ form_widget(form.archive_ad__id, {'attr': {'class':'form-control', 'placeholder': 'Advert Reference'}}) }}
                </div>
                <div class="large-4 columns">
                    {{ form_widget(form.archive_ad__email, {'attr': {'class':'form-control', 'placeholder': 'User Email'}}) }}
                </div>
                <div class="large-4 columns">
                    {{ form_widget(form.search, {'attr': {'class':'small button'}}) }}
                </div>
            </div>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}