{% block search_html %}
<div class="row">
    <div class="columns">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'outline'}}) }}
                    {{ form_errors(form) }}
                    <div class="row">
                        <div class="large-6 columns">
                            {{ form_widget(form.package_discount_code__code, {'attr': {'class':'form-control', 'placeholder': 'Code'|trans }}) }}
                        </div>
                        <div class="large-6 columns">
                            {{ form_widget(form.package_discount_code__category_id, {'attr': {'class':'form-control', 'placeholder': 'Category'|trans}}) }}
                        </div>
                    </div>

                    <hr class="hr_margin">

                    {% set totalChoices = attribute(form, 'package_discount_code__package_sr_no').vars.choices|length %}
                    {% set totalColumns = 3 %}
                    {% set choicesPerColumn = (totalChoices / totalColumns)|round(0, 'ceil') %}
                    {% set choiceCount = 0 %}
                    {% set totalChoiceCount = 0 %}
                    <div class="row">
                        {% for child in attribute(form, 'package_discount_code__package_sr_no') %}
                            {% if choiceCount == 0 or (choiceCount % choicesPerColumn) == 2 %}
                            <div class="large-4 columns left">
                            {% endif %}
                                <div>
                                    {{ form_widget(child) }}
                                    <label for="{{ child.vars.id }}">{{ child.vars.label }}</label>
                                </div>
                                {% set choiceCount = choiceCount + 1 %}
                                {% set totalChoiceCount = totalChoiceCount + 1 %}
                            {% if totalChoiceCount == totalChoices or (choiceCount % choicesPerColumn) == 2 %}
                            </div>
                            {% set choiceCount = 0 %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    
                    <hr class="hr_margin">
                    
                    <div class="search_box">
                        <div class="row">
                            <div class="large-6 columns">
                                {{ form_widget(form.package_discount_code__role_ids, {'attr': {'class':'form-control'}}) }}
                            </div>
                            <div class="large-3 columns">
                                {{ form_widget(form.package_discount_code__status, {'attr': {'class':'form-control' }}) }}
                            </div>
                            <div class="large-3 columns">
                                {{ form_widget(form.search, {'attr': {'class':'small button mb0'}}) }}
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
     </div>
</div>
{% endblock %}

{% block search_script -%}
    {{ include('FaCoreBundle::autoSuggestField.html.twig', {'field' : '#fa_promotion_package_discount_code_search_admin_package_discount_code__category_id', 'jsonField' : '#fa_promotion_package_discount_code_search_admin_package_discount_code__category_id_json', 'placeHolder': 'Category'|trans, 'route' : 'category_ajax_term_admin', 'isMultiple' : false }) }}
{% endblock %}