{% block profileImageUploadStylesheets %}
    {% set profileImageUploadStylesheetsVariables = get_variables('profileImageUploadStylesheets') %}
    {% if profileImageUploadStylesheetsVariables.loaded is not defined %}
        <link href="{{ asset_url('fafrontend/css/jquery.Jcrop.css') }}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block profileImageUploadHtml %}
{{ set_variables('userProfileImageUpload', {'userId':userId, 'isCompany':isCompany, 'profileImage': profileImage}) }}
<div class="field-530">
    <div id="filelist"></div>
</div>
{% endblock %}

{% block profileImageUploadJavascriptBottom %}
    {% set mobileDetectManager = fetch_container_instance().get('fa.mobile.detect.manager') %}
    {% set isAdminLoggedIn = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'isAdminLoggedIn', [fetch_container_instance()]) %}
    {% set profileImageUploadJavascriptBottomVariables = get_variables('profileImageUploadJavascriptBottom') %}
    {% if profileImageUploadJavascriptBottomVariables.loaded is defined and profileImageUploadJavascriptBottomVariables.loaded == 'true' %}
        {% set container = fetch_container_instance() %}
        {% set variables = get_variables('userProfileImageUpload') %}
        {% set fromProfilePageVariables = get_variables('fromProfilePageVariables') %}
        {% set userId    = (variables.userId is defined ? variables.userId : 0) %}
        {% set isCompany = (variables.isCompany is defined ? variables.isCompany : false) %}
        {% set profileImage = (variables.profileImage is defined ? variables.profileImage : false) %}
        {% set profileImage = (variables.profileImage is defined ? variables.profileImage : false) %}
        {% set fromProfilePage = (fromProfilePageVariables.fromProfilePage is defined ? fromProfilePageVariables.fromProfilePage : false) %}
        {% set maxFileSize = (isCompany ? container.getParameter("fa.company.allow_size_in_mb")~' mb' : container.getParameter("fa.user.allow_size_in_mb")~' mb') %}
        <script type="text/javascript" src="{{ asset('/bundles/facore/js/plupload.full.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/fafrontend/js/jquery.Jcrop.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/facore/js/jquery.ui.touch-punch.min.js') }}"></script>
        
        <script language="javascript" type="text/javascript">
        //<![CDATA[
        $(document).ready(function(){
            initProfileImageUpload(true);
        });

        function initProfileImageUpload(removeFileList)
        {
            if ($('.pickProfileFile').length > 0) {
                $('.pickProfileFile').each(function(e) {
                     var mainUploader = setUpUploader($(this).attr('id'), removeFileList);
                     mainUploader.init();
                });
            }

            if (removeFileList) {
                //$('#filelist').html('');
            }
        }

        function setUpUploader(id, removeFileList)
        {
            var errorFlag  = false;
            var userId     = '{{userId}}';
            var isCompany  = '{{isCompany}}';
            var profileImage  = '{{profileImage}}';
            var user_image = new Array();

            if (isCompany) {
                var allowMaxSize = '{{container.getParameter("fa.company.allow_size_in_mb")}}mb';
            } else {
                var allowMaxSize = '{{container.getParameter("fa.user.allow_size_in_mb")}}mb';
            }
            var uploader   = new plupload.Uploader({
                runtimes : 'html5,flash,silverlight,html4',
                unique_names :true,
                multi_selection : false,
                multipart : true,
                browse_button : id, // you can pass in id...
                url : {% if isAdminLoggedIn and isAdminLoggedIn.id %} '{{ path("ajax_user_image_save_admin") }}' {% else %} '{{ path("ajax_user_image_save") }}' {% endif %},
                multipart_params : {'fa_user_image[user_id]' : userId, 'fa_user_image[is_company]' : isCompany, 'fa_user_image[profileImage]' : profileImage},
                file_data_name : 'fa_user_image[fileData]',
                flash_swf_url : '{{asset_url('facore/js/Moxie.swf')}}',
                silverlight_xap_url : '{{ asset_url('facore/js/Moxie.xap')}}',

                filters : {
                    max_file_size : allowMaxSize,
                    mime_types:
                    [
                        {title : '{{"Image files"|trans}}', extensions : "jpg,jpeg,png,gif,JPG,JPEG,PNG,GIF"},
                    ]
                },

                init: {
                    PostInit: function() {
                        if (removeFileList) {
                            $('#filelist').html('');
                        }
                    },
                    FilesAdded: function(up, files, response) {
                        errorFlag = false;
                        if(up.files.length > 1) {
                            uploader.splice();
                            $('#filelist').html('');
                            $('#filelist').html(decorateMessage("{{ 'Image has been already uploaded.'|trans({}, 'frontend-paa') }}", 'alert'));
                            return false;
                        }
                        else {
                            uploader.start();
                            $('#filelist').html("<div class='row'><img src=\"{{ asset_url('facore/images/ajax_loader.gif') }}\"> {{ 'Uploading image please wait... '|trans({}, 'frontend-paa') }}</div>");
                            $('.save_data').attr('disabled', true);
                        }
                        closeProfileMenu();
                    },
                    FileUploaded: function(up, file, response) {
                        var obj = $.parseJSON(response.response);
                        if (obj.error.length) {
                            errorFlag = true;
                            $('#filelist').html(decorateMessage(obj.error, 'alert'));
                        }
                    },
                    UploadComplete: function(up, file) {
                        if (!errorFlag) {
                            if (isCompany) {
                                $('#filelist').html(decorateMessage("{{'Company logo has been uploaded successfully.'|trans({}, 'frontend-paa') }}", 'success'));
                            } else {
                                $('#filelist').html(decorateMessage("{{'User image has been uploaded successfully.'|trans({}, 'frontend-paa') }}", 'success'));
                            }
                            $('#profile_change_btn_with_opt').show();
                            $('#profile_change_btn_without_opt').hide();
                            {% if fromProfilePage %}
                                getProfileBigImage('{{ path('ajax_get_profile_big_image', {'userId': app.user.getId(), 'isCompany': isCompany}) }}');
                            {% endif %}
                        } else {
                            if (isCompany) {
                                $('#filelist').html(decorateMessage('{{'Problem in company logo upload.'|trans}}', 'alert'));
                            } else {
                                $('#filelist').html(decorateMessage('{{'Problem in user image upload.'|trans}}', 'alert'));
                            }
                        }
                        uploader.splice();
                        getImage();
                        $('.save_data').attr('disabled', false);
                    },
                    Error: function(up, err) {
                       msg = err.message;
                       if (msg == 'Init error.') {
                           msg = "{{'Your browser does not have Flash, Silverlight or HTML5 support.'|trans({}, 'frontend-paa')}}";
                       } else if (msg == 'File size error.') {
                           msg = "{{'The size of image should not be greater than %max_file_size%.'|trans({'%max_file_size%' : (maxFileSize)}, 'frontend-paa')}}";
                       } else if (msg == 'File extension error.') {
                           msg = "{{'Image type must be one of the jpg, jpeg, png, gif.'|trans({}, 'frontend-paa')}}";
                       }
                       $('#filelist').html(decorateMessage(msg, 'alert'));
                       closeProfileMenu();
                    }
                }
            });
            return uploader;
        }

        function getImage()
        {
            $.ajax({
                type: "POST",
                url : {% if isAdminLoggedIn and isAdminLoggedIn.id %} '{{ path("ajax_get_user_image_admin") }}' {% else %} '{{ path("ajax_get_user_image") }}' {% endif %},
                data: { userId: '{{userId}}', isCompany: '{{isCompany}}', profileImage: '{{profileImage}}'}
            })
            .done(function(response) {
                $('#profile_image_div, #left_profile_image_div, #top_profile_image_div').html(response.image);
            });
        }

        function deleteImage(url)
        {
            closeProfileMenu();
            $('.remove-logo-btn').unbind("click");
            $.ajax({
                type: "POST",
                url: url,
                data: {profileImage: '{{profileImage}}'}
            })
            .done(function(response) {
                if (response.error.length) {
                    $('#filelist').html(decorateMessage(response.error, 'alert'));
                }
                if (response.successMsg.length) {
                    $('#filelist').html(decorateMessage(response.successMsg, 'success'));
                    $('#profile_change_btn_with_opt').hide();
                    $('#profile_change_btn_without_opt').show();
                    $('#profile_image_div, #left_profile_image_div, #top_profile_image_div').html(response.image);
                }
                {% if mobileDetectManager.isMobile() or mobileDetectManager.isTablet() %}
                    initProfileImageUpload(false);
                {% endif %}
            });
        }

        function getProfileBigImage(url)
        {
            closeProfileMenu();
            blockPage();
            $.ajax({
                type: "GET",
                url : url,
                data:{'fromProfilePage': '{{ fromProfilePage }}'}
            })
            .always(function(response) {
                unblockPage();
            })
            .done(function(response) {
                hideAlertMessage();
                if (response.htmlContent.length) {
                    $('#cropProfileImageModal').html(response.htmlContent);
                    $('#cropProfileImageModal').modal('show');
                } else if (response.error.length) {
                    $('#filelist').html(decorateMessage(response.error, 'alert'));
                    scrollToElement('#filelist', '1000', -150);
                }
            });
        }

        function closeProfileMenu()
        {
            $('#profile_image_upload').modal('hide');
        }
        //]]>
        </script>
    {% endif %}
{% endblock %}