<style>
    #dimension-list th, #dimension-list td.action, #dimension-list td.priority {
        text-align: center;
    }
    #dimension-list td.name {
        padding-left: 35px;
    }
    #dimension-list td.name {
        padding-left: 35px;
    }
</style>
<div id="LHSFilterDiv" style="margin-bottom: 50px">
    <b>LHS Filter Ordering</b>
    <br>
    <div style="margin-top: 25px">
        <div style="width: 100%" class="filter-order-category">
            <label for="filter-category">Category</label>
            <select id="filter-category">
                {% for categoryGroup in categories %}
                    {% if categoryGroup['children'] is defined %}
                        <optgroup label="{{ categoryGroup['parent']['name'] }}">
                            <option value="{{ categoryGroup['parent']['id'] }}">Main Category | {{ categoryGroup['parent']['name'] }}</option>
                            {% for children in categoryGroup['children'] %}
                                <option value="{{ children['id'] }}">{{ children['name'] }}</option>
                            {% endfor %}
                        </optgroup>
                    {% else %}
                        <optgroup label="{{ categoryGroup['parent']['name'] }}">
                            <option value="{{ categoryGroup['parent']['id'] }}">Main Category | {{ categoryGroup['parent']['name'] }}</option>
                        </optgroup>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div style="margin-top: 25px">
        <label for="dimension-list"><h4>Filter Order</h4></label>
        <div class="table-wrapper" style="position: relative;">
            <div class="table-scroll" style="height: 550px; width: 100%; overflow: auto;">
                <table class="table" id="dimension-list" style="margin-top: 25px">
                    <thead>
                    <tr>
                        <th>Order</th>
                        <th>Filter</th>
                        <th>Category</th>
                        <th>Enabled/Disabled</th>
                    </tr>
                    </thead>
                    <tbody id="dimension-list-body">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>