<style>
    #dimension-list th, #dimension-list td.action, #dimension-list td.priority {
        text-align: center;
    }
    #dimension-list td.name {
        padding-left: 35px;
    }
    #dimension-list td.name {
        padding-left: 35px;
    }
</style>
<div id="LHSFilterDiv" style="margin-bottom: 50px">
    <b>LHS Filter Ordering</b>
    <br>
    <div style="margin-top: 25px">
        <div style="width: 100%" class="filter-order-category">
            <label for="filter-category">Category</label>
            <select id="filter-category">
                {% for categoryGroup in categories %}
                    {% if categoryGroup['children'] is defined %}
                        <optgroup label="{{ categoryGroup['parent']['name'] }}">
                            <option value="{{ categoryGroup['parent']['id'] }}">Main Category | {{ categoryGroup['parent']['name'] }}</option>
                            {% for children in categoryGroup['children'] %}
                                <option value="{{ children['id'] }}">{{ children['name'] }}</option>
                            {% endfor %}
                        </optgroup>
                    {% else %}
                        <optgroup label="{{ categoryGroup['parent']['name'] }}">
                            <option value="{{ categoryGroup['parent']['id'] }}">Main Category | {{ categoryGroup['parent']['name'] }}</option>
                        </optgroup>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div style="margin-top: 25px">
        <label for="dimension-list"><h4>Filter Order</h4></label>
        <div class="table-wrapper" style="position: relative;">
            <div class="table-scroll" style="height: 550px; width: 100%; overflow: auto;">
                <table class="table" id="dimension-list" style="margin-top: 25px">
                    <thead>
                    <tr>
                        <th>Order</th>
                        <th>Filter</th>
                        <th>Category</th>
                        <th>Enabled/Disabled</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order,dimension in dimensions %}
                        <tr data-dimension-id="{{ dimension.id }}">
                            <td class='priority'>{{ order + 1 }}</td>
                            <td class="name">{{ dimension.name }}</td>
                            <td class="category">{{ dimension.category }}</td>
                            <td class="action">{{ dimension.status == 1 ? "<a class='btn active'>Enabled</a>" : "<a class='btn'>Disabled</a>" }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>

{#    <button type="button" onclick="update_filter_order();" style="float: right; width: 350px; margin-top: 25px">Update Filter Order</button>#}
</div>

{#<hr>#}

{#<div id="LHSMoreFilter">#}

{#    <div style="margin-top: 25px">#}
{#        <label for="dimension-list"><h4>More Filters: Available Entities</h4></label>#}
{#        <br>#}
{#        <i style="font-size: 12px">Add entities in the order needed for LHS</i>#}
{#        <br>#}
{#        <select id="entity-list" multiple class="multi-select" data-prediction="on" data-type="entity" data-separator="" data-conditions="id-slug-pair" data-keep-order="1">#}
{#        </select>#}

{#    </div>#}

{#    <button type="button" onclick="update_more_filter_order();" style="float: right; width: 350px; margin-top: 25px">Update More Filters</button>#}
{#</div>#}