{% if staticPages|length %}
    {% set staticPageCounter = 1 %}
    {% for staticPage in staticPages %}
        {% if staticPage['slug'] matches '/^[a-z-]+$/i' %}
            {% if staticPageCounter == 2 %}
                <a href="https://www.fmgadvertising.com/display-item/post/choose-style" target="_blank">{{ 'Print ads for business'|trans }}</a>
                <a href="http://fadvertise.friday-ad.co.uk/" target="_blank">{{ 'Business Advertising'|trans }}</a>
                <a href="https://www.spidersnet.co.uk/website-design/" target="_blank" {% if (currentRoute != 'fa_frontend_homepage') %} rel='nofollow'{% endif %}>{{ 'Car dealer websites'|trans }}</a>
            {% endif %}
            {% if staticPage['include_in_footer'] == 1 %}
                <a href="{{ path('location_home_page', {'location': staticPage['slug']}) }}">{{staticPage['title']}}</a>
                {% set staticPageCounter = staticPageCounter + 1 %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
