{% form_theme form 'FaFrontendBundle:Form:fields.html.twig' %}
{% set container = fetch_container_instance() %}
<div class="modal-dialog"><div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title save-search-title">
		{{'Edit video'|trans({}, 'frontend-my-profile')}}
		</h5>
	    <button class="close-modal" class="close" data-dismiss="modal">×</button>
	</div>

{{ form_start(form, {'attr': {'novalidate': '', 'id': 'edit_video_id'}}) }}
    	<div class="modal-body">
        <div class="container">
            <div class="row">
                <h5>{{'Video'|trans({}, 'frontend-my-profile')}}</h5>
                <div class="mt5">{{'Videos are a great way to give visitors an introduction of your business. Add a youtube link below.'|trans({}, 'frontend-my-profile')}}</div>
            </div>
        </div>
        <div class="container mt15">
            <div class="row">
                <div class="col-md-24">
                    {{ form_row(form.youtube_video_url) }}
                </div>
            </div>
        </div>
        <div class="mt20 remove-item-btn">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <button type="button" class="btn btn-block secondary-btn-2 thin-btn" onclick="closeRevealModel('#profileEditModal');;">{{'Cancel'|trans({}, 'frontend-my-profile')}}</button>
                </div>
                <div class="col-lg-12 col-md-12">
                    {{ form_widget(form.save, {'attr': {'class':'btn btn-block secondary-btn-1 thin-btn'}}) }}
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
 </div></div>
<script language="javascript" type="text/javascript">
//<![CDATA[
    $(document).ready(function() {
        bindFormErrorEvents();
    });
    $("#edit_video_id").submit(function(event) {
        blockElement('#profileEditModal');
        // Stop form from submitting normally
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "{{path('ajax_edit_video')}}",
            data: $("#edit_video_id").serialize()
        })
        .always(function(response) {
            unblockElement('#profileEditModal');
        })
        .done(function(response) {
            if (response.htmlContent.length) {
                $('#profileEditModal').html(response.htmlContent);
            } else {
            	$('#business_video_div').html(response.successContent);
                $("#shopVideo").unbind();
                $("#shopVideo").click(function() {
                    $.fancybox({
                        'padding'       : 0,
                        'autoScale'     : false,
                        'transitionIn'  : 'none',
                        'transitionOut' : 'none',
                        'title'         : this.title,
                        'width'         : 640,
                        'height'        : 385,
                        'href'          : this.href,
                        'type'          : 'swf',
                        'swf'           : {
                            'wmode'             : 'transparent',
                            'allowfullscreen'   : 'true'
                        }
                    });

                    return false;
                });
                
                $('#profileEditModal').modal('hide');
                $('#business_video_div').notify('{{'Video edited successfully.'|trans({}, 'frontend-my-profile')}}', { position:"top", className:"success" });
                scrollToElement('#business_video_div', '1000', -150);
            }
        });
    });
//]]>
</script>