{% if zone_id is defined and bannersArray is defined %}
    {% if zone_id in bannersArray|keys %}
        {% set divStyle            = '' %}
        {% set otherClass          = '' %}
        {% set showBanner          = 0 %}
        {% set currentDevice       = 'D' %}
        {% set container           = fetch_container_instance() %}
        {% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
        {% set zone_above_header   = constant('Fa\\Bundle\\ContentBundle\\Repository\\BannerZoneRepository::ZONE_ABOVE_HEADER') %}
        {% set page_all_other      = constant('Fa\\Bundle\\ContentBundle\\Repository\\BannerPageRepository::PAGE_ALL_OTHER') %}
        {% set current_route       = app.request.attributes.get('_route') %}

        {% if mobileDetectManager.isMobile() and not mobileDetectManager.isTablet() %}
            {% set currentDevice = 'M' %}
        {% elseif mobileDetectManager.isMobile() and mobileDetectManager.isTablet() %}
            {% set currentDevice = 'T' %}
        {% endif %}

        {% if ((currentDevice == 'D' and bannersArray[zone_id]['is_desktop'] == 1) or (currentDevice == 'T' and bannersArray[zone_id]['is_tablet'] == 1) or (currentDevice == 'M' and bannersArray[zone_id]['is_mobile'] == 1)) %}
            {% set showBanner = 1 %}
        {% endif %}

        {% if zone_id == zone_above_header and bannersArray[zone_id]['page_id'] == page_all_other %}
            {% if not app.request.attributes.get('static_page') %}
                {% set showBanner = 0 %}
            {% endif %}
        {% endif %}

        {% if (showBanner == 1) %}
            {% set bannerManager = container.get('fa.banner.manager') %}
            {% set bannerDivId   = 'banner_placeholder' ~ '_' ~ bannersArray[zone_id]['page_id'] ~ '_' ~ zone_id %}
            {% set extraParams   = {'zone_id':zone_id, 'page_id':bannersArray[zone_id]['page_id'], 'target_id':bannerDivId} %}

            {% if bannersArray[zone_id]['max_width'] is not null %}
                {% set divStyle = "max-width:" ~ bannersArray[zone_id]['max_width'] ~ "; " %}
                {% set extraParams = extraParams|merge({'max_width':bannersArray[zone_id]['max_width']}) %}
            {% endif %}

            {% if bannersArray[zone_id]['max_height'] is not null %}
                {% set divStyle = divStyle ~ "max-height:" ~ bannersArray[zone_id]['max_height'] ~ ";" %}
                {% set extraParams = extraParams|merge({'max_height':bannersArray[zone_id]['max_height']}) %}
            {% endif %}

            {% if otherParams is defined %}
                {% if otherParams['class'] is defined %}
                    {% set otherClass = otherParams['class'] %}
                {% endif %}
                {% if otherParams['ad'] is defined %}
                    {% set extraParams = extraParams|merge({'ad':otherParams['ad']}) %}
                {% endif %}
            {% endif %}

            {% if cookieValue is defined and cookieValue is not null %}
                {% set extraParams = extraParams|merge({'cookieValues':cookieValue}) %}
            {% endif %}

            {% set parsedCode  = bannerManager.parseBannerCode(bannersArray[zone_id]['code'], extraParams) %}
            {% set bannerClass = 'banner' ~ '-' ~ bannersArray[zone_id]['page_id'] ~ '-' ~ zone_id %}

            <div class="banner-show-after-load" style="display:none;"><div id="{{ bannerDivId }}" class="{{bannerClass}} {{otherClass}} banner-center" style="{{ divStyle }}">{{ parsedCode|raw }}</div></div>
        {% endif %}
    {% endif %}
{% endif %}
<script>
$(window).on('load', function() {
    $('.banner-show-after-load').show();
});
</script>