{% extends 'FaFrontendBundle::layout.html.twig' %}
{% form_theme form 'FaFrontendBundle:Form:fields.html.twig' %}

{% block page_title %}
    {{'Post an Ad Add more details'|trans({}, 'frontend-paa')}}
{% endblock %}

{% use "FaAdBundle:AdImage:showImageUploader.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {{ block('imageUploadStylesheets') }}
{% endblock %}

{% use "FaCoreBundle:GoogleMap:renderLocationUsingCircle.html.twig" %}
{% use "FaAdBundle:AdPost:fourthStepCommonPushNotification.html.twig" %}

{% block body %}
    {{ include('FaAdBundle:AdPost:fourthStepAnimals-css.html.twig') }}
    <div class="posting-bg">
        <div class="fad-sign-bdr">&nbsp;</div>
        <div class="row paa-main">
            {{ include('FaAdBundle:AdPost:paaStepsList.html.twig', {'step' : 4}) }}
            <div id="middle-column" class="large-12 columns">
                <a href="javascript:submitFormUsingAjax('{{ path('ad_post_second_step', {'is_edit' : 1}) }}');" class="paa-back-arrow" title="{{ 'Go back'|trans({}, 'frontend-paa') }}">{{ 'Go back'|trans({}, 'frontend-paa') }}</a>
                <h1 class="text-center">{{ 'Almost there!'|trans({}, 'frontend-paa-fourth-step') }}</h1>
                <h2 class="text-center subtitle paa-title">{{ 'Add some photos and a few more details if you want to.'|trans({}, 'frontend-paa-fourth-step') }}</h2>

                {% if ad and ad.id %}
                    {% set categoryId = ad.category.id %}
                    {% set orderedFields = form.fourth_step_ordered_fields.vars.value|split(',') %}
                    <div class="big-wrapper">
                        {{ include('FaAdBundle:AdPost:fourthStepShowSecondStepFieldsData.html.twig') }}
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'frmPAA'}}) }}
                            {{ form_errors(form) }}
                            {{ include('FaAdBundle:AdPost:fourthStepAnimalsFields.html.twig') }}
                            <div class="small-wrapper">
                                {{ form_widget(form.preview, {'attr': {'class':'paa-preview-btn secondary-btn-2 expand'}}) }}
                                {{ form_widget(form.save, {'attr': {'class':'secondary-btn-1 paa-next-btn expand'}}) }}
                            </div>
                        {{ form_end(form) }}
                    </div>
                {% endif %}
            </div>
            {{ include('FaAdBundle:AdPost:paaPageHelp.html.twig', {'paaBlockSlug': 'paa-animals-fourth-step'}) }}
        </div>
    </div>
{% endblock %}

{% block scriptbottom %}
{{ parent() }}
{{ include('FaAdBundle:AdPost:paaLocationJs.html.twig') }}
{{ include('FaAdBundle:AdPost:fourthStepCommonJs.html.twig') }}
{{ include('FaAdBundle:AdPost:fourthStepCtaButtonJs.html.twig', {'categoryName' : 'animals'}) }}
<script language="javascript" type="text/javascript">
//<![CDATA[
   $(document).ready(function(){
       handleReadMoreLess('paa_desc', 220);
       updateCharCounter('fa_paa_fourth_step_animals_personalized_title');
       bindLocationEvents('fa_paa_fourth_step_animals');


       $('.custom_select').on("select2-focus", function(e) {
          $('.custom_select_options .select2-search').show();
       });

       {% set formFields = get_variables('formFields') %}
       {% if formFields['lastField'] is defined %}
           if ($('#element_'+ '{{ formFields['lastField'] }}').hasClass('paa-bdr-box')) {
               $('#element_'+ '{{ formFields['lastField'] }}').addClass('bdr-none');
           }
           {% if (formFields['lastField'] in {0: 'photo_error', 1: 'location_autocomplete', 2: 'qty', 3: 'delivery_method_option_id', 4: 'payment_method_id', 5: 'youtube_video_url'}) %}
               $('#fa_paa_fourth_step_animals_preview').addClass('mt30');
           {% endif %}
       {% endif %}
       
       $('.textcounter').keyup(function(e) {
           updateCharCounter($(this).attr('id'));
       });

       $('.gender_choice').click(function(){
           var choiceId = $(this).attr('id');
           var genderId = choiceId.replace('gender_choice_', '');
           
           if ($('#'+choiceId).hasClass('active')) {
        	   $('.gender_choice').removeClass('active');
               $('#'+choiceId).removeClass('active');
               genderId = '';
               $("input[name='fa_paa_fourth_step_animals[gender_id][]']").prop('checked', false);
           } else {
        	   $('.gender_choice').removeClass('active');         	 
        	   $("input[name='fa_paa_fourth_step_animals[gender_id][]'").prop('checked', false);
               $(this).addClass('active');              
               $('#'+choiceId).addClass('active');
               $("input[name='fa_paa_fourth_step_animals[gender_id][]'][value='"+genderId+"']").trigger('click');
           }           
       });

       $("input[name='fa_paa_fourth_step_animals[gender_id][]']").each(function() {
           if ($(this).is(':checked')) {
               $('#gender_choice_'+$(this).val()).removeClass('inactive');
               $('#gender_choice_'+$(this).val()).addClass('active');
           }
       });

        $('#paa_step4_add_your_photos').click(function(e) {
            $('html, body').animate({
                scrollTop: $('#upload_image_div').offset().top
            }, 1000);
        });

        $('.element_toggle').click(function(){
            var targetElement = $(this).attr('id')+'_target';
            $(this).toggleClass("tab-down tab-up");
            $('#'+targetElement).toggle();
            if($('#'+targetElement).is(':visible')) {
                var selectMenuId = ($(this).attr('id').replace('element_toggle', "fa_paa_fourth_step_animals"));
                if ($('#'+selectMenuId).hasClass('fa-select')) {
                    $('#'+selectMenuId).selectmenu().selectmenu('refresh',true);
                }
            }
        });
    });

    function updateCharCounter(fieldId)
    {
        var textCounterId = fieldId + '_textcounter';
        var maxLimit      = $('#'+fieldId).attr('maxlength') ? parseInt($('#'+fieldId).attr('maxlength')) : 0;
        var value         = $('#'+fieldId).val();

        if (maxLimit) {
           if (value.length > maxLimit) {
               $('#'+fieldId).val(value.substring(0, maxLimit));
               $('#'+fieldId).html('(0 characters left)');
               return false;
           } else {
               $('#'+textCounterId).html('(' + (maxLimit - value.length) + ' characters left)');
           }
       }
    }

    function bindCapsuleButtonEvent(field, fieldType)
    {
        var fieldChoice = field.replace('_id', '') + '_choice';
        $('.'+fieldChoice).click(function(){
            var choiceId    = $(this).attr('id');
            var selectedId = choiceId.replace(fieldChoice+'_', '');

            if (fieldType == 'drop-down') {
                if ($('#'+choiceId).hasClass('active')) {
                    $('.'+fieldChoice).removeClass('active');
                    selectedId = '';
                } else {
                    $('.'+fieldChoice).removeClass('active');
                    $('#'+choiceId).addClass('active');
                }
                $('#fa_paa_fourth_step_animals_'+field).val(selectedId);
            } else if (fieldType == 'radio') {
                $('.'+fieldChoice).removeClass('active');
                $('#'+choiceId).addClass('active');
                $("input[name='fa_paa_fourth_step_animals["+field+"]'][value='"+selectedId+"']").attr('checked', true);
            }
        });
     }
//]]>
</script>
{% if (form.breed_id_autocomplete) is defined %}
    {{ include('FaCoreBundle::jqueryAutoSuggestFieldJs.html.twig', {'field' : '#fa_paa_fourth_step_animals_breed_id', 'placeHolder': ((attribute(form, 'breed_id_autocomplete').vars.attr.placeholder is defined and attribute(form, 'breed_id_autocomplete').vars.attr.placeholder is not null) ? attribute(form, 'breed_id_autocomplete').vars.attr.placeholder : ''), 'route' : 'entity_ajax_find_by_term', 'dimension_field' : '#fa_paa_fourth_step_animals_breed_id_dimension_id'}) }}
{% endif %}

{% if (form.species_id_autocomplete) is defined %}
    {{ include('FaCoreBundle::jqueryAutoSuggestFieldJs.html.twig', {'field' : '#fa_paa_fourth_step_animals_species_id', 'placeHolder': ((attribute(form, 'species_id_autocomplete').vars.attr.placeholder is defined and attribute(form, 'species_id_autocomplete').vars.attr.placeholder is not null) ? attribute(form, 'species_id_autocomplete').vars.attr.placeholder : ''), 'route' : 'entity_ajax_find_by_term', 'dimension_field' : '#fa_paa_fourth_step_animals_species_id_dimension_id'}) }}
{% endif %}

{% if (form.colour_id_autocomplete) is defined %}
    {{ include('FaCoreBundle::jqueryAutoSuggestFieldJs.html.twig', {'field' : '#fa_paa_fourth_step_animals_colour_id', 'placeHolder': ((attribute(form, 'colour_id_autocomplete').vars.attr.placeholder is defined and attribute(form, 'colour_id_autocomplete').vars.attr.placeholder is not null) ? attribute(form, 'colour_id_autocomplete').vars.attr.placeholder : 'eg. Pink or Blue or Multi coloured'|trans({}, 'frontend-paa-fourth-step')), 'route' : 'entity_ajax_find_by_term', 'dimension_field' : '#fa_paa_fourth_step_animals_colour_id_dimension_id'}) }}
{% endif %}

{% if (form.location_autocomplete) is defined %}
    {#Type postal code or town'|trans({}, 'frontend-paa-fourth-step')#}
    {{ include('FaCoreBundle::jqueryAutoSuggestFieldJs.html.twig', {'field' : '#fa_paa_fourth_step_animals_location', 'placeHolder': ((attribute(form, 'location_autocomplete').vars.attr.placeholder is defined and attribute(form, 'location_autocomplete').vars.attr.placeholder is not null) ? attribute(form, 'location_autocomplete').vars.attr.placeholder : ''), 'route' : 'town_ajax_find_town_by_term', 'dropdownCssClass': 'white-choices' }) }}
    {{ include('FaCoreBundle::jqueryAutoSuggestFieldJs.html.twig', {'field' : '#fa_paa_fourth_step_animals_area', 'placeHolder': ((attribute(form, 'area_autocomplete').vars.attr.placeholder is defined and attribute(form, 'area_autocomplete').vars.attr.placeholder is not null) ? attribute(form, 'area_autocomplete').vars.attr.placeholder : 'ex: SE2'|trans), 'route' : 'area_ajax_find_town_by_term', 'dropdownCssClass': 'white-choices', 'townIdForArea': constant('Fa\\Bundle\\EntityBundle\\Repository\\LocationRepository::LONDON_TOWN_ID') }) }}
{% endif %}

{{ include('FaContentBundle:Default:tinyMceJs.html.twig', {'plugins' : 'autoresize', 'autoresizeOptions': 'autoresize_bottom_margin: 0, autoresize_min_height: 100, autoresize_max_height: 500,', 'toolbar1' : 'bold italic underline, bullist numlist', 'toolbar2' : 'false', 'menubar' : 'false', 'statusbar': 'true', 'charCounter' : 'true' }) }}
{{ set_variables('imageUploadJavascriptBottom', {'loaded':'true'}) }}
{{ block('imageUploadJavascriptBottom') }}
{{ block('googlemap_location_js') }}
{% endblock %}