{% extends 'FaFrontendBundle::layout.html.twig' %}
{% form_theme form 'FaFrontendBundle:Form:fields.html.twig' %}

{% block page_title %}
    {{'Post an Ad Add more details'|trans({}, 'frontend-paa')}}
{% endblock %}

{% use "FaAdBundle:AdImage:showImageUploader.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {{ block('imageUploadStylesheets') }}
{% endblock %}

{% use "FaCoreBundle:GoogleMap:renderLocationUsingCircle.html.twig" %}
{% use "FaAdBundle:AdPost:fourthStepCommonPushNotification.html.twig" %}

{% block body %}
    <div class="posting-bg">
        <div class="container">
            <div class="row">
                {{ include('FaAdBundle:AdPost:paaStepsList.html.twig', {'step' : 4}) }}
                <div id="middle-column" class="col-md-12 medium-col step-one">
                    <div>
                        <a href="javascript:submitFormUsingAjax('{{ path('ad_post_second_step', {'is_edit' : 1}) }}');" class="paa-back-arrow" title="{{ 'Go back'|trans({}, 'frontend-paa') }}">{{ 'Go back'|trans({}, 'frontend-paa') }}</a>
                    </div>
                    <div class="col-md-24 d-flex justify-content-center mb30">
                        <h1 class="s-h1 paa-title col-md-24 col-lg-18 text-center">{{ 'Almost there!'|trans({}, 'frontend-paa-fourth-step') }}</h1>
                    </div>
                    <div class="col-md-24 d-flex justify-content-center sub-text mb30">
                        <h2 class="s-h2 col-md-24 col-lg-18 text-center subtitle paa-title">{{ 'Add some photos and a few more details if you want to.'|trans({}, 'frontend-paa-fourth-step') }}</h2>
                    </div>

                    {% if ad and ad.id %}
                        {% set categoryId = ad.category.id %}
                        {% set orderedFields = form.fourth_step_ordered_fields.vars.value|split(',') %}
                        {{ include('FaAdBundle:AdPost:fourthStepShowSecondStepFieldsData.html.twig') }}
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'frmPAA'}}) }}
                            {{ form_errors(form) }}
                            {{ include('FaAdBundle:AdPost:fourthStepCommunityFields.html.twig') }}
                            <div class="col-md-24 d-flex justify-content-center mb30">
                                <div class="small-wrapper center-block">
                                    {{ form_widget(form.preview, {'attr': {'class':'secondary-btn-2 btn btn-block'}}) }}
                                </div>
                            </div>
                            <div class="col-md-24 d-flex justify-content-center">
                                <div class="small-wrapper center-block">
                                    {{ form_widget(form.save, {'attr': {'class':'primary-btn-1 btn btn-block next-btn'}}) }}
                                </div>
                            </div>
                        {{ form_end(form) }}
                    {% endif %}
                </div>
                {{ include('FaAdBundle:AdPost:paaPageHelp.html.twig', {'paaBlockSlug': 'paa-community-fourth-step'}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scriptbottom %}
{{ parent() }}
{{ include('FaAdBundle:AdPost:paaLocationJs.html.twig') }}
{{ include('FaAdBundle:AdPost:fourthStepCommonJs.html.twig') }}
<script src="{{ asset_url('fafrontend/js/jquery.equalizer.min.js') }}"></script>
<script language="javascript" type="text/javascript">
//<![CDATA[
   $(document).ready(function(){
       handleReadMoreLess('paa_desc', 220);
       bindCapsuleButtonEvent('equipment_provided_id', 'drop-down');
       bindLocationEvents('fa_paa_fourth_step_community');

       {% set formFields = get_variables('formFields') %}
       {% if formFields['lastField'] is defined %}
           if ($('#element_'+ '{{ formFields['lastField'] }}').hasClass('paa-bdr-box')) {
               $('#element_'+ '{{ formFields['lastField'] }}').addClass('bdr-none');
           }
           {% if (formFields['lastField'] in {0: 'photo_error', 1: 'location_autocomplete', 2: 'qty', 3: 'delivery_method_option_id', 4: 'payment_method_id', 5: 'youtube_video_url'}) %}
               $('#fa_paa_fourth_step_community_preview').addClass('mt30');
           {% endif %}
       {% endif %}
       
       $('.textcounter').keyup(function(e){
           updateCharCounter($(this).attr('id'));
       });

        $('#paa_step4_add_your_photos').click(function(e) {
            $('html, body').animate({
                scrollTop: $('#upload_image_div').offset().top
            }, 1000);
        });

        $('.element_toggle').click(function(){
            var targetElement = $(this).attr('id')+'_target';
            $(this).toggleClass("tab-down tab-up");
            $('#'+targetElement).toggle();
            if($('#'+targetElement).is(':visible')) {
                var selectMenuId = ($(this).attr('id').replace('element_toggle', "fa_paa_fourth_step_community"));
                if ($('#'+selectMenuId).hasClass('fa-select')) {
                    $('#'+selectMenuId).selectmenu().selectmenu('refresh',true);
                }
                var equalizerId = ($(this).attr('id').replace('element_toggle_', ""))+'_equalizer';
                if ($('#'+equalizerId).hasClass('fa-equalizer')) {
                    bindEqualizerEvent(equalizerId);
                }
            }
        });
    });

   function bindEqualizerEvent(equalizerId)
   {
       $('#'+equalizerId).equalizer({
           columns: '> li, div',
           useHeight: 'height',
           resizeable: true,
           min: 0,
           breakpoint: null,
           disabled: 'breakpoint',
           overflow: 'overflowed'
       });
   }

   function bindCapsuleButtonEvent(field, fieldType)
   {
       var fieldChoice = field.replace('_id', '') + '_choice';
       $('.'+fieldChoice).click(function(){
           var choiceId    = $(this).attr('id');
           var selectedId = choiceId.replace(fieldChoice+'_', '');

           if (fieldType == 'drop-down') {
               if ($('#'+choiceId).hasClass('active')) {
                   $('.'+fieldChoice).removeClass('active');
                   selectedId = '';
               } else {
                   $('.'+fieldChoice).removeClass('active');
                   $('#'+choiceId).addClass('active');
               }
               $('#fa_paa_fourth_step_community_'+field).val(selectedId);
           } else if (fieldType == 'radio') {
               $('.'+fieldChoice).removeClass('active');
               $('#'+choiceId).addClass('active');
               $("input[name='fa_paa_fourth_step_community["+field+"]'][value='"+selectedId+"']").attr('checked', true);
           }
       });
    }

   function updateCharCounter(fieldId)
   {
       var textCounterId = fieldId + '_textcounter';
       var maxLimit      = $('#'+fieldId).attr('maxlength') ? parseInt($('#'+fieldId).attr('maxlength')) : 0;
       var value         = $('#'+fieldId).val();

       if (maxLimit) {
          if (value.length > maxLimit) {
              $('#'+fieldId).val(value.substring(0, maxLimit));
              $('#'+fieldId).html('(0 characters left)');
              return false;
          } else {
              $('#'+textCounterId).html('(' + (maxLimit - value.length) + ' characters left)');
          }
      }
   }

//]]>
</script>

{% if (form.location_autocomplete) is defined %}
    {#Type postal code or town'|trans({}, 'frontend-paa-fourth-step')#}
    {{ include('FaCoreBundle::jqueryAutoSuggestFieldJs.html.twig', {'field' : '#fa_paa_fourth_step_community_location', 'placeHolder': ((attribute(form, 'location_autocomplete').vars.attr.placeholder is defined and attribute(form, 'location_autocomplete').vars.attr.placeholder is not null) ? attribute(form, 'location_autocomplete').vars.attr.placeholder : ''), 'route' : 'town_ajax_find_town_by_term', 'dropdownCssClass': 'white-choices' }) }}
    {{ include('FaCoreBundle::jqueryAutoSuggestFieldJs.html.twig', {'field' : '#fa_paa_fourth_step_community_area', 'placeHolder': ((attribute(form, 'area_autocomplete').vars.attr.placeholder is defined and attribute(form, 'area_autocomplete').vars.attr.placeholder is not null) ? attribute(form, 'area_autocomplete').vars.attr.placeholder : 'ex: SE2'|trans), 'route' : 'area_ajax_find_town_by_term', 'dropdownCssClass': 'white-choices', 'townIdForArea': constant('Fa\\Bundle\\EntityBundle\\Repository\\LocationRepository::LONDON_TOWN_ID') }) }}
{% endif %}

{{ set_variables('imageUploadJavascriptBottom', {'loaded':'true'}) }}
{{ block('imageUploadJavascriptBottom') }}
{{ block('googlemap_location_js') }}
{% endblock %}