<div class="change-category clearfix">
    <div class="text-left cat-name-wrap" style="display: inline-flex;">
        <span>{{ 'Category'|trans({}, 'frontend-paa-fourth-step') }}:</span>
        {{ fetch_repository('FaEntityBundle:Category').getCategoryPathArrayById(categoryId, false, fetch_container_instance())|last('<span class="seperator"></span>')|raw }}
    </div>
    <div class="text-right edit-category">
        <a class="a-tag" href="javascript:submitFormUsingAjax('{{ path('ad_post_first_step', {'is_edit' : 1}) }}');" title="{{ 'Change category'|trans({}, 'frontend-paa-fourth-step') }}">{{ 'Edit'|trans({}, 'frontend-paa-fourth-step') }}</a>
    </div>
</div>
<div class="change-category clearfix">
    <div class="textleft cat-name-wrap">
        <span>{{ 'Ad title'|trans({}, 'frontend-paa-fourth-step') }}:</span> {{ ad.title }}
    </div>
    <div class="text-right edit-category">
        <a class="a-tag" href="javascript:submitFormUsingAjax('{{ path('ad_post_second_step', {'is_edit' : 1}) }}');" title="{{ 'Change ad title'|trans({}, 'frontend-paa-fourth-step') }}">{{ 'Edit'|trans({}, 'frontend-paa-fourth-step') }}</a>
    </div>
</div>

<div class="change-category clearfix">
    <div class="textleft cat-name-wrap">
        <span>{{ 'Description'|trans({}, 'frontend-paa-fourth-step') }}:</span>
        {{ ad.description|raw }}
        <a href="javascript:void(0);" class="read-more" style="display:none;">{{ 'Read more'|trans({}, 'frontend') }}</a>
        <a href="javascript:void(0);" class="read-less" style="display:none;">{{ 'Read less'|trans({}, 'frontend') }}</a>
    </div>
    <div class="text-right edit-category">
        <a class="a-tag" href="javascript:submitFormUsingAjax('{{ path('ad_post_second_step', {'is_edit' : 1}) }}');" title="{{ 'Change description'|trans({}, 'frontend-paa-fourth-step') }}">{{ 'Edit'|trans({}, 'frontend-paa-fourth-step') }}</a>
    </div>
</div>

{{ include('FaAdBundle:AdPost:paaBusinessDetails.html.twig') }}