{% extends 'FaFrontendBundle::layout.html.twig' %}
{% form_theme form 'FaFrontendBundle:Form:fields.html.twig' %}

{% block page_title %}
    {{'Describe your item'|trans({}, 'frontend-paa')}}
{% endblock %}

{% block body %}
    <div class="posting-bg">
        <div class="fad-sign-bdr">&nbsp;</div>
        <div class="row paa-main">
            {{ include('FaAdBundle:AdPost:paaStepsList.html.twig', {'step' : 2}) }}
            <div id="middle-column" class="large-12 columns">
                <a href="{{ path('ad_post_first_step', {'is_edit' : 1}) }}" class="paa-back-arrow" title="{{ 'Go back'|trans({}, 'frontend-paa') }}">{{ 'Go back'|trans({}, 'frontend-paa') }}</a>
                <h1 class="text-center paa-title">{{ 'Describe your item and choose your price'|trans({}, 'frontend-paa-second-step') }} </h1>
                <div class="big-wrapper">
                    <div class="change-category clearfix">
                        <div class="left cat-name-wrap">
                            {% set categoryId = attribute(first_step_data, 'category_id') %}
                            {% set categoryPathArray = fetch_repository('FaEntityBundle:Category').getCategoryPathArrayById(categoryId, false, fetch_container_instance()) %}
                            {% set categorykeys = categoryPathArray|keys %}
                            <span>{{ 'Category'|trans({}, 'frontend-paa-second-step') }}:</span> {{ categoryPathArray|last('<span class="seperator"></span>')|raw }}
                        </div>
                        <div class="right">
                            <a href="{{ path('ad_post_first_step', {'is_edit' : 1}) }}" title="{{ 'Change category'|trans({}, 'frontend-paa-second-step') }}">{{ 'Change'|trans({}, 'frontend-paa-second-step') }}</a>
                        </div>
                    </div>
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        {{ form_errors(form) }}
                        {% if categoryId is not null %}
                            {% set orderedFields = form.second_step_ordered_fields.vars.value|split(',') %}
                            {% if orderedFields|length  > 0 %}
                                {{ include('FaAdBundle:AdPost:secondStepPropertyFields.html.twig') }}
                            {% endif %}
                        {% endif %}
                        <div class="small-wrapper">
                            {{ form_widget(form.save, {'attr': {'class':'primary-btn-1 expand'}}) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
            {{ include('FaAdBundle:AdPost:paaPageHelp.html.twig', {'paaBlockSlug': 'paa-property-second-step'}) }}
        </div>
    </div>
{% endblock %}

{% block scriptbottom %}
    <script language="javascript" type="text/javascript">
    //<![CDATA[
        $(document).ready(function(){
            bindCapsuleButtonEvent('rent_per_id', 'radio');
            bindCapsuleButtonEvent('ad_type_id', 'radio');
        });
        
        function bindCapsuleButtonEvent(field, fieldType){
           var fieldChoice = field.replace('_id', '') + '_choice';
           $('.'+fieldChoice).click(function(){
               var choiceId    = $(this).attr('id');
               var selectedId = choiceId.replace(fieldChoice+'_', '');
    
               if (fieldType == 'drop-down') {
                   if ($('#'+choiceId).hasClass('active')) {
                       $('.'+fieldChoice).removeClass('active');
                       selectedId = '';
                   } else {
                       $('.'+fieldChoice).removeClass('active');
                       $('#'+choiceId).addClass('active');
                   }
                   $('#fa_paa_second_step_property_'+field).val(selectedId);
               } else if (fieldType == 'radio') {
                   $('.'+fieldChoice).removeClass('active');
                   $('#'+choiceId).addClass('active');
                   $("input[name='fa_paa_second_step_property["+field+"]'][value='"+selectedId+"']").attr('checked', true);
               }
           });
        }
    //]]>
    </script>
    {{ include('FaAdBundle:AdPost:secondStepJs.html.twig', {'categoryName' : 'property'}) }}
    {{ include('FaContentBundle:Default:tinyMceJs.html.twig', {'plugins' : 'autoresize', 'autoresizeOptions': 'autoresize_bottom_margin: 0, autoresize_min_height: 100, autoresize_max_height: 500,', 'toolbar1' : 'bold italic underline, bullist numlist', 'toolbar2' : 'false', 'menubar' : 'false', 'statusbar': 'true', 'charCounter' : 'true' }) }}
{% endblock %}