{% extends 'FaFrontendBundle::layout.html.twig' %}
{% form_theme form 'FaFrontendBundle:Form:fields.html.twig' %}

{% block page_title %}
    {{'Create your advert'|trans({}, 'frontend-paa')}}
{% endblock %}

{% block scripttop %}
    <link rel="stylesheet" href="{{ asset('/build/css/paa.css') }}">
{% endblock %}

{% block body %}
    <div class="paa-block">
        <div class="posting-bg">
            <div class="container">
                <div class="row">
                    {{ include('FaAdBundle:AdPost:paaStepsList.html.twig', {'step' : 2}) }}
                    <div id="middle-column" class="col-md-12 medium-col step-one">
                        <div>
                            <a href="{{ path('ad_post_first_step', {'is_edit' : 1}) }}" class="paa-back-arrow" title="{{ 'Go back'|trans({}, 'frontend-paa') }}">{{ 'Go back'|trans({}, 'frontend-paa') }}</a>
                        </div>
                        <div class="col-md-24 d-flex justify-content-center">
                            <h1 class="s-h1 paa-title col-md-24 col-lg-18 text-center">{{ 'Create your advert'|trans({}, 'frontend-paa-second-step') }} </h1>
                        </div>

                        <div class="change-category mt30">
                            {#<div class="left cat-name-wrap">
                                {% set categoryId = attribute(first_step_data, 'category_id') %}
                                {% set categoryPathArray = fetch_repository('FaEntityBundle:Category').getCategoryPathArrayById(categoryId, false, fetch_container_instance()) %}
                                {% set categorykeys = categoryPathArray|keys %}
                                <span>{{ 'Category'|trans({}, 'frontend-paa-second-step') }}:</span> {{ categoryPathArray|last('<span class="seperator"></span>')|raw }}
                            </div>#}
                            <div class="text-left cat-name-wrap" style="display: inline-flex;">
                                {% set categoryId = attribute(first_step_data, 'category_id') %}
                                {% set categoryPathArray = fetch_repository('FaEntityBundle:Category').getCategoryPathArrayById(categoryId, false, fetch_container_instance()) %}
                                {% set categorykeys = categoryPathArray|keys %}
                                <span>{{ 'Category'|trans({}, 'frontend-paa-second-step') }}:</span>
                                {{ categoryPathArray|last('<span class="seperator"></span>')|raw }}
                            </div>
                            <div class="text-right edit-category">
                                <a href="{{ path('ad_post_first_step', {'is_edit' : 1}) }}" title="{{ 'Change category'|trans({}, 'frontend-paa-second-step') }}">{{ 'Change'|trans({}, 'frontend-paa-second-step') }}</a>
                            </div>
                        </div>
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            {{ form_errors(form) }}
                            {% if categoryId is not null %}
                                {% set orderedFields = form.second_step_ordered_fields.vars.value|split(',') %}
                                <hr class="grey-hr mb0">
                                {% if orderedFields|length  > 0 %}
                                    {{ include('FaAdBundle:AdPost:secondStepAdultFields.html.twig') }}
                                {% endif %}
                            {% endif %}
                            <div class="col-md-24 d-flex justify-content-center">
                                {{ form_widget(form.save, {'attr': {'class':'primary-btn-1 btn btn-block col-md-24 col-lg-16 next-btn'}}) }}
                            </div>
                        {{ form_end(form) }}
                    </div>
                    {{ include('FaAdBundle:AdPost:paaPageHelp.html.twig', {'paaBlockSlug': 'paa-adult-second-step'}) }}
                </div>
            </div>
        </div>
    </div>
        {% endblock %}

{% block scriptbottom %}
    {{ include('FaAdBundle:AdPost:secondStepJs.html.twig', {'categoryName' : 'adult'}) }}
    {{ include('FaContentBundle:Default:tinyMceJs.html.twig', {'plugins' : 'autoresize', 'autoresizeOptions': 'autoresize_bottom_margin: 0, autoresize_min_height: 100, autoresize_max_height: 500,', 'toolbar1' : 'bold italic underline, bullist numlist', 'toolbar2' : 'false', 'menubar' : 'false', 'statusbar': 'true', 'charCounter' : 'true' }) }}
{% endblock %}
