{% extends 'FaFrontendBundle::layout.html.twig' %}
{% form_theme form 'FaFrontendBundle:Form:fields.html.twig' %}

{% block page_title %}
    {{'Describe your item'|trans({}, 'frontend-paa')}}
{% endblock %}

{% block body %}
    <div class="posting-bg">
        <div class="fad-sign-bdr">&nbsp;</div>
        <div class="row paa-main">
            {{ include('FaAdBundle:AdPost:paaStepsList.html.twig', {'step' : 2}) }}
            <div id="middle-column" class="large-12 columns">
                <a href="{{ path('ad_post_first_step', {'is_edit' : 1}) }}" class="paa-back-arrow" title="{{ 'Go back'|trans({}, 'frontend-paa') }}">{{ 'Go back'|trans({}, 'frontend-paa') }}</a>
                <h1 class="text-center paa-title">{{ 'Describe your item and choose your price'|trans({}, 'frontend-paa-second-step') }} </h1>
                <div class="big-wrapper">
                    <div class="C">
                        <div class=" left cat-name-wrap media-object" style="display: inline-flex;">
                            <div class="media-object-section">
                                <span>{{ 'Category'|trans({}, 'frontend-paa-second-step') }}:</span>
                            </div>
                            {% set categoryId = attribute(first_step_data, 'category_id') %}
                            <div class="media-object-section">
                                <p>{{ fetch_repository('FaEntityBundle:Category').getCategoryPathArrayById(categoryId, false, fetch_container_instance())|last('<span class="seperator"></span>')|raw }}</p>
                            </div>
                        </div>
                    </div>
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        {{ form_errors(form) }}
                        {% if categoryId is not null %}
                            {% set orderedFields = form.second_step_ordered_fields.vars.value|split(',') %}
                            {% if orderedFields|length  > 0 %}
                                {% for field in orderedFields %}
                                    {{ include('FaAdBundle:AdPost:secondStepAnimalsFields.html.twig', {'form': form, 'field': field}) }}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        <div class="small-wrapper">
                            {{ form_widget(form.save, {'attr': {'class':'primary-btn-1 expand'}}) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
            {{ include('FaAdBundle:AdPost:paaPageHelp.html.twig', {'paaBlockSlug': 'paa-animals-second-step'}) }}
        </div>
    </div>
{% endblock %}

{% block scriptbottom %}
    {{ include('FaAdBundle:AdPost:secondStepJs.html.twig', {'categoryName' : 'animals'}) }}
    {{ include('FaContentBundle:Default:tinyMceJs.html.twig', {'plugins' : 'autoresize', 'autoresizeOptions': 'autoresize_bottom_margin: 0, autoresize_min_height: 100, autoresize_max_height: 500,', 'toolbar1' : 'bold italic underline, bullist numlist', 'toolbar2' : 'false', 'menubar' : 'false', 'statusbar': 'true', 'charCounter' : 'true' }) }}
{% endblock %}

