{% extends 'FaFrontendBundle::layout.html.twig' %}

{% block title %}
    {{'My purchases'|trans({}, 'frontend-my-purchases')}}
{% endblock %}

{% block scripttop %}
    <link rel="stylesheet" href="{{ asset('build/css/dashboard.css') }}"/>
{% endblock %}

{% set container = fetch_container_instance() %}
{% set paymentRepository = fetch_repository('FaPaymentBundle:Payment') %}
{% set userRepository = fetch_repository('FaUserBundle:User') %}
{% set deliveryStatusArray = paymentRepository.getDeliveryStatusOptionsArray(container) %}
{% set entityCacheManager = container.get('fa.entity.cache.manager') %}

{% block body -%}
    <div class="dash-block">
        <div class="posting-bg">
            <div class="container">
                {{ include('FaUserBundle:Default:leftCanvasMenuLink.html.twig') }}
                <div class="row d-board-main">
                <div class="off-canvas-wrap" data-offcanvas>
                    <div class="inner-wrap">
                        {{ include('FaUserBundle:Default:userLeftMenu.html.twig') }}
                        <div class="col-md-19 d-right-col" id="db-right-part">
                            <h1 class="s-h1 db-title mt30 mb20">{{'Purchases'|trans({}, 'frontend-my-purchases')}}</h1>
                            <h2 class="s-h2 mb10">From here you can keep track of orders you have made and get receipts for any online purchases made through paypal.</h2>

                            <div id="leave_review_modal" class="reveal-modal" data-reveal></div>

                            {% if pagination.getNbResults() %}
                            {% for paymentDetail in pagination.getCurrentPageResults() %}
                                {% set paymentValue = array_unserialize(paymentDetail['value']) %}
                                {% set orderId = paymentDetail['payment_id'] %}
                                {% if paymentDetail['user_status_id'] == constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::USER_STATUS_ACTIVE_ID') %}
                                    {% set profileUrl = container.get('fa_ad.manager.ad_routing').getProfilePageUrl(paymentDetail['seller_id']) %}
                                    {% set userStatusText = entityCacheManager.getEntityNameById('FaEntityBundle:Entity', paymentDetail['user_status_id']) %}
                                {% else %}
                                    {% set profileUrl = '#' %}
                                    {% set userStatusText = entityCacheManager.getEntityNameById('FaEntityBundle:Entity', paymentDetail['user_status_id']) %}
                                {% endif %}

                                {% set objMessage = fetch_repository('FaMessageBundle:Message').getLastConversionOfTwoUsersForAd(paymentDetail['ad_id'], paymentDetail['buyer_id'], paymentDetail['seller_id']) %}
                                <div class="own-item search-alert-block">
                                    <div class="media" id="order_{{ paymentDetail['payment_id'] }}">
                                        <div class="col-md-18 col-lg-18 l-block">
                                            <div>
                                                <span class="mr-3">
                                                    <b>{{'Order no.'|trans({}, 'frontend-my-purchases')}}</b>
                                                </span>
                                                <span>{{paymentDetail['cart_code']}}</span>
                                            </div>
                                            <div>
                                                <span class="mr-3">
                                                    <b>{{'Item'|trans({}, 'frontend-my-purchases')}}</b>
                                                </span>
                                                <span>
                                                    <a target="_blank" href="{{ container.get('router').generate('ad_detail_page_by_id', {'id': paymentDetail['ad_id']}, true) }}">{{paymentDetail['title']}}</a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 r-block mob-purc-t-space">
                                            <a class="secondary-btn-1 xs-thin-btn btn btn-block small-btn float-right showmoreDetails" data-toggle="collapse" aria-expanded="false" aria-controls="showdetailscollapse-01" role="button" href="#showdetailscollapse-01"></a>
                                            <button class="xs-btn-1 button order-details-btn purchase-details-btn" id="order_detail_button_{{orderId}}" onclick="toggleOrderDetail('{{orderId}}')">{{ 'Show details'|trans({}, 'frontend-my-orders') }}</button>
                                        </div>
                                    </div>
                                    <div class="collapse" id="order_detail_div_{{orderId}}">
                                        <div class="media mt20">
                                            <div class="col-md-6 col-lg-6 r-block mt20">
                                                <button class="xs-btn-2 btn btn-block order-receipt-btn small-btn"><span class="view-icon">View receipt</span></button>
                                                <button class="xs-btn-2 btn btn-block small-btn"><span class="print-receipt-icon">Print receipt</span></button>
                                                <div class="purchase-link-list float-right mt10">
                                                    <a class="" href="javascript:void(0)" title="Leave a review" >Leave a review</a>
                                                </div>
                                            </div>
                                            <div class="col-md-18 col-lg-18 l-block">
                                                <div>
                                                    <span class="mr-3">
                                                        <label class="mb0">{{'Order placed'|trans({}, 'frontend-my-purchases')}}</label>
                                                    </span>
                                                    <span>{{ staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'formatDate', [paymentDetail['created_at'], container]) }}</span>
                                                </div>
                                                <div>
                                                    <span class="mr-3">
                                                        <label class="mb0">{{'Total price'|trans({}, 'frontend-my-purchases')}}</label>
                                                    </span>
                                                    <span>{{ format_currency(paymentDetail['amount']) }}</span>
                                                </div>
                                                <div>
                                                    <span class="mr-3">
                                                        <label class="mb0">{{'Sold by'|trans({}, 'frontend-my-purchases')}}</label>
                                                    </span>
                                                    <span>
                                                        {% if paymentDetail['user_status_id'] == constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::USER_STATUS_ACTIVE_ID') %}
                                                            <a target="_blank" href="{{profileUrl}}">{{ userRepository.getFullNameFromArray(paymentDetail) }}</a>
                                                        {% else %}
                                                            {{ userRepository.getFullNameFromArray(paymentDetail) }} <i>({{userStatusText}})</i>
                                                        {% endif %}
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="mr-3"><label class="mb0">{{'Order status'|trans({}, 'frontend-my-purchases')}}</label></span>
                                                    <span>
                                                        {% if deliveryStatusArray[paymentDetail['buy_now_status_id']] is defined %}
                                                            {{ deliveryStatusArray[paymentDetail['buy_now_status_id']] }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="mr-3">
                                                        <label class="mb0">{{'Delivey method'|trans({}, 'frontend-my-purchases')}}</label>
                                                    </span>
                                                    <span>
                                                        {% set paymentDetailValuesArray = array_unserialize(paymentDetail['value']) %}
                                                        {% if paymentDetail['delivery_method_id'] !=  constant('Fa\\Bundle\\PaymentBundle\\Repository\\DeliveryMethodOptionRepository::COLLECTION_ONLY_ID') and paymentDetailValuesArray['delivery_address_id'] != -1 %}
                                                            {{'Post to'|trans({}, 'frontend-my-purchases')}}:
                                                        {% endif %}
                                                        {% if paymentDetail['delivery_method_id'] !=  constant('Fa\\Bundle\\PaymentBundle\\Repository\\DeliveryMethodOptionRepository::COLLECTION_ONLY_ID') and paymentDetailValuesArray['delivery_address_id'] != -1 %}
                                                            {{ app.user.getUserFullName() }}<br />
                                                            {% set paymentDeliveryAddressArray = paymentDetailValuesArray['delivery_address_info'] %}
                                                            {% if paymentDeliveryAddressArray['street_address'] is defined %}
                                                                {% if paymentDeliveryAddressArray['street_address'] is defined %}
                                                                    {{paymentDeliveryAddressArray['street_address']}}&nbsp;
                                                                {% endif %}
                                                                {% if paymentDeliveryAddressArray['street_address_2'] is defined %}
                                                                    {{paymentDeliveryAddressArray['street_address_2']}}, <br />
                                                                {% endif %}
                                                                {% if paymentDeliveryAddressArray['town_name'] is defined %}
                                                                    {{paymentDeliveryAddressArray['town_name']}}, <br />
                                                                {% endif %}
                                                                {% if paymentDeliveryAddressArray['domicile_name'] is defined %}
                                                                    {{paymentDeliveryAddressArray['domicile_name']}}, <br />
                                                                {% endif %}
                                                                {% if paymentDeliveryAddressArray['zip'] is defined %}
                                                                    {{paymentDeliveryAddressArray['zip']}}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% else %}
                                                            {{'Buyer will collect the item.'|trans({}, 'frontend-my-purchases')}}
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="large-6 columns">
                                                <button class="xs-btn-2 button expand order-receipt-btn" onclick="viewReceipt('{{orderId}}');"><span class="view-icon">{{'View receipt'|trans({}, 'frontend-my-purchases')}}</span></button>
                                                <button class="xs-btn-2 button expand mb10" onclick="printReceipt('{{orderId}}');"><span class="print-receipt-icon">{{'Print receipt'|trans({}, 'frontend-my-purchases')}}</span></button>
                                                <div class="purchase-link-list">
                                                    {% if paymentDetail['user_status_id'] == constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::USER_STATUS_ACTIVE_ID') %}
                                                        {{ include('FaUserBundle:Review:leaveReviewLink.html.twig', {'reviewDetails' : paymentDetail, 'to_whom' : 'advertiser'}) }}<br />
                                                        {% if objMessage.getId() is defined and  objMessage.getId() == 1 %}
                                                            <a href="javascript:void(0);" onclick="return contactUser('{{ paymentDetail['payment_id'] }}', '{{ paymentDetail['ad_id'] }}', '{{ paymentDetail['user_id'] }}', '{{ paymentDetail['seller_id'] }}');">{{'Send seller a message'|trans({}, 'frontend-my-purchases')}}</a>
                                                        {% elseif objMessage.getId() is defined %}
                                                            {% if objMessage.getReceiver().getId() is defined and objMessage.getReceiver().getId() == app.user.getId() %}
                                                                {% set messageType = 'receiver' %}
                                                            {% else %}
                                                                {% set messageType = 'sender' %}
                                                            {% endif %}
                                                            <a href="{{path('user_ad_message_reply', {'type': messageType, 'replyId': objMessage.getId()})}}">{{'Send seller a message'|trans({}, 'frontend-my-purchases')}}</a>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="pagination-centered">
                                {{ include('FaFrontendBundle:Default:googlePager.html.twig', {'pagination': pagination, 'addToEndPage': 0, 'seoPager': false}) }}
                            </div>
                        {% else %}
                            <div class="p15">{{ 'No records found.'|trans({}, 'frontend-my-purchases') }}</div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div id="messageUserModal" class="reveal-modal" data-reveal></div>
    </div>
{% endblock %}

{% block scriptbottom %}
{{ include('FaUserBundle:Review:reviewJs.html.twig', {'success_url': app.request.getUri}) }}
{{ include('FaCoreBundle::starRatingJs.html.twig') }}
{{ include('FaCoreBundle:Default:blockJs.html.twig') }}
<script language="javascript" type="text/javascript">
//<![CDATA[
    $( document ).ready(function() {
        {% if recordPositionArray is defined and recordPositionArray|length and recordPositionArray['id'] is defined %}
            toggleOrderDetail({{recordPositionArray['id']}});
            scrollToElement($('#order_{{recordPositionArray['id']}}'));
        {% endif %}
    });
    function toggleOrderDetail(orderId)
    {
        var buttonText = '';
        if ($('#order_detail_div_'+orderId).css('display') == 'none') {
            buttonText = "{{ 'Hide details'|trans({}, 'frontend-my-orders') }}";
        } else {
        	buttonText = "{{ 'Show details'|trans({}, 'frontend-my-orders') }}";
        }
        $('#order_detail_button_'+orderId).html(buttonText);
        $('#order_detail_div_'+orderId).toggle('slow');
    }

    function viewReceipt(orderId)
    {
    	var route = Routing.generate('order_receipt', { 'orderId': orderId, 'action':'viewonly' });
    	window.open(route,"Order receipt", "height=600, width=750, status=no, titlebar=no, menubar=no, location=no, toolbar=no, resizable=no");
    }

    function printReceipt(orderId)
    {
    	var route = Routing.generate('order_receipt', { 'orderId': orderId, 'action':'viewandprint' });
    	window.open(route,"Order receipt", "height=600, width=750, status=no, titlebar=no, menubar=no, location=no, toolbar=no, resizable=no");
    }

    function contactUser(orderId, adId, senderId, buyerId)
    {
        blockPage();
        var route = Routing.generate('contact_user', { 'adId': adId, 'senderId': senderId, 'receiverId': buyerId, 'whoToWhome': 'B2S' });
        $.ajax({
            type: "GET",
            url : route,
            data : {'redirectUrl': '{{app.request.getUri()}}'},
        })
        .always(function(response) {
            unblockPage();
        })
        .done(function(response) {
            hideAlertMessage();
            if (response.htmlContent.length) {
                $('#messageUserModal').html(response.htmlContent);
                $('#messageUserModal').foundation('reveal', 'open');
            } else if (response.error.length) {
                $(decorateMessage(response.error, 'alert')).insertBefore('#order_'+orderId);
            } else if (response.redirectToUrl.length) {
                window.location.href = response.redirectToUrl;
            }
        });
    }
//]]>
</script>
{% endblock %}