{% block search_html %}
<div class="row">
    <div class="columns">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'outline'}}) }}
        {{ form_errors(form) }}
            <div class="row">
	            <div class="large-6 columns">
	                {{ form_widget(form.landing_page__h1_tag, {'attr': {'class':'form-control', 'placeholder': 'Landing page title'|trans }}) }}
	            </div>
	            <div class="large-6 columns">
	                {{ form_widget(form.landing_page__type, {'attr': {'class':'form-control' }}) }}
	            </div>
            </div>
            <div class="search_box">
	            <div class="row">
		            <div class="large-6 columns">
		                {{ form_widget(form.landing_page__status, {'attr': {'class':'form-control' }}) }}
		            </div>
		            <div class="large-6 columns">
		                {{ form_widget(form.search, {'attr': {'class':'small button mb0'}}) }}
		            </div>
	            </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}