{% extends 'FaFrontendBundle::simpleLayout.html.twig' %}
{% form_theme form 'FaFrontendBundle:Form:fields.html.twig' %}

{% block body %}
    <div class="simple-wrapper">
        <h1 class="simple-heading">{{'Reset Password'|trans({}, 'frontend-reset-password')}}</h1>
        {{ include('FaCoreBundle::message.html.twig') }}
        {% if error is defined %}
            <div data-alert class="alert-box alert radius">
                <span class="alert-icon">&nbsp;</span>
                {{ error.message }}
                <a href="javascript:void(0)" class="close">&times;</a>
            </div>
        {% endif %}
        <div class="small-wrapper">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form.password, {'attr': {'class' : 'white-input-fields'}}) }}
                {{ form_widget(form.Reset, {'attr': {'class': 'secondary-btn-1 btn btn-block mb0'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}