{% form_theme form 'FaFrontendBundle:Form:fields.html.twig' %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'outline'}}) }}
{{ form_errors(form) }}
<div id="respond-review-msg-error">
    {{ form_errors(form.message) }}
</div>
{{ form_widget(form.message) }}
<div class="text-right">
    {{ form_widget(form.save, {'attr': {'class': 'primary-btn-2 thin-btn btn mb0'}}) }}
</div>
{{ form_end(form) }}