{% extends 'FaFrontendBundle::layout.html.twig' %}
{% set container = fetch_container_instance() %}

{% block title %}
    {{'Review'|trans({}, 'frontend-review')}}
{% endblock %}

{% block scripttop %}
    <link rel="stylesheet" href="{{ asset('build/css/dashboard.css') }}"/>
{% endblock %}


{% set currentRoute = app.request.attributes.get('_route') %}
{% block body -%}
<div class="dash-block">
    <div id="leave_review_modal" class="modal custom-modal"></div>
    <div class="posting-bg">
        <div class="container">
            <div class="row d-board-main">
                {{ include('FaUserBundle:Default:leftCanvasMenuLink.html.twig') }}
                <div class="off-canvas-wrap" data-offcanvas>
                    <div class="inner-wrap">
                        {{ include('FaUserBundle:Default:userLeftMenu.html.twig') }}
                        <div id="db-right-part" class="col-md-19 d-right-col">
                            <h1 class="s-h1 db-title mt30">{{ 'Reviews' }}</h1>
                            <h2 class="s-h2 mb10">{{ 'Let other Friday-Ad users to know when someone is a good seller, leave a review about sellers you have bought from or sent messages to.'|trans({}, 'frontend-review') }}</h2>
                            {{ include('FaUserBundle:Review:reviewTabs.html.twig') }}
                            <div class="tab-content review-tabs">
                                <div class="tab-pane fade show active">
                                    {% if pagination.getNbResults() %}
                                        {% for review in pagination.getCurrentPageResults() %}
                                            {{ include('FaUserBundle:Review:list.html.twig', {'review' : review}) }}
                                        {% endfor %}
                                        <div class="pagination-centered">
                                            {{ include('FaFrontendBundle:Default:googlePager.html.twig', {'pagination': pagination, 'addToEndPage': 0, 'seoPager': false}) }}
                                        </div>
                                    {% else %}
                                        <div class="p15">{{ 'No records found.'|trans({}, 'frontend-reivew') }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptbottom %}
{{ include('FaUserBundle:Review:reviewJs.html.twig', {'success_url': app.request.getUri}) }}
{{ include('FaCoreBundle::starRatingJs.html.twig') }}
{{ include('FaUserBundle:Review:reviewResponseJs.html.twig', {'success_url': app.request.getUri}) }}
<script language="javascript" type="text/javascript">
//<![CDATA[
    $(document).ready(function(){
        /*
        $('.respond_link').click(function(event){
            var reviewId = $(this).attr('id').replace('respond_link_', '');
            $('.respond_box').hide();
            $('#respond_box_'+reviewId).show();
        });

        $('.respond_btn').click(function(event){
            var reviewId = $(this).attr('id').replace('respond_btn_', '');
            var reviewMessage = $('#message_'+reviewId).val();
            console.log(reviewMessage);
            return false;
        });*/
    });
//]]>
</script>
{% endblock %}