<div class="my-msg-box">
    {% set userLogo = null %}
    {% set userProfileNameDetail = {'first_name': review.user_first_name, 'last_name': review.user_last_name, 'business_name': review.user_business_name} %}
    {% set profileName = fetch_repository('FaUserBundle:User').getProfileNameFromArray(userProfileNameDetail) %}
    <a href="javascript:void(0)" class="tricky-link show-for-small-only">{{ profileName }}</a>
    <div class="clearfix">
        <div class="large-3 columns">
            
            {% if (review.user_role_id == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_BUSINESS_SELLER_ID') or review.user_role_id == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_NETSUITE_SUBSCRIPTION_ID')) %}
                {% set userLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogo', [fetch_container_instance(), review.user_company_image, review.user_id, null, null, true, true, review.user_status_id, profileName]) %}
            {% endif %}
            {% if review.user_role_id == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_SELLER_ID') %}
                {% set userLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogo', [fetch_container_instance(), review.user_image, review.user_id, null, null, true, false, review.user_status_id, profileName]) %}
            {% endif %}
            <div class="my-msg-usericon {% if review.user_role_id == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_SELLER_ID') %}rounded{% endif %}">
                {% if userLogo %}
                    {{userLogo|raw}}
                {% else %}
                    <img src="{{ asset_url('fafrontend/images/user-icon.svg') }}" alt="" />
                {% endif %}
            </div>
        </div>
        <div class="large-21 columns my-msg-content">
            <div class="clearfix my-msg-heading">
                <h3>{{ 'You have left review for %user_name%'|trans({'%user_name%' : profileName}, 'frontend-review') }}</h3>
                <span>{{review['created_at']|time_ago_in_words}}</span>
            </div>

            <div class="clearfix outside-tricky">
                <div class="my-review-title">
                    {% if review.user_review_ad_id > 0 %}
                        <a href="{{ container.get('router').generate('ad_detail_page_by_id', {'id': review.ad_id}, true) }}">{{ review.ad_title }}</a>
                    {% else %}
                        {{ review.subject }}
                    {% endif %}
                </div>
                <div class="user-rating">
                    {{ include('FaCoreBundle::showStarRating.html.twig', {'rating': review.rating}) }}
                </div>
            </div>

            <div class="user-review-content respond-description clearfix">
                <div class="large-18 columns">{{ review.message }}</div>
                <div class="large-6 columns"></div>
            </div>

            {% set respond = fetch_repository('FaUserBundle:UserReview').getUserReviewResponse(review.id, review.user_id) %}
            {% if respond|length and respond.status == 1 %}
                <div class="clearfix">
                    <div class="large-3 columns">
                        {% set userLogo = null %}
                        {% set userProfileNameDetail = {'first_name': respond.responder_first_name, 'last_name': respond.responder_last_name, 'business_name': respond.responder_business_name} %}
                        {% set profileName = fetch_repository('FaUserBundle:User').getProfileNameFromArray(userProfileNameDetail) %}
                        {% if (respond.responder_role_id == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_BUSINESS_SELLER_ID') or respond.responder_role_id == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_NETSUITE_SUBSCRIPTION_ID')) %}
                            {% set userLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogo', [fetch_container_instance(), respond.responder_company_image, respond.responder_id, null, null, true, true, respond.responder_status_id, profileName]) %}
                        {% endif %}
                        {% if respond.responder_role_id == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_SELLER_ID') %}
                            {% set userLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogo', [fetch_container_instance(), respond.responder_image, respond.responder_id, null, null, true, false, respond.responder_status_id, profileName]) %}
                        {% endif %}
                        <div class="my-msg-usericon respond-icon">
                            {% if userLogo %}
                                {{userLogo|raw}}
                            {% else %}
                                <img src="{{ asset_url('fafrontend/images/user-icon.svg') }}" alt="" />
                            {% endif %}
                        </div>
                    </div>
                    <div class="large-21 columns">
                        <div class="clearfix my-msg-heading">
                            <h3>{{ '%responder_name% responded to this review'|trans({'%responder_name%' : profileName}, 'frontend-review')}}</h3>
                        </div>
                        {{ respond.message }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>