{% set respond = fetch_repository('FaUserBundle:UserReview').getUserReviewResponse(review.id, review.user_id) %}
<div class="my-msg-box">
    <div class="relative">
        {% set userLogo = null %}
        {% set userProfileNameDetail = {'first_name': review.reviewer_first_name, 'last_name': review.reviewer_last_name, 'business_name': review.reviewer_business_name} %}
        {% set profileName = fetch_repository('FaUserBundle:User').getProfileNameFromArray(userProfileNameDetail) %}
        <a href="{{ path('user_review_show', {'id':review.id})}}" class="tricky-link show-for-small-only">{{ profileName }}</a>
        <div class="clearfix">
            <div class="large-3 columns">
                
                {% if review.reviewer_role_id == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_BUSINESS_SELLER_ID') %}
                    {% set userLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogo', [fetch_container_instance(), review.reviewer_company_image, review.reviewer_id, null, null, true, true, review.reviewer_status_id, profileName]) %}
                {% endif %}
                {% if review.reviewer_role_id == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_SELLER_ID') %}
                    {% set userLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogo', [fetch_container_instance(), review.reviewer_image, review.reviewer_id, null, null, true, false, review.reviewer_status_id, profileName]) %}
                {% endif %}
                <div class="my-msg-usericon {% if review.reviewer_role_id == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_SELLER_ID') %}rounded{% endif %}">
                    {% if userLogo %}
                        {{userLogo|raw}}
                    {% else %}
                        <img src="{{ asset_url('fafrontend/images/user-icon.svg') }}" alt="" />
                    {% endif %}
                </div>
            </div>
            <div class="large-21 columns my-msg-content">
                <div class="clearfix my-msg-heading">
                    <h3>{{ profileName }}</h3>
                    <span>{{review['created_at']|time_ago_in_words}}</span>
                </div>

                <div class="clearfix">
                    <div class="my-review-title">
                        {% if review.user_review_ad_id > 0 %}
                            <a href="{{ container.get('router').generate('ad_detail_page_by_id', {'id': review.ad_id}, true) }}" class="outside-tricky">{{ review.ad_title }}</a>
                        {% else %}
                            {{ review.subject }}
                        {% endif %}
                    </div>
                    <div class="user-rating">
                        {{ include('FaCoreBundle::showStarRating.html.twig', {'rating': review.rating}) }}
                    </div>
                </div>

                <div class="user-review-content respond-description clearfix">
                    <div class="large-18 columns">{{ review.message }}</div>
                    <div class="large-6 columns hide-for-small-only">
                        {% set reviewDetails = {'ad_id':review.user_review_ad_id, 'title':(review.ad_title ? review.ad_title : review.subject), 'user_id':review.reviewer_id, 'first_name':review.reviewer_first_name, 'last_name':review.reviewer_last_name, 'business_name':review.reviewer_business_name, 'user_status_id':review.reviewer_status_id } %}
                        {% set review_link_text = 'Review this buyer'|trans({}, 'frontend-review') %}
                        {% set to_whom = 'buyer' %}
                        {% if review.is_seller %}
                            {% set to_whom = 'advertiser' %}
                            {% set review_link_text = 'Review this advertiser'|trans({}, 'frontend-review') %}
                        {% endif %}
                       {{ include('FaUserBundle:Review:leaveReviewLink.html.twig', {'reviewDetails' : reviewDetails, 'to_whom' : to_whom, 'review_link_text' : review_link_text}) }}
                    </div>
                </div>
                <div class="user-review-content clearfix respond-review hide-for-small-only">
                    <div class="large-18 columns">
                        {% if respond|length == 0 %}
                            <div class="mt5 outside-tricky">
                                <a href="javascript:void(0)" class="response_link" id="response_link_{{ review.id }}" title="{{ 'Respond to this review'|trans({}, 'frontend-review') }}" onClick="loadResponseForm('{{ review.id }}', '{{ review.user_id }}')">{{ 'Respond to this review'|trans({}, 'frontend-review') }}</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="large-6 columns outside-tricky">&nbsp;</div>
                </div>

                {% if respond|length and respond.status == 1 %}
                    <div class="clearfix reply-review hide-for-small-only">
                        <div class="large-3 columns">
                            {% set userLogo = null %}
                            {% set userProfileNameDetail = {'first_name': respond.responder_first_name, 'last_name': respond.responder_last_name, 'business_name': respond.responder_business_name} %}
                            {% set profileName = fetch_repository('FaUserBundle:User').getProfileNameFromArray(userProfileNameDetail) %}
                            {% if respond.responder_role_id == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_BUSINESS_SELLER_ID') %}
                                {% set userLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogo', [fetch_container_instance(), respond.responder_company_image, respond.responder_id, null, null, true, true, respond.responder_status_id, profileName]) %}
                            {% endif %}
                            {% if respond.responder_role_id == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_SELLER_ID') %}
                                {% set userLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogo', [fetch_container_instance(), respond.responder_image, respond.responder_id, null, null, true, false, respond.responder_status_id, profileName]) %}
                            {% endif %}
                            <div class="my-msg-usericon respond-icon">
                                {% if userLogo %}
                                    {{userLogo|raw}}
                                {% else %}
                                    <img src="{{ asset_url('fafrontend/images/user-icon.svg') }}" alt="" />
                                {% endif %}
                            </div>
                        </div>
                        <div class="large-21 columns">
                            <div class="clearfix my-msg-heading">
                             <h3>{{ '%responder_name% responded to this review'|trans({'%responder_name%' : profileName}, 'frontend-review')}}</h3>
                            </div>
                            {{ respond.message }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="write-reply mb0 respond_box" style="display:none" id="respond_box_{{ review.id }}"></div>
</div>