{% if currentRoute == 'dashboard_home' %}
    {% set fromBuyersRoute = path('dashboard_home', {'reviewType': 'from_buyers' }) %}
    {% set fromSellersRoute = path('dashboard_home', {'reviewType': 'from_sellers' }) %}
    {% set leftForOthersRoute = path('dashboard_home', {'reviewType': 'left_for_others'}) %}
    {% set reviewType = app.request.get('reviewType') %}
{% else %}
    {% set fromBuyersRoute = path('user_review_list', {'type':'from_buyers'}) %}
    {% set fromSellersRoute = path('user_review_list', {'type':'from_sellers'}) %}
    {% set leftForOthersRoute = path('user_review_left_for_others') %}
    {% set reviewType = app.request.get('type') %}
{% endif %}
<nav>
    <div class="nav nav-tabs nav-fill custom-tabs">
        <a class="nav-item nav-link {% if (currentRoute == 'dashboard_home') and (reviewType == '' or reviewType == 'from_buyers') %} active {% endif %}" href="{{ fromBuyersRoute }}">
            {{ 'From <br />buyers'|trans({}, 'frontend-review')|raw }} <span>({{ reviewFromBuyerCount }})</span>
        </a>
        <a class="nav-item nav-link {% if (currentRoute == 'dashboard_home') and (reviewType == 'from_sellers') %} active {% endif %}" href="{{ fromSellersRoute }}">
            {{ 'From <br />sellers'|trans({}, 'frontend-review')|raw }} <span>({{ reviewFromSellerCount }})</span>
        </a>
        <a class="nav-item nav-link {% if (currentRoute == 'user_review_left_for_others') or (reviewType == 'left_for_others') %} active {% endif %}"  href="{{ leftForOthersRoute }}">
            {{ 'Left <br />for others'|trans({}, 'frontend-review')|raw }} <span>({{ reviewLeftForOthersCount }})</span>
        </a>
    </div>
</nav>