{% block googlemap_location_html %}
    {% if latitude is defined and latitude and longitude is defined and longitude %}
        {# <div id="googlemaps" style="height:{{mapHeight}};width:{{mapWidth}}"></div> #}
        <link href="https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet.css" rel="stylesheet" type="text/css"/>
        <div id="mapfit" style="height:{{mapHeight}};width:{{mapWidth}}"></div>
    {% else %}
        <br />
        <div data-alert class="alert-box info radius">
			<span class="alert-icon">&nbsp;</span> {{'No location is found for ad.'}}
		</div>
    {% endif %}    
{% endblock %}

{% block googlemap_location_js %}

    {% set adDetailMapVariables = get_variables('adDetailMap') %}
    {% if adDetailMapVariables['latitude'] is defined and adDetailMapVariables['longitude'] %}
        {% set container = fetch_container_instance() %}
        {# <script src="{{ asset_url('facore/js/googleMap.js') }}?v=1"></script> #}
        {# <script language="javascript" type="text/javascript">
        //<![CDATA[
        {% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
        {% set allowDraggable = 0 %}
        {% if mobileDetectManager.isMobile() and not mobileDetectManager.isTablet() %}
            {% set allowDraggable = 0 %}
        {% endif %}
        var mapLoadedFalg = false;
        $(window).on('load', function() { 
            {% if adDetailMapVariables['mapOnLoad'] is defined and adDetailMapVariables['mapOnLoad'] == 'true' %}
                initializeForAdDetail({{ allowDraggable }});
                showMarker('{{adDetailMapVariables["latitude"]}}', '{{adDetailMapVariables["longitude"]}}');
                showCustomMarker('{{adDetailMapVariables["latitude"]}}', '{{adDetailMapVariables["longitude"]}}', '{{ asset_url('fafrontend/images/map-marker.png') }}');

                {% if adDetailMapVariables['locationField'] is defined and adDetailMapVariables['latlngField'] is defined %}
                    initializeDragable('{{ adDetailMapVariables['locationField'] }}', '{{ adDetailMapVariables['latlngField'] }}');
                {% else %}
                    initializeDragable();
                {% endif %}

                google.maps.event.addListenerOnce(objMap, 'idle', function(){
                    //loaded fully
                    {% if adDetailMapVariables['isShowMap'] is defined and adDetailMapVariables['isShowMap'] == 'false' %}
                        $('#location_map_div').hide();
                    {% else %}
                        $('#location_map_div').show();
                    {% endif %}
                });
            {% else %}
                $('#{{adDetailMapVariables["tabId"]}}').on('toggled', function (event, tab) {
                    if (tab.attr('id') == '{{adDetailMapVariables["mapContentId"]}}' && !mapLoadedFalg) {
                        $('#{{adDetailMapVariables["mapContentId"]}}').show();
                        initializeForAdDetail({{ allowDraggable }});
                        showCustomMarker('{{adDetailMapVariables["latitude"]}}', '{{adDetailMapVariables["longitude"]}}', '{{ asset_url('fafrontend/images/map-marker.png') }}');
                        mapLoadedFalg = true;
                    }
                });
                {% if currentDevice is defined and currentDevice == 'M' and allowAdEdit is defined and allowAdEdit %}
                    {% set allowAdEdit = false %}
                {% endif %}
                {% if not adImages|length and not (allowAdEdit is defined and allowAdEdit) and not youtubeVideoUrl|length %}
                    $('#{{adDetailMapVariables["mapContentId"]}}').show();
                    initializeForAdDetail({{ allowDraggable }});
                    showCustomMarker('{{adDetailMapVariables["latitude"]}}', '{{adDetailMapVariables["longitude"]}}', '{{ asset_url('fafrontend/images/map-marker.png') }}');
                    mapLoadedFalg = true;
                {% endif %}
            {% endif %}
        });
        //]]>
        </script> #}
        
        {% set mapFitkey = '' %}
        {% set mapFitConfig = fetch_repository('FaCoreBundle:ConfigRule').getActiveConfigRulesByCategoryId(constant('Fa\\Bundle\\CoreBundle\\Repository\\ConfigRepository::MAPFIT_API_KEY_ID'), null, 1) %}
        {% if mapFitConfig and mapFitConfig.0.value is defined %}
        	{% set mapFitkey = mapFitConfig.0.value %}
        {% endif %}
        {{ include('FaCoreBundle::mapFitJs.html.twig', {'key' : mapFitkey}) }}
        <script language="javascript" type="text/javascript">
        //<![CDATA[
        {% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
        {% set allowDraggable = 0 %}
        {% if mobileDetectManager.isMobile() and not mobileDetectManager.isTablet() %}
            {% set allowDraggable = 0 %}
        {% endif %}
        {% if adDetail['images'] is defined %}
            {% set adImages = adDetail['images'] %}
         {% endif %} 
        var mapLoadedFalg = false;
        $(window).on('load', function() { 
        	 {% if adDetailMapVariables['mapOnLoad'] is defined and adDetailMapVariables['mapOnLoad'] == 'true' %}
        	 	showMarker('{{adDetailMapVariables["latitude"]}}', '{{adDetailMapVariables["longitude"]}}');
        	 {% else %}
            	 $('#{{adDetailMapVariables["tabId"]}}').on('toggled', function (event, tab) {
                     if (tab.attr('id') == '{{adDetailMapVariables["mapContentId"]}}' && !mapLoadedFalg) {
                         $('#{{adDetailMapVariables["mapContentId"]}}').show();
                         showCustomMarker('{{adDetailMapVariables["latitude"]}}', '{{adDetailMapVariables["longitude"]}}', '{{ asset_url('fafrontend/images/map-marker.png') }}');
                         mapLoadedFalg = true;
                     }
                 });
            	 {% if currentDevice is defined and currentDevice == 'M' and allowAdEdit is defined and allowAdEdit %}
                     {% set allowAdEdit = false %}
                 {% endif %}                 
                 {% if not adImages|length and not (allowAdEdit is defined and allowAdEdit) and not youtubeVideoUrl|length %}
                     $('#{{adDetailMapVariables["mapContentId"]}}').show();
                     showCustomMarker('{{adDetailMapVariables["latitude"]}}', '{{adDetailMapVariables["longitude"]}}', '{{ asset_url('fafrontend/images/map-marker.png') }}');
                     mapLoadedFalg = true;
                 {% endif %}
             {% endif %}
        });
        //]]>
        </script>
    {% endif %}
{% endblock %}