{% set packageRepository  = fetch_repository('FaPromotionBundle:Package') %}
{% set container = fetch_container_instance() %}
{% set totalVat = 0 %}
{% set cartValue = array_unserialize(cart.getValue()) %}
{% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
{% set currentDevice = 'D' %}
{% if mobileDetectManager.isMobile() and not mobileDetectManager.isTablet() %}
    {% set currentDevice = 'M' %}
{% elseif mobileDetectManager.isMobile() and mobileDetectManager.isTablet() %}
    {% set currentDevice = 'T' %}
{% endif %}

{% set isCreditUsed = false %}
{% set categoryPath = '' %}
<div class="container">
	<div class="row">
		<div class="col-md-24 pad-none">
			<div class="col-md-24 d-flex justify-content-center">
				<h1 class="s-h1 paa-title col-md-24 col-lg-18 text-center" id="cart_main_heading">{{'Basket'|trans({}, 'frontend-cart')}}</h1>
			</div>
			<div class="col-md-24 d-flex justify-content-center cart-list">
				<ul>
                    <li class="d-none d-md-block">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="s-h2">{{'Adverts'|trans({}, 'frontend-cart')}}</h2>
                            </div>
                            <div class="col-md-6 text-center">
                                <h2 class="s-h2">{{'Package'|trans({}, 'frontend-cart')}}</h2>
                            </div>
                            <div class="col-md-6 text-center">
                                <h2 class="s-h2">{{'Cost'|trans({}, 'frontend-cart')}}</h2>
                            </div>
                        </div>
                    </li>
                    {% if cartDetails|length %}
                    	{% set gaVar = '' %}
                    	{% set K = 0 %}
                        {% for cartDetail in cartDetails %}
                            {% set packageId = null %}
                            {% set categoryPath = fetch_repository('FaEntityBundle:Category').getCategoryPathArrayById(cartDetail['category_id'], false, fetch_container_instance())|join(' - ') %}
                            {% set value = array_unserialize(cartDetail['value'])%}
                            {% if K > 0 %}
                            	{% set gaVar = gaVar ~ "|" %}
                        	{% endif %}
                            {% set gaVar = gaVar ~ fetch_repository('FaEntityBundle:Category').getCategoryPathArrayById(cartDetail['category_id'], false, fetch_container_instance())|join('-')|raw  %}
                            {% if value['package'] is defined %}
                                {% set packageIdArray = value['package']|keys %}
                                {% set packageId = packageIdArray[0] %}
                            {% endif %}
                            {% if not isCreditUsed and value['user_credit_id'] is defined and value['user_credit_id'] and value['user_credit'] is defined and value['user_credit'] %}
                                {% set isCreditUsed = true  %}
                            {% endif %}
                        <li>
                            <div class="row">
                                <div class="col-md-11 col-lg-12 cart-l-block">
                                    <div class="media cart-item">
                                        <div class="cart-item-img">
                                            {% if cartDetail['path'] is defined and cartDetail['path'] is not null and cartDetail['hash'] is defined and cartDetail['hash'] is not null %}
                                                    {% set adImageUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getAdImageUrl', [container, cartDetail['ad_id'], cartDetail['path'], cartDetail['hash'], '300X225', cartDetail['aws'],cartDetail['image_name']]) %}
                                                    <img  class="img-fluid" src="{{ adImageUrl }}" />
                                                {% else %}
                                                    <img  class="img-fluid" src="{{ asset_url('fafrontend/images/no-image-grey.svg') }}" alt="" />
                                                {% endif %}
                                        </div>
                                        <div class="media-body cart-item-info">
                                            <h3 class="s-h3">{{cartDetail['title']}}</h3>
                                            {% if cartDetail['price'] > 0 %}
                                                <h4>{{format_currency(cartDetail['price'])}}</h4>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% if packageId and cartDetail['ad_id'] is not null %}
                                <div class="col-md-8 col-lg-6 cart-m-block">
                                    <div class="cart-item-type text-center">                                
                                            {% set packageObj = packageRepository.find(packageId)%}
                                            <h3 class="s-h3">{{packageObj.getTitle()}}</h3>										
                                            <div class="row">
                                            	 {% if value['package'][packageId]['is_purchased'] is defined and value['package'][packageId]['is_purchased'] == 1 %}
                                                        {% set packagePrintId = null %}
                                                        {% if value['package'][packageId]['packagePrint'] is defined and value['package'][packageId]['packagePrint']['id'] is defined %}
                                                            {% set packagePrintId = value['package'][packageId]['packagePrint']['id'] %}
                                                        {% endif %}
                                                        <div class="col-md-12">
                                                	        {% set businessValue = (value.privateUserAdParams.business is defined ? value.privateUserAdParams.business : 0 )%}
                                                            {% if value['promoteRepostAdFlag'] is defined %} 
                                                                {% set editUrl = path('ad_promote', {'adId': cartDetail['ad_id'], 'packageId': packageId, 'packagePrintId': packagePrintId, 'type': value['promoteRepostAdFlag'], 'business': businessValue}) %} 
                                                            {% else %}
                                                                {% set editUrl = path('ad_package_purchase', {'adId': cartDetail['ad_id'], 'packageId': packageId, 'packagePrintId': packagePrintId, 'business': businessValue}) %} 
                                                            {% endif %}
                                                            <a href="javascript:void(0);" onclick="return sendGaAndRedirect('{{ editUrl }}', 'Change', '{{categoryPath|e('js')}}');" class="secondary-btn-2 btn btn-block">{{'Change'|trans({}, 'frontend-cart')}}</a>
                                                        </div>
                                                 {% endif %}
                                                <div class="col-md-12">
                                                	<a href="javascript:void(0);" onclick="return removeCartItem('{{cartDetail['id']}}', '{{categoryPath|e('js')}}');" class="secondary-btn-2 btn btn-block">{{'Delete'|trans({}, 'frontend-cart')}}</a>                                                
                                                </div>
                                            </div>
                                            
                                            <div class="cart-item-price text-center d-block d-md-none">
                                                <h4>
                                                {% set totalVat = totalVat + cartDetail['vat_amount'] %}
                                                {{format_currency(cartDetail['amount'])}}
                                                <span>{{'(%vat%% vat included.)'|trans({'%vat%': cartDetail['vat']}, 'frontend-cart')}}</span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                               {% endif %}
                               
                            <div class="col-md-5 col-lg-6 cart-r-block d-none d-md-block">
                                <div class="cart-item-price text-center">
                                    <h4>
                                        {% set totalVat = totalVat + cartDetail['vat_amount'] %}
                                        {{format_currency(cartDetail['amount'])}}
                                        <span>{{'(%vat%% vat included.)'|trans({'%vat%': cartDetail['vat']}, 'frontend-cart')}}</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </li>
                     {% set K = K+1 %}
                    {% endfor %}
                {% else %}
                    <div class="row">
                        <div class="col-lg-24 col-md-24 text-center">
                            {{'No items in your basket.'|trans({}, 'frontend-cart')}}
                        </div>
                    </div>
                {% endif %}
                {% if cart.getAmount() > 0 or (cart.getAmount() <= 0 and cartValue['discount_values'] is defined and cartValue['discount_values']|length) %}
                    {% if cartValue['discount_values'] is defined and cartValue['discount_values']|length %}
                        {% set discountValue = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getDiscountValuetoDisplay', [cartValue['discount_values']]) %}
                        <li class="code-applied d-none d-md-block">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 text-center">
                                    <label class="mb0">{{'Code applied (%discount_value% Discount)'|trans({'%discount_value%': discountValue}, 'frontend-cart')}}</label>
                                    <a href="javascript:removeDuscountcodeAlert();" class="bold">{{'Remove'|trans({}, 'frontend-cart')}}</a>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% endif %}
                {% if isCreditUsed %}
                    <li class="code-applied d-none d-md-block">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 text-center">
                                <label class="mb0">{{'Credit applied'|trans({}, 'frontend-cart')}}</label>
                                <a href="javascript:removeCreditAlert();" class="bold">{{'Remove'|trans({}, 'frontend-cart')}}</a>
                            </div>
                        </div>
                    </li>   
                {% endif %}
                    <li class="cart-total">
                        <div class="row">
                        	{% if cart.getAmount() > 0 or (cart.getAmount() <= 0 and cartValue['discount_values'] is defined and cartValue['discount_values']|length) %}
                                <div class="col-md-12">
                                <div class="promo-code">
                                    <a href="javascript:hideShowPromotionCodeSectionForMobile();" class="show-code d-block d-md-none {% if cartValue['discount_values'] is defined and cartValue['discount_values']|length %}up-arrow{% else %}down-arrow{% endif %}" id="promo_code_anchor_mobile">{{'Promotional Code'|trans({}, 'frontend-cart')}}</a>
                                    <label class="d-none d-md-block">{{'Promotional Code'|trans({}, 'frontend-cart')}}</label>
                                    {% if cartValue['discount_values'] is defined and cartValue['discount_values']|length %}
                                        <div class="code-applied-mob" id="display_discount_applied_div">
                                            <label>{{'Code applied (%discount_value% Discount)'|trans({'%discount_value%': discountValue}, 'frontend-cart')}}</label>
                                            <a href="javascript:removeDuscountcodeAlert();" class="bold">{{'Remove'|trans({}, 'frontend-cart')}}</a>
                                        </div>
                                    {% endif %}
                                    <div class="clearfix code-field {% if cartValue['discount_values'] is defined and cartValue['discount_values']|length %}promo-disable{% endif %}" {% if cartValue['discount_values'] is not defined and currentDevice == 'M' %} style="display:none;"{% endif %} id="discount_code_input_div">
                                        <input type="text" class="white-field" name="discount_code" id="discount_code" placeholder="{{'Insert promotional code'|trans({}, 'frontend-cart')}}" />
                                        <button class="secondary-btn-2 btn btn-block" onclick="return applyDiscountcode();">{{'Apply'|trans({}, 'frontend-cart')}}</button>
                                    </div>
                                </div>
                                </div>
                            {% endif %}
                            {% if isCreditUsed %}
                            	<div class="col-md-12">
                                <div class="promo-code d-block d-md-none">
                                    <a href="javascript:hideShowCreditSectionForMobile();" class="show-code down-arrow" id="credit_anchor_mobile">{{'Credit'|trans({}, 'frontend-cart')}}</a>
                                    <div class="code-applied-mob" id="display_credit_applied_div" style="display:none">
                                        <label>{{'Credit applied '|trans({}, 'frontend-cart')}}</label>
                                        <a href="javascript:removeCreditAlert();" class="bold">{{'Remove'|trans({}, 'frontend-cart')}}</a>
                                    </div>
                                </div>
                                </div>
                            {% endif %}
                            <div class="col-md-12 d-inline-flex">
                                <div class="cart-item-type text-center h-width">
                                    <h2 class="s-h2 cart-cost-text text-right">{{'TOTAL COST'|trans({}, 'frontend-cart')}}:</h2>
                                </div>
                                <div class="cart-item-price text-center h-width">
                                    <h4>{{format_currency(cart.getAmount())}}</h4>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
			</div>
		</div>
	</div>
</div>
<div class="white-bg">
    <div class="container">
        <div class="row">
            {% if cart.getAmount() > 0 %}
                <div class="col-md-24 d-flex justify-content-center">
                    <h1 class="s-h1 paa-title col-md-24 col-lg-18 text-center">{{'Pay now with'|trans({}, 'frontend-cart')}}:</h1>
                </div>
                <div class="col-md-18 mx-auto pay-now-box">
                  {% set ccUrl = path('process_payment', {'paymentMethod': constant('Fa\\Bundle\\PaymentBundle\\Repository\\PaymentRepository::PAYMENT_METHOD_CYBERSOURCE')}) %}
                  {% set appleUrl = path('process_payment', {'paymentMethod': constant('Fa\\Bundle\\PaymentBundle\\Repository\\PaymentRepository::PAYMENT_METHOD_APPLEPAY')}) %}
                  {% set catPath = '' %}
                  {% if (cartDetails|length == 1) %}
                    {% set catPath = categoryPath %}
                  {% endif %}
                    <div class="credit-cards-box col-sm-24 col-md-12 {% if (isAdultAdvertPresent == 1) %} credit-cards-box-center {% endif %}" onclick="sendGaAndRedirect('{{ ccUrl }}', 'Visa', '{{gaVar|e('js')}}');"></div>
                    {% if isAdultAdvertPresent == 0 %}
                          {% set paypalUrl = path('process_payment', {'paymentMethod': constant('Fa\\Bundle\\PaymentBundle\\Repository\\PaymentRepository::PAYMENT_METHOD_PAYPAL')}) %}
                          <div class="paypal-box col-sm-24 col-md-12" onclick="sendGaAndRedirect('{{ paypalUrl }}', 'Paypal', '{{gaVar|e('js')}}');"> </div>
                    {% endif %}
                </div>
             {% elseif cartDetails|length %}
                <div class="col-md-24 d-flex justify-content-center">
                     <button class="primary-btn-1 btn btn-block btn-place-ad" name="" id="" type="button" onclick="window.location='{{path('process_payment', {'paymentMethod': constant('Fa\\Bundle\\PaymentBundle\\Repository\\PaymentRepository::PAYMENT_METHOD_FREE')})}}'">{{'Place my ads'|trans({}, 'frontend-cart')}}</button>
                </div>
            {% endif %}
            <div class="col-md-24 d-flex justify-content-center">
                <div class="small-wrapper center-block">
                    <h2 class="s-h2 or-caption">{{'OR'|trans({}, 'frontend-cart-case-sensitive')}}</h2>
                    {% set redirectUrl = path('ad_post_first_step') %}
                    {% set catPath = '' %}
                    {% if (cartDetails|length == 1) %}
                        {% set catPath = categoryPath %}
                    {% endif %}
                    
                    <button class="primary-btn-1 btn btn-block btn-place-ad" name="" id="" type="button" onclick="return sendGaAndRedirect('{{ redirectUrl }}', 'Place another ad', '{{catPath|e('js')}}');">{{'Place another ad'|trans({}, 'frontend-cart')}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% block scriptbottom %}
<script>
/*
Copyright (C) 2016 Apple Inc. All Rights Reserved.
See LICENSE.txt for this sample’s licensing information
Abstract:
The main client-side JS. Handles displaying the Apple Pay button and requesting a payment.
*/

/**
* This method is called when the page is loaded.
* We use it to show the Apple Pay button as appropriate.
* Here we're using the ApplePaySession.canMakePayments() method,
* which performs a basic hardware check. 
*
* If we wanted more fine-grained control, we could use
* ApplePaySession.canMakePaymentsWithActiveCards() instead.
*/

document.addEventListener('DOMContentLoaded', () => {
    if (window.ApplePaySession) {
        if (ApplePaySession.canMakePayments) {
            showApplePayButton();
        }
    }
});

function showApplePayButton() {
    HTMLCollection.prototype[Symbol.iterator] = Array.prototype[Symbol.iterator];
    const buttons = document.getElementsByClassName("apple-pay-button");
    for (let button of buttons) {
        button.className += " visible";
    }
}


function getApplePaySession(url) {
  return new Promise(function (resolve, reject) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/getApplePaySession');
    xhr.onload = function () {
      if (this.status >= 200 && this.status < 300) {
        resolve(JSON.parse(xhr.response));
      } else {
        reject({
          status: this.status,
          statusText: xhr.statusText
        });
      }
    };

    xhr.onerror = function () {
      reject({
        status: this.status,
        statusText: xhr.statusText
      });
    };

    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send(JSON.stringify({url: url}));

  });

}
</script>
{% endblock %}

