{% extends 'FaAdminBundle::layout.html.twig' %}
{% form_theme form 'FaAdminBundle:Form:adminFields.html.twig' %}
{% block content -%}
{% set categoryRepository = fetch_repository('FaEntityBundle:Category') %}

{{ include('FaAdminBundle:Default:addEditHeading.html.twig') }}

<div class="row">
    <div class="columns">
        <div class="panel">
            <p class="text-right"><span class="required">*</span> = mandatory fields</p>
            {{ form_start(form, {'attr': {'novalidate': ''}}) }}
                {% if entity.id %}
                    <b>{{ 'Category'|trans }}:</b> {{ categoryRepository.getCategoryPathArrayById(entity.getCategoryDimension().getCategory().getId())|join(' > ') }}
                    <br /><br />
                    <b>{{ 'Category Dimension'|trans }}:</b> {{ entity.getCategoryDimension().getName() }}
                    <br /><br />
                {% else %}
                    {{ form_row(form.category_1) }}
                    {{ form_row(form.category_2) }}
                    {{ form_row(form.category_3) }}
                    {{ form_row(form.category_4) }}
                    {{ form_row(form.category_dimension) }}
                {% endif %}
                {{ form_row(form.name) }}
                {{ form_row(form.min) }}
                {{ form_row(form.max) }}
                {{ form_row(form.seo_value) }}

                {{ include('FaAdminBundle:Default:saveButton.html.twig', {'cancelUrl': 'dimension_admin'}) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}

{% block scriptbottom %}
    <script language="javascript" type="text/javascript">
    //<![CDATA[
    $(document).ready(function(){
        $("#fa_entity_dimension_admin_category_1").change(function(){
            loadCategoryByLevel($(this).val(), 2);
            loadCategoryByLevel('', 3);
            loadCategoryByLevel('', 4);
            loadDimensionByCategory(1);
        });
        
        $("#fa_entity_dimension_admin_category_2").change(function(){
            loadCategoryByLevel($(this).val(), 3);
            loadCategoryByLevel('', 4);
            loadDimensionByCategory(2);
        });
        
        $("#fa_entity_dimension_admin_category_3").change(function(){
            loadCategoryByLevel($(this).val(), 4);
            loadDimensionByCategory(3);
        });
        $("#fa_entity_dimension_admin_category_4").change(function(){
            loadDimensionByCategory(4);
        });
    });

    function getCategoryValue(level)
    {
        var id = $('#fa_entity_dimension_admin_category_'+level).val();
        
        if (!id && level > 1) {
            level--;
            id = $('#fa_entity_dimension_admin_category_'+level).val();
        }
        
        return id;
    }

    function loadCategoryByLevel(id, level)
    {
        var category_selector = $('#fa_entity_dimension_admin_category_'+level);
        category_selector.html('<option value="">Select Category '+level+'</option>');

        if (id) {
            var data = {
                id: id
            };
            $.ajax({
                type: 'post',
                url: (level == 4) ? '{{ path("category_ajax_get_nested_node_json") }}' : '{{ path("category_ajax_get_node_json") }}',
                data: data,
                success: function(data) {
                    for (var i=0, total = data.length; i < total; i++) {
                        category_selector.append('<option value="' + data[i].id + '">' + data[i].text + '</option>');
                    }
                }
            });
        }
    }

    function loadDimensionByCategory(level)
    {
        var dimension_selector = $('#fa_entity_dimension_admin_category_dimension');
        dimension_selector.html('<option value="">{{'Select Category Dimension'|trans }}</option>');

        var id = getCategoryValue(level);

        if (id) {
            var route = Routing.generate('ajax_dimension_get_dimension_admin', { 'category_id': id });
            $.ajax({
                type: 'post',
                url: route,
                success: function(data) {
                   $.each(data.dimension,function(key, value) {
                        dimension_selector.append('<option value="' + key + '">' + value + '</option>');
                   });
                }
            });
        }
    }

    //]]>
    </script>
{% endblock %}