{% block search_html %}
<div class="row">
    <div class="columns">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'outline'}}) }}
        {{ form_errors(form) }}
            <div class="row">
	            <div class="large-6 columns">
	                {{ form_widget(form.notification_message__name, {'attr': {'class':'form-control', 'placeholder': 'Notification message name'|trans }}) }}
	            </div>
	            <div class="large-3 columns">
                    {{ form_widget(form.notification_message__status, {'attr': {'class':'form-control' }}) }}
                </div>
                <div class="large-3 columns">
                    {{ form_widget(form.search, {'attr': {'class':'small button mb0'}}) }}
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}