{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'fa_top_search'}}) }}
    {{ form_errors(form) }}
    <div class="home-slider-content">
        <div class="container">
            <div class="row">
                <div class="col-md-24 mob-block">
            	 	<div class="top-msg">
                       {{ include('FaCoreBundle::message.html.twig') }}
                    </div>
                    <div class="caption">
                        <div class="tagline"><img class="img-fluid" src="{{ asset('/Frontend/images/Tagline.svg') }}"></div>
                    </div>
                    <h2 class="tagline-text d-none d-md-block">{{ 'What are you searching for? Whether it’s a bargain bicycle or an emergency<br /> electrician, there’s all sorts of gems to be discovered. Get browsing today ...'|trans({}, 'frontend-homepage')|raw }}</h2>
                    <div id="home-search" class="col-sm-18 col-md-18 col-lg-14 home-search">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend home-category-list">
                                <div class="grey-select main-search find-all">
                                    {{ form_widget(attribute(form, 'item__category_id'), {'attr': {'class':'find-all select-control'}}) }}
                                </div>
                            </div>
                            {{ form_widget(form.keywords, {'attr': {'class': 'white-field form-control', 'placeholder':'Looking for...'|trans({}, 'frontend-homepage') }}) }}
                            <div style="position: relative;"><a href="javascript:void(0);" rel="nofollow" id="fa_top_search_keywords_close" class="ui-autocomplete-close select2-search-choice-close">Close</a></div>
                            <div class="input-group-append">
                            	<button class="input-group-text search-btn secondary-btn-1" type="submit">{{'Search'|trans({}, 'frontend-homepage')}}</button>
                            </div>
                        </div>
    					<div id="header_search_editable_location_reveal_modal" class="modal custom-modal tiny">
                            {{ include('FaCoreBundle:Default:invalidLocationModal.html.twig', {'modalId': 'header_search_editable_location_reveal_modal'}) }}
                        </div>
                        <div class="location">
                                <span class="search-pin"></span>
                                <span id="in_text_span">{{ 'in'|trans({}, 'frontend-homepage') }}</span> <span id="header_search_editable_location_span">United Kingdom</span>
                                <a href="javascript:void(0)" rel="nofollow" id="header_search_editable_location_a">({{ 'change'|trans({}, 'frontend-homepage') }})</a>
                                <div id="top_search_location" class="white-autocomplete" style="display:none">
                                   {{ form_widget(form.item__location_autocomplete) }}
                                   <a href="javascript:void(0);" rel="nofollow" id="fa_top_search_item__location_close" class="ui-autocomplete-close select2-search-choice-close">Close</a>
                                    <div class="clearfix">
                                        <button class="secondary-btn-1 thin-btn btn btn-block left" type="button" id="top_search_location_homepage_ok">Ok</button>
                                        <button class="secondary-btn-1 thin-btn btn btn-block right" type="button" id="top_search_location_cancel">Cancel</button>
                                    </div>
                                </div>
                            </div>
                     </div>
                    <div class="forsale-phone d-none d-sm-block"></div>
                </div> 
                {#<div class="d-block d-md-none text-center mt20">
                    <a class="primary-btn-1 btn col-14 font-16" title="Place an ad" href="{{ path('ad_post_first_step') }}">Place an ad</a>
                </div>#}
            </div>
        </div>
    </div>       
    {% do attribute(form, 'item__price_from').setRendered %}
    {% do attribute(form, 'item__price_to').setRendered %}
    {% do attribute(form, 'item__distance').setRendered %}
{{ form_end(form) }}