<div class="owl-carousel fa-slider" id="{{ divId }}" data-equalizer>
    {% for featureAd in featureAds %}
        {% if featureAd['user_id'] is defined %}
            {% set adUserDetail = userDetails[featureAd['user_id']] %}
        {% endif %}
        {{ dump(adUserDetail) }}
        <div class="item" data-equalizer-watch>
            {% if featureAd['badge'] is defined %}
                <span class="fa-slider-badge {{featureAd['badge']}}">Category</span>
            {% endif %}
            <a class="tricky-link" href="{{ featureAd['url'] }}">
                {% if featureAd['title'] is defined %}
                   {{trim_text(featureAd['title'], 30)|raw}}
                {% endif %}
            </a>

            <div class="list-img {% if featureAd['no-img_exists'] %}similar-placeholder{% endif %}">
                <img class="lazyOwl" src="#empty" data-src="{{ featureAd['img_url'] }}" alt="{{ featureAd['img_alt'] }}" />
            </div>
            <div class="member-info">
                <div class="clearfix">
                    <div class="large-17 columns">
                        <a href="javascript:void(0);">
                            {% if adUserDetail|length and adUserDetail['user_name'] is defined %}
                                {{adUserDetail['user_name']}}
                            {% endif %}
                            {% if adUserDetail|length and adUserDetail['town_name'] is defined and adUserDetail['town_name'] is not null%}
                                , {{adUserDetail['town_name']}}
                            {% endif %}
                        </a>
                        {% if adUserDetail|length and adUserDetail['created_at'] is defined and adUserDetail['created_at'] is not null %}
                            <span class="posting-year">{{'Verified member since %posting_date%'|trans({'%posting_date%': staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'formatDate', [adUserDetail['created_at'], container, null, null, 'MMM dd']) }, 'frontend-homepage')}}</span>
                        {% endif %}
                    </div>
                    <div class="large-7 columns text-right">
                        <div class="member-icon {% if (adUserDetail|length and adUserDetail['role_id'] == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_BUSINESS_SELLER_ID') or adUserDetail|length and adUserDetail['role_id'] == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_NETSUITE_SUBSCRIPTION_ID')) %}member-logo{% endif %}">
                            {{ adUserDetail['company_logo']|raw }}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="fa-price">
                <div class="large-24 columns">
                    <h4>
                        {% if featureAd['price'] is defined %}
                            <span>
                                {{ format_currency(featureAd['price']) }}
                                {# {% if featureAd['rootCatId'] == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::PROPERTY_ID') and featureAd['rent_per'] is defined %}
                                    {{ adPropertyRepository.getRentPostFixText(featureAd['rent_per'], container)}}
                                {% endif %} #}
                            </span>
                        {% endif %}
                        
                        {% if featureAd['title'] is defined %}
                           {{trim_text(featureAd['title'], 30)|raw}}
                        {% endif %}
                    </h4>
                </div>
            </div>
        </div>
    {% endfor %}
</div>