{% extends 'FaFrontendBundle::layout.html.twig' %}

{% set container = fetch_container_instance() %}
{% set seoManager = container.get('fa.seo.manager') %}
{% set categoryRepository = fetch_repository('FaEntityBundle:Category') %}
{% set adRepository = fetch_repository('FaAdBundle:Ad') %}
{% set adPropertyRepository = fetch_repository('FaAdBundle:AdProperty') %}
{% set adForSaleRepository = fetch_repository('FaAdBundle:AdForSale') %}
{% set seoToolRepository = fetch_repository('FaContentBundle:SeoTool') %}
{% set seoPageRule = {} %}
{% set seoPageRules = seoToolRepository.getSeoRulesKeyValueArray(constant('Fa\\Bundle\\ContentBundle\\Repository\\SeoToolRepository::HOME_PAGE'), container) %}
{% if seoPageRules[constant('Fa\\Bundle\\ContentBundle\\Repository\\SeoToolRepository::HOME_PAGE')~'_global'] is defined and seoPageRules[constant('Fa\\Bundle\\ContentBundle\\Repository\\SeoToolRepository::HOME_PAGE')~'_global']|length %}
    {% set seoPageRule = seoPageRules[constant('Fa\\Bundle\\ContentBundle\\Repository\\SeoToolRepository::HOME_PAGE')~'_global'] %}
{% endif %}
{% if seoPageRule|length %}
    {% set seoFields = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getSeoFields', [seoPageRule]) %}
{% endif %}

{% block page_title %}
    {% if seoFields.page_title is defined %}
        {{ seoManager.parseSeoString(seoFields.page_title, {'{location}': seoLocationName}) }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if seoFields.meta_description is defined %}
        {{ seoManager.parseSeoString(seoFields.meta_description, {'{location}': seoLocationName}) }}
    {% endif %}
{% endblock %}

{% block canonical_url %}
    {{ app.request.uri|replace({('?'~app.request.queryString) : ''}) }}
{% endblock %}

{% block meta_keywords %}
    {% if seoFields.meta_keywords is defined %}
        {{ seoManager.parseSeoString(seoFields.meta_keywords, {'{location}': seoLocationName}) }}
    {% endif %}
{% endblock %}
{% block scripttop %}
    {{ include('FaFrontendBundle:Default:home-css.html.twig') }}
{% endblock %}

{% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
{% set currentDevice = 'D' %}
{% if mobileDetectManager.isMobile() and not mobileDetectManager.isTablet() %}
    {% set currentDevice = 'M' %}
{% elseif mobileDetectManager.isMobile() and mobileDetectManager.isTablet() %}
    {% set currentDevice = 'T' %}
{% endif %}
    
{% block body %}
    <div class="{% if currentRoute in {0: 'fa_frontend_homepage', 1: 'location_home_page'} %}homepage-hero{% endif %}">
        <div class="hero-img">
            {{ render(controller('FaAdBundle:AdList:topSearch', { 'searchParams': searchParams is defined ? searchParams : {}, 'isHomeSearch': true } )) }}
            <div class="parallax-window" id="header_image_div"></div>
        </div>
    </div>
    {# FFR-4030 starts Here #}
    <div class="covid-19-block bottom-border">
        <div class="row">
            <div class="columns text-center">
                <div class="medium-17  large-18 columns align-text"><div class="head">Covid-19. <span class="ask-for-offer-help">Ask for & Offer Help in our <a href="https://www.friday-ad.co.uk/uk/community/coronavirus-support/" class="ga-covid-19-support-link-homepage">Coronavirus Support section</a></span></div></div>
                <div class="medium-7 large-6 columns align-text mt-space"><a class="button place-free-ad-btn thin-btn ga-covid-19-paa-link-homepage" href="https://www.friday-ad.co.uk/paa/first_step?categoryName=Coronavirus%20Support">Place Help Ad</a></div>
            </div>
        </div>
    </div>
    {# FFR-4030 ends Here #}
    <div class="what-u-discover">
        <div class="row">
            <div class="columns">
                {% set forSaleId = constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::FOR_SALE_ID') %}
                {% set motorsId = constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::MOTORS_ID') %}
                {% set jobsId = constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::JOBS_ID') %}
                {% set servicesId = constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::SERVICES_ID') %}
                {% set propertyId = constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::PROPERTY_ID') %}
                {% set animalsId = constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ANIMALS_ID') %}
                {% set communityId = constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::COMMUNITY_ID') %}
                {% set adultId = constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') %}
                {% set locationId = '' %}
                {% if cookieLocationDetails is defined and cookieLocationDetails is not null and cookieLocationDetails.location is defined and cookieLocationDetails.location %}
                    {% set locationId = cookieLocationDetails.location %}
                {% endif %}
                {% cache 'home|page|'~locationId~'front/home_page_discover' 1800 %}
                <div class="discover-categories">
                    {% set linkParams = { 'item__location': locationId, 'item__category_id': forSaleId } %}
                    <a href="{{ container.get('fa_ad.manager.ad_routing').getCategoryLandingPageUrl(linkParams) }}" class="discover-forsale">{{'For Sale'|trans({}, 'frontend-homepage')}}</a>

                    {% set linkParams = { 'item__location': locationId, 'item__category_id': motorsId } %}
                    <a href="{{ container.get('fa_ad.manager.ad_routing').getCategoryLandingPageUrl(linkParams) }}" class="discover-motors">{{'Motors'|trans({}, 'frontend-homepage')}}</a>

                    {% set linkParams = { 'item__location': locationId, 'item__category_id': jobsId } %}
                    <a href="{{ container.get('fa_ad.manager.ad_routing').getCategoryLandingPageUrl(linkParams) }}" class="discover-jobs">{{'Jobs'|trans({}, 'frontend-homepage')}}</a>

                    {% set linkParams = { 'item__location': locationId, 'item__category_id': servicesId } %}
                    <a href="{{ container.get('fa_ad.manager.ad_routing').getListingUrl(linkParams) }}" class="discover-services">{{'Services'|trans({}, 'frontend-homepage')}}</a>

                    {% set linkParams = { 'item__location': locationId, 'item__category_id': propertyId } %}
                    <a href="{{ container.get('fa_ad.manager.ad_routing').getCategoryLandingPageUrl(linkParams) }}" class="discover-property">{{'Property'|trans({}, 'frontend-homepage')}}</a>

                    {% set linkParams = { 'item__location': locationId, 'item__category_id': animalsId } %}
                    <a href="{{ container.get('fa_ad.manager.ad_routing').getCategoryLandingPageUrl(linkParams) }}" class="discover-animals">{{'Animals'|trans({}, 'frontend-homepage')}}</a>

                    {% set linkParams = { 'item__location': locationId, 'item__category_id': communityId } %}
                    <a href="{{ container.get('fa_ad.manager.ad_routing').getListingUrl(linkParams) }}" class="discover-community">{{'Community'|trans({}, 'frontend-homepage')}}</a>
                    
                    {% set linkParams = { 'item__location': locationId, 'item__category_id': adultId } %}
                    <a href="{{ path('fa_adult_homepage') }}" class="discover-adult">{{'Adult'|trans({}, 'frontend-homepage')}}</a>
                </div>
                {% endcache %}
            </div>
        </div>
    </div>

    {% if recommendedAds|length >= 3 %}
        <div class="homepage-row">
            <div class="row">
                <div class="columns">
                    <h3 class="homepage-title">{{'Recommended for you'|trans({}, 'frontend-homepage')}}</h3>
                    {{ include('FaFrontendBundle:Default:homePageRecommendedAdsSlider.html.twig', {'divId': 'recommended-item-slider', 'ads': recommendedAds}) }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if latestAds|length %}
        {% cache 'home|page|'~locationId~'front/home_page_latest' 120 %}
        <div class="homepage-row latest-items">
            <div class="row">
                <div class="columns">
                    <h3 class="homepage-title">
                        {% if locationName is not null %}
                            {{'Latest in %locationName%'|trans({'%locationName%': locationName}, 'frontend-homepage')}}
                        {% else %}
                            {{'Latest ads'|trans({}, 'frontend-homepage')}}
                        {% endif %}
                    </h3>
                    {{ include('FaFrontendBundle:Default:homePageLatestAdsSlider.html.twig', {'divId': 'latest-item-slider'}) }}
                    {% if searchResultUrl is not null%}
                        <div class="small-wrapper">
                            <a href="{{ searchResultUrl }}" class="secondary-btn-1 expand button mb0" rel="nofollow">{{'View all'|trans({}, 'frontend-homepage')}}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endcache %}
    {% endif %}

    {% cache 'home|page|'~locationId~'front/home_page_read_fridayad_online' 120 %}
        <div class="homepage-row ga-fadPrintWidget">
            <div class="row">
                <div class="columns">
                    <h3 class="homepage-title">
                        {{'Read the Friday-Ad Online'|trans({}, 'frontend-homepage')}}
                    </h3>
                    {{ include('FaFrontendBundle:Default:readFridayAdOnline.html.twig') }}
                </div>
            </div>
        </div>
    {% endcache %}

    {% if popularShopsSearchParams is defined and popularShopsSearchParams|length %}
        {% cache 'home|page|'~locationId~'front/home_page_popular_shops' 120 %}
            {% set popularShops = adForSaleRepository.getPopularShops(container, popularShopsSearchParams) %}
            {% if popularShops is defined and popularShops|length %}
                <div class="homepage-row">
                    <div class="row">
                        <div class="columns">
                            <h3 class="homepage-title">
                                {{'Popular shops'|trans({}, 'frontend-homepage')}}
                            </h3>
                            <div class="owl-carousel fa-slider" id="popular_shops_slider" data-equalizer>
                                {% set userRepository = fetch_repository('FaUserBundle:User') %}
                                {% for popularShop in popularShops %}
                                    {% set adUserId = popularShop['id'] %}
                                    {% set shopName = popularShop['shop_name'] %}
                                    {% set profilePageUrl = container.get('fa_ad.manager.ad_routing').getProfilePageUrl(adUserId) %}
                                    <div class="item" data-equalizer-watch>
                                        <a class="tricky-link" href="{{ profilePageUrl }}">{{ shopName }}</a>
                                        {% set userLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogoByUserId', [fetch_container_instance(), adUserId, true, true]) %}
                                        {% set userName = userRepository.getUserProfileName(adUserId, container)~' - Friday-Ad' %}
                                        <div class="list-img">
                                            {% if userLogo %}
                                                <img class="lazyOwl" data-src="{{ userLogo }}" alt="{{ userName }}" />
                                            {% else %}
                                                <img class="lazyOwl" data-src="{{ asset_url('fafrontend/images/no-image-grey.svg') }}" alt="{{ userName }}" />
                                            {% endif %}
                                        </div>
                                        <h3>
                                           {{ shopName }}
                                        </h3>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endcache %}
    {% endif %}

    {% cache 'home|page|'~locationId~'front/home_page_popular' 1800 %}
        <div class="homepage-row">
            <div class="row">
                <div class="columns">
                    <h3 class="homepage-title">{{"What's popular"|trans({}, 'frontend-homepage')}}</h3>
                    {{ include('FaFrontendBundle:Default:homePagePopular.html.twig') }}
                </div>
            </div>
        </div>
    {% endcache %}

    {% if featureAds|length %}
        <div class="homepage-row">
            <div class="row">
                <div class="columns">
                    <h3 class="homepage-title">{{'Best from our Friday adventurers'|trans({}, 'frontend-homepage')}}</h3>
                    <h2 class="text-center">{{'Here are some of the best ads from our community members.'|trans({}, 'frontend-homepage')}}</h2>
                    {{ include('FaFrontendBundle:Default:homePageFeaturedAdsSlider.html.twig', {'divId': 'featured-item-slider'}) }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if recentlyViewedAds|length >= 3 %}
        <div class="homepage-row recently-viewed">
            <div class="row">
                <div class="columns">
                    <h3 class="homepage-title">{{'Recently viewed'|trans({}, 'frontend-homepage')}}</h3>
                    {{ include('FaFrontendBundle:Default:homePageRecommendedAdsSlider.html.twig', {'divId': 'recently-viwed-item-slider', 'ads': recentlyViewedAds, noImageColor:'grey'}) }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if facebookLoginUrl is not null %}
        <div class="homepage-row">
            <h3 class="homepage-title-small">{{'Find out what your friends are selling'|trans({}, 'frontend-homepage')}}</h3>
            <div class="small-wrapper">
                <button class="signup-fb-btn button expand mb0" onclick="javascript:fbLoginPopup('{{ facebookLoginUrl }}');"><span class="signup-fb-icon">&nbsp;</span>{{'Sign In with Facebook'|trans({}, 'frontend-homepage')}}</button>
            </div>
        </div>
    {% endif %}
    
    <div class="homepage-row">
        <div class="row">
            <div class="columns">
                <h3 class="homepage-title">{{'Browse adverts in popular locations'|trans({}, 'frontend-homepage')}}</h3>
                {% cache 'home|page|location|block'~currentDevice 3600 %}
                    {{ render(controller('FaFrontendBundle:Default:showHomePageLocationBlocks')) }}
                {% endcache %}
            </div>
        </div>
    </div>

{% endblock %}


{% block scriptbottom %}
    {% javascripts filter='uglifyjs2' output='bundles/js/compiled/home.js'
        'bundles/facore/js/owl.carousel.min.js'
        'bundles/fafrontend/js/parallax.min.js'
    %}
    <script defer src="{{ static_asset_url(asset_url) }}"></script>
    {% endjavascripts %}
    
    {% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
    {% if mobileDetectManager.is('IE') %}
        {% javascripts filter='uglifyjs2' output='bundles/js/compiled/parallaxFix.js'
            'bundles/fafrontend/js/scroll.js'
            'bundles/fafrontend/js/TweenMax.min.js'
        %}
        <script src="{{ static_asset_url(asset_url) }}"></script>
        {% endjavascripts %}
    {% endif %}
    <script language="javascript" type="text/javascript">
    //<![CDATA[
    {% if mobileDetectManager.is('IE') %}
        $(function(){   
            var $window = $(window);
            var scrollTime = 1.2;
            var scrollDistance = 250;
            $window.on("mousewheel DOMMouseScroll", function(event){
                event.preventDefault(); 
                var delta = event.originalEvent.wheelDelta/120 || -event.originalEvent.detail/3;
                var scrollTop = $window.scrollTop();
                var finalScroll = scrollTop - parseInt(delta*scrollDistance);
                TweenMax.to($window, scrollTime, {
                    scrollTo : { y: finalScroll, autoKill:true },
                        ease: Power1.easeOut,
                        overwrite: 1                            
                    });
            });
        });
    {% endif %}

    var headerParallax;
    $(document).ready(function() {
        $('div.homepage-row:even').addClass('white-bg');
        getHeaderImage();
        var recommendedItemSlider = $("#recommended-item-slider");
        recommendedItemSlider.owlCarousel({
            items : 6,
            itemsCustom:[[320, 1], [568, 3], [768, 4], [1024, 5], [1151, 6]],
            navigation: true,
            pagination:false,
            responsiveRefreshRate : 100,
            navigationText: ['<img src="{{ asset_url('fafrontend/images/small-slider-prev.svg') }}" alt="" />', '<img src="{{ asset_url('fafrontend/images/small-slider-next.svg') }}" alt="" />'],
            lazyLoad: true,
            scrollPerPage: true,
        });

        /*var latestItemSlider = $("#latest-item-slider");
        latestItemSlider.owlCarousel({
            items : 4,
            itemsCustom:[[320, 1], [568, 2], [768, 3], [1024, 4]],
            navigation: true,
            pagination:false,
            responsiveRefreshRate : 100,
            navigationText: ['<img src="{{ asset_url('fafrontend/images/small-slider-prev.svg') }}" alt="" />', '<img src="{{ asset_url('fafrontend/images/small-slider-next.svg') }}" alt="" />'],
            lazyLoad: true,
            scrollPerPage: true,
        });*/

        var featuredItemSlider = $("#featured-item-slider");
        featuredItemSlider.owlCarousel({
            items : 3,
            itemsCustom:[[320, 1], [568, 2], [768, 3], [1024, 3]],
            navigation: true,
            pagination:false,
            responsiveRefreshRate : 100,
            navigationText: ['<img src="{{ asset_url('fafrontend/images/small-slider-prev.svg') }}" alt="" />', '<img src="{{ asset_url('fafrontend/images/small-slider-next.svg') }}" alt="" />'],
            lazyLoad: true,
            scrollPerPage: true,
        });

        var recentlyViwedItemSlider = $("#recently-viwed-item-slider");
        recentlyViwedItemSlider.owlCarousel({
            items : 6,
            itemsCustom:[[320, 1], [568, 3], [768, 4], [1024, 5], [1151, 6]],
            navigation: true,
            pagination:false,
            responsiveRefreshRate : 100,
            navigationText: ['<img src="{{ asset_url('fafrontend/images/small-slider-prev.svg') }}" alt="" />', '<img src="{{ asset_url('fafrontend/images/small-slider-next.svg') }}" alt="" />'],
            lazyLoad: true,
            scrollPerPage: true,
        });

        var popularShopsSlider = $("#popular_shops_slider");
        if (popularShopsSlider) {
            popularShopsSlider.owlCarousel({
                items : 4,
                itemsCustom:[[320, 1], [568, 2], [768, 3], [1024, 4]],
                navigation: true,
                pagination:false,
                responsiveRefreshRate : 100,
                navigationText: ['<img src="{{ asset_url('fafrontend/images/small-slider-prev.svg') }}" alt="" />', '<img src="{{ asset_url('fafrontend/images/small-slider-next.svg') }}" alt="" />'],
                lazyLoad: true,
                scrollPerPage: true,
            });
        }

        $(document).foundation({
            accordion: {
                multi_expand: true,
                callback : function (accordion) {
                    accordionCallback(accordion);
                }
            }
        });
    });

    $( window ).scroll(function() {
        if ($("#sticky_nav").hasClass('fixed')) {
            $("#sticky_nav_top").addClass('fixed');
            $("#sticky_nav_top").addClass('top-bar-shadow');
        } else {
            $("#sticky_nav_top").removeClass('fixed');
            $("#sticky_nav_top").removeClass('top-bar-shadow');
        }
    });

    function accordionCallback(accordion)
    {
        $(accordion).siblings('a').find('i').toggleClass("fi-plus fi-minus");
        $(accordion).find('select.fa-select').selectmenu().selectmenu('refresh',true);
    }
    
    function getHeaderImage()
    {
        var viewPort = getViewport();
        $.ajax({
            type: "POST",
            url : '{{ path('ajax_get_header_image') }}',
            data : {'screenWidth': viewPort.width, 'location': '{{ app.request.get('location') }}'},
        })
        .done(function(response) {
            if (response.image) {
                headerParallax = $('#header_image_div').parallax({imageSrc: response.image, naturalWidth: response.width, naturalHeight: response.height});
                if (response.phone_image && response.phone_image_url)
                    $(".forsale-phone").html('<a href="'+response.phone_image_url+'"><img src="'+response.phone_image+'"></a>');
                else if (response.phone_image)
                    $(".forsale-phone").html('<img src="'+response.phone_image+'">');
            } else {
                $('#header_image_div').parallax({imageSrc: "{{ asset_url('/fafrontend/images/home-slider.png') }}" });
            }
        });
    }
    //]]>
    </script>
{% endblock %}
{% block dimension2 %}
<script language="javascript" type="text/javascript">
//<![CDATA[
{% if app.user.getId() is not defined or app.user.getId() is null %}
	ga('set', 'dimension9', 'not logged in');
{% else %}
	ga('set', 'dimension9', 'logged in');
{% endif %}
           
    ga('send', 'pageview', {'dimension1': defLocationText, 'dimension2':  'Homepage'{% if app.request.get('ti_url') %} ,'dimension8': '{{ app.request.get('ti_url') }}' {% endif %}});
//]]>
</script>
{% endblock %}