{% if blocks|length %}
    {% set container = fetch_container_instance() %}
    {% set entityCacheManager = container.get('fa.entity.cache.manager') %}
    <div class="popular-locations__block popular-accordion">
        {% set panelCnt = 0 %}
        {% for solrFieldName, block in blocks %}
            {% if block['facet'] is defined and block['facet']|length %}
                <div class="popular-locations__content" id="panelBlock{{panelCnt}}">
                    <h6 class="popular-locations__content--title popular-accordion-link {{ panelCnt == 0 ? 'accord-active' :'' }}">
                        {{ block['heading'] }}
                    </h6>
                    <div class="popular-locations__list-block">
                        <ul class="popular-locations__list">
                            {% set facetIdArray = block['facet']|keys %}
                            {% for facetId in facetIdArray %}
                                {% set searchResultUrl =  path('location_home_page', {'location': entityCacheManager.getEntitySlugById('FaEntityBundle:Location', facetId)}) %}
                                <li class="popular-locations__item">
                                    <a href="{{ searchResultUrl }}" class="popular-locations__link">
                                        {{ entityCacheManager.getEntityNameById(block['repository'], facetId) }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% set panelCnt = panelCnt + 1 %}
            {% endif %}
        {% endfor %}
    </div>
    <script>
        if (window.matchMedia("(max-width: 767px)").matches) {
            $('.popular-accordion-link').removeClass('accord-active');
        }
        $('.popular-accordion-link').click(function(event) {
            if ($('.popular-locations__block').hasClass('popular-accordion')) {
                $('.popular-accordion-link').not($(this)).removeClass('accord-active');
                $('.popular-locations__list-block').not($(this).next()).slideUp(300);
            }
            $(this).toggleClass('accord-active', 'mob-active').next().slideToggle(300);
        });
    </script>
{% endif %}