<div class="row">
    <div class="columns">
        <div class="outline">
            <p class="instruction">{{ 'Click on up and down arrow to sort result'|trans({}, 'messages') }}</p>
            <table>
                <thead>
                    <tr>
                        <th width="40%">
                           {{ sortable_link('entity', 'category_dimension__name', 'Entity type'|trans, sorter) }}
                        </th>
                        <th width="40%">
                           {{ sortable_link('entity', 'entity__name', 'Entity name'|trans, sorter) }}
                        </th>
                        <th><i class="fi-widget"></i> {{ 'Action'|trans({}, 'messages') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% if pagination.getNbResults() %}
                         {% for entity in pagination.getCurrentPageResults() %}
                             <tr class="gradeX">
                                 <td>{{ entity.category_dimension_name }}</td>
                                 <td>{{ entity.name }}</td>
                                 <td>
                                 <button href="#" data-dropdown="drop{{ entity.id }}" aria-controls="drop1" aria-expanded="false" class="small button dropdown tools_btn">Select</button>
                                    <br />
                                    <ul id="drop{{ entity.id }}" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                                        {% if entityEditGrant %}
                                            <li><a href="{{ path('entity_edit', {'id': entity.id}) }}"><i class="fi-pencil"></i> {{ 'Edit'|trans({}, 'messages') }}</a></li>
                                        {% endif %}

                                        {% if entityDeleteGrant %}
                                            <li><a href="{{ path('entity_delete', {'id': entity.id}) }}" onclick="javascript:return confirm('{{ 'Do you want to proceed deleting this entity?'|trans({}, 'messages') }}')"><i class="fi-trash"></i> {{ 'Delete'|trans({}, 'messages') }}</a></li>
                                        {% endif %}
                                    </ul>
                                 </td>
                             </tr>
                         {% endfor %}
                    {% else %}
                         <tr class="gradeX">
                             <td colspan="5" align="center">{{ 'No entity found'|trans({}, 'messages') }}</td>
                         </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>