{% if businessExposureUsersDetails is defined and businessExposureUsersDetails|length %}
    <div class="exposure-block">
        <div class="gray-text text-right">{{'Featured business'|trans({}, 'frontend-profile-exposure')}}</div>
        {% set profilePosition = 1 %}
        {% for businessExposureUsersDetail in businessExposureUsersDetails %}
            {% set userProfileUrl = container.get('fa_ad.manager.ad_routing').getProfilePageUrl(businessExposureUsersDetail['user_id']) %}
            <div class="featured-profile-list">
                {% set rootCategoryName = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getCategoryClassNameById', [rootCategoryId, true]) %}
                {% set gaEventAction    = 'Featured Business Ad - ' ~ rootCategoryName %}
                {% set gaEventLabel     = businessExposureUsersDetail['user_name'] ~ ' - ' ~ profilePosition %}
                <a href='javascript:visitUserProfileOrAd("{{ userProfileUrl }}", "Click Ad position", "{{ gaEventAction }}", "{{ gaEventLabel }}");' class="tricky-link">{{ businessExposureUsersDetail['user_name']|raw }}</a>
                <div class="row">
                    <div class="large-5 columns">
                        <div class="featured-bz-listimg">
                            {% set userCompanyLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogo', [container, businessExposureUsersDetail['company_logo'], businessExposureUsersDetail['user_id'], null, null, true, true, businessExposureUsersDetail['status_id'], businessExposureUsersDetail['user_name']]) %}
                            {{ userCompanyLogo|raw }}
                        </div>
                    </div>

                    <div class="large-19 columns">
                        <h3 class="outside-tricky"><a href='javascript:visitUserProfileOrAd("{{ userProfileUrl }}", "Click Ad position", "{{ gaEventAction }}", "{{ gaEventLabel }}");'>{{ businessExposureUsersDetail['user_name']|raw }}</a></h3>
                        <div class="profile-desc">
                            {% if businessExposureUsersDetail['company_welcome_message'] is defined and businessExposureUsersDetail['company_welcome_message']|length > 0 %}
                                {{trim_text(businessExposureUsersDetail['company_welcome_message']|striptags, 300)|raw}}
                            {% else %}
                                {{trim_text(businessExposureUsersDetail['about_us']|striptags, 300)|raw}}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% set profilePosition = profilePosition + 1 %}
        {% endfor %}
    </div>
{% endif %}