{% set container = fetch_container_instance() %}
{% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
{% set userSearchAgentRepository = fetch_repository('FaUserBundle:UserSearchAgent') %}
{% set currentDevice = 'D' %}
{% if mobileDetectManager.isMobile() and not mobileDetectManager.isTablet() %}
    {% set currentDevice = 'M' %}
{% elseif mobileDetectManager.isMobile() and mobileDetectManager.isTablet() %}
    {% set currentDevice = 'T' %}
{% endif %}

{% set searchParams = {} %}
{% set displayCriteriaText = '' %}
{% set searchResultVariables = get_variables('searchResult') %}
{% if searchResultVariables.searchAgentData is defined %}
    {% set searchAgentCriteria = searchResultVariables.searchAgentData %}
    {% if searchAgentCriteria['search'] is defined %}
        {% set searchParams = searchParams|merge(searchAgentCriteria['search']) %}
    {% endif %}
    {% if searchAgentCriteria['sorter'] is defined %}
        {% set searchParams = searchParams|merge(searchAgentCriteria['sorter']) %}
    {% endif %}

    {% set displayCriteriaArray = userSearchAgentRepository.getSearchAgentDisplayCriteriaArray(searchParams, container) %}

    {% for displayCriteria in displayCriteriaArray %}
        {% set displayCriteriaText = displayCriteriaText~'<span>'~displayCriteria~'</span>' %}
    {% endfor %}
{% endif %}
               
{% set showAdultAlert = 0 %}
{% set ADULT_CATEGORY_ID = constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') %}
{% if searchParams is defined and searchParams.item__category_id is defined and searchParams.item__category_id is not null %}
    {% set categorySrchPath = fetch_repository('FaEntityBundle:Category').getCategoryPathArrayById(searchParams.item__category_id, false, container) %}
    {% for categoryId,categoryName in categorySrchPath %}        
        {% if (categoryId == ADULT_CATEGORY_ID) %}
            {% set showAdultAlert = 1 %}
        {% endif %}
    {% endfor %}
{% endif %}

<div class="listing alert-block">
    <div class="clearfix">
        <div class="list-col-1">
            <div class="list-img">
            {% if showAdultAlert==1 %}
                <img src="{{ asset_url('fafrontend/images/adul-alert-illustration.svg') }}" alt="alert-illustration" />
            {% else %}
            	<img src="{{ asset_url('fafrontend/images/alert-illustration.svg') }}" alt="alert-illustration" />
            {% endif %}
            </div>
        </div>
        <div class="list-col-2">
            <div class="clearfix">
                <h3 class="hide-for-small-only list-title">
                    {{ "Can't find what you're looking for?"|trans({}, 'frontend-create-alert-block')}}
                </h3>
                <h5 class="show-for-small-only list-title">
                    {{ "Can't find what you're looking for?"|trans({}, 'frontend-create-alert-block')}}
                </h5>
            </div>
            <div class="list-desc  hide-for-small-only">
                {{ 'Get new email alerts for new ads matching this search:'|trans({}, 'frontend-create-alert-block')}}
            </div>
            <div class="list-dimensions hide-for-small-only">
               {{ displayCriteriaText }}
            </div>
            <div class="clearfix notify-me opened">

            {% if (container.has('security.authorization_checker') and container.get('security.authorization_checker').isGranted("IS_AUTHENTICATED_REMEMBERED")) %}
                    {{ form_widget(form.save, {'attr': {'class': 'secondary-btn-1 button mb0', 'onclick': "return saveSearchAgent('', 'ListingBottom');"}}) }}
            {% else %}
                {% if currentDevice == 'M' %}
                    {{ form_widget(form.save, {'attr': {'class': 'secondary-btn-1 button mb0', 'onclick': "return createHalfAccount('', 'ListingBottom');"}}) }}
                {% else %}
                    {% form_theme form 'FaFrontendBundle:Form:fields.html.twig' %}
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'outline'}}) }}
                        {{ form_errors(form) }}
                        <div style="display:none">{{ form_row(form.email_alert) }}{{ form_row(form.third_party_email_alert) }}</div>
                        {{ form_widget(form.email, {'attr': {'placeholder': 'Enter your email address', 'maxlength': '255'} }) }}
                        {{ form_widget(form.save, {'attr': {'class': 'secondary-btn-1 button mb0'}}) }}
                    {{ form_end(form) }}
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
//<![CDATA[
$(document).ready(function(){
	$("form[name='fa_user_half_account_email_only']").submit(function(event) {
        // Stop form from submitting normally
        event.preventDefault();

        bindHalfAccountSubmitFormEventEmailOnly('', 'ListingBottom');
    });
	bindFormErrorEvents();
});

function bindHalfAccountSubmitFormEventEmailOnly(ad_id, callFrom)
{
	blockPage();
	$.ajax({
        type: "POST",
        url: "{{path('user_half_account_create_email_only_ajax')}}",
        data: $('form[name="fa_user_half_account_email_only"]').serialize()
    })
    .done(function(response) {
        unblockPage();
        if (response.success.length && response.user_id) {
            saveSearchAgent(response.user_id, callFrom);
            $("#fa_user_half_account_email_only_email").val("");
        } else {
            $('#createAlertBlockError').remove();
            if (response.errorMessage.length) {
                $("#fa_user_half_account_email_only_email").addClass("error");
                $("<small id='createAlertBlockError' class='error'>"+response.errorMessage+"</span>").insertAfter('#fa_user_half_account_email_only_save');
            }
        }
    });
}
//]]>
</script>