{% set maxDimensionCount = 12 %}

{% if resultCount > 0 %}
    <div class="search-filters">
        <dl class="accordion" data-accordion>
            {# Category search params - start #}
            <dd class="accordion-navigation keep-shown">
                <a href="#panel1a" class="clearfix" rel="nofollow" ><h5 class="left">{{ 'Categories'|trans({}, 'frontend-left-search')}}</h5></a>
                <div class="content active clearfix">
                    {% if leftFilters.parent_category is defined and leftFilters.parent_category != '' %}
                        <div class="search-cat-parent-list">
                            <ul>
                                <li><a data-href="{{ leftFilters.parent_category.getSlug() }}">{{ leftFilters.parent_category.getName() }}</a></li>
                            </ul>
                        </div>
                    {% endif %}
                    <div class="search-cat-sub-list">
                        <ul>
                            {% set key = 0 %}
                            <li><label>{{ leftFilters.current_category }}</label></li>
                            {% for key, category in leftFilters.categories %}
                                {% if key == (maxDimensionCount) %}
                                    </ul>
                                    <div class="see-more clearfix">
                                        <a href="javascript:void(0);" rel="nofollow" onclick="$('#categoryLHSFilters').foundation('reveal', 'open');">See more</a>
                                        <a href="javascript:void(0)" rel="nofollow" class="right clear_filter" id="{{ key }}_clear">{{ 'Clear'|trans({}, 'frontend-left-search') }}</a>
                                    </div>
                                    <div class="reveal-modal" id="categoryLHSFilters" data-reveal>
                                        <a class="close-reveal-modal">&times;</a>
                                        <div>
                                            <h5 class="modal-title">Showing Category</h5>
                                            <div class="modal-content dimension-modal">
                                                <div class="dimension-content">
                                                    <div class="clearfix">
                                {% endif %}
                                {% if key >= maxDimensionCount and key is divisible by(4) %}
                                    <ul class="seller-link dimension-list">
                                {% endif %}

                                <li><a data-href="{{ category.slug }}">{{ category.name }}
                                        {% if category.count is defined %}
                                            ({{ category.count }})
                                        {% else %}
                                            ({{ 0 }})
                                        {% endif %}
                                    </a></li>
                                {% if key >= maxDimensionCount and (key + 1) is divisible by(4) %}
                                    </ul>
                                {% endif %}
                                {% if key > maxDimensionCount and key == (leftFilters.categories|length  - 1) %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% if key < maxDimensionCount %}
                                </ul>
                            {% endif %}
                    </div>
                </div>
            </dd>
            {# Category search params - end #}

            {# Static search filters - start #}
            <dd class="accordion-navigation keep-shown">
                <a href="#panel2a" class="clearfix" rel="nofollow" ><h5 class="left">{{ 'My budget is from'|trans({}, 'frontend-left-search')}}</h5></a>
                <div class="content active clearfix">
                    <ul class="budget-box clearfix">
                        <li class="budget-field">
                            <span>&pound;</span>
                            {{ form_widget(leftFilters.form.item__price_from, {'attr': {'class': 'white-field'}}) }}
                        </li>
                        <li class="budget-to-caption">to</li>
                        <li class="budget-field">
                            <span>&pound;</span>
                            {{ form_widget(leftFilters.form.item__price_to, {'attr': {'class': 'white-field'}}) }}
                        </li>
                        <li><button class="budget-go-btn" type="button" onclick="formulate_photo_url();"></button></li>
                    </ul>
                </div>
            </dd>

            <dd class="accordion-navigation keep-shown">
                <a href="#panel3a" class="clearfix" rel="nofollow" ><h5 class="left">{{ 'Distance I\'m happy to travel'|trans({}, 'frontend-left-search')}}</h5></a>
                <div class="content active clearfix">
                    <ul class="distance-search clearfix" id="distance-left-search" style="display:none">
                        <li class="col white-select">
                            {{ form_widget(leftFilters.form.default_distance) }}
                            {{ form_widget(leftFilters.form.item__distance, {'attr': {'class': 'fa-select-white'}}) }}
                        </li>
                        <li>
                            <label>{{ 'from'|trans({}, 'frontend')}}</label>
                        </li>
                    </ul>

                    <ul class="distance-search clearfix">
                        <li class="col">
                            <div>
                                {{ form_widget(leftFilters.form.item__location_autocomplete, {'attr': {'class': 'white-field'}}) }}
                                <a href="javascript:void(0);" rel="nofollow" id="fa_left_search_item__location_close" class="ui-autocomplete-close select2-search-choice-close">Close</a>
                            </div>
                        </li>
                        <li>
                            <button class="budget-go-btn" type="button" id="left_search_location_btn" onclick="formulate_location_url();"></button>
                        </li>
                    </ul>
                    <ul class="distance-search distance-left-search clearfix">
                        <li id="distance-error-placeholder"><small class="error" style="display:none"></small></li>
                    </ul>
                    {# Town left filters #}
                    {% if leftFilters.locationFacets|length %}
                        <div class="towns-list">
                            <label>{{'Nearby towns'|trans({}, 'frontend-left-search')}}:</label>
                            <ul>
                                {% for key, location in leftFilters.locationFacets %}
                                    {% if key == (maxDimensionCount) %}
                                        </ul>
                                        <div class="see-more clearfix">
                                            <a href="javascript:void(0);" rel="nofollow" onclick="$('#locationLHSFilters').foundation('reveal', 'open');">See more</a>
                                            <a href="javascript:void(0)" rel="nofollow" class="right clear_filter" id="{{ key }}_clear">{{ 'Clear'|trans({}, 'frontend-left-search') }}</a>
                                        </div>
                                        <div class="reveal-modal" id="locationLHSFilters" data-reveal>
                                            <a class="close-reveal-modal">&times;</a>
                                            <div>
                                                <h5 class="modal-title">Showing Category</h5>
                                                <div class="modal-content dimension-modal">
                                                    <div class="dimension-content">
                                                        <div class="clearfix">
                                    {% endif %}
                                    {% if key >= maxDimensionCount and key is divisible by(4) %}
                                        <ul class="seller-link dimension-list">
                                    {% endif %}
                                    <li><a data-location-href="{{ location.slug }}">{{ location.name }} ({{ location.count }})</a></li>
                                    {% if key >= maxDimensionCount and (key + 1) is divisible by(4) %}
                                        </ul>
                                    {% endif %}
                                    {% if key > maxDimensionCount and key == (leftFilters.locationFacets|length - 1) %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {# Town left filters - end #}
                </div>
            </dd>

            <dd class="accordion-navigation keep-shown">
                <a href="#panel1b" class="clearfix" rel="nofollow" ><h5 class="left">{{ 'Seller'|trans({}, 'frontend-left-search')}}</h5></a>
                <div class="content active clearfix">
                    <ul class="seller-link">
                        {% for user_type in leftFilters.user_types %}
                            <li><a {% if user_type.selected is defined and user_type.selected == true %} class="bold" {% endif %}  data-href="{{ user_type.url_param }}" rel="nofollow">{{ user_type.title }} ({{ user_type.count }})</a></li>
                        {% endfor %}
                    </ul>
                    <div class="see-more clearfix">
                        <a href="javascript:void(0)" rel="nofollow" class="right clear_filter" id="user_type_clear">{{ 'Clear'|trans({}, 'frontend-left-search') }}</a>
                    </div>
                </div>
            </dd>

            {% if leftFilters.orderedDimensions|length %}
                {% for dimension_id, entities in leftFilters.orderedDimensions %}
                    <dd class="accordion-navigation">
                    {{ include('FaAdBundle:AdList:leftSearchDimensionFiltersNew.html.twig') }}
                    </dd>
                {% endfor %}
            {% endif %}

            <dd class="accordion-navigation keep-shown">
                <div class="content active label-inline">
                    <ul class="white-checkbox search-type crawlable-checkbox">
                        <li>
                            <span class="custom-checkbox{% if leftFilters.ads_with_images == true %} checked {% endif %}">
                                <input type="checkbox" {% if leftFilters.ads_with_images  == true %} checked="checked" {% endif %} id="fa_left_search_items_with_photo" name="fa_left_search[items_with_photo]" value="1">
                            </span>
                            <label class="mb0" for="fa_left_search_items_with_photo">Only ads with photo ({{ leftFilters.image_count }})</label>
                            <a data-href="ads_with_images=1">Only ads with photo</a>
                        </li>
                    </ul>
                </div>
            </dd>

            <dd class="accordion-navigation keep-shown">
                <div class="content active label-inline">
                    <ul class="white-checkbox search-type crawlable-checkbox">
                        <li>
                            <span class="custom-checkbox{% if leftFilters.expired_ads == true %} checked {% endif %}">
                                <input type="checkbox" {% if leftFilters.expired_ads == true %} checked="checked" {% endif %} id="fa_left_search_expired_ads" name="fa_left_search[expired_ads]" value="1">
                            </span>
                            <label class="mb0" for="fa_left_search_expired_ads">Expired ads</label>
                            <a data-href="expired_ads=1">Expired ads</a>
                        </li>
                    </ul>
                </div>
            </dd>
            {# Static search filters - end #}

            <div class="reset-search clearfix">
                {% if isShopPage is defined and isShopPage %}
                    {% set profileAdsUrl = container.get('fa_ad.manager.ad_routing').getProfilePageAdsUrl(searchParams['item__user_id']) %}
                    <a href="{{ profileAdsUrl }}" title="{{ 'Reset search'|trans({}, 'frontend-left-search') }}">{{ 'Reset search'|trans({}, 'frontend-left-search') }}</a>
                {% else %}
                    <a href="javascript:void(0)" id="reset_search" title="{{ 'Reset search'|trans({}, 'frontend-left-search') }}">{{ 'Reset search'|trans({}, 'frontend-left-search') }}</a>
                {% endif %}
            </div>
    </dl>
    </div>
{% endif %}
<script>
    function formulate_photo_url() {
        let url = window.location.href;
        if ($('#fa_left_search_item__price_from').val()) {
            let url_string = 'item__price_from=' + $('#fa_left_search_item__price_from').val();
            if (url.indexOf('?') != -1) {
                url += '&' + url_string;
            } else {
                url += '?' + url_string;
            }
        }

        if ($('#fa_left_search_item__price_to').val()) {
            let url_string = '&item__price_to=' + $('#fa_left_search_item__price_to').val();
            if (url.indexOf('?') != -1) {
                url += '&' + url_string;
            } else {
                url += '?' + url_string;
            }
        }

        window.location.href = url;
    }

    function formulate_location_url() {
        let url = window.location.href;
        if ($('#fa_left_search_item__location_autocomplete').val() != "United Kingdom") {
            let value = $('#fa_left_search_item__location_autocomplete').val().toLowerCase();
            value = value.replace(' ', '_');

            url = href.replace('/{{ currentLocation }}/', '/'+value+'/');

            if ($('#fa_left_search_item__distance').val() != 5) {
                let url_string = 'item__distance=' . $('#fa_left_search_item__distance').val();
                if (url.indexOf('?') != -1) {
                    url += '&' + url_string;
                } else {
                    url += '?' + url_string;
                }
            }
        }
    }

    $(document).ready(function() {

        $('a[data-href]').each(function() {
            let href = window.location.href;
            let this_url = $(this).attr('data-href');
            if (href.indexOf('#')) {
                let _var = href.split('#');
                href = _var[0];
            }

            let url_params = '?';

            if (href.indexOf('?') != -1) {
                let split_params = href.split('?');
                url_params += split_params[1];
                href = split_params[0];
            }

            let index = href.indexOf(this_url);
            if (index != -1) {
                href = href.substring(0, (index + this_url.length));
            } else if (this_url.indexOf('=') != -1) {
                url_params += '&' + this_url;
            } else {
                href += this_url + '/';
            }

            if (url_params.length == 1) {
                url_params = '';
            }
            $(this).attr('href', href + url_params);
        });

        $('a[data-location-href]').each(function() {
            let href = window.location.href;

            let new_url = href.replace('/{{ currentLocation }}/', '/'+$(this).attr('data-location-href')+'/');
            $(this).attr('href', new_url);
        });

        $('.white-checkbox input[type="checkbox"]').on('click', function() {
            window.location.replace($(this).closest('li').find('a').attr('href'));
        });

        $('.white-checkbox label').on('click', function() {
            window.location.replace($(this).closest('li').find('a').attr('href'));
        });

        $('.accordion_panel').each(function() {
            if ($(this).find('a.bold').length || $(this).find('span.checked').length) {
                $(this).addClass('active');
            }
        });
    });
</script>