{% set maxDimensionCount = 12 %}

{% set key_value = false %}
{% if leftFilters.parent_category is defined and leftFilters.parent_category != '' and leftFilters.parent_category.getId() == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') and leftFilters.entity_selected == true %}
    {% set key_value = true %}
{% endif %}

{{ form_start(leftFilters.form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_errors(leftFilters.form) }}
    <div class="search-filters">
        <dl class="accordion" data-accordion>
            {# Category search params - start #}
            <dd class="accordion-navigation keep-shown">
                <a href="#panel1a" class="clearfix" rel="nofollow" ><h5 class="left">{{ 'Categories'|trans({}, 'frontend-left-search')}}</h5></a>
                <div class="content active clearfix">
                    {% if leftFilters.parent_category is defined and leftFilters.parent_category != '' and leftFilters.current_category.getLvl() > 1 %}
                        <div class="search-cat-parent-list">
                            <ul>
                                <li><a data-parent-href="{{ leftFilters.parent_category.getSlug() }}">{{ leftFilters.parent_category.getName() }}</a></li>
                                {% if leftFilters.sub_category != '' %}
                                    <li><a data-parent-href="{{ leftFilters.sub_category.getSlug() }}">{{ leftFilters.sub_category.getName() }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="search-cat-sub-list">
                        <ul>
                            {% set key = 0 %}
                            <li><label>{% if leftFilters.current_category.getName() == 'Category_root' %} {{ 'All Categories' }} {% else %} {{ leftFilters.current_category.getName() }}{% endif %}</label></li>
                            {% for key1, category in leftFilters.categories %}
                                {% if key == (maxDimensionCount) %}
                                    </ul>
                                    <div class="see-more clearfix">
                                        <a href="javascript:void(0);" rel="nofollow" onclick="$('#categoryLHSFilters').foundation('reveal', 'open');">See more</a>
                                        <a href="javascript:void(0)" rel="nofollow" class="right clear_filter" id="{{ key }}_clear">{{ 'Clear'|trans({}, 'frontend-left-search') }}</a>
                                    </div>
                                    <div class="reveal-modal" id="categoryLHSFilters" data-reveal>
                                        <a class="close-reveal-modal">&times;</a>
                                        <div>
                                            <h5 class="modal-title">Showing Category</h5>
                                            <div class="modal-content dimension-modal">
                                                <div class="dimension-content">
                                                    <div class="clearfix">
                                {% endif %}
                                {% if key >= maxDimensionCount and key is divisible by(4) %}
                                    <ul class="seller-link dimension-list">
                                {% endif %}

                                <li><a data-href="{{ category.slug }}">{{ category.name }}
                                        {% if category.count is defined %}
                                            ({{ category.count }})
                                        {% else %}
                                            ({{ 0 }})
                                        {% endif %}
                                    </a></li>
                                {% if key >= maxDimensionCount and (key + 1) is divisible by(4) %}
                                    </ul>
                                {% endif %}
                                {% if key > maxDimensionCount and key == (leftFilters.categories|length  - 1) %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% set key = key + 1 %}
                            {% endfor %}
                            {% if key < maxDimensionCount %}
                                </ul>
                            {% endif %}
                    </div>
                </div>
            </dd>
            {# Category search params - end #}

            {% if rootCategoryId is not null and rootCategoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::COMMUNITY_ID') %}
                {% if leftFilters.orderedDimensions|length %}
                    {% for dimension_id, entities in leftFilters.orderedDimensions %}
                        <dd class="accordion-navigation">
                            {{ include('FaAdBundle:AdList:leftSearchDimensionFiltersNew.html.twig') }}
                        </dd>
                    {% endfor %}
                {% endif %}
            {% endif %}

            {# Static search filters - start #}
            <dd class="accordion-navigation keep-shown {% if not leftFilters.showPriceField %} hide {% endif %}">
                <a href="#panel2a" class="clearfix" rel="nofollow" ><h5 class="left">{{ 'My budget is from'|trans({}, 'frontend-left-search')}}</h5></a>
                <div class="content active clearfix">
                    <ul class="budget-box clearfix">
                        <li class="budget-field">
                            <span>&pound;</span>
                            {{ form_widget(leftFilters.form.item__price_from, {'attr': {'class': 'white-field'}}) }}
                        </li>
                        <li class="budget-to-caption">to</li>
                        <li class="budget-field">
                            <span>&pound;</span>
                            {{ form_widget(leftFilters.form.item__price_to, {'attr': {'class': 'white-field'}}) }}
                        </li>
                        <li><button class="budget-go-btn" type="button" onclick="formulate_photo_url();"></button></li>
                    </ul>
                </div>
            </dd>

            <dd class="accordion-navigation keep-shown">
                <a href="#panel3a" class="clearfix" rel="nofollow" ><h5 class="left">{{ 'Distance I\'m happy to travel'|trans({}, 'frontend-left-search')}}</h5></a>
                <div class="content active clearfix">
                    <ul class="distance-search clearfix" id="distance-left-search" style="display:none">
                        <li class="col white-select">
                            {{ form_widget(leftFilters.form.default_distance) }}
                            {{ form_widget(leftFilters.form.item__distance, {'attr': {'class': 'fa-select-white'}}) }}
                        </li>
                        <li>
                            <label>{{ 'from'|trans({}, 'frontend')}}</label>
                        </li>
                    </ul>

                    <ul class="distance-search clearfix">
                        <li class="col">
                            <div>
                                {{ form_widget(leftFilters.form.item__location_autocomplete, {'attr': {'class': 'white-field'}}) }}
                                <a href="javascript:void(0);" rel="nofollow" id="fa_left_search_new_item__location_close" class="ui-autocomplete-close select2-search-choice-close">Close</a>
                            </div>
                        </li>
                        <li>
                            <button class="budget-go-btn" type="button" id="left_search_location_btn" onclick="formulate_location_url();"></button>
                        </li>
                    </ul>
                    <ul class="distance-search distance-left-search clearfix">
                        <li id="distance-error-placeholder"><small class="error" style="display:none"></small></li>
                    </ul>
                    {# Town left filters #}
                    {% if leftFilters.locationFacets|length %}
                        <div class="towns-list">
                            <label>{{'Nearby towns'|trans({}, 'frontend-left-search')}}:</label>
                            <ul>
                                {% for key, location in leftFilters.locationFacets %}
                                    {% if key == (maxDimensionCount) %}
                                        </ul>
                                        <div class="see-more clearfix">
                                            <a href="javascript:void(0);" rel="nofollow" onclick="$('#locationLHSFilters').foundation('reveal', 'open');">See more</a>
                                            <a href="javascript:void(0);" rel="nofollow" class="right clear_filter" id="{{ key }}_clear">{{ 'Clear'|trans({}, 'frontend-left-search') }}</a>
                                        </div>
                                        <div class="reveal-modal" id="locationLHSFilters" data-reveal>
                                            <a class="close-reveal-modal">&times;</a>
                                            <div>
                                                <h5 class="modal-title">Showing Towns</h5>
                                                <div class="modal-content dimension-modal">
                                                    <div class="dimension-content">
                                                        <div class="clearfix">
                                    {% endif %}
                                    {% if key >= maxDimensionCount and key is divisible by(4) %}
                                        <ul class="seller-link dimension-list">
                                    {% endif %}
                                    <li><a data-location-href="{{ location.slug }}">{{ location.name }} ({{ location.count }})</a></li>
                                    {% if key >= maxDimensionCount and (key + 1) is divisible by(4) %}
                                        </ul>
                                    {% endif %}
                                    {% if key > maxDimensionCount and key == (leftFilters.locationFacets|length - 1) %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {# Town left filters - end #}
                </div>
            </dd>

            <dd class="accordion-navigation keep-shown">
                <a href="#panel1b" class="clearfix" rel="nofollow" ><h5 class="left">{{ leftFilters.userTypeTitle|trans({}, 'frontend-left-search')}}</h5></a>
                <div class="content active clearfix">
                    <ul class="seller-link">
                        {% for user_type in leftFilters.user_types %}
                            <li><a {% if user_type.selected is defined and user_type.selected == true %} class="bold" {% endif %}  data-href="{{ user_type.url_param }}" rel="nofollow">{{ user_type.title }} ({{ user_type.count }})</a></li>
                        {% endfor %}
                    </ul>
                    <div class="see-more clearfix">
                        <a href="javascript:void(0)" rel="nofollow" class="right clear_filter" id="user_type_clear">{{ 'Clear'|trans({}, 'frontend-left-search') }}</a>
                    </div>
                </div>
            </dd>

            {% if searchParams.item__category_id is defined and searchParams.item__category_id is not null and rootCategoryId != constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::COMMUNITY_ID') %}
                {% if leftFilters.orderedDimensions|length %}
                    {% for dimension_id, entities in leftFilters.orderedDimensions %}
                        <dd class="accordion-navigation">
                            {{ include('FaAdBundle:AdList:leftSearchDimensionFiltersNew.html.twig') }}
                        </dd>
                    {% endfor %}
                {% endif %}
            {% endif %}

            <dd class="accordion-navigation keep-shown">
                <div class="content active label-inline">
                    <ul class="white-checkbox search-type crawlable-checkbox">
                        <li>
                            <span class="custom-checkbox{% if leftFilters.ads_with_images == true %} checked {% endif %}">
                                <input type="checkbox" {% if leftFilters.ads_with_images  == true %} checked="checked" {% endif %} id="fa_left_search_items_with_photo" name="fa_left_search[items_with_photo]" value="1">
                            </span>
                            <label class="mb0" for="fa_left_search_items_with_photo">Only ads with photo ({{ leftFilters.image_count }})</label>
                            <a data-href="ads_with_images=1">Only ads with photo</a>
                        </li>
                    </ul>
                </div>
            </dd>

            <dd class="accordion-navigation keep-shown">
                <div class="content active label-inline">
                    <ul class="white-checkbox search-type crawlable-checkbox">
                        <li>
                            <span class="custom-checkbox{% if leftFilters.expired_ads == true %} checked {% endif %}">
                                <input type="checkbox" {% if leftFilters.expired_ads == true %} checked="checked" {% endif %} id="fa_left_search_expired_ads" name="fa_left_search[expired_ads]" value="1">
                            </span>
                            <label class="mb0" for="fa_left_search_expired_ads">Expired ads</label>
                            <a data-href="expired_ads=1">Expired ads</a>
                        </li>
                    </ul>
                </div>
            </dd>
            {# Static search filters - end #}

            <div class="reset-search clearfix">
                {% if isShopPage is defined and isShopPage %}
                    {% set profileAdsUrl = container.get('fa_ad.manager.ad_routing').getProfilePageAdsUrl(searchParams['item__user_id']) %}
                    <a href="{{ profileAdsUrl }}" title="{{ 'Reset search'|trans({}, 'frontend-left-search') }}">{{ 'Reset search'|trans({}, 'frontend-left-search') }}</a>
                {% else %}
                    <a href="javascript:void(0)" id="reset_search" title="{{ 'Reset search'|trans({}, 'frontend-left-search') }}">{{ 'Reset search'|trans({}, 'frontend-left-search') }}</a>
                {% endif %}
            </div>
    </dl>
    </div>
{{ form_end(leftFilters.form) }}
<script>
    function getPageUrl() {
        let url = window.location.href;
        let pageIndex = url.indexOf('/page-');

        if (pageIndex != -1) {
            let endIndex = url.indexOf('/', pageIndex + 1);
            let searchString = url.substring(pageIndex, endIndex + 1);
            url = url.replace(searchString, '/');
        }

        return url;
    }

    function formulate_photo_url() {
        let url = getPageUrl();
        if ($('#fa_left_search_new_item__price_from').val()) {
            let url_string = 'item__price_from=' + $('#fa_left_search_new_item__price_from').val();
            if (url.indexOf('?') != -1) {
                url += '&' + url_string;
            } else {
                url += '?' + url_string;
            }
        }

        if ($('#fa_left_search_new_item__price_to').val()) {
            let url_string = '&item__price_to=' + $('#fa_left_search_new_item__price_to').val();
            if (url.indexOf('?') != -1) {
                url += '&' + url_string;
            } else {
                url += '?' + url_string;
            }
        }

        window.location.href = url;
    }

    function formulate_location_url() {
        let url = getPageUrl();
        if ($('#fa_left_search_new_item__location_autocomplete').val() != "United Kingdom") {
            let value = $('#fa_left_search_new_item__location').val();
            if (! $.isNumeric(value)) {
                url = url.replace('/{{ currentLocation }}/', '/'+value+'/');
            }

            let url_param = 'item__distance=' + $('#fa_left_search_new_item__distance').val();
            if (url.indexOf('?') != -1) {
                let url_string = url.split('?');
                url_string = url_string[1];

                let distance_index = url_string.indexOf('item__distance');
                if (distance_index != -1) {
                    let end_position = url_string.indexOf('&', distance_index);
                    if (end_position == -1) {
                        end_position = url_string.length;
                    }
                    url = url_string[0];
                    let search_string = url_string.substring(distance_index, end_position);
                    url_string = url_string.replace(search_string, '');
                    if (url_string.length <= 1) {
                        url += '?' + url_param;
                    } else {
                        url += '&' + url_param;
                    }
                } else {
                    url += '&' + url_param;
                }
            } else {
                url += '?' + url_param;
            }

            window.location.href = url;
        }
    }

    $.urlParamVal = function(name){
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results[1] || 0;
    }

    function set_url_params(url_params, this_url, isCheckbox=true) {
        let this_url_parts = this_url.split('=');
        let this_url_part = this_url_parts[0];
        let this_url_value = this_url_parts[1];

        if (url_params.length == 0) {
            return '?' + this_url;
        } else if (url_params.indexOf(this_url_part) == -1) {
            return '?' + url_params + '&' + this_url;
        } else {
            let url_param_vars = url_params.split('&');
            let new_url_params = '';

            url_param_vars.forEach(function(item) {
                if (item.indexOf(this_url_part) != -1) {
                    if (item.indexOf(this_url) != -1) {
                        // new_url_params += this_url + '&';
                    } else {
                        if (isCheckbox) {
                            new_url_params += item + '___' + this_url_value + '&';
                        } else {
                            let values = item.split('=');
                            new_url_params += values[0] + '=' + this_url_value + '&';
                        }
                    }
                } else {
                    new_url_params += item + '&';
                }
            });

            return '?' + new_url_params.replace(new RegExp("[&]?$"), '');
        }

    }

    $(document).ready(function() {

        $('a[data-parent-href]').each(function() {
            let href = getPageUrl();
            let this_url = $(this).attr('data-parent-href');
            if (href.indexOf('#')) {
                let _var = href.split('#');
                href = _var[0];
                if ($(this).closest('.search-cat-sub-list').length && href.indexOf('/search/') != -1) {
                    href = href.replace('/search/', '/');
                }
            }
            let url_params = '';

            if (href.indexOf('?') != -1) {
                let split_params = href.split('?');
                url_params = '?' + split_params[1];
                href = split_params[0];
            }

            let index = href.indexOf(this_url);
            if (index != -1) {
                href = href.substring(0, (index + this_url.length + 1));
            }

            if (url_params.length == 1) {
                url_params = '';
            }
            $(this).attr('href', href + url_params);
        });

        $('a[data-href]').each(function() {
            let href = getPageUrl();
            let this_url = $(this).attr('data-href');
            if (href.indexOf('#')) {
                let _var = href.split('#');
                href = _var[0];
                if ($(this).closest('.search-cat-sub-list').length && href.indexOf('/search/') != -1) {
                    href = href.replace('/search/', '/');
                }
            }
            let isCheckbox = $(this).closest('li').find('input[type="checkbox"]').length ? true : false;

            let url_params = '';

            if (href.indexOf('?') != -1) {
                let split_params = href.split('?');
                url_params = '?' + split_params[1];
                href = split_params[0];
            }

            let index = href.indexOf('/'+this_url+'/');
            if (index != -1) {
                href = href.substring(0, (index + 1));
            } else if (this_url.indexOf('=') != -1) {
                if ('{{ key_value }}' == '1') {
                    let this_url_part = this_url.split('=');
                    let index_part = href.indexOf('/'+this_url_part[1]+'/');
                    if (index_part != -1) {
                        href = href.substring(0, (index_part + 1));
                    } else {
                        url_params = set_url_params(url_params.replace('?', ''), this_url, isCheckbox);
                    }
                } else {
                    url_params = set_url_params(url_params.replace('?', ''), this_url, isCheckbox);
                }
            } else {
                let data_href = '';
                if (isCheckbox) {
                    if ($(this).closest('li').find('input[type="checkbox"]').is(':checked')) {
                        if (href.indexOf(this_url) !== -1) {
                            href = href.replace('/' + this_url, '');
                        } else if (url_params.indexOf(this_url) !== -1) {
                            let name = $(this).closest('li').find('label').attr('for').replace('fa_left_search_', '');
                            let url_params_arr = url_params.split('&');


                            //url_params = url_params.replace('item__' + name+'='+this_url, '');

                            let new_url_params = '';
                             if (url_params_arr.length) {
                                 url_params_arr.forEach(function(this_item) {
                                     if (this_item == '?' || this_item == '') {

                                     } else if (this_item.indexOf(this_url) !== -1) {
                                        if (this_item.indexOf('___') !== -1) {
                                            let parts = this_item.split('=');
                                            let values = parts[1].split('___');

                                            let index = $.inArray(this_url, values);
                                            if (index != -1) {
                                                values.splice(index, 1);
                                            }

                                            new_url_params += 'item__' + name+'='+(values.join('___')) + '&';
                                        } else {
                                            new_url_params += this_item.replace('item__' + name+'='+this_url, '') + '&';
                                        }
                                     } else {
                                         new_url_params += this_item + '&';
                                     }
                                 });
                             }
                             url_params = new_url_params.replace(new RegExp("[&]*$"), '');
                             if (url_params.indexOf('?') === -1) {
                                 url_params = '?' + url_params;
                             }
                        }
                    } else {
                        if ($(this).closest('ul').find('li').length > 1 && $(this).closest('ul').find('span.checked').length) {
                            data_href = $(this).closest('ul').find('span.checked').closest('li').find('a').attr('data-href');
                        }

                        if (data_href.length) {
                            let name = $(this).closest('ul').find('li').find('label').attr('for').replace('fa_left_search_', '');
                            url_params = set_url_params(url_params.replace('?', ''), 'item__' + name + '=' + this_url);
                        } else {
                            href += this_url + '/';
                        }
                    }
                } else {
                    href += this_url + '/';
                }
            }

            if (url_params.length == 1) {
                url_params = '';
            }
            $(this).attr('href', href + url_params);
        });

        $('a[data-location-href]').each(function() {
            let href = getPageUrl();

            let new_url = href.replace('/{{ currentLocation }}/', '/'+$(this).attr('data-location-href')+'/');
            $(this).attr('href', new_url);
        });

        $('.white-checkbox input[type="checkbox"]').on('click', function() {
            window.location.replace($(this).closest('li').find('a').attr('href'));
        });

        $('.white-checkbox label').on('click', function() {
            window.location.replace($(this).closest('li').find('a').attr('href'));
        });

        $('.accordion_panel').each(function() {
            if ($(this).find('a.bold').length || $(this).find('span.checked').length) {
                $(this).addClass('active');
            }
        });

        $('.clear_filter').each(function() {
            if ($(this).closest('.towns-list').length) {
                let url = getPageUrl();

                url = url.replace('/{{ currentLocation }}/', '/uk/');

                $(this).attr('href', url);
            } else {
                let this_tag = $(this).closest('.accordion-navigation').find('ul').find('a').first();
                let href = $(this_tag).attr('href');
                let data_href = $(this_tag).attr('data-href');

                href = href.replace(data_href, '');

                let href_arr = href.split('?');
                let href1 = href_arr[0];
                let urlparams = '';
                if (href_arr[1] != undefined) {
                    urlparams = href_arr[1].split('&');
                }
                let new_url_params = '?';

                let name = '';
                if ($(this_tag).closest('li').find('label').length) {
                    name = $(this_tag).closest('li').find('label').attr('for').replace('fa_left_search_', '');
                    name = 'item__' + name;
                }

                if (urlparams.length) {
                    urlparams.forEach(function (item) {
                        if (name.length && item.indexOf(name) == -1) {
                            new_url_params += item + '&';
                        } else if (name.length == 0) {
                            new_url_params += item + '&';
                        }
                    });
                    urlparams = new_url_params.replace(new RegExp("[&]*$"), '');
                }

                if (urlparams.length == 1) {
                    urlparams = '';
                }

                $(this).attr('href', href1 + urlparams);
            }
        });
    });
</script>
<div id="left_search_dimension_modal" class="reveal-modal" data-reveal></div>
<div id="removeSavedSearch" class="reveal-modal tiny" data-reveal>
    <a class="close-reveal-modal" rel="nofollow" href="javascript:void(0);" onclick="cancleRemoveSearchAgentPopup();">&#215;</a>
    <h5 class="modal-title">
        {{'Stop search alert'|trans({}, 'frontend-my-saved-searches')}}
    </h5>
    <div class="modal-content remove-modal">
        <div class="row">
            <div class="columns">
                <h5>{{'Are you sure you want to stop this search alert?'|trans({}, 'frontend-my-saved-searches')}}</h5>
            </div>
        </div>
        <div class="mt20 remove-search-btn">
            <div class="row">
                <div class="large-12 columns">
                    <button type="button" class="button secondary-btn-4 thin-btn expand mb0" onclick="closeRevealModel('#removeSavedSearch');removeSavedSearch();">{{'Ok'|trans({}, 'frontend-my-saved-searches')}}</button>
                </div>
                <div class="large-12 columns">
                    <button type="button" class="button secondary-btn-1 thin-btn expand mb0" onclick="cancleRemoveSearchAgentPopup();">{{'Cancel'|trans({}, 'frontend-my-saved-searches')}}</button>
                </div>
            </div>
        </div>
    </div>
</div>