{% set container = fetch_container_instance() %}
{% set categorySearchParams = searchParams %}
{% set mainCategories = fetch_repository('FaEntityBundle:Category').getCategoryByLevelArray(1, fetch_container_instance()) %}
{% if searchParams.item__category_id is not defined or searchParams.item__category_id == '' or searchParams.item__category_id == 1 %}
    <dd class="accordion-navigation keep-shown">
        <a href="#panel0a" class="clearfix"><h5 class="left">{{ 'Categories'|trans({}, 'frontend-left-search')}}</h5></a>
        <div class="content active clearfix">
            <div class="search-cat-sub-list">
                <ul>
                    <li><label>{{ 'All Categories'|trans({}, 'frontend-left-search') }}</label></li>
                    {% for categoryId, categoryName in mainCategories %}
                        {% set adCount = 0 %}
                        {% set nestedChildrenCategories = fetch_repository('FaEntityBundle:Category').getNestedLeafChildrenIdsByCategoryId(categoryId, fetch_container_instance()) %}
                        {% for nestedCategoryId in nestedChildrenCategories %}
                            {% if facetResult.category_ids[nestedCategoryId] is defined %}
                                {% set adCount =  adCount + facetResult.category_ids[nestedCategoryId] %}
                            {% endif %}
                        {% endfor %}
                        {% if adCount > 0 %}
                            {% set queryParams = categorySearchParams|merge({'item__category_id': categoryId}) %}
                            <li><a href="javascript:void(0)" onClick="loadChildrenCategories('{{array_serialize(queryParams)|escape('js')}}')">{{ categoryName }} ({{ adCount }})</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </dd>
{% else %}
    <dd class="accordion-navigation keep-shown">
        <a href="#panel1a" class="clearfix"><h5 class="left">{{ 'Categories'|trans({}, 'frontend-left-search')}}</h5></a>
        <div class="content active clearfix">
          {% set categoryPath = fetch_repository('FaEntityBundle:Category').getCategoryPathArrayById(searchParams.item__category_id, false, fetch_container_instance()) %}
          {% set parentCategoryId = categoryPath|slice(-2, 1, true)|keys.0 %}
          <div class="search-cat-parent-list">
              <ul>
                  <li>
                      {% if parentCategoryId in (mainCategories|keys) %}
                          {% set parentCategoryId = '' %}
                      {% endif %}
                      {% set queryParams = categorySearchParams|merge({'item__category_id': parentCategoryId}) %}
                      <a href="javascript:void(0)" onClick="loadChildrenCategories('{{array_serialize(queryParams)|escape('js')}}')">{{ fa_entity_cache_manager.getEntityNameById('FaEntityBundle:Category', searchParams.item__category_id) }}</a>
                  </li>
              </ul>
          </div>
          {% set childCategories = fetch_repository('FaEntityBundle:Category').getChildrenKeyValueArrayByParentId(searchParams.item__category_id, fetch_container_instance()) %}
          {% set showCatsCount = 14 %}
          {% set childCatCount = 1 %}
          <div class="search-cat-sub-list">
              <ul>
                  <li>
                      {% set listurl = container.get('fa_ad.manager.ad_routing').getListingUrl(categorySearchParams) %}
                      <a href="{{ listurl }}" {% if app.request.get('searchQueryString') %}rel="nofollow"{% endif %}>{{ 'All in %category_name%'|trans({'%category_name%':fa_entity_cache_manager.getEntityNameById('FaEntityBundle:Category', searchParams.item__category_id)}, 'frontend-left-search')}}</a>
                  </li>
                  {% if childCategories|length > 0 %}
                      {% for childCategoryId, childCategoryName in childCategories %}
                          {% set adCount = 0 %}
                          {% set isLeafCategory = false %}
                          {% if facetResult.a_category_id_i[childCategoryId] is defined %}
                              {% set adCount = facetResult.a_category_id_i[childCategoryId] %}
                              {% set isLeafCategory = true %}
                          {% else %}
                              {% set nestedChildrenCategories = fetch_repository('FaEntityBundle:Category').getNestedLeafChildrenIdsByCategoryId(childCategoryId, fetch_container_instance()) %}
                              {% for nestedCategoryId in nestedChildrenCategories %}
                                  {% if facetResult.a_category_id_i[nestedCategoryId] is defined %}
                                      {% set adCount =  adCount + facetResult.a_category_id_i[nestedCategoryId] %}
                                  {% endif %}
                              {% endfor %}
                          {% endif %}
                          {% if adCount > 0 %}
                              {% set queryParams = categorySearchParams|merge({'item__category_id': childCategoryId}) %}
                              {% set listurl = container.get('fa_ad.manager.ad_routing').getListingUrl(queryParams) %}
                              {% if  childCatCount > showCatsCount %}
                                  {% if isLeafCategory %}
                                      <li class="hide more_result"><a href="{{ listurl }}">{{ childCategoryName }} ({{ adCount }})</a></li>
                                  {% else %}
                                    <li class="hide more_result"><a href="javascript:void(0)" onClick="loadChildrenCategories('{{array_serialize(queryParams)|escape('js')}}')">{{ childCategoryName }} ({{ adCount }})</a></li>
                                  {% endif %}
                              {% else %}
                                  {% if isLeafCategory %}
                                      <li><a href="{{ listurl }} {% if app.request.get('searchQueryString') %}rel="nofollow"{% endif %}">{{ childCategoryName }} ({{ adCount }})</a></li>
                                  {% else %}
                                      <li><a href="javascript:void(0)" onClick="loadChildrenCategories('{{array_serialize(queryParams)|escape('js')}}')">{{ childCategoryName }} ({{ adCount }})</a></li>
                                  {% endif %}
                              {% endif %}
                              {% set childCatCount = childCatCount + 1 %}
                          {% endif %}
                      {% endfor %}
                  {% endif %}
                  {% if searchParams.item__category_id == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') %}
                  	<li><a href="{{ constant('Fa\\Bundle\\CoreBundle\\Repository\\ConfigRepository::LIVE_CAMS_URL') }}" rel="nofollow" target="_blank">Escort Alternative</a> </li>
                  {% endif %}
              </ul>
              {% if (childCatCount - 1) > showCatsCount %}
                  <a href="javascript:void(0)" class="see_more">{{ 'See more'|trans({}, 'frontend-left-search') }}</a>
                  <a href="javascript:void(0)" style="display:none" class="see_less">{{ 'See less'|trans({}, 'frontend-left-search') }}</a>
              {% endif %}
          </div>
        </div>
    </dd>
{% endif %}