{% set dimension_type = attribute(leftFilters.dimensions, dimension_id).search_type %}
{% set dimension_name = attribute(leftFilters.dimensions, dimension_id).name %}
{% set dimension_slug = attribute(leftFilters.dimensions, dimension_id).dim_slug %}

{% if dimension_type == 'choice_checkbox' %}
    <a href="#panel{{ dimension_id }}d" class="clearfix" rel="nofollow" >
        <h5 class="left">{{ dimension_name|trans({}, 'frontend-left-search')}}</h5>
        <i class="right fi-plus"></i>
    </a>
    <div id="panel{{ dimension_id }}d" class="accordion_panel content label-inline">
        <ul class="white-checkbox search-type crawlable-checkbox">
            {% set key = 0 %}
            {% for id, entity in entities %}

                {% if key == (maxDimensionCount) %}
                    </ul>
                    <div class="see-more clearfix">
                        <a href="javascript:void(0);" rel="nofollow" onclick="$('#{{ dimension_id }}LHSFilters').foundation('reveal', 'open');">See more</a>
                        <a href="javascript:void(0)" rel="nofollow" class="right clear_filter" id="{{ key }}_clear">{{ 'Clear'|trans({}, 'frontend-left-search') }}</a>
                    </div>
                    <div class="reveal-modal" id="{{ dimension_id }}LHSFilters" data-reveal>
                        <a class="close-reveal-modal">&times;</a>
                        <div>
                            <h5 class="modal-title">Showing {{ dimension_name }}</h5>
                            <div class="modal-content dimension-modal">
                                <div class="dimension-content">
                                    <div class="clearfix">
                {% endif %}
                {% if key >= maxDimensionCount and key is divisible by(4) %}
                    <ul class="seller-link dimension-list">
                {% endif %}
                <li>
                    <span class="custom-checkbox {% if entity.selected is defined and entity.selected == true %} checked {% endif %}">
                        <input type="checkbox" {% if entity.selected is defined and entity.selected == true %} checked="checked" {% endif %} id="fa_left_search_condition_{{ id }}" name="fa_left_search[{{ dimension_name }}]">
                    </span>
                    <label class="mb0" for="fa_left_search_{{ dimension_slug }}">{{ entity.name }} ({{ entity.count }})</label>
                    <a data-href="{{ entity.slug }}">{{ entity.name }}</a>
                </li>
                {% if key >= maxDimensionCount and (key + 1) is divisible by(4) %}
                    </ul>
                {% endif %}
                {% if key > maxDimensionCount and key == (entities|length - 1) %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% set key = key + 1 %}
            {% endfor %}
        {% if key < maxDimensionCount %}
        </ul>
        {% endif %}
    </div>
{% elseif dimension_type == 'choice_link' %}
    <a href="#panel{{ dimension_id }}d" class="clearfix" rel="nofollow">
        <h5 class="left">{{ dimension_name|trans({}, 'frontend-left-search')}}</h5>
        <i class="right fi-plus"></i>
    </a>
    <div id="panel{{ dimension_id }}d" class="accordion_panel content clearfix">
        <ul class="seller-link">
           {% set key = 0 %}
            {% for id, entity in entities %}
            {% if key == (maxDimensionCount) %}
                </ul>
                <div class="see-more clearfix">
                    <a href="javascript:void(0);" rel="nofollow" onclick="$('#{{ dimension_id }}LHSFilters').foundation('reveal', 'open');">See more</a>
                    <a href="javascript:void(0)" rel="nofollow" class="right clear_filter" id="{{ key }}_clear">{{ 'Clear'|trans({}, 'frontend-left-search') }}</a>
                </div>
                <div class="reveal-modal" id="{{ dimension_id }}LHSFilters" data-reveal>
                    <a class="close-reveal-modal">&times;</a>
                    <div>
                        <h5 class="modal-title">Showing {{ dimension_name }}</h5>
                        <div class="modal-content dimension-modal">
                            <div class="dimension-content">
                                <div class="clearfix">
            {% endif %}
                                    {% if key >= maxDimensionCount and key is divisible by(4) %}
                                        <ul class="seller-link dimension-list">
                                    {% endif %}
                                <li><a {% if entity.selected is defined and entity.selected == true %} class="bold" {% endif %} data-href="{{ entity.slug }}">{{ entity.name }} ({{ entity.count }})</a></li>
                                    {% if key >= maxDimensionCount and (key + 1) is divisible by(4) %}
                                        </ul>
                                    {% endif %}
                                    {% if key > maxDimensionCount and key == (entities|length - 1) %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
        {% set key = key + 1 %}
        {% endfor %}
    {% if key < maxDimensionCount %}
            </ul>
        {% endif %}
    </div>
{% elseif dimension_type == 'date' or dimension_type == 'text' %}
    <div id="#panel{{ dimension_id }}d" class="content active">
        <input type="text" class="form-control white-field" id="fa_left_search_{{ dimension_name }}" name="fa_left_search[{{ dimension_name }}]" required="required" >
    </div>
{% endif %}