{% set aff_desc_cls = null %}
{% if ad.aff_icon_cls is not null %}
    {% set aff_desc_cls = ' list-desc-short' %}
{% endif %}
<div class="listing {% if ad.top_ad and isFeatured is defined %} {{ 'featured' }} {% elseif ad.urgent_ad %} {{ 'urgent' }} {% endif %} {% if ad.boosted_ad %} {{ 'boosted_ad' }} {% endif %}">
    <a id="listing_{{ ad.ad_id }}" href="{{ ad.ad_url }}"></a>
    <div class="featured-ribbon">featured</div>
    <div class="urgent-ribbon">urgent</div>
    <div class="clearfix">
        <div class="list-col-1">
            <div class="list-img">
                <img alt="{{ ad.img_alt }}" src="{{ ad.ad_img }}" />
            </div>
            <div class="clearfix list-mob-icons">
                <span class="list-img-num">
                    {{ ad.image_count }}
                </span>
                <span id="fav_{{ad.ad_id}}">
                    {% if adFavouriteIds is defined and ad.ad_id in adFavouriteIds %}
                        <a href="javascript:void(0)" onclick="return removeFromFavorite('{{ad.ad_id}}');" class="saved-item outside-tricky">FA</a>
                    {% else %}
                        <a href="javascript:void(0)" onclick="return addToFavorite('{{ad.ad_id}}');" class="unsaved-item outside-tricky">FA</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="list-col-2">
            <div class="clearfix">
                <h3 class="hide-for-small-only list-title">
                    <a href="{{ ad.ad_url }}">{{trim_text(ad.ad_title, 80)|raw}}</a>
                </h3>
                <h5 class="show-for-small-only list-title">
                    <a href="{{ ad.ad_url }}">{{trim_text(ad.ad_title, 80)|raw}}</a>
                </h5>
                <div class="list-price">
                    {{ ad.price }}
                </div>
            </div>
            {% if ad.dimensions|length %}
                <div class="list-dimensions hide-for-small-only">
                    {% for adFieldName, adListFieldValue in ad.dimensions %}
                        {% if adListFieldValue.name is defined %}
                            <span class="{{ adListFieldValue.listing_class }}">{{ adListFieldValue.name }}</span>
                        {% else %}
                            {% for adListFieldVal in adListFieldValue %}
                                <span class="{{ adListFieldVal.listing_class }}">{{ adListFieldVal.name }}</span>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="list-desc {{aff_desc_cls}} hide-for-small-only">
                {{trim_text(ad.description, 250)|replace({"\\n": "<br />"})|raw}}
            </div>
            {% if fromSimilarAdverts is not defined and ad.aff_icon_cls is not null and ad.aff_icon_cls|length %}
                <div class="ext-link">
                    <span class="{{ad.aff_icon_cls}}"></span>
                </div>
            {% endif %}
            <div class="list-distance">
                <div class="clearfix">
                    {% if ad.location is defined and not ad.location is null %}
                        <div class="list-miles">
                            <b>{{ ad.location }}</b>
                        </div>
                    {% endif %}
                    <div class="list-hr-ago">
                        {{ ad.last_updated|time_ago_in_words }}
                    </div>
                    {% if ad.affiliate_ad %}
                        <div class="fad-shop-icon hide-for-small-only">AD SHOP</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if ad.affiliate_ad %}
        <div class="fad-shop-icon show-for-small-only fa-shop-icon-small">AD SHOP</div>
    {% endif %}
</div>