{% if slotIndex is defined and recommendedSlotResult[slotIndex] is defined and recommendedSlotResult[slotIndex]|length > 0 %}
    {% set no_protocol = recommendedSlotResult[slotIndex]['url']|split('//')[1] ?: recommendedSlotResult[slotIndex]['url'] %}
    {% set only_domains = no_protocol|split('/')[0] ?: no_protocol %}
    {% set only_domains = only_domains|replace({'www.': ''})%}
<div style="cursor:pointer" onclick="gaSendForRecommendedSlotSearch('{{ recommendedSlotResult[slotIndex]['url'] }}', '{{ only_domains }}','{{ recommendedSlotResult[slotIndex]['title'] }}','{{ slotIndex }}','{{ recommendedSlotResult[slotIndex]['creative_ord'] }}');">    
    <div class="recommended-div media listing featured  ">
        <div class="media-left align-self-center">
           {% set imagePath = container.getParameter('fa.static.asset.url')~'/uploads/category_recommended_slots/'~recommendedSlotResult[slotIndex]['slot_filename'] %}

            {% if imagePath %}
                <div class="list-img list-placeholder"><img data-original="{{ imagePath }}" alt="{{ recommendedSlotResult[slotIndex]['title'] }}" class="lazy" src="{{ asset_url('facore/images/ajax_loader.gif') }}" /></div>
            {% else %}
                <div class="list-img"><img src="{{ asset_url('fafrontend/images/no-image.svg') }}" alt="{{ recommendedSlotResult[slotIndex]['title'] }}" /></div>
            {% endif %}
        </div>
    
        <div class="media-body">
            <h5 class="d-block d-md-none list-title">
                {{ recommendedSlotResult[slotIndex]['mobile_title'] }}
            </h5>
         
            <h3 class="d-none d-md-block list-title">
                {{ recommendedSlotResult[slotIndex]['title'] }}
            </h3>
            
            {% if(recommendedSlotResult[slotIndex]['show_sponsored_lbl']) %}
            <div class="recommendedtxt gray-text text-right">
                {{'Sponsored Ad'|trans({}, 'frontend-show-ad')}}<span class="sponsored-ad-icon"></span>
            </div>
            {% endif %}
            
            <h5 class="list-display-url d-none d-md-block clear-both">{{ recommendedSlotResult[slotIndex]['display_url'] }}</h5>

            <div class="mt10 recommended-more">
                <div class="list-desc d-none d-md-block left-block">
                    {{ recommendedSlotResult[slotIndex]['sub_title']|length > 150 ? trim_text(recommendedSlotResult[slotIndex]['sub_title'], 150)|raw ~ '...': recommendedSlotResult[slotIndex]['sub_title'] }}
                </div>
                {% if recommendedSlotResult[slotIndex]['cta_text'] !='' %}
                <div class="outer-btn"><div class="button secondary-btn-1 expand right-block" style="cursor: pointer;">{{ recommendedSlotResult[slotIndex]['cta_text'] }}</div></div>
           		{% endif %}                    
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
{% endif %}
