{% set customized_url = app.request.get('customized_url')  %}
{% if blocks|length %}
    {% if searchParams.search is not defined %}
    	{%  set searchParamsResult = [] %}
	{% else %}
	 	{%  set searchParamsResult = searchParams.search %}
    {% endif %}
    
    {% set container = fetch_container_instance() %}
    {% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
    {% set currentDevice = 'D' %}
    {% if mobileDetectManager.isMobile() and not mobileDetectManager.isTablet() %}
        {% set currentDevice = 'M' %}
    {% elseif mobileDetectManager.isMobile() and mobileDetectManager.isTablet() %}
        {% set currentDevice = 'T' %}
    {% endif %}
    
    {% set getNoFollowLink1 = fetch_repository('FaEntityBundle:Category').getCategoryNoFollowLink(searchQueryString,true) %}
    {% set container = fetch_container_instance() %}
    {% set entityCacheManager = container.get('fa.entity.cache.manager') %}
    {% set categoryRepository = fetch_repository('FaEntityBundle:Category') %}
    <div id="list_location_box" class="wrapper center-block list-location-box">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% set panelCnt = 0 %}
            {% for solrFieldName, block in blocks %}
                {% if block['facet'] is defined and block['facet']|length %}
                <div class="panel panel-default">
                    <div class="panel-heading {% if (panelCnt == 0) %} active{% endif %}" role="tab" id="adlist-heading{{panelCnt}}">
                      <h4 class="panel-title">
                        <a {% if getNoFollowLink1  %}rel="nofollow"{% endif %} role="button" data-toggle="collapse" data-parent="#adlist-collapse" href="#adlist-collapse{{panelCnt}}" aria-expanded="true" aria-controls="adlist-collapse{{panelCnt}}">{{ block['heading'] }} <i class="fa float-right {% if (panelCnt == 0) %} fa-minus{% else %}fa-plus{% endif %}"></i></a>
                      </h4>
                    </div>
                    <div id="adlist-collapse{{panelCnt}}" class="panel-collapse collapse {% if (currentDevice == 'D' and panelCnt == 0) %}show{% endif %}" role="tabpanel" aria-labelledby="adlist-heading{{panelCnt}}">
                        <div class="panel-body list-panel-body">
                             <ul class="link-list">
                                        {% if block['is_top_links'] is defined and block['is_top_links'] == 1 %}
                                            {% set facetIdArray = block['facet'] %}
                                            {% set columns = 3 %}
                                            {% set ctr = 0 %}
                                            {% set totalItems = facetIdArray|length %}
                                            {% set itemsPerCol = (totalItems/columns)|round(0, 'floor') %}
                                            {% set extraColumn = (totalItems % columns) %}
                                            {% set colCounter = {} %}
                                            {% for i in 0..columns-1 %}
                                                {% if loop.index0 < extraColumn %}
                                                    {% set colCounter = colCounter|merge({0: itemsPerCol + 1}) %}
                                                {% else  %}
                                                    {% set colCounter = colCounter|merge({0: itemsPerCol}) %}
                                                {% endif %}
                                            {% endfor %}
                                            {% for i in 0..columns-1 %}
                                                <li">
                                                    {% for k in 0..colCounter[i]-1 %}
                                                        {% if facetIdArray[ctr] is defined %}
                                                            <a href="{{ facetIdArray[ctr]['url'] }}" {% if getNoFollowLink1  %}rel="nofollow"{% endif %} >{{ facetIdArray[ctr]['title'] }}</a>
                                                        {% endif %}
                                                        {% set ctr = ctr + 1 %}
                                                    {% endfor %}
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            {% set facetIdArray = block['facet']|keys %}
                                            {% set columns = 3 %}
                                            {% set ctr = 0 %}
                                            {% set totalItems = facetIdArray|length %}
                                            {% set itemsPerCol = (totalItems/columns)|round(0, 'floor') %}
                                            {% set extraColumn = (totalItems % columns) %}
                                            {% set colCounter = {} %}
                                            {% for i in 0..columns-1 %}
                                                {% if loop.index0 < extraColumn %}
                                                    {% set colCounter = colCounter|merge({0: itemsPerCol + 1}) %}
                                                {% else  %}
                                                    {% set colCounter = colCounter|merge({0: itemsPerCol}) %}
                                                {% endif %}
                                            {% endfor %}
                                            {% set parentFullSlug = null %}
                                            {% set secondLevelParentFullSlug = null %}
                                            {% if seoSearchParams.item__category_id is defined and seoSearchParams.item__category_id is not null %}
                                                {% set categoryPath = fetch_repository('FaEntityBundle:Category').getCategoryPathArrayById(seoSearchParams.item__category_id, false, fetch_container_instance()) %}
                                                {% set categoryPathKeys = categoryPath|keys %}
                                                {% if categoryPathKeys[0] is defined %}
                                                    {% set parentFullSlug = fetch_repository('FaEntityBundle:Category').getFullSlugById(categoryPathKeys[0], fetch_container_instance()) %}
                                                {% endif %}
                                                {% if categoryPathKeys[1] is defined %}
                                                    {% set secondLevelParentFullSlug = fetch_repository('FaEntityBundle:Category').getFullSlugById(categoryPathKeys[1], fetch_container_instance()) %}
                                                {% endif %}
                                            {% endif %}
                                            {% for i in 0..columns-1 %}
                                                <li>
                                                    {% for k in 0..colCounter[i]-1 %}
                                                        {% if facetIdArray[ctr] is defined %}
                                                            {% set facetId = facetIdArray[ctr] %}
                                                            {% if customized_url|length and block['search_field_name'] == 'item__location' and customized_url['target_url'] != '' %}
                                                                {% set searchResultUrl = container.get('fa_ad.manager.ad_routing').getCustomListingUrl(seoSearchParams|merge({ (block['search_field_name']): facetId}), customized_url['target_url']) %}
                                                            {% else %}
                                                                {% if block['first_entry_as_uk'] is defined and block['first_entry_as_uk'] == 1 %}
                                                                    {% if (ctr == 0) %}
                                                                        {% if facetId == 0 %}
                                                                            {% set searchResultUrl = block['facet'][0]['url'] %}
                                                                        {% else %}
                                                                            {% set tmpSeoSearchParams = seoSearchParams %}
                                                                            {% if block['removeOtherParams'] is defined and block['removeOtherParams'] == 1 %}
                                                                                {% set searchResultUrl = container.get('fa_ad.manager.ad_routing').getListingUrl({}|merge({ (block['search_field_name']): facetId, 'item__location': constant('Fa\\Bundle\\EntityBundle\\Repository\\LocationRepository::COUNTY_ID')}), null, false, null, false, parentFullSlug, secondLevelParentFullSlug) %}
                                                                            {% else %}
                                                                                {% set searchResultUrl = container.get('fa_ad.manager.ad_routing').getListingUrl(tmpSeoSearchParams|merge({ (block['search_field_name']): facetId, 'item__location': constant('Fa\\Bundle\\EntityBundle\\Repository\\LocationRepository::COUNTY_ID')}), null, false, null, false, parentFullSlug, secondLevelParentFullSlug) %}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% else %}
                                                                        {% if block['removeOtherParams'] is defined and block['removeOtherParams'] == 1 %}
                                                                            {% set searchResultUrl = container.get('fa_ad.manager.ad_routing').getListingUrl({}|merge({ (block['search_field_name']): facetId, 'item__location': constant('Fa\\Bundle\\EntityBundle\\Repository\\LocationRepository::COUNTY_ID')}), null, false, null, false, parentFullSlug, secondLevelParentFullSlug) %}
                                                                        {% else %}
                                                                            {% set searchResultUrl = container.get('fa_ad.manager.ad_routing').getListingUrl(seoSearchParams|merge({ (block['search_field_name']): facetId, 'item__location': constant('Fa\\Bundle\\EntityBundle\\Repository\\LocationRepository::COUNTY_ID')}), null, false, null, false, parentFullSlug, secondLevelParentFullSlug) %}
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% set searchResultUrl = container.get('fa_ad.manager.ad_routing').getListingUrl(seoSearchParams|merge({ (block['search_field_name']): facetId}), null, false, null, false, parentFullSlug, secondLevelParentFullSlug) %}
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if facetId == 0 %}
                                                                <a href="{{ searchResultUrl }}" {% if getNoFollowLink1  %}rel="nofollow"{% endif %}>{{block['facet'][0]['title']}}</a>
                                                            {% else %}
                                                                <a href="{{ searchResultUrl }}" {% if getNoFollowLink1  %}rel="nofollow"{% endif %}>{{ entityCacheManager.getEntityNameById(block['repository'], facetId) }} {# ({{ block['facet'][facetId] }}) #}</a>
                                                            {% endif %}
                                                        {% endif %}
                                                        {% set ctr = ctr + 1 %}
                                                    {% endfor %}
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                {% if block['show_all_link'] is defined and block['show_all_link'] and totalItems == block['facet_limit'] %}
                                    <li class="right"><a href="{{ path('category_dimension_list', {'categoryString': categoryRepository.getSlugById(categoryId, container), 'dimensionName': block['dimension_name']}) }}" {% if getNoFollowLink1  %}rel="nofollow"{% endif %} >{{ 'View all'|trans({}, 'frontend-search-list-block') }}</a></li>
                                {% endif %}
                          </ul>
                        </div>
                    </div>
                    </div>
                    {% set panelCnt = panelCnt + 1 %}
                {% endif %}
            {% endfor %}

            {% if seoPageRule is defined and seoPageRule['list_content_title'] is defined and seoPageRule['list_content_title'] and seoPageRule['list_content_detail'] is defined and seoPageRule['list_content_detail'] and page == 1 %}
              {% if categoryId is defined and seoPageRule['category_id'] is defined and categoryId is not null and categoryId == seoPageRule['category_id'] and searchParams is defined and searchParams['search'] is defined and searchParams['search']|length <= 3%}
                {% if cookieLocation is defined and cookieLocation|length == 0 %}
                <dd class="accordion-navigation">
                    <a href="#panelBlock_seorule" class="clearfix" {% if getNoFollowLink1  %}rel="nofollow"{% endif %}><h2 class="left seo-content-title">{{ seoPageRule['list_content_title'] }}</h2> <i class="fi-plus right" id="seoRuleNavigator"></i></a>
                    <div id="panelBlock_seorule" class="content clearfix active">
                        <div id="list_seo_content" class="list-seo-content">{{ seoPageRule['list_content_detail']|raw }}</div>
                    </div>
                </dd>
                {% endif %}
              {% endif %}
            {% endif %}
        </dl>
    </div>
{% endif %}