{% if slotIndex is defined and recommendedSlotResult[slotIndex] is defined and recommendedSlotResult[slotIndex]|length > 0 %}
<div>
    {% set no_protocol = recommendedSlotResult[slotIndex]['url']|split('//')[1] ?: recommendedSlotResult[slotIndex]['url'] %}
    {% set only_domains = no_protocol|split('/')[0] ?: no_protocol %}
    {% set only_domains = only_domains|replace({'www.': ''})%}
    <div class="recommended-div listing mb20"> 
        <a class="tricky-link" href="javascript:void(0);" onclick="gaSendForRecommendedSlotSearch('{{ recommendedSlotResult[slotIndex]['url'] }}', '{{ only_domains }}');">{{ recommendedSlotResult[slotIndex]['title'] }}</a>   
        <div class="clearfix">
            <div class="list-col-1">
                {% set imagePath = container.getParameter('fa.static.asset.url')~'/uploads/category_recommended_slots/'~recommendedSlotResult[slotIndex]['slot_filename'] %}

                <div class="featured-bz-listimg {% if not imagePath %}list-placeholder{% endif %}">
                    {% if imagePath %}
                        <img data-original="{{ imagePath }}" alt="{{ recommendedSlotResult[slotIndex]['title'] }}" class="lazy" src="{{ asset_url('facore/images/ajax_loader.gif') }}" />
                    {% else %}
                        <img src="{{ asset_url('fafrontend/images/no-image.svg') }}" alt="{{ recommendedSlotResult[slotIndex]['title'] }}" />
                    {% endif %}
                </div>
            </div>
            <div class="list-col-2">
                <div class="clearfix">
                    <div class="recommendedtxt gray-text text-right">
                        {{'Sponsored Ad'|trans({}, 'frontend-show-ad')}}
                    </div>
                    
                	<h5 class="show-for-small-only list-title">
                        {{ recommendedSlotResult[slotIndex]['mobile_title'] }}
                    </h5>
                 
                    <h3 class="hide-for-small-only list-title">
                        {{ recommendedSlotResult[slotIndex]['title'] }}
                    </h3>
                     
                     <h5 class="list-display-url hide-for-small-only"><a href="{{ recommendedSlotResult[slotIndex]['display_url'] }}" style="color: #a8dc28;">{{ recommendedSlotResult[slotIndex]['display_url'] }}</a></h5>
                </div>
                <div class="mt10 recommended-more">
                    <div class="list-desc hide-for-small-only left-block">
                        {{ recommendedSlotResult[slotIndex]['sub_title']|length > 150 ? trim_text(recommendedSlotResult[slotIndex]['sub_title'], 150)|raw ~ '...': recommendedSlotResult[slotIndex]['sub_title'] }}
                    </div>
                    {% if recommendedSlotResult[slotIndex]['cta_text'] !='' %}
                    <div class="button secondary-btn-1 right-block">{{ recommendedSlotResult[slotIndex]['cta_text'] }}<span><i class="fa fa-arrow"></i></span></div>
               		{% endif %}
               </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
{% endif %}
