<div class="site-search hide-for-small-only" id="top_search">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'fa_top_search'}}) }}
    {{ form_errors(form) }}
    {% set showInSearch = true %}
    {% if searchParams.item__category_id is defined and searchParams.item__category_id is not null %}
        {% set showInSearch = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'showPriceInSearchFilter', [searchParams.item__category_id, fetch_container_instance()]) %}
    {% endif %}

    <div class="row">
    	<div class="columns">
	        <div class="find-label hide-for-small-only">{{ form_widget(attribute(form, 'item__category_id'), {'attr': {'class':'find-all custom_select' }}) }}</div>
	        <div class="search-box-col">
	           <div class="clearfix">
	               <div class="search-box">
	                   {{ form_widget(form.keywords, {'attr': {'placeholder':'Looking for...'|trans({}, 'frontend-header-search') }}) }}
	                   <a href="javascript:void(0);" rel="nofollow" id="fa_top_search_keywords_close" class="ui-autocomplete-close select2-search-choice-close">Close</a>
	               </div>
                   {{ form_widget(form.default_distance) }}
	               <input type="submit" class="button postfix search-icon" value="Go" />
	                <div class="change-location hide-for-small-only">
	                    <span class="left">{{ 'in'|trans({}, 'frontend-header-search') }}</span>
                        <span id="header_search_editable_location_span">United Kingdom</span>
	                    <a href="javascript:void(0)" rel="nofollow" id="header_search_editable_location_a"> ({{ 'change'|trans({}, 'frontend-header-search') }})</a>
	                    <div id="top_search_location" class="white-autocomplete">
	                        {{ form_widget(form.item__location_autocomplete) }}
	                        <a href="javascript:void(0);" rel="nofollow" id="fa_top_search_item__location_close" class="ui-autocomplete-close select2-search-choice-close">Close</a>
	                        <div class="clearfix">
	                            <button class="button xs-btn-1 expand left" type="button" id="top_search_location_ok">{{ 'Ok'|trans({}, 'frontend-header-search') }}</button>
	                            <button class="button xs-btn-1 expand right" type="cancel" id="top_search_location_cancel">{{ 'Cancel'|trans({}, 'frontend-header-search') }}</button>
	                        </div>
	                    </div>
	                </div>
	                <div id="header_search_editable_location_reveal_modal" class="reveal-modal tiny" data-reveal>
                        {{ include('FaCoreBundle:Default:invalidLocationModal.html.twig', {'modalId': 'header_search_editable_location_reveal_modal'}) }}
	                </div>
	            </div>
	        </div>
	        <div class="search-pref">
	            <a href="javascript:void(0)" rel="nofollow" id="search_preferences_link" class="expand-search">{{ 'Set search preferences'|trans({}, 'frontend-header-search')}}</a>
	        </div>
        </div>
    </div>
    <div class="search-sliders">
        <div class="row">
            <div class="columns">
                <div class="fa-range-slider">
                    <div class="row">
                        {% if showInSearch %}
                            <div class="large-10 columns budget-slider">
                              <h5>{{ 'My budget is'|trans({}, 'frontend-header-search') }}</h5>
                              <div class="slider-text-top">
                                  <div class="clearfix">
                                      <div class="left" id="price_from"></div>
                                      <div class="right" id="price_to"></div>
                                  </div>
                              </div>
                              <div id="price_slider" class="slider-padding"></div>
                            </div>
                        {% endif %}
                        <div class="large-10 columns distance-slider">
                          <h5>{{ 'Distance I\'m happy to travel'|trans({}, 'frontend-header-search') }}</h5>
                          <div class="slider-text-top">
                              <div class="clearfix">
                                  <div class="left" id="distance">{{ '0 mile'|trans({}, 'frontend-header-search') }}</div>
                              </div>
                          </div>
                          <div id="distance_slider" class="slider-padding"></div>
                        </div>
                    </div>
                </div>
                <div class="small-wrapper">
                    <button class="secondary-btn-1 expand" type="submit" id="fa_top_search_submit">Search</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% if searchParams.item__distance is defined and searchParams.item__distance is not null %}
  <script language="javascript" type="text/javascript">
    $(document).ready(function(){
        $('#distance_slider').val({{ searchParams.item__distance }});
    });
  </script>
{% endif %}
