{% set showInSearch = true %}
{% if searchParams.item__category_id is defined and searchParams.item__category_id is not null %}
    {% set showInSearch = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'showPriceInSearchFilter', [searchParams.item__category_id, fetch_container_instance()]) %}
{% endif %}
<div class="top-search" id="top_search" style="display: block">
    <div class="row">
    	<div class="container">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'fa_top_search','class':'top-search__block'}}) }}
                {{ form_errors(form) }}
                <div class="top-search__input">
                    {{ form_widget(form.keywords, {'attr': {'placeholder':'Looking for...'|trans({}, 'frontend-header-search'), 'class':'top-search__input--text' }}) }}
                    <button class="top-search__input--btn" id="fa_top_search_keywords_searchGo" type="submit"></button>
                    <a rel="nofollow" id="fa_top_search_keywords_close" class="close-icon"></a>
                    <!-- Search dropdown Content starts-->
                    <div id="fa_top_search_keywords_list"></div>
                    <!---Search dropdown Content end-->
                </div>
                <div class="top-search__location">
                    <div class="top-search__location--change">
                        <div id="in_text_span">
                        {{ 'in'|trans({}, 'frontend-header-search') }}
                        </div>
                        <span id="header_search_editable_location_span">
                            United Kingdom
                        </span>
                        <a rel="nofollow" id="header_search_editable_location_a">
                            ({{ 'change'|trans({}, 'frontend-header-search') }})
                        </a>
                    </div>
                </div>
                <div class="top-search__select-location" id="top_search_location">
                    {{ form_widget(form.item__location_autocomplete,{'attr':{'class':'top-search__select-location--text', 'placeholder': 'Type postal code or town'}}) }}
                    <div class="close-icon closeIcon" id="fa_top_search_item__location_close"></div>
                    <div id="fa_top_search_item__location_list"></div>
                    <button class="top-search__select-location--ok" type="button" id="top_search_location_ok">
                        {{ 'Ok'|trans({}, 'frontend-header-search') }}
                    </button>
                    <button class="top-search__select-location--cancel" type="cancel" id="top_search_location_cancel">
                        {{ 'Cancel'|trans({}, 'frontend-header-search') }}
                    </button>
                </div>
                <div class="top-search__preferences">
                    <a href="javascript:void(0)" rel="nofollow" id="search_preferences_link" class="top-search__preferences--link">
                        {{ 'Set search preferences'|trans({}, 'frontend-header-search')}}
                    </a>
                </div>
                <div style="display: none" class="search-box-col">
                   <div class="clearfix">
                        <div style="display: none" id="header_search_editable_location_reveal_modal" class="reveal-modal tiny" data-reveal>
                            {{ include('FaCoreBundle:Default:invalidLocationModal.html.twig', {'modalId': 'header_search_editable_location_reveal_modal'}) }}
                        </div>
                    </div>
                </div>
            {% do attribute(form, 'item__category_id').setRendered %}
            {{ form_end(form) }}
        </div>
    </div>
    <div class="search-sliders">
        <div class="row">
            <div class="columns">
                <div class="fa-range-slider">
                    <div class="row">
                        {% if showInSearch %}
                            <div class="large-10 columns budget-slider">
                              <h5>{{ 'My budget is'|trans({}, 'frontend-header-search') }}</h5>
                              <div class="slider-text-top">
                                  <div class="clearfix">
                                      <div class="left" id="price_from"></div>
                                      <div class="right" id="price_to"></div>
                                  </div>
                              </div>
                              <div id="price_slider" class="slider-padding"></div>
                            </div>
                        {% endif %}
                        <div class="large-10 columns distance-slider">
                          <h5>{{ 'Distance I\'m happy to travel'|trans({}, 'frontend-header-search') }}</h5>
                          <div class="slider-text-top">
                              <div class="clearfix">
                                  <div class="left" id="distance">{{ '0 mile'|trans({}, 'frontend-header-search') }}</div>
                              </div>
                          </div>
                          <div id="distance_slider" class="slider-padding"></div>
                        </div>
                    </div>
                </div>
                <div class="small-wrapper">
                    <button class="secondary-btn-1 expand" type="submit" id="fa_top_search_submit">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% if searchParams.item__distance is defined and searchParams.item__distance is not null %}
  <script language="javascript" type="text/javascript">
    $(document).ready(function(){
        $('#distance_slider').val({{ searchParams.item__distance }});
    });
  </script>
{% endif %}
