{% set userSearchAgentRepository  = fetch_repository('FaUserBundle:UserSearchAgent') %}
{% if pagination.getNbResults() %}
    {% for searchAgent in pagination.getCurrentPageResults() %}
        {{ include('FaUserBundle:UserSearchAgent:searchAgentDetail.html.twig', {'searchAgent':searchAgent}) }}
    {% endfor %}
    <div id="renameSavedSearch" class="modal custom-modal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title save-search-title">{{'Rename your saved search'|trans({}, 'frontend-my-saved-searches')}}</h5>
                    <button class="close-modal" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <label>{{'New name'|trans({}, 'frontend-my-saved-searches')}}</label>
                    <div class="row">
                        <div class="col">
                            <input type="text" name="txt_title" id="txt_title" maxlength="50">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-block secondary-btn-1 thin-btn mb0" data-dismiss="modal" onclick="renameSavedSearch();">{{'Save changes'|trans({}, 'frontend-my-saved-searches')}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="removeSavedSearch" class="modal custom-modal" >
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title save-search-title">{{'Stop search alert'|trans({}, 'frontend-my-saved-searches')}}</h5>
                    <button class="close-modal" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <h5>{{'Are you sure you want to stop this search alert?'|trans({}, 'frontend-my-saved-searches')}}</h5>
                    <div class="mt20 remove-search-btn">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-block secondary-btn-2 thin-btn mb0" onclick="closeRevealModel('#removeSavedSearch');removeSavedSearch();">{{'Ok'|trans({}, 'frontend-my-saved-searches')}}</button>
                            </div>
                            <div class="col-md-12">
                                <button type="button" class="btn btn-block secondary-btn-1 thin-btn mb0" onclick="closeRevealModel('#removeSavedSearch');">{{'Cancel'|trans({}, 'frontend-my-saved-searches')}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="blankTitleAlert" class="modal custom-modal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title save-search-title">{{'Blank title'|trans({}, 'frontend-my-saved-searches')}}</h5>
                    <button class="close-modal" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <h5>{{'Sorry saved search name can not be blank!!'|trans({}, 'frontend-my-saved-searches')}}</h5>
                    <div class="mt20">
                        <div class="row">
                            <div class="col-md-24">
                                <button type="button" class="btn btn-block secondary-btn-2 thin-btn mb0" onclick="closeRevealModel('#blankTitleAlert'); renameSavedSearch();">{{'Ok'|trans({}, 'frontend-my-saved-searches')}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
	<div class="container">
        <div class="row">
            <div class="col-md-24">
                {{ 'No records found.'|trans({}, 'frontend-my-favourites') }}
            </div>
        </div>
    </div>
{% endif %}
