{% extends 'FaAdminBundle::layout.html.twig' %}
{% form_theme form 'FaAdminBundle:Form:adminFields.html.twig' %}
{% block content %}
{{ include('FaAdminBundle:Default:addEditHeading.html.twig') }}

<div class="row">
    <div class="columns">
        <div class="panel">
            <p class="text-right"><span class="required">*</span> = mandatory fields</p>
            <div class="row">
                <div class="large-9 columns">
                    {{ form_start(form, {'attr': {'novalidate': ''}}) }}
                        {{ form_row(form.title) }}
                        {{ form_row(form.name) }}
                        {% if entity.getType() == constant('Fa\\Bundle\\ContentBundle\\Repository\\StaticPageRepository::STATIC_BLOCK_GA_CODE_ID') %}
                          {{ form_row(form.description, {'attr': {'rows': '15'}}) }}
                        {% else %}
                           {{ form_row(form.description, {'attr': {'rows': '15', 'class': 'tinymce'}}) }}
                        {% endif %}
                        
                        {{ form_row(form.status) }}
                        {{ form_row(form.type) }}
                        {{ include('FaAdminBundle:Default:saveButton.html.twig', {'cancelUrl': 'static_block_admin'}) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
{% endblock %}

{% block scriptbottom %}
    {{ include('FaContentBundle:Default:tinyMceJs.html.twig') }}
{% endblock %}