 <div class="modal custom-modal adult-modal" id="eighteenPlusWarnningModel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="max-width: 700px !important">
            <div class=" adult-pop-up-modal"></div>
            <div class="modal-body adult-modal-content">
                <h3 class="text-center"><span>{{'WARNING'|trans({}, 'frontend-adult-warnning')|raw}} <b>-</b></span> {{'Adult Content Ahead!'|trans({}, 'frontend-adult-warnning')|raw}}</h3>
                <h2 class="text-center">{{'To browse this category you must accept the following terms:'|trans({}, 'frontend-adult-warnning')}}</h2>
                <ul>
                    <li><b>1.</b> {{'I am 18 years old or over.'|trans({}, 'frontend-adult-warnning')}}</li>
                    <li><b>2.</b> {{'I understand there will be explicit content in this "Adult" category.'|trans({}, 'frontend-adult-warnning')}}</li>
                    <li><b>3.</b> {{'The content will not offend me.'|trans({}, 'frontend-adult-warnning')}}</li>
                    <li><b>4.</b> {{'I will not use any images on the site outside of permissions.'|trans({}, 'frontend-adult-warnning')}}</li>
                    <li><b>5.</b> {{'I will not permit any minor, or other person for who it is illegal, to access or view material that exists within this website.'|trans({}, 'frontend-adult-warnning')}}</li>
                    <li><b>6.</b> {{'I am accessing this website from a country or state where it is legal to enter adult websites or view sexually explicit or pornographic material.'|trans({}, 'frontend-adult-warnning')}}</li>
                    <li><b>7.</b> {{'No sexual activities are implied or condoned by the creator(s) of this web site.'|trans({}, 'frontend-adult-warnning')}}</li>
                    <li><b>8.</b> {{'This site does not promote prostitution, human trafficking or any type of illegal sex work, nor is any content within this site an offer for prostitution or illegal sex work.'|trans({}, 'frontend-adult-warnning')}}
                    <li><b>9.</b> {{'Money exchanged is for companionship only and anything beyond that is a choice made between two consenting adults and not contracted for by the site or its creator(s).'|trans({}, 'frontend-adult-warnning')}}
                    {% if modification is not defined %} 
                    	<li class="proceed-ins"><p>{{'By clicking on "Proceed" below, I discharge all internet providers, owners and founders of Friday-Ad of any responsibility regarding the content and the usage of the content in this "Adult" category.'|trans({}, 'frontend-adult-warnning')}}</p></li>
                    {% endif %}
                </ul>
                <div class="proceed-buttons">
                    <div class="row">
                    	{% if for_third_party_link is not defined and modification is not defined %}
                            <div class="col-12 col-lg-12 col-md-12">
                                <button type="button" class="primary-btn-3 btn btn-block text-center btn-h-lg" onclick="takeMeBack();">{{'Take me back!'|trans({}, 'frontend-adult-warnning')}}</button>
                            </div>
                            <div class="col-12 col-lg-12 col-md-12">
                                <button type="button" class="primary-btn-2 btn  btn-block text-center btn-h-lg" onclick="proceed18Plus();"><span>{{'Proceed'|trans({}, 'frontend-adult-warnning')}} <b>-</b></span> {{'I am over 18'|trans({}, 'frontend-adult-warnning')|raw}}</button>
                            </div>
                        {% elseif for_third_party_link is defined and for_third_party_link %}
                        	 <div class="col-12 col-lg-12 col-md-12">
                                <button type="button" class="primary-btn-3 btn btn-block text-center btn-h-lg" onclick="closeCheckAgeModalBox();">{{'Take me back!'|trans({}, 'frontend-adult-warnning')}}</button>
                            </div>
                            <div class="col-12 col-lg-12 col-md-12">
                                <button type="button" class="primary-btn-2 btn  btn-block text-center btn-h-lg" onclick="proceed18PlusForThirdParty();"><span>{{'Proceed'|trans({}, 'frontend-adult-warnning')}} <b>-</b></span> {{'I am over 18'|trans({}, 'frontend-adult-warnning')|raw}}</button>
                            </div>
                        {% elseif modification is defined and modification %}   
                            <div class="col-12 col-lg-12 col-md-12">
                                <button type="button" class="primary-btn-2 btn  btn-block text-center btn-h-lg" onclick="closeCheckAgeModalBox();">{{'OK'|trans({}, 'frontend-adult-warnning')}}</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script language="javascript" type="text/javascript">
//<![CDATA[
function proceed18Plus()
{
	blockPage();
	$.ajax({
        type: "POST",
        url: "{{path('proceed_18_plus_ajax')}}",
    })
    .done(function(response) {
        $('body').removeClass('transbox');
        unblockPage();
        closeRevealModel('#eighteenPlusWarnningModel');
    });
}

function takeMeBack()
{
	location.href = "{{ path('fa_frontend_homepage') }}";
}

function proceed18PlusForThirdParty()
{
    var redrctLnk = null;
    {% if redirectlink is defined %}
        redrctLnk ="{{redirectlink}}";
    {% endif %}

    if(redrctLnk!=null) {
        window.open(redrctLnk, '_blank');
        $.ajax({
            type: "POST",
            url: "{{path('proceed_18_plus_ajax')}}",
        })
        .done(function(response) {
	$('body').removeClass('transbox');
    closeRevealModel('#eighteenPlusWarnningModel');
            location.reload();
        });
    }
        
}

function closeCheckAgeModalBox() {
	closeRevealModel('#eighteenPlusWarnningModel');
}

//]]>
</script>