<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=no;target-densityDpi=medium-dpi" />
    <link rel="stylesheet" type="text/css" href="{{ static_asset_url('/bundles/fafrontend/css/google-fonts.css') }}" />
    <title>{% block title %} {{'Friday Ad'|trans}} {% if block('page_title') %} - {{block('page_title')|trim}} {% endif %} {% endblock %}</title>
    
    {% set currentRoute = app.request.attributes.get('_route') %}


    {% set blockMetaDescription = block('meta_description')|trim %}
    {% set blockMetaKeywords = block('meta_keywords')|trim %}
    {% set container = fetch_container_instance() %}
    {% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
    {% set showTiLogo = false %}
    {# {% if (app.user and app.user.getUserMasterSite()|lower == 'ti') or (not app.user and app.request.get('ti_url')) or (not app.user and app.request.cookies.has('ti_url')) %} #}
    {% if (not app.user and app.request.get('ti_url')) or (not app.user and app.request.cookies.has('new_ti_url')) %}
        {% set showTiLogo = true %}
    {% endif %}
    
    {% if block('meta_robots') is defined %}
        <meta name="robots" content="{{ block('meta_robots')|trim }}" />
    {% endif %}
    {% if blockMetaDescription %}
        <meta name="description" content="{{blockMetaDescription}}" />
    {% endif %}
    {% if blockMetaKeywords %}
        <meta name="keywords" content="{{blockMetaKeywords}}" />
    {% endif %}
    {% if block('canonical_url') is defined %}
        <link rel="canonical" href="{{ block('canonical_url')|trim }}" />
    {% endif %}
    {% if block('facebook_meta') is defined %}
        {{block('facebook_meta') |raw}}
    {% endif %}
    
    {{ include('FaFrontendBundle::scriptTop.html.twig') }}
    {% block scripttop %}{% endblock %}
    {% stylesheets filter='uglifycss' output='bundles/css/compiled/simpleLayout.css'
        'bundles/fafrontend/css/style.css'
        'bundles/fafrontend/css/responsive.css'
          %}
        <link rel="stylesheet" href="{{ static_asset_url(asset_url) }}"/>
    {% endstylesheets %}
    {% block blockGaCode%}
        {{ include('FaFrontendBundle::gaCode.html.twig') }}
    {% endblock %}
    {% if block('dimension2dimension2') is defined %}
        {{ dimension2dimension2|trim|raw }}
    {% else %}
        <script language="javascript" type="text/javascript">
        //<![CDATA[
        	{% if app.user.getId() is not defined or app.user.getId() is null %}
            	ga('set', 'dimension9', 'not logged in');
            {% else %}
            	ga('set', 'dimension9', 'logged in');
            {% endif %}
            ga('send', 'pageview', {'dimension1': defLocationText, 'dimension2':  'Peripheral_Content'{% if app.request.get('ti_url') %} ,'dimension8': '{{ app.request.get('ti_url') }}' {% endif %}});
        //]]>
        </script>
    {% endif %}
    
    {% if mobileDetectManager.isMobile() or mobileDetectManager.isTablet() %}
        {% if mobileDetectManager.isiOS() and not mobileDetectManager.isWindowsMobileOS() and not mobileDetectManager.isWindowsPhoneOS() %}
            {{ include('FaFrontendBundle::iosMetaTags.html.twig') }}
        {% elseif mobileDetectManager.isAndroidOS() and not mobileDetectManager.isWindowsMobileOS() and not mobileDetectManager.isWindowsPhoneOS() %}
            {{ include('FaFrontendBundle::androidOsMetaTags.html.twig') }}
        {% elseif mobileDetectManager.isWindowsMobileOS() or mobileDetectManager.isWindowsPhoneOS() %}
            {{ include('FaFrontendBundle::windowsOsMetaTags.html.twig') }}
        {% endif %}
    {% endif %}
    
    <!-- FB pixel code snippet -->
    {{ include('FaFrontendBundle::fbPixelCodeSnippet.html.twig') }}
</head>
<body>
    <section>
        {% block body %}{% endblock %}
    </section>

    {{ include('FaFrontendBundle::scriptBottom.html.twig') }}
    {% block scriptbottom %}{% endblock %}

</body>
</html>