{% set container = fetch_container_instance() %}
{% if container.getParameter('fa.amazon.mode') == 'live' %}
    {% set amazon_url_js = container.getParameter('fa.amazon.live.url') %}
{% else %}
    {% set amazon_url_js = container.getParameter('fa.amazon.test.url') %}
{% endif %}
<footer id="footer_tag">
    {% if currentRoute not in {0: 'ad_post_first_step', 1: 'ad_post_second_step', 2: 'ad_post_third_step', 3: 'facebook_paa_login', 4: 'ad_post_third_step_registration', 5: 'ad_post_fourth_step', 6: 'ad_edit', 7: 'ad_package_purchase', 8: 'show_cart'} %}
        <div class="row show-for-small-only">
            <div class="columns">
                <a href="{{ path('ad_post_first_step') }}" title="{{ 'Place an ad'|trans({}, 'frontend-top-menu') }}" class="primary-btn-1 button expand">{{ 'Place an ad'|trans({}, 'frontend-top-menu') }}</a>
            </div>
        </div>
    {% endif %}
    <div class="row">
        {{ render(controller('FaEntityBundle:Category:renderFooterCategories', {'location': (currentRoute == 'listing_page' ? app.request.get('location') : null), 'searchParams': searchParams})) }}
        <div class="large-6 columns">
            <h6 class="footer-head">{{ 'Find us on'|trans({}, 'frontend-footer') }}:</h6>
            <div class="footer-icons">
                <a href="{{container.getParameter('fa.footer.facebook.page.link')}}" class="facebook" target="_blank" title="{{ 'Facebook'|trans({}, 'frontend-footer') }}">{{ 'Facebook'|trans({}, 'frontend-footer') }}</a>
                <a href="{{container.getParameter('fa.footer.twitter.page.link')}}" class="twitter" target="_blank" title="{{ 'Twitter'|trans({}, 'frontend-footer') }}">{{ 'Twitter'|trans({}, 'frontend-footer') }}</a>
                <a href="{{container.getParameter('fa.footer.instagram.page.link')}}" class="instagram" target="_blank" title="{{ 'Instagram'|trans({}, 'frontend-footer') }}">{{ 'Instagram'|trans({}, 'frontend-footer') }}</a>
            </div>
            <div class="help-links">
                <h6 class="footer-head">{{ 'Can we help?'|trans({}, 'frontend-footer') }}</h6>
                <a href="http://blog.friday-ad.co.uk/" target="_blank">{{ 'Blog'|trans({}, 'frontend-footer') }}</a>
                {{ render(controller('FaContentBundle:StaticPage:renderStaticPageLink', {'currentRoute': currentRoute})) }}
                <a href="{{ path('show_all_locations') }}">{{ 'Locations'|trans({}, 'frontend-footer') }}</a>
                <a href="{{ path('testimonials') }}">{{ 'Testimonials'|trans({}, 'frontend-footer') }}</a>
            </div>
        </div>
    </div>

    <div class="fad-logo">
        <span>F-Ad</span>
    </div>

    {% set zoneId = constant('Fa\\Bundle\\ContentBundle\\Repository\\BannerZoneRepository::ZONE_PIXEL_TRACKING_DESKTOP') %}
    {{ include('FaContentBundle:Banner:show.html.twig', {'zone_id': zoneId}) }}

    {% set zoneId = constant('Fa\\Bundle\\ContentBundle\\Repository\\BannerZoneRepository::ZONE_PIXEL_TRACKING_TABLET') %}
    {{ include('FaContentBundle:Banner:show.html.twig', {'zone_id': zoneId}) }}

    {% set zoneId = constant('Fa\\Bundle\\ContentBundle\\Repository\\BannerZoneRepository::ZONE_PIXEL_TRACKING_MOBILE') %}
    {{ include('FaContentBundle:Banner:show.html.twig', {'zone_id': zoneId}) }}

    {% if app.user and app.session.get('login_pixel_tracking') is null %}
        {% set zoneId = constant('Fa\\Bundle\\ContentBundle\\Repository\\BannerZoneRepository::ZONE_LOGIN_PIXEL_TRACKING') %}
        {{ include('FaContentBundle:Banner:show.html.twig', {'zone_id': zoneId}) }}
    {% endif %}
</footer>

{{ include('FaFrontendBundle::userLocation.html.twig') }}

{% block scriptbottom %}
<script>
if(typeof amznscrptload == 'undefined')
{
   var script = document.createElement('script');
   script.type = "text/javascript";
   script.src = "{{amazon_url_js}}";
   document.getElementsByTagName('head')[0].appendChild(script);
}
</script>
<script language="javascript" type="text/javascript">
//<![CDATA[

    $('#manage-my-ad-id').on('click', function() {
        ga('send', 'event', 'Top Widget', 'MMM');
    });

    $('#login-header-id, #mob-login-header-id').on('click', function() {
        ga('send', 'event', 'Top Widget', 'Sign In');
    });

    $('#logout-header-id, #mob-logout-header-id').on('click', function() {
        if (!!$.cookie('amazon_Login_accessToken')) {
            amazon.Login.logout();
            document.cookie = "amazon_Login_accessToken=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
            $("#AmazonPayButton").show();
            $("#addressBookWidgetDiv").hide();
            $("#walletWidgetDiv").hide();
            $("#access-token").val("");
            $("#order-reference").val("");
        }
        ga('send', 'event', 'Top Widget', 'Sign Out');
    });

    $('#account-header-id, #mob-account-header-id').on('click', function() {
        ga('send', 'event', 'Top Widget', 'My Account');
    });

    $('#register-header-id, #mob-register-header-id').on('click', function() {
        ga('send', 'event', 'Top Widget', 'Register');
    });

    $('#saved-header-id').on('click', function() {
        ga('send', 'event', 'Top Widget', 'Saved Ads');
    });

    $('#saved-search-header-id').on('click', function() {
        ga('send', 'event', 'Top Widget', 'Email alerts');
    });

    $('#place-item-btn-id').on('click', function() {
        ga('send', 'event', 'PAA', 'mobile');
    });

    $('#inbox-header-id, #mob-inbox-header-id').on('click', function() {
        ga('send', 'event', 'Top Widget', 'Messaging');
    });

    $(document).ready(function() {
        if (!checkCookie('FAD')) {
            $('#cookie_notification_bar').show();
        }
    });

    function setCookiePolicy()
    {
        var expiration_date = new Date();
        expiration_date.setFullYear(expiration_date.getFullYear() + 10);
        var domain = '.'+'{{ app.request.host }}';
        document.cookie = "FAD=1; expires=" + expiration_date.toGMTString() + "; path=/; domain="+ domain +";";
    }

    function refreshParallax()
    {
        $(window).trigger('resize').trigger('scroll');
    }
//]]>
</script>
{% endblock %}