{% if currentRoute in {0: 'ad_post_first_step', 1: 'ad_post_second_step', 2: 'ad_post_third_step', 3: 'ad_post_third_step_registration', 4: 'ad_post_fourth_step', 5: 'show_draft_ad', 6: 'ad_package_purchase', 7: 'show_cart', 8: 'cybersource_checkout', 9: 'ad_edit', 10: 'ad_promote' } %}
    <style>
    @media only screen and (min-width: 320px) and (max-width: 640px) {
    	.top-bar .toggle-topbar.menu-icon {
    		display:none; !important;
    	}
    	.top-bar .toggle-topbar.menu-icon a span, .top-bar .toggle-topbar.menu-icon a:hover span {
            background: none !important;
        }
    }
    </style>
{% endif %} 
<div class="homesticky">
    {% if status_code == 200 %}
        {% if currentRoute == 'ad_detail_page' %}
            {% set zoneId = constant('Fa\\Bundle\\ContentBundle\\Repository\\BannerZoneRepository::ZONE_ABOVE_HEADER') %}
            {{ include('FaContentBundle:Banner:show.html.twig', {'zone_id': zoneId, 'otherParams':{'ad':adDetail}}) }}
            {% set zoneId = constant('Fa\\Bundle\\ContentBundle\\Repository\\BannerZoneRepository::ZONE_ABOVE_HEADER_TABLET') %}
            {{ include('FaContentBundle:Banner:show.html.twig', {'zone_id': zoneId, 'otherParams':{'ad':adDetail}}) }}
        {% else %}
            {% set zoneId = constant('Fa\\Bundle\\ContentBundle\\Repository\\BannerZoneRepository::ZONE_ABOVE_HEADER') %}
            {{ include('FaContentBundle:Banner:show.html.twig', {'zone_id': zoneId}) }}
            {% set zoneId = constant('Fa\\Bundle\\ContentBundle\\Repository\\BannerZoneRepository::ZONE_ABOVE_HEADER_TABLET') %}
            {{ include('FaContentBundle:Banner:show.html.twig', {'zone_id': zoneId}) }}
        {% endif %}
    {% endif %}    
    <div class="top-links d-none d-sm-block">
        <div class="container">
            <div class="row ml0 mr0">
                <div class="col-xs-24 col-sm-24 col-md-24 pr0 pl0 pad-none">
                   {% if app.user %}
                    {% set messageRepository = fetch_repository('FaMessageBundle:Message') %}
                    {% set totalUnreadMsg = messageRepository.getMessageCount(app.user.getId(), 'all', fetch_container_instance()) %}
                    {% set userRole = fetch_repository('FaUserBundle:User').getUserRole(app.user.getId(), container) %}
                    <ul class="clearfix">
                        <li id="db-dropdown-menu-link">
                            <a href="{{ path('dashboard_home') }}" class="dropdown-toggle my-db-desktop" >{{ 'My Dashboard'|trans({}, 'frontend-header-usermenu') }} <b class="f-caret"></b></a>
                            <ul id="db-dropdown-menu" class="dropdown-menu f-dropdown">
                                <li><a href="{{ path('dashboard_home') }}" class="home-icon">{{ 'Dashboard home'|trans({}, 'frontend-header-usermenu') }}</a></li>
                                <li><a href="{{ path('user_ad_message_all') }}" class="messages-icon">{{ 'Messages'|trans({}, 'frontend-header-usermenu') }}&nbsp;<span id="total_unread_msg_div" class="show-for-small-only">({{totalUnreadMsg}})</span> </a></li>
                                <li><a href="{{ path('user_review_list') }}" class="reviews-icon">{{ 'Reviews'|trans({}, 'frontend-header-usermenu') }}</a></li>
                                <li><a href="{{ path('manage_my_ads_active') }}" id="manage-my-ad-id" class="manage-item-icon">{{'Manage my ads'|trans({}, 'frontend-header-usermenu')}}</a></li>
                                <li><a href="{{ path('my_profile') }}" class="manage-profile-icon">{{ 'Edit profile'|trans({}, 'frontend-header-usermenu') }}</a></li>
                                <li><a href="{{ path('my_orders') }}" class="orders-icon">{{ 'Orders'|trans({}, 'frontend-header-usermenu') }}</a></li>
                                <li><a href="{{ path('my_favourite') }}" class="my-favourites-icon">{{ 'My favourites'|trans({}, 'frontend-header-usermenu') }}</a></li>
                                <li><a href="{{ path('list_search_agent') }}" id="saved-search-header-id" class="alerts-icon">{{'Alerts and searches'|trans({}, 'frontend-header-usermenu')}}</a></li>
                                <li><a href="{{ path('my_purchases') }}" id="shop-header-id" class="purchase-icon">{{ 'Purchases'|trans({}, 'frontend-header-usermenu') }}</a></li>
                                <li><a href="{{ path('my_account') }}" id="account-header-id" class="account-icon">{{ 'Account'|trans({}, 'frontend-header-usermenu') }}</a></li>
                            </ul>
                        </li>
                        <li>
                            {% set myProfileUrl = container.get('fa_ad.manager.ad_routing').getProfilePageUrl(app.user.getId()) %}
                            |<a href="{% if myProfileUrl %}{{ myProfileUrl }}{% else %}javascript:void(0);{% endif %}">
                                <span class="topbar-user-icon {% if userRole == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_SELLER') %}rounded{% endif %}">
                                    <span id="top_profile_image_div">
                                        {% set userLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogoByUserId', [fetch_container_instance(), app.user.getId(), true, false, app.user.getProfileName() ]) %}
                                        {{userLogo|replace({'<div': '<span', '</div>':'</span>'})|raw}}
                                    </span>
                                </span>
                                <span>
                                {% if app.user.getFullName() %}
                                    {{app.user.getFullName()}}
                                {% else %}
                                    {{app.user.getUsername()}}
                                {% endif %}
                                </span>
                            </a>|
                        </li>

                        {{ render(controller('FaUserBundle:Dashboard:notification', { 'template': 'menu' })) }}

                        <li class="msg-link"><a href="{{ path('user_ad_message_all') }}" id="inbox-header-id">{{'Messages'|trans({}, 'frontend-header-usermenu')}} <span>({{totalUnreadMsg}})</span> <span class="unread-msg" id="total_unread_msg_icon_div" {% if totalUnreadMsg == 0 %} style="display:none" {% endif %}>&nbsp;</span></a>|</li>

                        {% set userCart = fetch_repository('FaPaymentBundle:Cart').getUserCart(app.user.getId(), container) %}
                        {% set userDetail = fetch_repository('FaPaymentBundle:Transaction').getCartDetail(userCart.getId()) %}
                        <li>
                            {% if userDetail|length > 0 %}
                              {% set userCartUrl = path('show_cart') %}
                            {% else %}
                              {% set userCartUrl = 'javascript:void(0);' %}
                            {% endif %}
                            <a href="{{ userCartUrl }}" class="basket-icon"><span>({{ userDetail|length }})</span></a>|
                        </li>
                        <li><a href="{{ path('logout') }}" id="logout-header-id">{{'Log Out'|trans({}, 'frontend-header-usermenu')}}</a></li>
                    </ul>
                {% else %}
                    <ul class="clearfix">
                        <li><a href="{{ path('login') }}" id="login-header-id">{{'Log In'|trans({}, 'frontend-header-usermenu')}}</a>|</li>
                        <li><a href="{{ path('fa_user_register') }}" id="register-header-id">{{'Register'|trans({}, 'frontend-header-usermenu')}}</a></li>
                        {# <li><a href="/contact-us">{{'Contact Us'|trans({}, 'frontend-header-usermenu')}}</a></li> #}
                    </ul>
                {% endif %}
                </div>
            </div>
        </div>
	</div>
    {# FFR-4031 starts Here #}
    {% set isSetCovidSession =0 %}
    {% set showCovidBanner = 1 %}
    {% set assignedCategoryId = 0 %}
    {% if app.request.cookies.has('is_over_18') %}
        {% if searchParams is defined and searchParams.item__category_id is defined and searchParams.item__category_id is not null  %}
        	{% set assignedCategoryId = searchParams.item__category_id %}
    	{% elseif currentRoute == 'ad_detail_page' and app.request.get('category_string') %}
    		{% set assignedCategoryId = fetch_repository('FaEntityBundle:Category').getIdBySlug(app.request.get('category_string'), fetch_container_instance()) %}
    	{% elseif (currentRoute == 'show_business_profile_page' or currentRoute == 'show_business_user_ads') and app.request.get('profileNameSlug') %}
             {% set objUserSite = fetch_repository('FaUserBundle:UserSite').findOneBy({'slug':app.request.get('profileNameSlug')}) %}
             {% set assignedCategoryId = objUserSite.getUser().getBusinessCategoryId() %}
    	{% elseif (appUserRole is defined and (appUserRole == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_BUSINESS_SELLER') or appUserRole == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_NETSUITE_SUBSCRIPTION'))) %}
        	{% set assignedCategoryId = app.user.getBusinessCategoryId() %}
    	{% endif %}

    	{% if assignedCategoryId!=0 %}
        	{% set categoryPath = fetch_repository('FaEntityBundle:Category').getCategoryPathArrayById(assignedCategoryId, false, fetch_container_instance()) %}
            {% set catCnt = 0 %}
            {% if categoryPath|length %}
                {% for categoryId, categoryName in categoryPath %}
                    {% if catCnt == 0 %}
                        {% if (categoryId == ADULT_CATEGORY_ID) %}
                            {% set showCovidBanner = 0 %}
                        {% endif %}
                    {% endif %}
                    {% set catCnt = catCnt + 1 %}
                {% endfor %}
            {% endif %}
       {% endif %}	
    {% endif %}
    {% if container.get('session').has('CovidSession') %}
   		{% set isSetCovidSession = container.get('session').get('CovidSession') %}
    {% endif %}
    {% if isSetCovidSession==0 and showCovidBanner==1 and currentRoute not in {0: 'fa_frontend_homepage', 1: 'ad_post_second_step', 2: 'ad_post_third_step', 3: 'ad_post_third_step_registration', 4: 'ad_post_fourth_step', 5: 'show_draft_ad', 6: 'ad_package_purchase', 7: 'show_cart', 8: 'cybersource_checkout', 9: 'ad_edit', 10: 'ad_promote' } %}
    <div class="covid-19-block top-border d-none d-md-block">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-24 col-md-17 col-lg-18"><div class="head">Covid-19. <span class="ask-for-offer-help">Ask for & Offer Help in our <a href="https://www.friday-ad.co.uk/uk/community/coronavirus-support/" class="ga-covid-19-support-link-all-pages">Coronavirus Support section</a></span></div></div>
                <div class="col-sm-24 col-md-7 col-lg-6 covid-mb-btn"><a href="https://www.friday-ad.co.uk/paa/first_step?categoryName=Coronavirus%20Support" class="button place-free-ad-btn thin-btn ga-covid-19-paa-link-all-pages">Place Help Ad</a><span class="cross-btn align-text" onclick="setCovidSession()"></span></div>
            </div>
        </div>
    </div>
    {% endif %}
    {# FFR-4031 Ends Here #}
    {% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
    {% set sticky = '' %}
    {% if status_code == 200 and currentRoute is defined and currentRoute in {0: 'fa_frontend_homepage', 1: 'location_home_page', 2: 'listing_page', 3: 'landing_page_category_location', 4: 'landing_page_category'}  and not app.request.attributes.get('static_page') %}
        {% set sticky = 'id="sticky_nav_top"' %}
    {% endif %}
    <div {{ sticky }}>
        <nav class="navbar navbar-expand-sm navbar-dark top-bar-section" id="top_bar_nav">
            <div class="container row mob-container">
                <a href="{{ path('fa_frontend_homepage') }}" class="navbar-brand {% if showTiLogo %}tradeit-logo{% endif %}">{% if showTiLogo %}<img class="img-fluid" src="{{ asset_url('fafrontend/images/fad-ti-logo.png') }}" alt="{{ 'Friday-Ad'|trans({}, 'frontend') }}" />{% else %}<img class="img-fluid" src="{{ asset_url('fafrontend/images/fad-logo.svg') }}" alt="{{ 'Friday-Ad'|trans({}, 'frontend') }}" />{% endif %}</a>
                <button  onclick="" class="navbar-toggler nav-icon" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="menu" id="top_bar_nav_menu_span"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% if mobileDetectManager.isTablet() %}
                        {{ render(controller('FaEntityBundle:Category:renderHeaderCategories', {'is_tablet':1, 'location': (currentRoute in {0: 'listing_page', 1: 'landing_page_category_location', 2: 'location_home_page'}  ? app.request.get('location') : null), 'searchParams': searchParams is defined ? searchParams : {}})) }}
                    {% elseif mobileDetectManager.isMobile() %}
                        {{ render(controller('FaEntityBundle:Category:renderHeaderCategories', {'is_tablet':0, 'is_mobile':1, 'location': (currentRoute in {0: 'listing_page', 1: 'landing_page_category_location', 2: 'location_home_page'} ? app.request.get('location') : null), 'searchParams': searchParams is defined ? searchParams : {}})) }}
                    {% else %}
                        {{ render(controller('FaEntityBundle:Category:renderHeaderCategories', {'is_tablet':0, 'is_mobile':0, 'location': (currentRoute in {0: 'listing_page', 1: 'landing_page_category_location', 2: 'location_home_page'} ? app.request.get('location') : null), 'searchParams': searchParams is defined ? searchParams : {}})) }}
                    {% endif %}

                        {% if app.user %}
                            {% set messageRepository = fetch_repository('FaMessageBundle:Message') %}
                            {% set totalUnreadMsg = messageRepository.getMessageCount(app.user.getId(), 'all', fetch_container_instance()) %}
                                <div class="m-navbar-block">
                                <ul class="d-block d-md-none login-menu">
                                    <li class="db-left-submenu">
                                        <a class="submenu-list collapsed" href="#db-mob-menu" data-toggle="collapse" data-target="#db-mob-menu">MY DASHBOARD</a>
                                            <ul id="db-mob-menu" class="collapse">
                                                <li>
                                                    <a href="{{ path('dashboard_home') }}">
                                                        <span class="home-icon"></span>
                                                        {{ 'Dashboard home'|trans({}, 'frontend-header-usermenu') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('user_ad_message_all') }}">
                                                        <span class="messages-icon"></span>
                                                        {{ 'Messages'|trans({}, 'frontend-header-usermenu') }}{% if totalUnreadMsg > 0 %}&nbsp;<span class="notification-digit">({{totalUnreadMsg}})</span>{% endif %}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('user_review_list') }}">
                                                        <span class="reviews-icon"></span>
                                                        {{ 'Reviews'|trans({}, 'frontend-header-usermenu') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('manage_my_ads_active') }}" id="manage-my-ad-id">
                                                        <span class="manage-item-icon"></span>
                                                        {{'Manage my ads'|trans({}, 'frontend-header-usermenu')}}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('my_profile') }}">
                                                        <span class="manage-profile-icon"></span>
                                                        {{ 'Edit profile'|trans({}, 'frontend-header-usermenu') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('my_orders') }}">
                                                        <span class="orders-icon"></span>
                                                        {{ 'Orders'|trans({}, 'frontend-header-usermenu') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('my_favourite') }}">
                                                        <span  class="my-favourites-icon"></span>
                                                        {{ 'My favourites'|trans({}, 'frontend-header-usermenu') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('list_search_agent') }}" id="saved-search-header-id">
                                                        <span class="alerts-icon"></span>
                                                        {{'Alerts and searches'|trans({}, 'frontend-header-usermenu')}}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('my_purchases') }}" id="shop-header-id">
                                                        <span class="purchase-icon"></span>
                                                        {{ 'Purchases'|trans({}, 'frontend-header-usermenu') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('my_account') }}" id="account-header-id">
                                                        <span  class="account-icon"></span>
                                                        {{ 'Account'|trans({}, 'frontend-header-usermenu') }}
                                                    </a>
                                                </li>
                                            </ul>
                                    </li>
                                    <li>
                                    {% set myProfileUrl = container.get('fa_ad.manager.ad_routing').getProfilePageUrl(app.user.getId()) %}
                                    <a href="{% if myProfileUrl %}{{ myProfileUrl }}{% else %}javascript:void(0);{% endif %}" class="logged-in-user">
                                        {% if app.user.getFirstName() or  app.user.getLastName() %}
                                            {{app.user.getFirstName()}} {{app.user.getLastName()}}
                                        {% else %}
                                            {{app.user.getUsername()}}
                                        {% endif %}
                                        </a>
                                    </li>
                                    {% if mobileDetectManager.isMobile() and not mobileDetectManager.isTablet() %}
                                        {{ render(controller('FaUserBundle:Dashboard:notification', { 'template': 'mobile_menu' })) }}
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('user_ad_message') }}" id="mob-inbox-header-id">{{'MESSAGES'|trans({}, 'inbox')}}{% if totalUnreadMsg > 0 %}&nbsp;<span class="notification-digit">({{totalUnreadMsg}})</span>{% endif %}</a>
                                    </li>

                                    {% if userDetail|length > 0 %}
                                    <li>
                                        <a href="{{ path('show_cart') }}">Cart <span class="notification-digit">({{ userDetail|length }})</span></a>
                                    </li>
                                    {% endif %}
                                    <li><a href="{{ path('logout') }}" id="mob-logout-header-id">{{'Log Out'|trans({}, 'frontend-top-menu')}}</a></li>
                                </ul>
                                </div>
                                {% else %}
                                    <div class="m-navbar-block">
                                        <ul class="d-block d-md-none login-menu login-reg-flex">
                                            <li><a href="{{ path('login') }}" id="mob-login-header-id">{{'Log In'|trans({}, 'frontend-top-menu')}}</a></li>
                                            <li><a href="{{ path('fa_user_register') }}" id="mob-register-header-id">{{'Register'|trans({}, 'frontend-top-menu')}}</a></li>
                                            {# <li><a href="/contact-us">{{'Contact Us'|trans({}, 'frontend-header-usermenu')}}</a></li> #}
                                        </ul>
                                    </div>
                                {% endif %}

                            <ul class="place-item d-block d-md-none f-width">
                                <li class="place-item-btn text-center"><a class="primary-btn-1 btn btn-block mob-paa-btn" href="{{ path('ad_post_first_step') }}" title="{{ 'Place An Ad'|trans({}, 'frontend-top-menu') }}">{{ 'Place An Ad'|trans({}, 'frontend-top-menu') }}</a></li>
                            </ul>
                        </div>
               </div>
        </nav>
    </div>
    <div class="dropdown-bg"></div>

   {% if isSetCovidSession==0 and showCovidBanner==1 and currentRoute not in {0: 'fa_frontend_homepage', 1: 'ad_post_second_step', 2: 'ad_post_third_step', 3: 'ad_post_third_step_registration', 4: 'ad_post_fourth_step', 5: 'show_draft_ad', 6: 'ad_package_purchase', 7: 'show_cart', 8: 'cybersource_checkout', 9: 'ad_edit', 10: 'ad_promote' } %}
   <div class="covid-19-block top-border d-block d-md-none">
        <div class="container">
            <div class="row text-left">
                <div class="col-sm-24 col-md-17 col-lg-18 "><div class="head">Covid-19. <span class="ask-for-offer-help">Ask for & Offer Help in our <a href="https://www.friday-ad.co.uk/uk/community/coronavirus-support/" class="ga-covid-19-support-link-all-pages">Coronavirus Support section</a></span><span class="cross-btn align-text" onclick="setCovidSession()"></span></div></div>
                <div class="col-sm-24 col-md-7 col-lg-6 covid-mb-btn text-center"><a href="https://www.friday-ad.co.uk/paa/first_step?categoryName=Coronavirus%20Support" class="button place-free-ad-btn thin-btn ga-covid-19-paa-link-all-pages">Place Help Ad</a></div>
            </div>
        </div>
    </div>
   {% endif %}
</div>
{% if status_code == 200 %}
    {% if currentRoute not in {0: 'fa_frontend_homepage', 1: 'location_home_page', 2: 'cybersource_checkout', 3: 'ad_post_first_step',4:'ad_post_second_step' ,5:'ad_post_third_step' ,6:'ad_post_fourth_step'} %}
        {{ render(controller('FaAdBundle:AdList:topSearch', { 'searchParams': searchParams is defined ? searchParams : {} } )) }}
    {% endif %}
{% endif %}

