{% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
{% if currentRoute in {0: 'ad_post_first_step', 1: 'ad_post_second_step', 2: 'ad_post_third_step', 3: 'ad_post_third_step_registration', 4: 'ad_post_fourth_step', 5: 'show_draft_ad', 6: 'ad_package_purchase', 7: 'show_cart', 8: 'cybersource_checkout', 9: 'ad_edit', 10: 'ad_promote' } %}
{% endif %}
<header class="header" id="header" role="banner" aria-label="Site header">
    {% if status_code == 200 %}
        {% if currentRoute == 'ad_detail_page' %}
            {% set zoneId = constant('Fa\\Bundle\\ContentBundle\\Repository\\BannerZoneRepository::ZONE_ABOVE_HEADER') %}
            {{ include('FaContentBundle:Banner:show.html.twig', {'zone_id': zoneId, 'otherParams':{'ad':adDetail}}) }}
            {% set zoneId = constant('Fa\\Bundle\\ContentBundle\\Repository\\BannerZoneRepository::ZONE_ABOVE_HEADER_TABLET') %}
            {{ include('FaContentBundle:Banner:show.html.twig', {'zone_id': zoneId, 'otherParams':{'ad':adDetail}}) }}
        {% else %}
            {% set zoneId = constant('Fa\\Bundle\\ContentBundle\\Repository\\BannerZoneRepository::ZONE_ABOVE_HEADER') %}
            {{ include('FaContentBundle:Banner:show.html.twig', {'zone_id': zoneId}) }}
            {% set zoneId = constant('Fa\\Bundle\\ContentBundle\\Repository\\BannerZoneRepository::ZONE_ABOVE_HEADER_TABLET') %}
            {{ include('FaContentBundle:Banner:show.html.twig', {'zone_id': zoneId}) }}
        {% endif %}
    {% endif %}
    <!--Top navigation Starts-->
    <div class="top-links top-navigation">
        <div class="row">
            <div class="container">
                <div class="navigation-right">
                    <ul class="navigation-right__block {{ app.user ? 'logged': 'login' }}">
                        {% if app.user %}
                            {% set messageRepository = fetch_repository('FaMessageBundle:Message') %}
                            {% set totalUnreadMsg = messageRepository.getMessageCount(app.user.getId(), 'all', fetch_container_instance()) %}
                            {% set userRole = fetch_repository('FaUserBundle:User').getUserRole(app.user.getId(), container) %}
                            {% set userCart = fetch_repository('FaPaymentBundle:Cart').getUserCart(app.user.getId(), container) %}
                            {% set userDetail = fetch_repository('FaPaymentBundle:Transaction').getCartDetail(userCart.getId()) %}
                            <li class="navigation-right__item menu-dropdown">
                                {% set myProfileUrl = container.get('fa_ad.manager.ad_routing').getProfilePageUrl(app.user.getId()) %}
                                <a id="menuDropdown" class="arrow-icon navigation-right__link" href="{% if myProfileUrl %}{{ myProfileUrl }}{% else %}javascript:void(0);{% endif %}">
                                    Hello,
                                    {% if app.user.getFullName() %}
                                        {{app.user.getFullName()}}
                                    {% else %}
                                        {{app.user.getUsername()}}
                                    {% endif %}
                                    <span class="notify-badge"></span>
                                </a>
                                <div class="dropdown-content">
                                    <div class="dropdown-content__block user-profile">
                                        <div class="dropdown-content__profile {% if userRole == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_SELLER') %}private-user {% else %} business-user {% endif %} ">
                                            {% set userLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogoByUserId', [fetch_container_instance(), app.user.getId(), true, true, app.user.getProfileName() ]) %}
{#                                                {{userLogo|replace({'<div': '<span', '</div>':'</span>'})|raw}}#}
                                            <img src="{{ userLogo ? userLogo : '/public/images/Image-Avatar-null.png' }}" alt="{% if userRole == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_SELLER') %}private-user {% else %} business-user {% endif %}">
                                        </div>
                                        <h6 class="dropdown-content__user-name">
                                            Hello,
                                            {% if app.user.getFullName() %}
                                                {{app.user.getFullName()}}
                                            {% else %}
                                                {{app.user.getUsername()}}
                                            {% endif %}
                                        </h6>
                                    </div>
                                    <div class="dropdown-content__block dashboard">
                                        <ul>
                                            <li class="dropdown-content__item">
                                                <a href="{{ path('dashboard_home') }}" class="dropdown-content__link home-icon">My Dashboard</a>
                                            </li>
                                            <li class="dropdown-content__item">
                                                <a href="{{ path('user_ad_message_all') }}" class="dropdown-content__link messages-icon">
                                                    Messages
                                                    {% if totalUnreadMsg != 0 %}
                                                        <span class="notify-badge"></span>
                                                    {% endif %}
                                                </a>
                                            </li>
                                            <li class="dropdown-content__item">
                                                <a href="{{ path('user_review_list') }}" class="dropdown-content__link reviews-icon">Reviews</a>
                                            </li>
                                            <li class="dropdown-content__item">
                                                <a href="#" class="dropdown-content__link account-icon">Preferences</a>
{#                                                <a href="{{ path('my_account') }}" id="account-header-id" class="account-icon">{{ 'Account'|trans({}, 'frontend-header-usermenu') }}</a>#}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dropdown-content__block settings">
                                        <ul>
                                            <li class="dropdown-content__item">
                                                <a href="{{ path('manage_my_ads_active') }}" class="dropdown-content__link manage-item-icon">Manage my ads</a>
                                            </li>
                                            <li class="dropdown-content__item">
                                                <a href="{{ path('my_profile') }}" class="dropdown-content__link manage-profile-icon">Edit profile</a>
                                            </li>
                                            <li class="dropdown-content__item">
                                                <a href="{{ path('my_orders') }}" class="dropdown-content__link orders-icon">Orders
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dropdown-content__block favourites">
                                        <ul>
                                            <li class="dropdown-content__item">
                                                <a href="{{ path('my_favourite') }}" class="dropdown-content__link my-favourites-icon">Favourites
                                                </a>
                                            </li>
                                            <li class="dropdown-content__item">
                                                <a href="{{ path('list_search_agent') }}" class="dropdown-content__link alerts-icon">Search alerts</a>
                                            </li>
                                            <li class="dropdown-content__item">
                                                <a href="{{ path('my_purchases') }}" class="dropdown-content__link purchase-icon">Purchases</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dropdown-content__block logout">
                                        <ul>
                                            <li class="dropdown-content__item">
                                                <a href="{{ path('logout') }}" class="dropdown-content__link" id="logout-header-id">Logout
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="navigation-right__item">
                                {% if userDetail|length > 0 %}
                                    {% set userCartUrl = path('show_cart') %}
                                {% else %}
                                    {% set userCartUrl = 'javascript:void(0);' %}
                                {% endif %}
                                <a href="{{ userCartUrl }}" class="navigation-right__link basket-icon">
                                    {% if userDetail|length > 0 %}
                                        <span class="notify-badge"></span>
                                    {% endif %}
                                </a>
                            </li>
                            <li class="navigation-right__item">
                                <a href="{{ path('user_ad_message_all') }}" id="inbox-header-id" class="navigation-right__link message-icon ga-widgetMessages">
                                    {% if totalUnreadMsg != 0 %}
                                        <span class="notify-badge"></span>
                                    {% endif %}
                                </a>
                            </li>
                            {# need to disscuss about notification area with lauara and chaira #}
                            {# {{ render(controller('FaUserBundle:Dashboard:notification', { 'template': 'menu' })) }}#}
                        {% else %}
                            <li class="navigation-right__item">
                                <a href="{{ path('login') }}" id="login-header-id" class="navigation-right__link">{{'Log In'|trans({}, 'frontend-header-usermenu')}}</a>
                            </li>
                            <li class="navigation-right__item">
                                <a href="{{ path('fa_user_register') }}" id="register-header-id" class="navigation-right__link">{{'Register'|trans({}, 'frontend-header-usermenu')}}</a>
                            </li>
                        {% endif %}
                        <li class="navigation-right__item">
                            <a href="{{ path('location_home_page', {'location': 'contact-us'}) }}" id="contact-header-id" class="navigation-right__link">{{'Contact us'|trans({}, 'frontend-header-usermenu')}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Top navigation END-->

    <!--Main navigation Starts-->
    <div class="main-navigation">
        <div class="row">
            <div class="container">
                <div class="main-navigation__block">
                    <div class="brand">
                        {% if showAdultPages==1 %}
                            <a href="{{ path('fa_new_adult_homepage') }}" class="logo">
                                <img src="{{ asset_url('fafrontend/images/Fad-Adult-logo.svg') }}" alt="{{ 'Friday-Ad'|trans({}, 'frontend') }}" />
                            </a>
                        {% else %}
                            {# trade it logo  not configerd #}
                            <a href="{{ path('fa_frontend_homepage') }}" class="logo {% if showTiLogo %}tradeit-logo{% endif %}">
                                {% if showTiLogo %}
                                    <img src="{{ asset_url('fafrontend/images/fad-ti-logo.png') }}" alt="{{ 'Friday-Ad'|trans({}, 'frontend') }}" />
                                {% else %}
                                    <img src="{{ asset_url('fafrontend/images/fad-logo-new.svg') }}" alt="{{ 'Friday-Ad'|trans({}, 'frontend') }}" />
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                    <nav class="main-menu">
                        {% if mobileDetectManager.isTablet() %}
                            {{ render(controller('FaEntityBundle:Category:renderHeaderCategories', {'currentRoute': currentRoute, 'is_tablet':1, 'is_mobile':0, 'location': (currentRoute in {0: 'listing_page', 1: 'landing_page_category_location', 2: 'location_home_page'}  ? app.request.get('location') : null), 'searchParams': searchParams is defined ? searchParams : {}})) }}
                        {% elseif mobileDetectManager.isMobile() %}
                            {{ render(controller('FaEntityBundle:Category:renderHeaderCategories', {'currentRoute': currentRoute, 'is_tablet':0, 'is_mobile':1, 'location': (currentRoute in {0: 'listing_page', 1: 'landing_page_category_location', 2: 'location_home_page'} ? app.request.get('location') : null), 'searchParams': searchParams is defined ? searchParams : {}})) }}
                        {% else %}
                            {{ render(controller('FaEntityBundle:Category:renderHeaderCategories', {'currentRoute': currentRoute, 'is_tablet':0, 'is_mobile':0, 'location': (currentRoute in {0: 'listing_page', 1: 'landing_page_category_location', 2: 'location_home_page'} ? app.request.get('location') : null), 'searchParams': searchParams is defined ? searchParams : {}})) }}
                        {% endif %}
                    </nav>
                </div>
                <div class="search-sticky search-sticky-mobile">
                    <input type="text" class="search-sticky__input" value="" placeholder="What are you lookng for?" id="mobile_search_li">
                </div>
            </div>
        </div>
    </div>
    <!--Main navigation END-->
</header>