<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,target-densityDpi=medium-dpi" />

	{% set blockPageTitle = block('page_title') is defined ? block('page_title')|replace({' in UK': ''})|trim : ((otherblockPageTitle is defined)?otherblockPageTitle:false) %}
    {% set blockMetaRobots = block('meta_robots') is defined ? block('meta_robots')|trim : false %}
    {% set blockMetaDescription = block('meta_description') is defined ? block('meta_description')|replace({' in UK': ''})|trim : false %}
    {% set blockMetaKeywords = block('meta_keywords') is defined ? block('meta_keywords')|trim : false %}
    {% set blockMetaCanonicalUrl = block('canonical_url') is defined ? block('canonical_url')|trim : false %}
    {% set blockFacebookMeta = block('facebook_meta') is defined ? block('facebook_meta')|trim : false %}
    {% set blockTwitterMeta = block('twitter_meta') is defined ? block('twitter_meta')|trim : false %}
    {% set blockGaCode = block('google_ga_code') is defined ? block('google_ga_code')|trim : false %}
    {% set blockBreadcrumbCode = block('breadcrumb_script') is defined ? block('breadcrumb_script')|trim : false %}

    {% set container = fetch_container_instance() %}
    {% set currentRoute = app.request.attributes.get('_route') %}
    {% if currentRoute != 'listing_page' %}
        {% set bannerRepository = fetch_repository('FaContentBundle:Banner') %}
        {% set bannersArray = bannerRepository.getBannersArrayByPage(currentRoute, container) %}
    {% endif %}
    {% set blockDimension2 = block('dimension2') is defined ? block('dimension2')|trim : false %}
    {% set pushNotification = block('pushNotification') is defined ? block('pushNotification')|trim : false %}
    {% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
    {% set paginationHead = block('pagination_head') is defined ? block('pagination_head')|trim : false %}

    {% set showAdultPopup = 0 %}
    {% set ADULT_CATEGORY_ID = constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') %}
    {% set showTiLogo = false %}
    {# {% if (app.user and app.user.getUserMasterSite()|lower == 'ti') or (not app.user and app.request.get('ti_url')) or (not app.user and app.request.cookies.has('ti_url')) %} #}
    {#    {% if (app.user and app.user.getUserMasterSite()|lower == 'ti') or (not app.user and app.request.get('ti_url')) or (not app.user and app.request.cookies.has('new_ti_url')) %}#}
    {#        {% set showTiLogo = true %}#}
    {#    {% endif %}#}
    {% if app.request.get('ti_url') or app.request.cookies.has('new_ti_url') %}
        {% set showTiLogo = true %}
    {% endif %}

    {% set showTiPopup = false %}
    
    {% if ((app.request.uri == container.getParameter('base_url')~'/bristol/') and app.request.get('ti_url')) %}
        {% set showTiPopup = true %}
        {% set showTiLogo = true %}
    {% endif %}
    
    {% if not app.request.cookies.has('is_over_18') and (currentRoute == 'fa_adult_homepage' or currentRoute == 'fa_new_adult_homepage') %}
    	{% set showAdultPopup = 1 %}
    {% endif %}
    {% if not app.request.cookies.has('is_over_18') and searchParams is defined and searchParams.item__category_id is defined and searchParams.item__category_id is not null %}
        {% set categoryPath = fetch_repository('FaEntityBundle:Category').getCategoryPathArrayById(searchParams.item__category_id, false, fetch_container_instance()) %}
        {% set catCnt = 0 %}
        {% if categoryPath|length %}
            {% for categoryId, categoryName in categoryPath %}
                {% if catCnt == 0 %}
                    {% if (categoryId == ADULT_CATEGORY_ID) %}
                        {% set showAdultPopup = 1 %}
                    {% endif %}
                {% endif %}
                {% set catCnt = catCnt + 1 %}
            {% endfor %}
        {% endif %}
    {% endif %}

    {% if not app.request.cookies.has('is_over_18') and currentRoute == 'ad_detail_page' and app.request.get('category_string') %}
        {% set categoryId = fetch_repository('FaEntityBundle:Category').getIdBySlug(app.request.get('category_string'), fetch_container_instance()) %}
        {% set categoryPath = fetch_repository('FaEntityBundle:Category').getCategoryPathArrayById(categoryId, false, fetch_container_instance()) %}
        {% set catCnt = 0 %}
        {% if categoryPath|length %}
            {% for categoryId, categoryName in categoryPath %}
                {% if catCnt == 0 %}
                    {% if (categoryId == ADULT_CATEGORY_ID) %}
                        {% set showAdultPopup = 1 %}
                    {% endif %}
                {% endif %}
                {% set catCnt = catCnt + 1 %}
            {% endfor %}
        {% endif %}
    {% endif %}

    {% if not app.request.cookies.has('is_over_18') and currentRoute == 'show_business_profile_page' and app.request.get('profileNameSlug') %}
        {% set userSiteRepository = fetch_repository('FaUserBundle:UserSite') %}
        {% set objUserSite = userSiteRepository.findOneBy({'slug':app.request.get('profileNameSlug')}) %}
        {% if (objUserSite.getUser().getBusinessCategoryId()) %}
            {% if (objUserSite.getUser().getBusinessCategoryId() == ADULT_CATEGORY_ID) %}
                {% set showAdultPopup = 1 %}
            {% endif %}
        {% endif %}
    {% endif %}

    <title>{% block title %}{% if blockPageTitle %}{{blockPageTitle|raw}}{% else %}{{'Friday-Ad'|trans}}{% endif %}{% endblock %}</title>
    {% if blockMetaRobots and (not app.request.get('advertgone') or app.request.get('expired_ads')) %}
        <meta name="robots" content="noindex, follow">
    {% endif %}
    {% if blockMetaDescription %}
        <meta name="description" content="{{blockMetaDescription|raw}}" />
    {% endif %}
    {% if blockMetaKeywords %}
        {% if blockMetaKeywords == 'no-keywords' %}
            <meta name="keywords" content="" />
        {% else %}
            <meta name="keywords" content="{{blockMetaKeywords|raw}}" />
        {% endif %}
    {% endif %}
    {% if not blockMetaCanonicalUrl and currentRoute == 'location_home_page' and app.request.get('location') == 'uk' %}
        {% set blockMetaCanonicalUrl = container.getParameter('base_url') %}
    {% elseif not blockMetaCanonicalUrl %}
        {% set blockMetaCanonicalUrl = app.request.uri|replace({('?'~app.request.queryString) : ''}) %}
    {% endif %}
    {% if app.request.get('advertgone') and not app.request.get('expired_ads') %}
        {% set blockMetaCanonicalUrl = app.request.uri|replace({'?advertgone=1': ''}) %}
    {% endif %}
    {% if app.request.get('page') and app.request.get('page')==1 %}
        {% set blockMetaCanonicalUrl = blockMetaCanonicalUrl|replace({'/page-1': ''}) %}
    {% endif %}
    {% if blockMetaCanonicalUrl %}
        <link rel="canonical" href="{{blockMetaCanonicalUrl}}" />
    {% endif %}
    {% if blockFacebookMeta %}
        {{blockFacebookMeta|raw}}
    {% endif %}
    {% if blockTwitterMeta %}
        {{blockTwitterMeta|raw}}
    {% endif %}
    
    {% set showAdultPages = 0 %}
    {% set appUserRole = '' %}
    {% set assignedCategoryId = 0 %}
    {% if (app.user.getId() is defined) %}
    	{% set appUserRole = fetch_repository('FaUserBundle:User').getUserRole(app.user.getId(), container) %}
    {% endif %}
        
    {% if searchParams is defined and searchParams.item__category_id is defined and searchParams.item__category_id is not null  %}
    	{% set assignedCategoryId = searchParams.item__category_id %}
	{% elseif currentRoute == 'ad_detail_page' and app.request.get('category_string') %}
		{% set assignedCategoryId = fetch_repository('FaEntityBundle:Category').getIdBySlug(app.request.get('category_string'), fetch_container_instance()) %}
	{% elseif (currentRoute == 'show_business_profile_page' or currentRoute == 'show_business_user_ads') and app.request.get('profileNameSlug') %}
         {% set objUserSite = fetch_repository('FaUserBundle:UserSite').findOneBy({'slug':app.request.get('profileNameSlug')}) %}
         {% set assignedCategoryId = objUserSite.getUser().getBusinessCategoryId() %}          
	{% elseif (appUserRole is defined and (appUserRole == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_BUSINESS_SELLER') or appUserRole == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_NETSUITE_SUBSCRIPTION'))) %}
    	{% set assignedCategoryId = app.user.getBusinessCategoryId() %}
	{% elseif (appUserRole is defined and appUserRole == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_NETSUITE_SUBSCRIPTION')) %}
		{% set assignedCategoryId = constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') %}
	{% endif %}

	{% if assignedCategoryId!=0 %}
    	{% set rootCategoryId = fetch_repository('FaEntityBundle:Category').getRootCategoryId(assignedCategoryId, fetch_container_instance()) %}
        {% if (rootCategoryId == ADULT_CATEGORY_ID) %}
              {% set showAdultPages = 1 %}
        {% endif %}                
    {% endif %}	
            
    {% if (currentRoute in {0: 'fa_adult_homepage', 1:'fa_new_adult_homepage'}) %}
    	{% set showAdultPages=1 %}
    {% endif %}

    {% if keywordCategoryIds is defined %}
        {% if constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') in keywordCategoryIds %}
            {% set showAdultPages=1 %}
        {% else %}
            {% set showAdultPages=0 %}
        {% endif %}
    {% endif %}

    {% if (showAdultPages==1 and (currentRoute in {0: 'fa_adult_homepage', 1:'fa_new_adult_homepage', 2:'ad_detail_page', 3:'listing_page', 4:'my_account', 5:'manage_my_ads_active', 6:'manage_my_ads_inactive', 7:'dashboard_home', 8:'ajax_manage_my_ads_get_status' })) %}
        {% set showAdultPages=1 %}
    {% else %}
        {% set showAdultPages=0 %}
    {% endif %}
        

    {{ include('FaFrontendBundle::scriptTop.html.twig') }}

    {% block scripttop %}{% endblock %}
    {#
        main-css.css - Common CSS - taken from src/Fa/Bundle/FrontendBundle/Resources/views/main-css.html.twig - moved from src/Fa/Bundle/FrontendBundle/Resources/views/scriptTop.html.twig
        main.css - Common CSS - taken from src/Fa/Bundle/FrontendBundle/Resources/views/fa-main-css-new.html.twig
        covid-edition.css - Covid related CSS - Inline CSS
    #}
    {% stylesheets filter='uglifycss' output='bundles/css/compiled/fa-main.css'
        'bundles/fafrontend/css/main-css.css'
        'bundles/fafrontend/css/main.css'
        'bundles/fafrontend/css/covid-edition.css'
        'bundles/fafrontend/css/css-fv1.css'
    %}
        <link rel="stylesheet" href="{{ static_asset_url(asset_url) }}" />
    {% endstylesheets %}
    
    {% if (currentRoute  in {0: 'ad_post_first_step', 1: 'ad_post_second_step', 2: 'ad_post_third_step', 3: 'ad_post_third_step_registration',4: 'show_draft_ad',5: 'ad_package_purchase',6: 'show_cart',7: 'cybersource_checkout'}) %}
        <style>.nav-bar .top-bar-section, #top_search, #field_arrow, .nav-bg .search-icon a { display:none !important; }</style>
    {% endif %}

    <link rel="stylesheet" href="{{ asset(cached_asset('build/css/fad-custome-1.css')) }}">
    <link rel="stylesheet" href="{{ asset(cached_asset('build/css/fad-custome-2.css')) }}">
    <link rel="stylesheet" href="{{ asset(cached_asset('build/css/fad-custome-3.css')) }}">
    <link rel="stylesheet" href="{{ asset(cached_asset('build/css/fad-custome-4.css')) }}">

	{% if showAdultPages == 1 %}
	    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
	    <link rel="stylesheet" href="{{ asset('/build/css/adulcss.css') }}?v=1.0.5">
    	{{ include('FaFrontendBundle:Adult:adul-imgs.html.twig') }}
	{% else %}
    	<link rel="stylesheet" href="{{ asset('/build/css/site.css') }}?v=1.0.5">
    	{{ include('FaFrontendBundle::site-imgs.html.twig') }}
	{% endif %}

    <script>

        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];

    </script>

    {% if otherblockPageTitle is defined %}
        <script language="javascript" type="text/javascript">
            googletag.cmd.push(function() {
                googletag.pubads().setTargeting('page_type', '{{ otherblockPageTitle }}').setTargeting('adBlocker', false).setTargeting('user_logged', {% if (app.user.getId() is not defined or app.user.getId() is null) %} false {% else %}true{% endif %});
                googletag.enableServices();
            });
        </script>
    {% else %}
        {{ include('FaFrontendBundle::gtmCode.html.twig') }}
    {% endif %}
    {% block blockGaCode%}
        {{ include('FaFrontendBundle::gaCode.html.twig') }}
    {% endblock %}
    
    {% if blockBreadcrumbCode %}
    	{{ blockBreadcrumbCode|raw }}
    {% endif %}
    {% if blockDimension2 %}
        {{ blockDimension2|raw }}
    {% else %}
        <script language="javascript" type="text/javascript">
        //<![CDATA[
    		{% if app.user.getId() is not defined or app.user.getId() is null %}
            	ga('set', 'dimension9', 'not logged in');
            {% else %}
            	ga('set', 'dimension9', 'logged in');
            {% endif %}
            ga('send', 'pageview', {'dimension1': defLocationText, 'dimension2':  'Peripheral_Content'{% if app.request.get('ti_url') %} ,'dimension8': '{{ app.request.get('ti_url') }}' {% endif %}});
        //]]>
        </script>
    {% endif %}

    {% if mobileDetectManager.isMobile() or mobileDetectManager.isTablet() %}
        {% if mobileDetectManager.isiOS() and not mobileDetectManager.isWindowsMobileOS() and not mobileDetectManager.isWindowsPhoneOS() %}
            {{ include('FaFrontendBundle::iosMetaTags.html.twig') }}
        {% elseif mobileDetectManager.isAndroidOS() and not mobileDetectManager.isWindowsMobileOS() and not mobileDetectManager.isWindowsPhoneOS() %}
            {{ include('FaFrontendBundle::androidOsMetaTags.html.twig') }}
        {% elseif mobileDetectManager.isWindowsMobileOS() or mobileDetectManager.isWindowsPhoneOS() %}
            {{ include('FaFrontendBundle::windowsOsMetaTags.html.twig') }}
        {% endif %}
    {% endif %}
    
    <!-- FB pixel code snippet -->
    {{ include('FaFrontendBundle::fbPixelCodeSnippet.html.twig') }}

    <!-- Pagination Head Start -->
    {% if paginationHead %}
        {{ paginationHead|raw }}
    {% else %}
        {% if pagination is defined %}
            {{ pagination_heads(pagination, app.request)|raw }}
        {% endif %}
    {% endif %}
    <!-- Pagination Head End -->
    
    {% if currentRoute in {0: 'fa_frontend_homepage'} or (app.request.uri == container.getParameter('base_url')~'/contact-us/') %}
    <script type="application/ld+json">
	{ 
		"@context": "http://schema.org",
 		"@type": "Organization",
 		"name": "Friday-Ad",
 		"url" : "https://www.friday-ad.co.uk",
  		"description" : "Friday-Ad is a community based classified ads website and newspaper in the UK.",
 		"logo": "https://www.friday-ad.co.uk/bundles/fafrontend/images/fad-logo-new.svg",
		"address": {
		"@type": "PostalAddress",
		"streetAddress": "London Road",
		"addressLocality": "Sayers Common",
		"postalCode": "BN6 9HS",
		"addressCountry": "UK"
	},
	"sameAs" : [
		"https://www.facebook.com/TheFridayAd/",
		"https://twitter.com/thefridayad",
		"https://www.instagram.com/thefridayad/",
		"https://www.wikidata.org/wiki/Q62031955"
	]}
	</script>
	{% endif %}

    <!-- TrustBox script -->
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    <!-- End TrustBox script -->
</head>
<body {% if (showAdultPopup == 1) %} class="transbox" {% endif %}>

        {% if status_code is not defined %}
            {% set status_code = 200 %}
        {% endif %}

        {% if status_code == 200 %}
            {# { include('FaFrontendBundle::cookiePolicy.html.twig') } #}
        {% endif %}
        
        
        
        {% if showAdultPages==1 and currentRoute not in {0: 'ad_post_first_step', 1: 'ad_post_second_step', 2: 'ad_post_third_step', 3: 'ad_post_third_step_registration', 4: 'ad_post_fourth_step', 5: 'show_draft_ad', 6: 'ad_package_purchase', 7: 'show_cart', 8: 'cybersource_checkout', 9: 'ad_edit', 10: 'ad_promote', 11: 'fa_frontend_homepage', 12: 'fa_new_adult_homepage' } %}
            {{ include('FaFrontendBundle:Adult:header.html.twig', {'status_code': status_code}) }}
        {% elseif showAdultPages == 1 %}
            {{ include('FaFrontendBundle:Adult:headerNew.html.twig', {'status_code': status_code}) }}
        {% else %}
        	{{ include('FaFrontendBundle::header.html.twig', {'status_code': status_code}) }}
        {% endif %}

        {% if status_code == 200 %}
            {% if currentRoute not in {0: 'fa_frontend_homepage', 1: 'location_home_page'} %}
                <div class="row top-msg">
                    <div class="columns">
                        {{ include('FaCoreBundle::message.html.twig') }}
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <section>
       
            {% block body %}{% endblock %}
        </section>

        {{ include('FaFrontendBundle::scriptBottom.html.twig') }}

        {% if currentRoute is not defined %}
            {% set currentRoute = '' %}
        {% endif %}

        {{ include('FaAdBundle:AdList:topSearchJs.html.twig', {'currentRoute':currentRoute}) }}

        {% block scriptbottom %}{% endblock %}
		{% if (currentRoute  in {0: 'ad_post_first_step', 1: 'ad_post_second_step', 2: 'ad_post_third_step', 3: 'ad_post_third_step_registration',4: 'show_draft_ad',5: 'ad_package_purchase',6: 'show_cart',7: 'cybersource_checkout', 8: 'ad_post_fourth_step'}) %}
                {{ include('FaFrontendBundle::paaFooter.html.twig') }}
        {% else %}
            {% if status_code == 200 %}
                {% set showFooterFlag = true %}
                {% set showMblFooterFlag = false %}
                {% if mobileDetectManager.isMobile() and not mobileDetectManager.isTablet() and currentRoute in {0: 'ad_post_first_step', 1: 'ad_post_second_step', 2: 'ad_post_third_step', 3: 'ad_post_third_step_registration', 4: 'ad_post_fourth_step', 5: 'show_draft_ad', 6: 'ad_package_purchase', 7: 'show_cart', 8: 'cybersource_checkout', 9: 'ad_edit', 10: 'ad_promote'} %}
                    {% set showMblFooterFlag = true %}
                    {% set showFooterFlag = false %}
                {% endif %}
                {% if showFooterFlag %}
                	{% if searchParams is not defined %}
                		{% set searchParams = [] %}
                	{% endif %}
                	{% if showAdultPages==1 %}
                        {{ include('FaFrontendBundle:Adult:footer.html.twig', {'searchParams':searchParams}) }}
                    {% else %}
                    	{{ include('FaFrontendBundle::footer.html.twig', {'searchParams':searchParams}) }}
    		        {% endif %}
                {% else %}
                    {% if showMblFooterFlag %}
                        {% if searchParams is not defined %}
                            {% set searchParams = [] %}
                        {% endif %}
                        {{ include('FaFrontendBundle::mobile-footer.html.twig', {'searchParams':searchParams}) }}
                    {% endif %}
                 {% endif %}
             {% else %}
                {{ include('FaFrontendBundle::userLocation.html.twig') }}
             {% endif %}
		{% endif %}
		
        {% if (showAdultPopup == 1) %}
            {{ include('FaFrontendBundle::adultWarnningPopup.html.twig') }}
        {% endif %}

        {% if (currentRoute  in {0: 'ad_post_first_step', 1: 'ad_post_second_step', 2: 'ad_post_third_step', 3: 'ad_post_third_step_registration',4: 'show_draft_ad',5: 'ad_package_purchase',6: 'show_cart',7: 'cybersource_checkout'}) %}
            {{ include('FaFrontendBundle::layout-css.html.twig') }}
        {% endif %}
        {#{ include('FaFrontendBundle::pushNotificationsJs.html.twig') }#}

        <script type="text/javascript">
        $(window).on('load', function() {
            $(document).foundation({
              accordion: {
                multi_expand: true,
              }
            });
            $(document).on('open.fndtn.offcanvas', '[data-offcanvas]', function () {
            	$('#menu_off_canvas_anchor').addClass('db-menu-close');
                $('#menu_off_canvas_anchor').text('{{'Close menu'|trans({}, 'frontend-dashboard-left-menu')}}');
            });
            $(document).on('close.fndtn.offcanvas', '[data-offcanvas]', function () {
            	$('#menu_off_canvas_anchor').text('{{'Open menu'|trans({}, 'frontend-dashboard-left-menu')}}');
            	$('#menu_off_canvas_anchor').removeClass('db-menu-close');
        	});

            {% if (showAdultPopup == 1) %}
                $('#eighteenPlusWarnningModel').foundation('reveal', 'open',{
                	close_on_background_click: false,
                	close_on_esc: false,
                	});
            {% endif %}
        });
        function setCovidSession() {
        	$.ajax({
                type: "GET",
                url: "{{path('ajax_covid_set_session_data')}}",
            })
            .done(function(response) {
            	location.reload();
            });
        }
        {% if app.request.get('ti_url') %}
            function clearTiUrlFromRedis()
            {
                $.ajax({
                    type: "GET",
                    url: "{{path('ajax_clear_ti_url_from_redis')}}",
                    data: {'clear':'1'},
                })
                .done(function(response) {
                });
            }
            setTimeout(function(){
                clearTiUrlFromRedis();
            }, 2000);
        {% endif %}
        </script>

        {% if(showTiPopup) %}
           <style type="text/css">
                .transbgtrade .reveal-modal-bg, body.transbgtrade {background: rgba(70,75,83,0.8)!important;}
                body.transbgtrade { overflow-y:hidden; }
                .transbgtrade .reveal-modal-bg { overflow-y:hidden !important;}
                .r-product-modal {border: 0px solid #e3e3e3;box-shadow: none;}
                .r-product-modal .modal-block {}
                .r-product-modal .r-logo {margin-top: 3em;margin-bottom: 3em;}
                .r-product-modal .para {color:#333333;padding: 0 15%;margin-bottom: 15px;font-size: 14px;}
                .r-product-modal .btn-tellme{background-color: #a8dc28;border-color: #a8dc28;border-radius: 2px;text-align: center;padding: 8px 20px 8px 20px;font-size: 16px; line-height: 18px;}
                .r-product-modal .btn-tellme a {font-size: 16px;color:#ffffff;font-weight: normal;}
                .r-product-modal .r-close {background:none;text-indent: 0;z-index: 1;font-size: 2rem;font-weight:400;}
            </style>
           <div id="tradeitModal" class="reveal-modal tiny r-product-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                <div class="modal-block center">
                    <div class="center r-logo"><img src="{{ asset_url('fafrontend/images/fad-ti-logo.png') }}" alt=""></div>
                    <p class="para">Trade-It has a new look. Welcome to Friday-Ad.</p>
                    <button class="button btn-tellme"><a href="http://promotions.friday-ad.co.uk/tifad/" target="_blank">Tell me more</a></button>
                    <a href="javascript:void(0)" class="close-reveal-modal r-close" aria-label="Close" style="">&#215;</a>
                </div>
            </div>
            <script type="text/javascript">
            $(window).on('load', function() {    
                $(document).ready(function(){
                    $('#tradeitModal').foundation('reveal', 'open');
                     $(".btn-tellme").click(function() {
					    var tellmeLink = $(this).find("a");
					    tellmeLink.attr("target", "_blank");
					    window.open(tellmeLink.attr("href"));
					    return false;
					  });
                });
                $(document).on('opened', '[data-reveal]', function () {
                    $('body').addClass('transbgtrade');
                });
                $(document).on('closed', '[data-reveal]', function () {
                    $('body').removeClass('transbgtrade');
                });
               
            });            
            </script>
        {% endif %}

        {% if (currentRoute  in {0: 'ad_post_first_step', 1: 'ad_post_second_step', 2: 'ad_post_third_step', 3: 'ad_post_third_step_registration',4: 'show_draft_ad',5: 'ad_package_purchase',6: 'show_cart',7: 'cybersource_checkout'}) %}
            {% set zendeskUrl = 'https://help.friday-ad.co.uk/hc/en-us/sections/360000265514-Placing-an-Advert' %}
            {{ include('FaFrontendBundle::zendeskHelp.html.twig', {'url': zendeskUrl}) }}
            
        {% elseif (currentRoute  in {0: 'dashboard_home', 1: 'user_ad_message_all', 2: 'user_review_list', 3: 'my_profile',4: 'my_orders',5: 'my_favourite',6: 'list_search_agent',7: 'my_purchases',8: 'my_account'}) %}
        	{% set zendeskUrl = 'https://help.friday-ad.co.uk/hc/en-us/sections/360000255873-My-Account' %}
            {{ include('FaFrontendBundle::zendeskHelp.html.twig', {'url': zendeskUrl}) }}
            
        {% elseif (currentRoute  in {0: 'manage_my_ads_active'}) %}
        	{% set zendeskUrl = 'https://help.friday-ad.co.uk/hc/en-us/sections/360000432234-Managing-your-Adverts' %}
            {{ include('FaFrontendBundle::zendeskHelp.html.twig', {'url': zendeskUrl}) }}
        {% endif %}
    </body>
</html>
