<a href="#" id="subscribe-link" style="display: none;">Subscribe to Notifications</a>
<!--<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async='async'></script>-->
<script type="text/javascript">
function downloadJSAtOnload() {
  var element = document.createElement("script");
  element.src = "https://cdn.onesignal.com/sdks/OneSignalSDK.js";
  document.body.appendChild(element);
}
if (window.addEventListener)
  window.addEventListener("load", downloadJSAtOnload, false);
else if (window.attachEvent)
  window.attachEvent("onload", downloadJSAtOnload);
else window.onload = downloadJSAtOnload;
</script>
<script>
{% set pushNotificationsParams = container.getParameter('push_notifications') %}
var OneSignal = window.OneSignal || [];
OneSignal.push(["init", {
  appId: "{{ pushNotificationsParams.appId }}",
  autoRegister: true, /* Set to true to automatically prompt visitors */
  subdomainName: '{{ pushNotificationsParams.subdomainName }}',
  safari_web_id: '{{ pushNotificationsParams.safari_web_id }}',
  httpPermissionRequest: {
    enable: true
  },
  welcomeNotification: {
      "title": "{{'Welcome to Friday-Ad'|trans({}, 'frontend-push-notifications')}}",
      "message": "{{'Thanks for subscribing!'|trans({}, 'frontend-push-notifications')}}",
      "icon": "{{ asset_url('fafrontend/images/android-icons/512x512.png') }}",
       "url": "{{ container.getParameter('base_url') }}" /* Leave commented for the notification to not open a window on Chrome and Firefox (on Safari, it opens to your webpage) */
  },
  promptOptions: {
      siteName: 'Friday-Ad',
      /* These prompt options values configure both the HTTP prompt and the HTTP popup. */
      /* actionMessage limited to 90 characters */
      actionMessage: "{{'We\'d like to show you notifications for the latest adverts and updates.'|trans({}, 'frontend-push-notifications')}}",
      /* Example notification title */
      exampleNotificationTitle: '{{'Friday-Ad'|trans({}, 'frontend-push-notifications')}}',
      /* Example notification message */
      exampleNotificationMessage: '{{'You have a new message!'|trans({}, 'frontend-push-notifications')}}',
      /* acceptButtonText limited to 15 characters */
      acceptButtonText: "{{'ALLOW'|trans({}, 'frontend-push-notifications')}}",
      /* cancelButtonText limited to 15 characters */
      cancelButtonText: "{{'NO THANKS'|trans({}, 'frontend-push-notifications')}}"
  },
  notifyButton: {
      enable: true, /* Required to use the notify button */
      displayPredicate: function() { /* to hide after user subscribes */
          return OneSignal.isPushNotificationsEnabled()
              .then(function(isPushEnabled) {
                  /* The user is subscribed, so we want to return "false" to hide the notify button */
                  return !isPushEnabled;
              });
      },
      size: 'medium', /* One of 'small', 'medium', or 'large' */
      theme: 'default', /* One of 'default' (red-white) or 'inverse" (white-red) */
      position: 'bottom-left', /* Either 'bottom-left' or 'bottom-right' */
      offset: {
          bottom: '10px',
          left: '10px', /* Only applied if bottom-left */
          right: '0px' /* Only applied if bottom-right */
      },
      prenotify: true, /* Show an icon with 1 unread message for first-time site visitors */
      showCredit: false, /* Hide the OneSignal logo */
      colors: { // Customize the colors of the main button and dialog popup button
          'circle.background': 'rgb(168,220,40)',
          'circle.foreground': 'white',
          'badge.background': 'rgb(168,220,40)',
          'badge.foreground': 'white',
          'badge.bordercolor': 'white',
          'pulse.color': 'white',
          'dialog.button.background.hovering': 'rgb(155,204,33)',
          'dialog.button.background.active': 'rgb(70, 92, 103)',
          'dialog.button.background': 'rgb(168,220,40)',
          'dialog.button.foreground': 'white'
        },
      text: {
          'tip.state.unsubscribed': '{{'Subscribe to Friday-Ad notifications'|trans({}, 'frontend-push-notifications')}}',
          'tip.state.subscribed': "{{'You\'re subscribed to Friday-Ad notifications'|trans({}, 'frontend-push-notifications')}}",
          'tip.state.blocked': "{{'You\'ve blocked Friday-Ad notifications'|trans({}, 'frontend-push-notifications')}}",
          'message.prenotify': '{{'Click to subscribe to Friday-Ad notifications'|trans({}, 'frontend-push-notifications')}}',
          'message.action.subscribed': "{{'Thanks for subscribing!'|trans({}, 'frontend-push-notifications')}}'",
          'message.action.resubscribed': "{{'You\'re subscribed to Friday-Ad notifications'|trans({}, 'frontend-push-notifications')}}",
          'message.action.unsubscribed': "{{'You won\'t receive Friday-Ad notifications again'|trans({}, 'frontend-push-notifications')}}",
          'dialog.main.title': '{{'Manage Friday-Ad Notifications'|trans({}, 'frontend-push-notifications')}}',
          'dialog.main.button.subscribe': '{{'SUBSCRIBE'|trans({}, 'frontend-push-notifications')}}',
          'dialog.main.button.unsubscribe': '{{'UNSUBSCRIBE'|trans({}, 'frontend-push-notifications')}}',
          'dialog.blocked.title': '{{'Unblock Friday-Ad Notifications'|trans({}, 'frontend-push-notifications')}}',
          'dialog.blocked.message': "{{'Follow these instructions to allow Friday-Ad notifications:'|trans({}, 'frontend-push-notifications')}}"
      }
  }
}]);
{% if app.user %}
    OneSignal.push(["sendTags", {'userId': '{{md5(app.user.getId())}}'}]);
{% endif %}

{% if pushNotification %}
    {{pushNotification|raw}}
{% endif %}

function subscribe() {
    OneSignal.push(["registerForPushNotifications"]);
    event.preventDefault();
}

/* This example assumes you've already initialized OneSignal */
OneSignal.push(function() {
    // If we're on an unsupported browser, do nothing
    if (!OneSignal.isPushNotificationsSupported()) {
        return;
    }
    OneSignal.isPushNotificationsEnabled(function(isEnabled) {
        if (isEnabled) {
            // The user is subscribed to notifications
            // Don't show anything
        } else {
            document.getElementById("subscribe-link").addEventListener('click', subscribe);
            document.getElementById("subscribe-link").style.display = '';
        }
    });
});
</script>
