<!-- Core Scripts - Include with every page -->
{% set container = fetch_container_instance() %}
<!-- script async src="{{ asset_url('fafrontend/js/banner.js') }}?v=1"></script -->
<script>var isAdBlocker;isAdBlocker = false;</script>
<script language="javascript" type="text/javascript">
//<![CDATA[
    $.ajax({
      url: '{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}',
      async: false,
      dataType: "script",
    });

    if (isAdBlocker == true) {
        $('.banner-center').html('');
    }

    var notification_box = true;
    $(window).on('load', function() {
        {% if not app.request.get('is_copy') and not app.session.has('paa_fourth_step_brand') %}
            bindFormErrorEvents();
        {% endif %}
        customSelectOpenCloseEvents(false);

        $('.fdatepicker').fdatepicker({format: 'dd/mm/yyyy'});

        $('.custom_select').select2({
            dropdownCssClass: 'custom_select_options',
        });

        $('.fa-select').selectmenu(
        {
            change: function(event, ui) {
                $('#'+$(this).attr('id')).trigger('change');
                $(this).nextAll('small.error').first().remove();
                $(this).parent().nextAll('small.error').first().remove();
                $('#'+$(this).attr('id')+'-button').removeClass('error-bdr');
            },
            open: function(event, ui) {
                //for fast click
                $('.ui-menu li').addClass('needsclick');
            },
            create: function(event, ui) {
                //for fast click
                if ($('#'+$(this).attr('id')).hasClass('error-bdr')) {
                    $('#'+$(this).attr('id')+'-button').addClass('error-bdr');
                }
            }
        });

        $('.fa-select-white').selectmenu(
        {
            change: function(event, ui) {
                $('#'+$(this).attr('id')).trigger('change');
                $(this).nextAll('small.error').first().remove();
                $(this).parent().nextAll('small.error').first().remove();
                $('#'+$(this).attr('id')+'-button').removeClass('error-bdr');
            },
            open: function(event, ui) {
                //for fast click
                $('.ui-menu li').addClass('needsclick');
                $('.ui-menu').addClass('white-dropdown');
            },
            create: function(event, ui) {
                //for fast click
                if ($('#'+$(this).attr('id')).hasClass('error-bdr')) {
                    $('#'+$(this).attr('id')+'-button').addClass('error-bdr');
                }
            }
        });

        $('.custom_select').on("select2-focus", function(e) {
            $('.custom_select_options .select2-search').hide();
        });


    });

    

        

    $(window).on( "orientationchange", function( event ) {
        customSelectOpenCloseEvents(true);
        $('.fa-select').selectmenu().selectmenu('refresh',true);
        $('.fa-select-white').selectmenu().selectmenu('refresh',true);
    });

    $(document).ajaxStop(function () {
        $('.fa-select').selectmenu().selectmenu('refresh',true);
        $('.fa-select-white').selectmenu().selectmenu('refresh',true);
    });

   
    $( "#mobile_search_li" ).click(function() {
        if ($('#top_bar_nav').hasClass('expanded')) {
                $('.top-bar, [data-topbar]').css('height', '').removeClass('expanded');
        }

        var searchIcon = $(this).first().children();
        if ($(this).first().children().hasClass('search')) {
            $(this).first().children().removeClass('search');
            $(this).first().children().addClass('search-on');
        } else {
            $(this).first().children().removeClass('search-on');
            $(this).first().children().addClass('search');
        }

        if ($('#top_search').hasClass('hide-for-small-only')) {
            $('#top_search').removeClass('hide-for-small-only');
        } else {
            $('#top_search').addClass('hide-for-small-only');
        }
    });


    $( "#mobile_menu_li" ).click(function() {
        if ($('#top_search').hasClass('hide-for-small-only') == false) {
            $('#top_search').addClass('hide-for-small-only');
        }
    });
    
    $(document).click(function (event) {
    	var screenWidth = $(window).width();
    	var offsetHeight = $('.moved > .dropdown').height();
    	if ($('.top-bar').hasClass('expanded') && screenWidth < '500' && (offsetHeight == null || offsetHeight > '300')) {
    		$('.discover-categories').css('margin-top', '17px');
    	} else {
    		$('.discover-categories').css('margin-top', '0px');
    	}
  	});
    
    
    $("#notification-l").hover(function() {
        if (notification_box == true) {
            displayNotifications();
        }
    }, function(){});
    
    
    function displayNotifications()
    {
        var route = Routing.generate('notification_show');
        $.ajax({
            type: "GET",
            url : route,
        })
        .done(function(response) {
            if (response) {
              $("#notification-area").html(response);
              var counter = parseInt($("#notification_head_counter").html());
              $("#notification_head_count").html(counter);
             notification_box = false;
            }
        });
    }
    
    function removeNotificationMessage(id)
    {
        var route = Routing.generate('notification_remove', { 'messsageId': id });
        $.ajax({
            type: "POST",
            url : route,
            data : {type: 'detail'},
        })
        .done(function(response) {
            notification_box = true;
            var counter = parseInt($("#notification_head_counter").html());
            $("#notification_head_counter").html(counter-1);
            $("#notification_head_count").html(counter-1);
            displayNotifications();
         });
    }
    var idClicked = '';var idFourthStepClicked = '';
    $("button[type=submit], input[type=submit]").click(function(e){
        var clickedId = $(this).attr('id');
        var parentForm = $(this).parents("form").attr('name');
        if(clickedId.match("^fa_paa_fourth_step_")) {
            idFourthStepClicked = clickedId;
            $('#'+idFourthStepClicked).attr('readonly', 'readonly');
        } else {
            idClicked = clickedId;
            if(!$('#'+idClicked).hasClass('disabled')) {
                $('#'+idClicked).attr('disabled', true);
            }
            $("form[name='"+parentForm+"']").submit();
        }
    });

    
    /*function loadSavingDataGif(formName) {
        $('#form-save-button-div').html('<button type="button" class="primary-btn-1 expand loading-in-button"><img src="{{ asset_url('facontent/fileman/images/loading-dir.gif') }}" style="margin-right:15px">Saving data...</button>');
        $('#'+formName+'_save').attr('disabled', true);
        $("form[name='"+formName+"']").submit();
    }*/

    var isOpened = {};
    function customSelectOpenCloseEvents(closeAllSelect)
    {
        var screenWidth = $(window).width();
        if (screenWidth <= 1024) {
            if (closeAllSelect) {
                $('.ui-selectmenu-button').each(function() {
                    var selectListId = $(this).attr('id').replace('-button', '-menu');
                    if (typeof isOpened[selectListId] != 'undefined' && isOpened[selectListId]) {
                        $('#'+selectListId).parent().removeClass('ui-selectmenu-open');
                        $('#'+selectListId).attr('aria-hidden', true);
                        isOpened[selectListId] = false;
                    }
                });
                $('.fa-select').selectmenu('close', true);
            } else {
                $('.ui-selectmenu-button').each(function() {
                    var selectListId = $(this).attr('id').replace('-button', '-menu');
                    isOpened[selectListId] = false;
                });

                $('html').on('click', function( e ) {
                    var container = $('.ui-selectmenu-button');
                    var event = e;
                    var eventTarget = e.target;

                    container.each(function() {
                        var selectListId = $(this).attr('id').replace('-button', '-menu');

                        if (!$(this).is(eventTarget) && $(this).has(eventTarget).length === 0) {
                            $('#'+selectListId).parent().removeClass('ui-selectmenu-open');
                            $('#'+selectListId).attr('aria-hidden', true);
                            isOpened[selectListId] = false;
                        } else {
                            if (typeof isOpened[selectListId] != 'undefined' && isOpened[selectListId]) {
                                $('#'+selectListId).parent().removeClass('ui-selectmenu-open');
                                $('#'+selectListId).attr('aria-hidden', true);
                                isOpened[selectListId] = false;
                            } else {
                                $('#'+selectListId).parent().addClass('ui-selectmenu-open');
                                $('#'+selectListId).attr('aria-hidden', false);
                                isOpened[selectListId] = true;
                            }
                        }
                    });
                });
            }
        }
    }
//]]>
</script>
{# <script src="//maps.googleapis.com/maps/api/js?v=3.exp&key={{container.getParameter('fa.googlemap.api.key')}}&sensor=true&libraries=adsense"></script> #}
<!-- Google TAG Manager -->
{% if app.user %}
    {% set ClientID = app.user.id %}
    {% set login_status = 'true' %}
    {% if app.user.role == 'ROLE_BUSINESS_SELLER' %}
        {% set userType = 'Business' %}
    {% else %}
        {% set userType = 'Private' %}
    {% endif %}
{% else %}
    {% set ClientID = 'null' %}
    {% set login_status = 'false' %}
    {% set userType = 'null' %}
{% endif %}
{% if app.request.get('_route') in ['fa_frontend_homepage','landing_page_category'] %}
    {% set pageType = 'Homepage' %}

{% elseif app.request.get('_route') in ['ad_post_first_step', 'ad_post_second_step', 'ad_post_third_step','ad_post_third_step_registration','ad_post_fourth_step']%}
    {% set pageType = 'PAA process page' %}

{% elseif app.request.get('_route') in ['location_home_page','testimonials'] %}
    {% set pageType = 'Peripheral Content' %}

{% elseif app.request.get('_route') in ['login' ,'fa_user_register', 'facebook_paa_login','google_paa_login'] %}
    {% set pageType = 'LoginRegister' %}

{% elseif app.request.get('_route') == 'show_business_profile_page' %}
    {% set pageType = 'Business Profile Page' %}

{% elseif app.request.get('_route') == 'listing_page' %}
    {% if app.request.get('keywords') %}
        {% set pageType = 'Search Results Page' %} <!-- 'Search Results Page(keywords=' ~ app.request.get('keywords')' ~')' -->
    {% else %}
        {% set pageType = 'Category Results Page' %}
    {% endif %}

{% else %}
    {% set pageType = 'Not Specified' %}

{% endif %}

<script>
    let adBlocker = false;
    if(isAdBlocker) {
        adBlocker = true;
    }
    window.dataLayer = window.dataLayer || [];
    dataLayer.push({
        "page": {
            "pageType": '{{ pageType }}',
            "loggedInStatus": '{{ login_status }}',
            "clientID": '{{ ClientID }}',
            "ipAddress": '{{ app.request.server.get("REMOTE_ADDR") }}',
            "loggedInType": '{{ userType }}',
            "adBlocker": adBlocker,
            "banners": '{{ bannersArray is defined ? bannersArray|length : '' }}'
        },
    });
</script>
<!-- Google TAG Manager -->
