<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=no;target-densityDpi=medium-dpi" />

    <title>{% block title %} {{'Friday Ad'|trans}} {% if block('page_title') is defined %} - {{block('page_title')|trim}} {% endif %} {% endblock %}</title>
    
    {% set currentRoute = app.request.attributes.get('_route') %}
    {% set blockMetaRobots = block('meta_robots') is defined ? block('meta_robots')|trim : false %}
    {% set blockMetaDescription = block('meta_description') is defined ? block('meta_description')|trim : false %}
    {% set blockMetaKeywords = block('meta_keywords') is defined ? block('meta_keywords')|trim : false %}
    {% set blockMetaCanonicalUrl = block('canonical_url') is defined ? block('canonical_url')|trim : false %}
    {% set blockFacebookMeta = block('facebook_meta') is defined ? block('facebook_meta')|trim : false %}
    {% set blockDimension2 = block('dimension2') is defined ? block('dimension2')|trim : false %}
    {% set container = fetch_container_instance() %}
    {% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
    {% set showTiLogo = false %}
    {# {% if (app.user and app.user.getUserMasterSite()|lower == 'ti') or (not app.user and app.request.get('ti_url')) or (not app.user and app.request.cookies.has('ti_url')) %} #}
    {% if app.request.get('ti_url') or app.request.cookies.has('new_ti_url') %}
        {% set showTiLogo = true %}
    {% endif %}
    
    {% if not blockMetaCanonicalUrl %}
        {% set blockMetaCanonicalUrl = app.request.uri|replace({('?'~app.request.queryString) : ''}) %}
    {% endif %}
    
    {% if blockMetaRobots %}
        <meta name="robots" content="noindex, follow">
    {% endif %}
    {% if blockMetaDescription %}
        <meta name="description" content="{{blockMetaDescription}}" />
    {% endif %}
    {% if blockMetaKeywords %}
        <meta name="keywords" content="{{blockMetaKeywords}}" />
    {% endif %}
    {% if blockMetaCanonicalUrl %}
        <link rel="canonical" href="{{blockMetaCanonicalUrl}}" />
    {% endif %}
    {% if blockFacebookMeta %}
        {{blockFacebookMeta|raw}}
    {% endif %}
    
    {{ include('FaFrontendBundle::scriptTop.html.twig') }}
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900,Poppins-SemiBold&display=swap" rel="stylesheet">
    {% block scripttop %}{% endblock %}
    {#
        main-css.css - Common CSS - taken from src/Fa/Bundle/FrontendBundle/Resources/views/main-css.html.twig - moved from src/Fa/Bundle/FrontendBundle/Resources/views/scriptTop.html.twig
        main.css - Common CSS - taken from src/Fa/Bundle/FrontendBundle/Resources/views/fa-main-css-new.html.twig
        simple-layout.css - taken from src/Fa/Bundle/FrontendBundle/Resources/views/new-fa-main-css.html.twig
    #}
    {% stylesheets filter='uglifycss' output='bundles/css/compiled/fa-main-simple-layout.css'
        'bundles/fafrontend/css/main-css.css'
        'bundles/fafrontend/css/main.css'
        'bundles/fafrontend/css/simple-layout.css'
    %}
        <link rel="stylesheet" href="{{ static_asset_url(asset_url) }}" />
    {% endstylesheets %}

    {# {% stylesheets filter='uglifycss' output='bundles/css/compiled/simpleLayout.css'
        'bundles/fafrontend/css/style.css'
        'bundles/fafrontend/css/responsive.css'
          %}
        <link rel="stylesheet" href="{{ static_asset_url(asset_url) }}?v=3000"/>
    {% endstylesheets %}#}

    <!-- START TPD HEAD CODE -->
    <script async type="text/javascript" src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    <!-- END TPD HEAD CODE -->
    <script>

        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];

    </script>

    {% block blockGaCode %}
        {{ include('FaFrontendBundle::gaCode.html.twig') }}
    {% endblock %}

    {% if blockDimension2 %}
        {{ blockDimension2|raw }}
    {% else %}
        <script language="javascript" type="text/javascript">
        //<![CDATA[
        	{% if app.user.getId() is not defined or app.user.getId() is null %}
            	ga('set', 'dimension9', 'not logged in');
            {% else %}
            	ga('set', 'dimension9', 'logged in');
            {% endif %}
            ga('send', 'pageview', {'dimension1': defLocationText, 'dimension2':  'Peripheral_Content'{% if app.request.get('ti_url') %} ,'dimension8': '{{ app.request.get('ti_url') }}' {% endif %}});

            {% set _logged_in = 'true' %}
            {% if app.user.getId() is not defined or app.user.getId() is null %}
            {% set _logged_in = 'false' %}
            {% endif %}


            googletag.cmd.push(function() {
                googletag.pubads().setTargeting('page_type', 'Peripheral_Content').setTargeting('adBlocker', false).setTargeting('user_logged', {{ _logged_in }});
                googletag.enableServices();
            });

         //]]>
        </script>
    {% endif %}
    
    <script>
        googletag.cmd.push(function() {
            dataLayerValues.each(function(key, value) {
                googletag.pubads().setTargeting(key, value);
            });
        });


    </script>
    
    {% if mobileDetectManager.isMobile() or mobileDetectManager.isTablet() %}
        {% if mobileDetectManager.isiOS() and not mobileDetectManager.isWindowsMobileOS() and not mobileDetectManager.isWindowsPhoneOS() %}
            {{ include('FaFrontendBundle::iosMetaTags.html.twig') }}
        {% elseif mobileDetectManager.isAndroidOS() and not mobileDetectManager.isWindowsMobileOS() and not mobileDetectManager.isWindowsPhoneOS() %}
            {{ include('FaFrontendBundle::androidOsMetaTags.html.twig') }}
        {% elseif mobileDetectManager.isWindowsMobileOS() or mobileDetectManager.isWindowsPhoneOS() %}
            {{ include('FaFrontendBundle::windowsOsMetaTags.html.twig') }}
        {% endif %}
    {% endif %}
    
   

 <!-- FB pixel code snippet -->
    {{ include('FaFrontendBundle::fbPixelCodeSnippet.html.twig') }}
</head>
<body>
        {# { include('FaFrontendBundle::cookiePolicy.html.twig') } #}

        {{ include('FaFrontendBundle::simpleHeader.html.twig') }}
        <div class="row top-msg">
            <div class="columns">
               {{ include('FaCoreBundle::message.html.twig') }}
            </div>
        </div>
        <section>
            {% block body %}{% endblock %}
        </section>

        {{ include('FaFrontendBundle::scriptBottom.html.twig') }}
        {% block scriptbottom %}{% endblock %}

        {{ include('FaFrontendBundle::simpleFooter.html.twig') }}

        <script type="text/javascript">
        $(window).on('load', function() {
            $(document).foundation({
              accordion: {
                multi_expand: true,
              }
            });
        });
        </script>
    </body>
</html>