{% set messageType = '' %}
{% if currentRoute == 'dashboard_home' %}
    {% set allMessagesRoute = path('dashboard_home', {'messageType': 'all' }) %}
    {% set aboutYourAdMessagesRoute = path('dashboard_home', {'messageType': 'receiver' }) %}
    {% set intrestedAdMessagesRoute = path('dashboard_home', {'messageType': 'sender' }) %}
    {% set messageType = app.request.get('messageType') %}
{% else %}
    {% set allMessagesRoute = path('user_ad_message_all') %}
    {% set aboutYourAdMessagesRoute = path('user_ad_message') %}
    {% set intrestedAdMessagesRoute = path('user_interested_ad_message') %}
{% endif %}
<nav>
    <div class="nav nav-tabs nav-fill custom-tabs" id="vif_tabs" role="tablist">
        <a class="nav-item nav-link {% if currentRoute == 'user_ad_message_all' or (currentRoute == 'dashboard_home' and (messageType == '' or messageType == 'all')) %} active {% endif %}" id="all_msg_tab" data-toggle="tab" href="#all_msg" role="tab" aria-controls="nav-home" aria-selected="true">{{ 'All <br />messages'|trans({}, 'frontend-inbox')|raw }} <br />{% if totalMsgCount > 0 %}(<span id="unreadUserMsgCount_div">{{totalMsgCount}}</span>){% endif %}</a>
        <a class="nav-item nav-link {% if currentRoute == 'user_ad_message' or (currentRoute == 'dashboard_home' and messageType == 'receiver') %} active {% endif %}" id="about_your_ads_tab" data-toggle="tab" href="#about_your_ads" role="tab" aria-controls="nav-profile" aria-selected="false">{{ 'About <br />your ads'|trans({}, 'frontend-inbox')|raw }} <br />{% if unreadUserAdMsgCount > 0 %}(<span id="unreadUserMsgCount_div">{{unreadUserAdMsgCount}}</span>){% endif %}</a>
        <a class="nav-item nav-link {% if currentRoute == 'user_interested_ad_message' or (currentRoute == 'dashboard_home' and messageType == 'sender') %} active {% endif %}" id="ads_interest_in_tab" data-toggle="tab" href="#ads_interest_in" role="tab" aria-controls="nav-profile" aria-selected="false">{{ "Ads you're <br />interested in"|trans({}, 'frontend-inbox')|raw }} <br />{% if unreadUserInterestedAdMsgCount > 0 %}(<span id="unreadUserInterestedMsgCount_div">{{unreadUserInterestedAdMsgCount}}</span>){% endif %}</a>
    </div>
    <ul class="nav nav-tabs nav-fill custom-tabs" id="vif_tabs" role="tablist">
        <li data-equalizer-watch {% if currentRoute == 'user_ad_message_all' or (currentRoute == 'dashboard_home' and (messageType == '' or messageType == 'all')) %} class="active" {% endif %}><a href="{{ allMessagesRoute }}">{{ 'All <br />messages'|trans({}, 'frontend-inbox')|raw }} <br />{% if totalMsgCount > 0 %}(<span id="unreadUserMsgCount_div">{{totalMsgCount}}</span>){% endif %}</a></li>
        <li data-equalizer-watch {% if currentRoute == 'user_ad_message' or (currentRoute == 'dashboard_home' and messageType == 'receiver') %} class="active" {% endif %}><a href="{{ aboutYourAdMessagesRoute }}">{{ 'About <br />your ads'|trans({}, 'frontend-inbox')|raw }} <br />{% if unreadUserAdMsgCount > 0 %}(<span id="unreadUserMsgCount_div">{{unreadUserAdMsgCount}}</span>){% endif %}</a></li>
        <li data-equalizer-watch {% if currentRoute == 'user_interested_ad_message' or (currentRoute == 'dashboard_home' and messageType == 'sender') %} class="active" {% endif %}><a href="{{ intrestedAdMessagesRoute }}">{{ "Ads you're <br />interested in"|trans({}, 'frontend-inbox')|raw }} <br />{% if unreadUserInterestedAdMsgCount > 0 %}(<span id="unreadUserInterestedMsgCount_div">{{unreadUserInterestedAdMsgCount}}</span>){% endif %}</a></li>
    </ul>
</nav>