<div class="db-list">
    <a class="panel-heading collapsed" data-toggle="collapse" data-target="#panel8b">
        <div class="media section-head">
            <div class="media-body">
                <span class="deactivate-icon list-icon-text">{{ 'Deactivate account'|trans({}, 'frontend-deactivate-account') }}</span>
            </div>
            <div class="arrow-block">
                <i class="fa fa-chevron-up"></i>
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
    </a>
    <div id="panel8b" class="collapse collapse-body-content">
        {% set contactUsLink = '' %}
        {% set staticPages = staticPageRepository.getStaticPageLinkArray(container) %}
        {% if staticPages[constant('Fa\\Bundle\\ContentBundle\\Repository\\StaticPageRepository::STATIC_PAGE_CONTACT_US_ID')] is defined %}
            {% set contactUsPageTitle = null %}
            {% set contactUsPageSlug = staticPages[constant('Fa\\Bundle\\ContentBundle\\Repository\\StaticPageRepository::STATIC_PAGE_CONTACT_US_ID')] %}
            {% if staticPages[contactUsPageSlug] is defined %}
                {% set contactUsPageTitle = staticPages[contactUsPageSlug] %}
            {% endif %}
            {% set contactUsLink = '<a target="__blank" href="'~path('location_home_page', {'location': contactUsPageSlug})~'">'~contactUsPageTitle~'</a>' %}
        {% endif %}
        <div class="col-md-24 col-lg-24 pad-none">
            <div>
                {{ "We would be sorry to see you go. If you're having a problem with your account please %contact_us% first and see if we can help."|trans({'%contact_us%': contactUsLink}, 'frontend-deactivate-account')|raw }}
            </div>
            <div class="pt10"><a href="javascript:void(0);" data-toggle="modal" data-target="#deactivateAccountModal">{{ 'Deactivate account'|trans({}, 'frontend-deactivate-account') }}</a></div>
        </div>
        <div id="deactivateAccountModal" class="modal custom-modal">

            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h5 class="modal-title save-search-title">{{'Deactivate account?'|trans({}, 'frontend-deactivate-account')}}</h5>
                        <button class="close-modal" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <h5>{{'This will deactivate your account and you will no longer be able to log in. Any adverts you have will be removed from the site.'|trans({}, 'frontend-deactivate-account')}}</h5>
                        <div class="mt20 deactModal-btn">
                            <button type="button" class="secondary-btn-2 btn btn-block" data-dismiss="modal">{{'Cancel'|trans({}, 'frontend-deactivate-account')}}</button>
                            <button type="button" class="secondary-btn-1 btn btn-block ok-btn" data-dismiss="modal" onclick="window.location.href='{{ path('deactivate_account') }}'">{{'Ok'|trans({}, 'frontend-deactivate-account')}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
