<dd class="accordion-navigation {% if not userDetailForm.vars.valid or app.session.flashbag.has('account_detail_success') %}active{% endif %}">
    <a href="#panel1b" class="section-head">
        <span class="your-details-icon">{{ 'Your details'|trans({}, 'frontend-user-account-detail') }}</span>
        <span>&nbsp;</span>
    </a>
    <div id="panel1b" class="content {% if not userDetailForm.vars.valid or app.session.flashbag.has('account_detail_success') %}active{% endif %}">
        {{ form_start(userDetailForm, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ include('FaUserBundle:MyAccount:myAccountMessage.html.twig', {'msgName': 'account_detail_success'}) }}
            <h5 class="db-myacc-title">{{ 'Update your contact details'|trans({}, 'frontend-user-account-detail') }}</h5>
            <span class="db-ins">{{ '(not publicly displayed)'|trans({}, 'frontend-user-account-detail') }}</span>
            <div class="myacc-details white-checkbox">
                {{ form_row(userDetailForm.email, {'attr': {'class': 'white-field'}}) }}
                <label>Social connections</label>
                <button class="signup-fb-btn button expand" type="button" {% if not app.user.getFacebookId() %}onclick="javascript:fbLoginPopup('{{ facebookLoginUrl }}');"{% endif %}><span class="signup-fb-icon">&nbsp;</span>{{ 'Connect with Facebook'|trans({}, 'frontend-user-account-detail') }}{% if app.user.getFacebookId() %}<span class="tickmark-icon right">&nbsp;</span>{% endif %}</button>
                <button class="signup-google-btn button expand" type="button" {% if not app.user.getGoogleId() %}onclick="javascript:googleLoginPopup('{{ googleLoginUrl }}');"{% endif %}><span class="signup-google-icon">&nbsp;</span>{{ 'Connected with Google'|trans({}, 'frontend-user-account-detail') }}{% if app.user.getGoogleId() %}<span class="tickmark-icon right">&nbsp;</span>{% endif %}</button>
                
                {{ form_row(userDetailForm.phone, {'attr': {'class': 'white-field'}}) }}
                
                {% if app.user.getIsPrivatePhoneNumber() %}
                <div class="hlight-box clearfix pvt-phone-num white-checkbox">
                <span style="color:#ff0000;font-weight:bold">Please note this privacy number feature will no longer exist from 1st September 2019. Read more <a href="https://help.friday-ad.co.uk/hc/en-us/articles/360034112434">here</a>.</span>
                </div>
                {% endif %}
                
                {# <div class="hlight-box clearfix pvt-phone-num white-checkbox {% if userDetailForm.is_private_phone_number.vars.errors|length %}mb0{% endif %}" style="display:{% if userDetailForm.is_private_phone_number.vars.data %}block{% else %}none{% endif %}">
                    {{ form_widget(userDetailForm.is_private_phone_number) }}
                    {{ form_label(userDetailForm.is_private_phone_number) }}
                    <a href="#" class="help-icon" data-reveal-id="privacyNumberModal">{{'Help'|trans({}, 'frontend-register')}}</a>
                </div>
                {{ form_errors(userDetailForm.is_private_phone_number) }}#}

                
                <div class="buyer-contact">
                     <label>{{'I would like buyers to contact me by:'|trans({}, 'frontend-paa-register')}}</label>
                     <div class="label-inline">
                         {{ form_row(userDetailForm.contact_through_phone) }}
                         {{ form_row(userDetailForm.contact_through_email) }}
                     </div>
                 </div>
            </div>
            
            {% if app.user.getPassword() %}
                <h5>{{ 'Change password'|trans({}, 'frontend-user-account-detail') }}</h5>
            {% endif %}
            <div class="myacc-details white-checkbox">
                {% if userDetailForm.old_password is defined %}
                    {{ form_row(userDetailForm.old_password, {'attr': {'class': 'white-field'}}) }}
                {% endif %}
                {% if userDetailForm.new_password is defined %}
                    {{ form_row(userDetailForm.new_password, {'attr': {'class': 'white-field'}}) }}
                    <div class="label-inline">
                        {% if userDetailForm.show_password is defined %}
                            {{ form_row(userDetailForm.show_password) }}
                        {% endif %}
                    </div>
                {% endif %}
                {% if not app.user.getPassword() %}
                    <a href="{{ path('create_new_password') }}">{{'Create password'|trans({}, 'frontend-user-account-detail')}}</a>
                {% endif %}
                <div class="mt20">
                    {{ form_widget(userDetailForm.save_changes, {'attr': {'class':'secondary-btn-1 button expand mb0'}}) }}
                </div>
            </div>
        {{ form_end(userDetailForm) }}
    </div>
</dd>
<div id="privacyNumberModal" class="reveal-modal" data-reveal>
    {% set privacyNumberBlock = staticPageRepository.getStaticBlockDetailArray('privacy-number-block', fetch_container_instance()) %}
    
    {% if privacyNumberBlock['title'] is defined %}
        <h5 class="modal-title">{{privacyNumberBlock['title']}}</h5>
        <div class="modal-content">{{privacyNumberBlock['description']|raw}}</div>
    {% endif %}
    <a class="close-reveal-modal">&#215;</a>
</div>
