<div class="db-list">
    <a class="panel-heading collapsed" data-toggle="collapse" data-target="#panel1b">
        <div class="media section-head">
            <div class="media-body">
                <span class="your-details-icon list-icon-text">{{ 'Your details'|trans({}, 'frontend-user-account-detail') }}</span>
            </div>
            <div class="arrow-block">
                <i class="fa fa-chevron-up"></i>
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
    </a>
    <div id="panel1b" class="collapse collapse-body-content">
        {{ form_start(userDetailForm, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ include('FaUserBundle:MyAccount:myAccountMessage.html.twig', {'msgName': 'account_detail_success'}) }}
            <h5 class="db-myacc-title">{{ 'Update your contact details'|trans({}, 'frontend-user-account-detail') }}</h5>
            <span class="db-ins">{{ '(not publicly displayed)'|trans({}, 'frontend-user-account-detail') }}</span>
            <div class="col-md-14 col-lg-9 pad-none mt20">
                <div>
                    {{ form_row(userDetailForm.email, {'attr': {'class': 'white-field'}}) }}
                </div>
                <div>
                    <label for="fa_user_user_account_detail_email" class="required">Social connections</label>
                	<div class="text-center mb20">
                        <a href="{% if not app.user.getFacebookId() %}javascript:fbLoginPopup('{{ facebookLoginUrl }}');{% else %} # {% endif %}" class="button special signup-fb-btn">
                            <span class="fb-icon"></span> 
                            <span class="btn-text">{{ 'Connect with Facebook'|trans({}, 'frontend-user-account-detail') }}{% if app.user.getFacebookId() %}<span class="tickmark-icon right">&nbsp;</span>{% endif %}</span>
                        </a>
                    </div>
                    <div class="text-center">
                        <a href="{% if not app.user.getGoogleId() %}javascript:googleLoginPopup('{{ googleLoginUrl }}');{% else %} # {% endif %}" class="button special signup-google-btn">
                            <span class="google-icon"></span> 
                            <span class="btn-text">{{ 'Connected with Google'|trans({}, 'frontend-user-account-detail') }}{% if app.user.getGoogleId() %}<span class="tickmark-icon right">&nbsp;</span>{% endif %}</span>
                        </a>
                    </div>
                </div>
                <div>
                    {{ form_row(userDetailForm.phone, {'attr': {'class': 'white-field'}}) }}
                </div>
                {% if app.user.getOldIsPrivatePhoneNumber() %}
                    <div class="hlight-box clearfix pvt-phone-num white-checkbox">
                        <span style="color:#ff0000;font-weight:bold">Please note the option to use Privacy Numbers has been disabled from 1st September 2019. Read more <a href="https://help.friday-ad.co.uk/hc/en-us/articles/360034112434">here</a>.</span>
                    </div>
                {% endif %}
                <div class="buyer-contact mt20">
                     <label>{{'I would like buyers to contact me by:'|trans({}, 'frontend-paa-register')}}</label>
                     <div class="label-inline d-inline-flex">
                         <ul class="custom-control custom-checkbox search-type mr10">
                             <li>
                                 {{ form_row(userDetailForm.contact_through_phone,{'attr':{'class': 'custom-control-input'},'label_attr': {'class': 'custom-control-label'} }) }}
                             </li>
                         </ul>
                         <ul class="custom-control custom-checkbox search-type">
                             <li>
                                 {{ form_row(userDetailForm.contact_through_email,{'attr':{'class': 'custom-control-input'},'label_attr': {'class': 'custom-control-label'} }) }}
                             </li>
                         </ul>
                     </div>
                 </div>
            </div>
            {% if app.user.getPassword() %}
                <div class="col-md-24 pad-none mt20">
                    <h5 class="db-myacc-title">{{ 'Change password'|trans({}, 'frontend-user-account-detail') }}</h5>
                </div>
            {% endif %}
            <div class="col-md-14 col-lg-9 pad-none mt20">
            <div class="myacc-details white-checkbox">
                {% if userDetailForm.old_password is defined %}
                    {{ form_row(userDetailForm.old_password, {'attr': {'class': 'white-field'}}) }}
                {% endif %}

                {% if userDetailForm.new_password is defined %}
                    {{ form_row(userDetailForm.new_password, {'attr': {'class': 'white-field'}}) }}
                    <div class="label-inline">
                        <ul class="custom-control custom-checkbox search-type">
                            <li>
                                {% if userDetailForm.show_password is defined %}
                                    {{ form_row(userDetailForm.show_password,{'attr':{'class': 'custom-control-input'},'label_attr': {'class': 'custom-control-label'} }) }}
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                {% endif %}
                {% if not app.user.getPassword() %}
                    <a href="{{ path('create_new_password') }}">{{'Create password'|trans({}, 'frontend-user-account-detail')}}</a>
                {% endif %}
                <div class="mt20">
                    {{ form_widget(userDetailForm.save_changes, {'attr': {'class':'secondary-btn-1 btn btn-block'}}) }}
                </div>
            </div>
        </div>
        {{ form_end(userDetailForm) }}
    </div>
</div>
<div id="privacyNumberModal" class="modal custom-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            {% set privacyNumberBlock = staticPageRepository.getStaticBlockDetailArray('privacy-number-block', fetch_container_instance()) %}
            {% if privacyNumberBlock['title'] is defined %}
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title save-search-title">{{privacyNumberBlock['title']}}</h5>
                    <button class="close-modal" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <h5>{{privacyNumberBlock['description']|raw}}</h5>
                </div>
            {% else %}
                <div class="modal-header">
                    <button class="close-modal" data-dismiss="modal">×</button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
