{% set userPackageRepository = fetch_repository('FaUserBundle:UserPackage') %}
{% set paymentTokenizationRepository = fetch_repository('FaPaymentBundle:PaymentTokenization') %}
<div class="db-list">
    <a class="panel-heading {% if userAccountProfileForm.vars.valid or app.session.flashbag.has('user_account_profile_success') %}collapsed{% endif %} " data-toggle="collapse" data-target="#panel4b">
        <div class="media section-head">
            <div class="media-body">
                <span class="profile-icon list-icon-text">{{ 'Your profile'|trans({}, 'frontend-user-account-profile') }}</span>
            </div>
            <div class="arrow-block">
                <i class="fa fa-chevron-up"></i>
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
    </a>
    <div id="panel4b" class="collapse collapse-body-content {% if not userAccountProfileForm.vars.valid or app.session.flashbag.has('user_account_profile_success') %}show{% endif %} ">
        <div class="col-md-14 col-lg-9 pad-none">

            {{ form_start(userAccountProfileForm, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ include('FaUserBundle:MyAccount:myAccountMessage.html.twig', {'msgName': 'user_account_profile_success'}) }}

                {{ form_label(userAccountProfileForm.user_roles) }}
                <div class="label-inline">
                    <ul class="search-type ">
                        {{ form_widget(userAccountProfileForm.user_roles,{'attr':{'class':'white-radio radio-circle-btn'}}) }}
                        {{ form_errors(userAccountProfileForm.user_roles) }}
                    </ul>
                </div>
            <div class="business_seller_fields">
                <div class="mt10">
                    {{ form_label(userAccountProfileForm.business_category_id) }}
                </div>
                <div class="white-select">
                    {{ form_widget(userAccountProfileForm.business_category_id,{'attr':{'class':'select-control'}}) }}
                    {{ form_errors(userAccountProfileForm.business_category_id) }}
                </div>
            </div>
                {% if shopPackageDetail is not null and shopPackageDetail.getPayment() and  paymentTokens|length %}
                    {% set paymentValue = array_unserialize(shopPackageDetail.getPayment().getValue()) %}
                    {% set paymentSource = null %}
                    {% if paymentValue['subscriptionID'] is defined %}
                        {% set token = paymentTokenizationRepository.getTokenBySubscriptionId(app.user.getId(), paymentValue['subscriptionID']) %}
                        {% if token %}
                            {% set paymentSource = token.getId() %}
                        {% endif %}
                    {% endif %}
                    <ul class="choose-payment-method myacc-profile-dtl" id="payment_source_id">
                        {% for choice in userAccountProfileForm.payment_source.vars.choices %}
                            <li class="label-inline">
                                <span class="custom-radio {% if paymentSource == choice.value %}checked{% endif %} "><input type="radio" value="{{ choice.value }}" {% if paymentSource == choice.value %}checked{% endif %} name="{{ userAccountProfileForm.payment_source.vars.full_name }}" id="{{ userAccountProfileForm.payment_source.vars.id }}_{{ choice.value }}" /></span>
                                <label for="{{ userAccountProfileForm.payment_source.vars.id }}_{{ choice.value }}">{{ choice.label|raw }}</label>
                                {% if loop.index == userAccountProfileForm.payment_source.vars.choices|length %}
                                    {{ form_errors(userAccountProfileForm.payment_source) }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}


                {% if userAccountProfileForm.payment_source is defined %}
                    {% do attribute(userAccountProfileForm, 'payment_source').setRendered %}
                {% endif %}
                {% if shopPackageDetail is not null %}
                    <div class="mt20">
                        <label>{{ 'Profile level'|trans({}, 'frontend-user-account-profile') }}:</label>&nbsp;&nbsp;<span>{{ (shopPackageDetail.getPackage() ? shopPackageDetail.getPackage().getTitle() : '-' ) }}</span>
                    </div>
                    {% if not shopPackageDetail.getPackage().getPrice() or (shopPackageDetail.getPackage().getPrice() and shopPackageDetail.getRemark() != 'choose-package-backend') %}
                        <div class="mt10"><label>{{ 'Monthly cost'|trans({}, 'frontend-user-account-profile') }}:</label><span>{{ (shopPackageDetail.getPackage() ? format_currency(shopPackageDetail.getPackage().getPrice()) : '-' ) }}</span></div>
                        {% if shopPackageDetail.getExpiresAt() and shopPackageDetail.getPayment() %}
                            <div class="mt10"><label>{{ 'Next payment due'|trans({}, 'frontend-user-account-profile') }}:</label><span>{{ staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'formatDate', [userPackageRepository.getNextPaymentDueDateFromExpiresAt(shopPackageDetail.getExpiresAt(), container), container, null, null, 'd MMM YYYY']) }}</span></div>
                        {% elseif shopPackageDetail.getExpiresAt() and not shopPackageDetail.getPayment() %}
                            <div class="mt10"><label>{{ 'You have cancelled your upgraded profile package and will be converted to a basic profile at the end of the current subscription period on %expires-at%.'|trans({'%expires-at%': staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'formatDate', [shopPackageDetail.getExpiresAt(), container, null, null, 'd MMM YYYY'])}, 'frontend-user-account-profile') }}</label></div>
                        {% endif %}
                        {% if shopPackageDetail.getPayment() and  paymentTokens|length %}
                            <div class="mt10"><label>{{ 'Payment source'|trans({}, 'frontend-user-account-profile') }}:</label></div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <div class="mt20">
                    {{ form_widget(userAccountProfileForm.save_profile_changes, {'attr': {'class':'secondary-btn-1 btn btn-block mb0'}}) }}
                    {% if shopPackageDetail is not null and shopPackageDetail.getPayment() and  paymentTokens|length %}
                        <a href="javascript:void(0);" data-reveal-id="myAccountProfileCancelSubscriptionModal">{{ 'Cancel subscription'|trans({}, 'frontend-user-account-profile') }}</a>
                    {% endif %}
                </div>
            {{ form_end(userAccountProfileForm) }}
        </div>
        <div class="modal custom-modal" id="myAccountProfileCancelSubscriptionModal">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title save-search-title">{{'Cancel subscription?'|trans({}, 'frontend-user-account-profile')}}</h5>
                        <button class="close-modal" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <h5>{{'Are you sure you want to cancel your upgraded profile package?'|trans({}, 'frontend-user-account-profile')}}</h5>
                        <div class="mt20">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-block secondary-btn-2 thin-btn  mb0" onclick="javascript:closeRevealModel('#myAccountProfileCancelSubscriptionModal');">{{'Cancel'|trans({}, 'frontend-user-account-profile')}}</button>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-block secondary-btn-1 thin-btn  mb0" onclick="closeRevealModel('#myAccountProfileCancelSubscriptionModal');window.location.href='{{ path('my_account_cancel_subscription') }}'">{{'Ok'|trans({}, 'frontend-user-account-profile')}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>