<div class="db-list">
    <a class="panel-heading collapsed" data-toggle="collapse" data-target="#panel6b">
        <div class="media section-head">
            <div class="media-body">
                <span class="address-book-icon list-icon-text">{{ 'Address book'|trans({}, 'frontend-user-address-book') }}</span>
            </div>
            <div class="arrow-block">
                <i class="fa fa-chevron-up"></i>
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
    </a>
    <div id="panel6b" class="collapse collapse-body-content">
        <div class="hide-for-small-only">{{ 'Manage your saved addresses'|trans({}, 'frontend-user-address-book') }}</div>
        <div id="address_book_main">
            {{ include('FaUserBundle:MyAccount:listAddress.html.twig') }}
        </div>
        <div id="addressBookDeleteModal" class="modal custom-modal">
            <div class="modal-dialog tiny">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h5 class="modal-title no-icon-title">{{'Remove an address?'|trans({}, 'frontend-user-address-book')}}</h5>
                        <button class="close-modal" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <h5 class="s-h5">{{'This will remove this address.'|trans({}, 'frontend-user-address-book')}}</h5>
                        <div class="mt20">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="secondary-btn-1 btn btn-block" data-dismiss="modal">{{'Cancel'|trans({}, 'frontend-user-address-book')}}</button>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" id="remove_address_btn" class="secondary-btn-1 btn btn-block">{{'Ok'|trans({}, 'frontend-user-address-book')}}</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="addressBookModal" class="modal custom-modal"></div>
    </div>
</div>