<div class="db-list">
    <a href="#panel7b" class="panel-heading collapsed" data-toggle="collapse" data-target="#panel7b">
        <div class="media section-head">
            <div class="media-body">
                <span class="invoices-icon list-icon-text">Invoices</span>
            </div>
            <div class="arrow-block">
                <i class="fa fa-chevron-up"></i>
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
    </a>
    <div class="collapse collapse-body-content" id="panel7b">
        <div>
            <div class="form-group d-inline-flex col-sm-13 col-md-13 col-lg-9 pad-none">
                <label class="mt10 mr20 select-month-label">Select month:</label>
                <select class="form-control">
                    <option value="12_2019"> December 2019</option>
                    <option value="11_2019"> November 2019</option>
                    <option value="10_2019"> October 2019</option>
                    <option value="4_2019"> April 2019</option>
                    <option value="3_2019"> March 2019</option>
                    <option value="2_2019"> February 2019</option>
                    <option value="8_2018"> August 2018</option>
                    <option value="6_2018"> June 2018</option>
                    <option value="4_2018"> April 2018</option>
                    <option value="2_2018"> February 2018</option>
                    <option value="1_2018"> January 2018</option>
                    <option value="12_2017"> December 2017</option>
                </select>
            </div>

            <div class="own-item search-alert-block">
                <div class="media md-tab-view">
                    <div class="col-md-16 col-lg-11 l-block pad-none">
                        <div>
                            <span class="mr-3"><b>Transaction ID</b></span>
                            <span>CARTB7BBF2ED82</span>
                        </div>
                        <div>
                            <span class="mr-3"><b>Package Name</b></span>
                            <span>All of the Above Plus a Print Ad</span>
                        </div>
                        <div>
                            <span class="mr-3"><b>Invoice Date</b></span>
                            <span>12/12/19</span>
                        </div>
                        <div class="col-lg-6 pad-none md-l-tab">
                            <div>
                                <span class="mr-3"><b>Total Amount</b></span>
                                <span>£149</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-0 col-lg-6 md-c-tab">
                        <div>
                            <span class="mr-3"><b>Total Amount</b></span>
                            <span>£149</span>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-7 r-block pad-none md-r-tab">
                        <div class="group-m-btn">
                            <a class="xs-btn-2 btn btn-block small-btn order-receipt-btn" href="">
                                <span class="view-icon">View receipt</span></a>
                        </div>
                        <div class="group-m-btn">
                            <a class="xs-btn-2 btn btn-block small-btn" href=""><span class="print-receipt-icon">Print receipt</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="own-item search-alert-block">
                <div class="media md-tab-view">
                    <div class="col-md-16 col-lg-11 l-block pad-none">
                        <div>
                            <span class="mr-3"><b>Transaction ID</b></span>
                            <span>CARTB7BBF2ED82</span>
                        </div>
                        <div>
                            <span class="mr-3"><b>Package Name</b></span>
                            <span>All of the Above Plus a Print Ad</span>
                        </div>
                        <div>
                            <span class="mr-3"><b>Invoice Date</b></span>
                            <span>12/12/19</span>
                        </div>
                        <div class="col-lg-6 pad-none md-l-tab">
                            <div>
                                <span class="mr-3"><b>Total Amount</b></span>
                                <span>£149</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-0 col-lg-6 md-c-tab">
                        <div>
                            <span class="mr-3"><b>Total Amount</b></span>
                            <span>£149</span>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-7 r-block pad-none md-r-tab">
                        <div class="group-m-btn">
                            <a class="xs-btn-2 btn btn-block small-btn order-receipt-btn" href="">
                                <span class="view-icon">View receipt</span></a>
                        </div>
                        <div class="group-m-btn">
                            <a class="xs-btn-2 btn btn-block small-btn" href=""><span class="print-receipt-icon">Print receipt</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<dd class="accordion-navigation">
    <a href="#panel8b" class="section-head">
        <span class="invoices-icon">{{ 'Invoices'|trans({}, 'frontend-user-invoices') }}</span>
        <span>&nbsp;</span>
    </a>
    <div id="panel8b" class="content invoices-panel">
        {% if invoiceMonths|length %}
            <div class="invoice-month clearfix">
                <label>{{ 'Select month'|trans({}, 'frontend-user-invoices') }}:</label>
                <div class="white-select">
                    <select class="fa-select-white" name="invoice_month_year" id="invoice_month_year" onchange="loadInvoices(this.value)">
                        {% for invoiceValue, invoiceName in invoiceMonths %}
                            <option value="{{ invoiceValue }}"> {{ invoiceName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div id="invoices_item_div">
                {{ include('FaUserBundle:MyAccount:listInvoice.html.twig') }}
            </div>
        {% else %}
            <div class="mb20 hide-for-small-only">{{ 'No invoices found'|trans({}, 'frontend-user-invoices') }}</div>
        {% endif %}
    </div>
</dd>