{% set newsletterTypeRepository = fetch_repository('FaDotMailerBundle:DotmailerNewsletterType') %}
<div class="db-list">
    <a class="panel-heading collapsed" data-toggle="collapse" data-target="#panel5b">
        <div class="media section-head">
            <div class="media-body">
                <span class="newsleter-pref-icon list-icon-text">{{ 'Newsletter preferences'|trans({}, 'frontend-newsletter-pref') }}</span>
            </div>
            <div class="arrow-block">
                <i class="fa fa-chevron-up"></i>
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
    </a>
    <div id="panel5b" class="collapse collapse-body-content {% if not userNewsletterPrefForm.vars.valid or app.session.flashbag.has('newsletter_success') %}show{% endif %}">
        {{ include('FaUserBundle:MyAccount:myAccountMessage.html.twig', {'msgName': 'newsletter_success'}) }}
        {{ form_start(userNewsletterPrefForm, {'attr': {'novalidate': 'novalidate', 'class': 'outline'}}) }}
        {{ form_errors(userNewsletterPrefForm) }}
            {% if is_unsubscribe is defined %}
                <div>{{ 'Select the news, offers and promotions that you would like to receive from Friday-Ad.'|trans({}, 'frontend-newsletter-pref') }}</div>
            {% else %}
                <div>{{ 'Select the news, offers and promotions that you would like to receive from Friday-Ad.'|trans({}, 'frontend-newsletter-pref') }}</div>
            {% endif %}
        <div class="newsletter-pref">
            <div class="label-inline">
                <ul class="search-type">
                    <li class="white-check">
                        {{ form_widget(userNewsletterPrefForm.dotmailer_newsletter_unsubscribe,{attr:{'class':'checkbox'}}) }}
                        <label for='{{ userNewsletterPrefForm.dotmailer_newsletter_unsubscribe.vars.id }}' ></label>
                        {{ form_label(userNewsletterPrefForm.dotmailer_newsletter_unsubscribe) }}
                    </li>
                </ul>
            </div>
        </div>
        <div id="newsletter_categories">
            {% set totalChoices = newsletterMainCategoryArray|length %}
            {% set totalColumns = 3 %}
            {% set choicesPerColumn = (totalChoices / totalColumns)|round(0, 'ceil') %}
            {% set choiceCount = 0 %}
            <div class="clearfix fa-equalizer" id="newsletter_equalizer">
                <div class="newsletter-pref">
                    {% for mainCatId in newsletterMainCategoryArray %}
                        {% set child = userNewsletterPrefForm.dotmailer_newsletter_type_id.children[(mainCatId - 1)] %}
                        <div class="col-md-12 col-lg-8 d-inline-flex newsletter-col">
                            <div class="label-inline">
                                <ul class="search-type">
                                    <li class="white-check">
                                        {{ form_widget(child,{attr:{'class':'checkbox'}}) }}
                                        <label for="{{ child.vars.id }}"></label>
                                        {{ child.vars.label|raw }}
                                    </li>
                                </ul>
                                {% set childrenArray = newsletterTypeRepository.getChildrens(mainCatId, container)|keys %}
                                {% for subCatId in childrenArray %}
                                    {% set subChild = userNewsletterPrefForm.dotmailer_newsletter_type_id.children[(subCatId - 1)] %}
                                    <ul class="search-type">
                                        <li class="white-check">
                                            {{ form_widget(subChild,{attr:{'class':'checkbox'}}) }}
                                            <label for="{{ subChild.vars.id }}"></label>
                                            {{ subChild.vars.label|raw }}
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                        {% if mainCatId == 43 %}
                            <div class="col-md-12 col-lg-8 pad-none d-inline-flex">
                                <div class="label-inline">
                                    {% set nonMappedChildrenArray = newsletterTypeRepository.getNonMappedCategories(container)|keys %}
                                    {% for nonMappedCatId in nonMappedChildrenArray %}
                                        {% set nonMappedCatChild = userNewsletterPrefForm.dotmailer_newsletter_type_id.children[(nonMappedCatId - 1)] %}
                                        <ul class="search-type">
                                            <li class="white-check">
                                                {{ form_widget(nonMappedCatChild,{attr:{'class':'checkbox'}}) }}
                                                <label for="{{ nonMappedCatChild.vars.id }}"></label>
                                                {{ nonMappedCatChild.vars.label|raw }}
                                            </li>
                                        </ul>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% set choiceCount = choiceCount + 1 %}
                    {% endfor %}
                </div>
                {% do userNewsletterPrefForm.dotmailer_newsletter_type_id.setRendered %}
                <div class="newsletter-pref">
                    <div class="col-md-8 pad-none">
                        {{ form_widget(userNewsletterPrefForm.update_newsletter_preferences, {'attr': {'class':'secondary-btn-1 btn btn-block mb0'}}) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(userNewsletterPrefForm) }}
    </div>
</div>