<dd class="accordion-navigation">
    <a href="#panel3b" class="section-head">
        <span class="myacc-paypal-icon">{{ 'Paypal account'|trans({}, 'frontend-paypal-email') }}</span>
        <span>&nbsp;</span>
    </a>
    <div id="panel3b" class="content">
        {{ 'This is the account that will receive funds when you accept payment through Paypal. Please provide the first name, last name and the email address used for your Paypal account.'|trans({}, 'frontend-paypal-email') }}
        <div class="myacc-paypal mb10" id="paypal_section_id">
            <label>{{ 'Paypal details'|trans({}, 'frontend-paypal-email') }}</label>
            <input type="text" class="white-field" name="paypal_first_name" id="paypal_first_name" value="{{ app.user.getPaypalFirstName() }}" placeholder="{{ 'Paypal first name'|trans({}, 'frontend-paypal-email') }}"/><br />
            <input type="text" class="white-field" name="paypal_last_name" id="paypal_last_name" value="{{ app.user.getPaypalLastName() }}"  placeholder="{{ 'Paypal last name'|trans({}, 'frontend-paypal-email') }}"/><br />
            <input type="text" class="white-field" name="paypal_email" id="paypal_email" value="{{ app.user.getPaypalEmail() }}"  placeholder="{{ 'Paypal email address'|trans({}, 'frontend-paypal-email') }}"/>
        </div>
        <div class="myacc-details white-checkbox paypal-acc-btn">
            <div class="mt20">
                <button class="secondary-btn-1 button mb0" name="save_paypal_changes" id="save_paypal_changes" type="button" onclick="javascript:updatePaypalEmail();">{{ 'Save changes'|trans({}, 'frontend-paypal-email') }}</button>
                <span {% if app.user.getPaypalEmail() and app.user.getPaypalFirstName() and app.user.getPaypalLastName() %}class="tickmark-icon"{% endif %} id="paypal_email_verify_status" {% if not app.user.getPaypalEmail() %}style="display:none;"{% endif %}>&nbsp;</span>
            </div>
        </div>
    </div>
</dd>