<div class="db-list">
    <a class="panel-heading collapsed" data-toggle="collapse" data-target="#panel3b">
        <div class="media section-head">
            <div class="media-body">
                <span class="myacc-paypal-icon list-icon-text">{{ 'Paypal account'|trans({}, 'frontend-paypal-email') }}</span>
            </div>
            <div class="arrow-block">
                <i class="fa fa-chevron-up"></i>
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
    </a>
    <div id="panel3b" class="collapse collapse-body-content">
        <div>
            {{ 'This is the account that will receive funds when you accept payment through Paypal. Please provide the first name, last name and the email address used for your Paypal account.'|trans({}, 'frontend-paypal-email') }}
        </div>
        <div class="col-md-14 col-lg-9 pad-none mt20">
            <div class="myacc-paypal mb10" id="paypal_section_id">
                <label>{{ 'Paypal details'|trans({}, 'frontend-paypal-email') }}</label>
                <input type="text" class="white-field form-control" name="paypal_first_name" id="paypal_first_name" value="{{ app.user.getPaypalFirstName() }}" placeholder="{{ 'Paypal first name'|trans({}, 'frontend-paypal-email') }}"/><br />
                <input type="text" class="white-field form-control" name="paypal_last_name" id="paypal_last_name" value="{{ app.user.getPaypalLastName() }}"  placeholder="{{ 'Paypal last name'|trans({}, 'frontend-paypal-email') }}"/><br />
                <input type="text" class="white-field form-control" name="paypal_email" id="paypal_email" value="{{ app.user.getPaypalEmail() }}"  placeholder="{{ 'Paypal email address'|trans({}, 'frontend-paypal-email') }}"/>
            </div>
            <div class="mt20">
                <button class="secondary-btn-1 btn btn-block mb0" name="save_paypal_changes" id="save_paypal_changes" type="button" onclick="javascript:updatePaypalEmail();">
                    {{ 'Save changes'|trans({}, 'frontend-paypal-email') }}
                </button>
                <span {% if app.user.getPaypalEmail() and app.user.getPaypalFirstName() and app.user.getPaypalLastName() %}class="tickmark-icon"{% endif %} id="paypal_email_verify_status" {% if not app.user.getPaypalEmail() %}style="display:none;"{% endif %}>&nbsp;</span>
            </div>
        </div>
    </div>
</div>