{% if not userCardForm.vars.valid or app.session.flashbag.has('card_success') %}
    {% set activeClass = 'active' %}
    {% set linkClass = '' %}
    {% set contentClass = 'show' %}
{% else %}
    {% set activeClass = '' %}
    {% set linkClass = 'collapsed' %}
    {% set contentClass = '' %}
{% endif %}
<div class="db-list {{ activeClass }}">
    <a class="panel-heading {{ linkClass }}" data-toggle="collapse" data-target="#panel2b">
        <div class="media section-head">
            <div class="media-body">
                <span class="payment-sources-icon list-icon-text">{{ 'Saved payment sources'|trans({}, 'frontend-payment-sources') }}</span>
            </div>
            <div class="arrow-block">
                <i class="fa fa-chevron-up"></i>
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
    </a>
    <div id="panel2b" class="collapse collapse-body-content {{ contentClass }}">
        {{ include('FaUserBundle:MyAccount:myAccountMessage.html.twig', {'msgName': 'card_success'}) }}
        <div class="saved-payment-sources ml10 mr10">
            {% if paymentTokens|length %}
                <ul class="choose-payment-method">
                    {% for paymentToken in paymentTokens %}
                        <li class="label-inline">
                            <label><span class="{{ paymentCyberSourceRepository.getCardTypeClass(paymentToken.getCardType()) }}">&nbsp;</span>***{{ paymentToken.getCardNumber() }}&nbsp;{{ paymentToken.getCardHolderName() }}</label>
                            <a href="javascript:void(0);" onclick="javascript:removePaymentSource('{{ path('cybersource_delete_token', {'id': paymentToken.getId(), 'from': 'my_account'}) }}');">{{ 'Remove'|trans({}, 'frontend-payment-sources') }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                {{ 'You do not have saved any payment sources.'|trans({}, 'frontend-payment-sources') }} <br /> 
            {% endif %}
        </div>
        <a class="db-h-b-link" href="javascript:void(0)" onclick="javascript:showHideUserCard(true);" id="add_new_card_anchor">{{'Add new card'|trans({}, 'frontend-payment-sources')}}</a>
        <div id="card_detail" style="display: none">
            <h2 class="s-h2">{{'Enter new card'|trans({}, 'frontend-payment-sources')}}:</h2>
            {{ form_start(userCardForm, {'attr': {'novalidate': '', 'id': 'user_card_form'}}) }}
                <div class="col-md-16 col-lg-11 mx-auto">
                    <div class="small-wrapper">
                        <div class="paa-bdr-box bdr-none mt20">
                            <h3 class="s-h3 text-center mb40">{{'Billing details'|trans({},'frontend-cyber-source')}}</h3>
                            <div class="payment-row first-row">
                                {{ form_row(userCardForm.street_address, {'attr': {'class': 'white-field'}}) }}
                            </div>
                            <div class="payment-row">
                                {{ form_label(userCardForm.zip) }}
                                <div class="postcode row">
                                    <div class="col-md-10 ">
                                        {{ form_widget(userCardForm.zip, {'attr': {'class': 'white-field'}}) }}
                                    </div>
                                    <div class="col-md-14 pl0">
                                        <button type="button" class="btn secondary-btn-1 right" onclick="return getUserCardAddress();">{{'Find address'|trans({},'frontend-cyber-source')}}</button>
                                    </div>
                                </div>
                                <small id="card_zip_error_div" class="error" style="display:none"></small>
                                <span id="form_zip_error">{{ form_errors(userCardForm.zip) }}</span>
                            </div>
                            <div class="payment-row">
                                {{ form_row(userCardForm.street_address_2, {'attr': {'class': 'white-field'}}) }}
                            </div>
                            <div class="payment-row">
                                {{ form_row(userCardForm.town, {'attr': {'class': 'white-field'}}) }}
                            </div>
                            <div class="payment-row">
                                {{ form_row(userCardForm.county, {'attr': {'class': 'white-field'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="small-wrapper">
                        <div class="bdr-none mt40">
                            <h3 class="s-h3 text-center mb40">{{'Card details'|trans({},'frontend-cyber-source')}}</h3>
                            <div class="payment-cards mt20">&nbsp;</div>
                            <div class="payment-row">
                                {{ form_label(userCardForm.card_holder_name) }}
                                {{ form_widget(userCardForm.card_holder_name, {'attr': {'class': 'white-field'}}) }}
                                {{ form_errors(userCardForm.card_holder_name) }}
                            </div>
                            <div class="payment-row card-num">
                                {{ form_label(userCardForm.card_number) }}
                                {{ form_widget(userCardForm.card_number, {'attr': {'class': 'white-field'}}) }}
                                {{ form_errors(userCardForm.card_number) }}
                            </div>
                            <div class="payment-row">
                                {{ form_label(userCardForm.card_expity_month) }}
                                <div class="expiry-date row">
                                    <div class="l-select white-select col-md-12">
                                        {{ form_widget(userCardForm.card_expity_month, {'attr': {'class': 'select-control'}}) }}
                                        {{ form_errors(userCardForm.card_expity_month) }}
                                    </div>
                                    <div class="r-select white-select col-md-12">
                                        {{ form_widget(userCardForm.card_expity_year, {'attr': {'class': 'select-control'}}) }}
                                        {{ form_errors(userCardForm.card_expity_year) }}
                                    </div>
                                </div>
                            </div>
                            <div class="payment-row security-code">
                                {{ form_label(userCardForm.card_security_code) }}
                                {{ form_widget(userCardForm.card_security_code, {'attr': {'class': 'white-field'}}) }}
                                <div class="sec-code-icon mb20">{{'Security code'|trans({},'frontend-cyber-source')}}</div>
                                {{ form_errors(userCardForm.card_security_code) }}
                            </div>
                        </div>
                        <div id="pay_now_btn">
                            <div class="mb20">
                                {{ form_widget(userCardForm.save, {'attr': {'class':'primary-btn-1 btn btn-block btn-place-ad'}}) }}
                            </div>
                            <div class="mb30">
                                {{ form_widget(userCardForm.cancel, {'attr': {'class':'primary-btn-3 btn btn-block thin-btn', 'onclick': 'showHideUserCard(false);'}}) }}
                            </div>
                        </div>
                   </div>
                </div>
            {{ form_end(userCardForm) }}
        </div>
        <div class="modal custom-modal" id="paymentSourceDeleteModal">
            <div class="modal-dialog modal-md tiny">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title no-icon-title">{{'Remove payment source?'|trans({}, 'frontend-payment-sources')}}</h5>
                        <button class="close-modal" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <h5>{{'This will remove your payment source.'|trans({}, 'frontend-payment-sources')}}</h5>
                        <div class="mt20">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-block secondary-btn-2 thin-btn mb0" onclick="javascript:closeRevealModel('#paymentSourceDeleteModal');">{{'Cancel'|trans({}, 'frontend-payment-sources')}}</button>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-block secondary-btn-1 thin-btn mb0" id="remove_payment_source_btn">{{'Ok'|trans({}, 'frontend-payment-sources')}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>