{% extends 'FaFrontendBundle::layout.html.twig' %}
{% form_theme form 'FaFrontendBundle:Form:fields.html.twig' %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': '', 'id': 'cyber_source_form'}}) }}
    <div class="payment">
        <div class="mb20">
            <div class="row">
                <div class="columns">
                    {% if subscription != 1 %}
                        <a href="{{ path('show_cart') }}" class="back-arrow-link mt10">{{'Go back'|trans({}, 'frontend-ad-package')}}</a>
                    {% else %}
                        <a href="{{ path('user_package_choose_profile', {'from': 'profile'}) }}" class="back-arrow-link mt10">{{'Go back'|trans({}, 'frontend-ad-package')}}</a>
                    {% endif %}
                    {% if trial == 1 %}
                       <h1 class="text-center">{{'Add payment source'|trans({},'frontend-cyber-source')}}</h1>
                        <div align="center">{{'To continue with your one month free trial please add a valid card to your account.'|trans({},'frontend-cyber-source')}}</div>
                        <br /> 
                        <div align="center">{{'No payment will be taken until the trial period ends, and you are free to cancel before this time.'|trans({},'frontend-cyber-source')}}</div>
                    {% else %}
                        <h1 class="text-center">{{'Payment'|trans({},'frontend-cyber-source')}}</h1>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="paa-bdr-box">
            <div {% if form.payment_method.vars.choices|length == 1 %}style="display:none;"{% endif %}>
                <h3 class="text-center">{{'Choose payment method'|trans({},'frontend-cyber-source')}}</h3>
                <ul class="choose-payment-method white-radio" id="payment_method_id">
                    {% for choice in form.payment_method.vars.choices %}
                    <li>
                        <div class="small-wrapper label-inline">
                            <span class="custom-radio {% if form.payment_method.vars.data == choice.value %}checked{% endif %} "><input onclick="return showHideCardDetail();" type="radio" value="{{ choice.value }}" {% if form.payment_method.vars.data == choice.value %}checked="checked"{% endif %} name="{{ form.payment_method.vars.full_name }}" id="{{ form.payment_method.vars.id }}_{{ choice.value }}" /></span>
                            <label for="{{ form.payment_method.vars.id }}_{{ choice.value }}">{{ choice.label|raw }}</label>
                            {% if choice.value %}
                                <a href="{{ path('cybersource_delete_token', {'id': choice.value, 'subscription': subscription}) }}" onclick="javascript:return confirm('{{ 'Do you want to proceed deleting this option?'|trans({}, 'frontend-cyber-source') }}')" class="delete-icon"></a>
                            {% endif %}
                            {% if loop.index == form.payment_method.vars.choices|length %}
                                {{ form_errors(form.payment_method) }}
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                    {% do attribute(form, 'payment_method').setRendered %}
                </ul>
            </div>
            <div id="card_detail" style="display:none">
                <div class="white-bg">
                    <div class="small-wrapper">
                        <div class="paa-bdr-box bdr-none">
                            <h3 class="text-center">{{'Billing details'|trans({},'frontend-cyber-source')}}</h3>
                            
                            <div class="payment-row first-row">
                                {{ form_row(form.street_address) }}
                            </div>
                            
                            <div class="payment-row">
                                {{ form_label(form.zip) }}
                                <div class="postcode clearfix">
                                    {{ form_widget(form.zip) }}
                                    <button type="button" class="button secondary-btn-1 right" onclick="return getUserAddress();">{{'Find address'|trans({},'frontend-cyber-source')}}</button>
                                </div>
                                <small id="zip_error_div" class="error" style="display:none"></small>
                                <span id="form_zip_error">{{ form_errors(form.zip) }}</span>
                            </div>
                            
                            <div class="payment-row">
                                {{ form_row(form.street_address_2) }}
                            </div>
                            
                            <div class="payment-row">
                                {{ form_row(form.town) }}
                            </div>
                            
                            <div class="payment-row">
                                {{ form_row(form.county) }}
                            </div>
                           </div>
                       </div>
                </div>
                <div class="small-wrapper checkout">
                    <h3 class="text-center mb0">Card details</h3>
                    <div class="payment-cards mt20">&nbsp;</div>

                    <div class="payment-row">
                        {{ form_label(form.card_holder_name) }}
                        {{ form_widget(form.card_holder_name, {'attr': {'class': 'white-field'}}) }}
                        {{ form_errors(form.card_holder_name) }}
                    </div>
                    
                    <div class="payment-row card-num">
                        {{ form_label(form.card_number) }}
                        {{ form_widget(form.card_number, {'attr': {'class': 'white-field'}}) }}
                        {{ form_errors(form.card_number) }}
                    </div>
                    
                    <div class="payment-row white-select">
                        {{ form_label(form.card_expity_month) }}
                        <div class="expiry-date">
                            {{ form_widget(form.card_expity_month, {'attr': {'class': 'fa-select-white'}}) }}
                            {{ form_widget(form.card_expity_year, {'attr': {'class': 'fa-select-white'}}) }}
                        </div>
                        {{ form_errors(form.card_expity_month) }}
                        {{ form_errors(form.card_expity_year) }}
                    </div>
                    
                    <div class="payment-row security-code">
                        {{ form_label(form.card_security_code) }}
                        {{ form_widget(form.card_security_code, {'attr': {'class': 'white-field'}}) }}
                        <div class="sec-code-icon">{{'Security code'|trans({},'frontend-cyber-source')}}</div>
                        {{ form_errors(form.card_security_code) }}
                    </div>
                    
                    <div class="payment-row">
                        <div class="label-inline white-checkbox">
                            {{ form_widget(form.is_save_credit_card) }}
                            {% if subscription != 1 %}
                                {{ form_label(form.is_save_credit_card) }}
                            {% endif %}
                            {{ form_errors(form.is_save_credit_card) }}
                        </div>
                    </div>
               </div>
           </div>
            <div class="small-wrapper">
                <div id="pay_now_btn" style="display:none;">
                    {{ form_widget(form.save, {'attr': {'class':'secondary-btn-1 paa-next-btn expand'}}) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block scriptbottom %}
    {{ include('FaCoreBundle:Default:blockJs.html.twig') }}
    <script language="javascript" type="text/javascript">
    //<![CDATA[
    $(document).ready(function(){
        {% if (gaStr is defined and gaStr != '') %}
            window.dataLayer = window.dataLayer || []
            dataLayer.push({
                'event' : 'Form Error PAA',
                'eventCategory':  'PAA - Step Cart',
                'eventAction': 'Form error',
                'eventLabel': '{{gaStr}}'
            });
            ga('send', 'event', 'Category PAA - Checkout', 'Form error', '{{gaStr}}');
        {% endif %}
        
        {% if app.request.getMethod() != 'POST' %}
            $("#payment_method_id input:radio[name='fa_payment_cyber_source_checkout[payment_method]']:first").attr('checked', true);
            $("#payment_method_id input:radio[name='fa_payment_cyber_source_checkout[payment_method]']:first").trigger('click');
        {% endif %}
        showHideCardDetail();
    });
    
    $('#fa_payment_cyber_source_checkout_save').click(function(){
        if ($('#fa_payment_cyber_source_checkout_save').hasClass('disabled')) {
            return false;
        }
        else {
            blockPage();
            $(this).attr('disabled', true);
            $('#cyber_source_form').submit();
            return false;
        }
    });
    function getUserAddress()
    {
        blockPage();
        $.ajax({
            type: "POST",
            url : '{{ path("ajax_get_user_address") }}',
            data: { postCode: $('#fa_payment_cyber_source_checkout_zip').val()}
        })
        .always(function(response) {
            unblockPage();
        })
        .done(function(response) {
            $('#form_zip_error').hide();
            if (response.errorMsg.length) {
                //clearForm($('#cyber_source_form'));
                $('#zip_error_div').html(response.errorMsg);
                $('#zip_error_div').show();
            } else {
                $('#zip_error_div').hide();
                if (response.street_address && response.street_address.length) {
                    $('#fa_payment_cyber_source_checkout_street_address').val(response.street_address);
                    $('#fa_payment_cyber_source_checkout_street_address').focus();
                }
                if (response.street_address_2 && response.street_address_2.length) {
                    $('#fa_payment_cyber_source_checkout_street_address_2').val(response.street_address_2);
                    $('#fa_payment_cyber_source_checkout_street_address_2').focus();
                }
                if (response.town_name && response.town_name.length) {
                    $('#fa_payment_cyber_source_checkout_town').val(response.town_name);
                    $('#fa_payment_cyber_source_checkout_town').focus();
                }
                if (response.domicile_name && response.domicile_name.length) {
                    $('#fa_payment_cyber_source_checkout_county').val(response.domicile_name);
                    $('#fa_payment_cyber_source_checkout_county').focus();
                }
            }
        });
    }
    
    function showHideCardDetail()
    {
        var paymentMethod = $("input[name='fa_payment_cyber_source_checkout[payment_method]']:checked").val();
        if (paymentMethod == 0) {
            $('#card_detail').show();
            $('.fa-select-white').selectmenu().selectmenu('refresh',true);
            $('#pay_now_btn').removeClass('checkout')
        } else {
            $('#card_detail').hide();
            clearForm('#card_detail');
            $('.fa-select-white').selectmenu().selectmenu('refresh',true);
            $('.expiry-date').nextAll('small.error').first().remove();
            $('.expiry-date').nextAll('small.error').first().remove();
            $('#pay_now_btn').addClass('checkout')
        }
        $('#pay_now_btn').show();
        bindFormErrorEvents();
        {% if app.request.get('_route')  == 'show_cart'%}
        enableDisableNextButton();
        {% endif %}
    }
    //]]>
    </script>
    <script>
        $(document).ready(function(){
            checkAndDisableButton()
            enableDisableNextButton()
            var requiredFields = $(':input');
            requiredFields.keyup(function (){
                enableDisableNextButton()
            });
            requiredFields.change(function (){
                enableDisableNextButton()
            });
            requiredFields.on('input',function (){
                enableDisableNextButton()
            });
            $("form[name='fa_payment_cyber_source_checkout']").submit(function() {
                if ($('#fa_payment_cyber_source_checkout_save').hasClass('disabled')) {
                    return false;
                }
            });
        });
        function enableDisableNextButton(){
            var checkoutNotRequred = [
                "fa_payment_cyber_source_checkout_street_address_2",
            ];
            $('#fa_payment_cyber_source_checkout_save').removeClass('disabled');
            var requiredFieldsupdated = $(':input[required]:visible');
            if($("input[name='fa_payment_cyber_source_checkout[payment_method]']:checked").val() == 0) {
                if (!$('#fa_payment_cyber_source_checkout_card_expity_year').val()) {
                    checkAndDisableButton()
                }
                if (!$('#fa_payment_cyber_source_checkout_card_expity_month').val()) {
                    checkAndDisableButton()
                }
            }
            requiredFieldsupdated.each(function( index, element ) {
                if(element.id.indexOf('fa_payment_cyber_source') != -1){
                    var arrayContainsId = (checkoutNotRequred.indexOf(element.id) > -1);
                    if(!arrayContainsId) {
                        if (!element.value) {
                            checkAndDisableButton()
                        }
                    }
                }
            });
        }
        function checkAndDisableButton(){
            if (!$('#fa_payment_cyber_source_checkout_save').hasClass('disabled')) {
                $('#fa_payment_cyber_source_checkout_save').addClass('disabled');
            }
        }
    </script>
{% endblock %}