<!DOCTYPE html>
<html>

<head>
    <title>{% block title %} {{'Friday-Ad Admin'|trans}} {% if block('page_title') is defined %} - {{block('page_title')|trim}} {% endif %} {% endblock %}</title>
    {{ include(
        'FaAdminBundle:Default:scriptTop.html.twig'
    ) }}
    {% block scripttop %}{% endblock %}
    {% stylesheets filter='uglifycss' output='bundles/css/compiled/fa-mainAdmin.css'
        'bundles/faadmin/css/custom.css'
        'bundles/faadmin/css/responsive.css'
          %}
        <link rel="stylesheet" href="{{ static_asset_url(asset_url) }}?v=6"/>
    {% endstylesheets %}
</head>

<body>
    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
            <div class="fixed">
                <nav class="tab-bar">
                    <section class="left-small">
                        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
                    </section>
                    <section class="right tab-bar-section small-text-left">
                        <div class="header_logo"><a href="{{ path('fa_admin_homepage') }}"><img src="{{ asset_url('faadmin/images/logo.png') }}" /></a></div>
                    </section>
                    <section class="top-bar-section show-for-medium-up right">
                        <nav class="top-bar" data-topbar role="navigation">
                            <!-- Right Nav Section -->
                            <ul class="right">
                                <li class="has-dropdown">
                                    <a href="#" title="You are logged in as {{ app.user.username }}">Welcome {{ app.user.firstname }} &nbsp;<i class="fi-torso"></i></a> 
                                    <ul class="dropdown">
                                        <li class="active"><a href="{{ path('admin_logout') }}" id="admin_header_logout"><i class="fi-unlock"></i> &nbsp; {{'Log Out'|trans}}</a></li>
                                    </ul>
                                </li>
                            </ul>
                          </nav>
                    </section>
                </nav>
            </div>
            
            <!-- Off Canvas Menu -->
                {{ render(controller('FaAdminBundle:Default:renderMenu', {'currentRoute': app.request.attributes.get('_route')})) }}
            
            <!-- main content goes here -->
                <div class="row">
                    <div class="columns dashboard_msg">
                     {{ include(
                        'FaCoreBundle::message.html.twig'
                     ) }}
                     </div>
                 </div>
    
                 {% block content %}{% endblock %}
        </div>
    </div>
    
    {% cache 'admin/footer' 900 %}
        <div id="footer" class="text-center">
            &copy; 1998-2014 FridayAds. All rights reserved.
        </div>
    {% endcache %}
    <!-- /#wrapper -->

    {{ include(
        'FaAdminBundle:Default:scriptBottom.html.twig'
    ) }}

    
    {% block scriptbottom %}{% endblock %}

<script type="text/javascript">
    $(document).foundation();
    $(document).ready(function () {
        $('.dropdown').click(function () {
            $('.off-canvas-wrap').css({ overflow: "visible" });
        });
     });
</script>
</body>

</html>
