{% set currentRoute = app.request.attributes.get('_route') %}
{% set container = fetch_container_instance() %}
{% set type = app.request.attributes.get('type') %}
{% set adStatusSold = constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_SOLD_ID') %}
{% set adStatusLive = constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_LIVE_ID') %}
{% set adStatusRejected = constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_REJECTED_ID') %}
{% set adStatusRejectedWithReason = constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_REJECTEDWITHREASON_ID') %}
{% set rootCategoryId = fetch_repository('FaEntityBundle:Category').getRootCategoryId(adCategoryId) %}
{% set mainRootCategoriesArray = {0: constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::JOBS_ID'), 1: constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::SERVICES_ID'), 2: constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::PROPERTY_ID'), 3: constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::COMMUNITY_ID'), 4: constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID')} %}
{% set adStatusInModeration = constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_IN_MODERATION_ID') %}

{% set adStatusExpired = constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_EXPIRED_ID') %}
{% set adStatusDraft = constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_DRAFT_ID') %}
{% set adStatusModerated = constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_MODERATED_ID') %}
{% set adStatusInactive = constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_INACTIVE_ID') %}

{% set entityCacheManager = container.get('fa.entity.cache.manager') %}

{% set adUserPackageUpsellRepository = fetch_repository('FaAdBundle:AdUserPackageUpsell') %}
{% set getAutoRenewResultById = adUserPackageUpsellRepository.getAutoRenewUpsellByAdId(adId) %}
{% if getAutoRenewResultById is not empty %}
    {% set isAutoRenewAd = 1 %}
{% else %}
    {% set isAutoRenewAd = 0 %}
{% endif %}

{% set getFeaturedUpsellByAdId = adUserPackageUpsellRepository.getFeaturedUpsellByAdId(adId) %}
{% if getFeaturedUpsellByAdId is not empty %}
    {% set isFeaturedAd = 1 %}
{% else %}
    {% set isFeaturedAd = 0 %}
{% endif %}

{% set upgradePackagesCount = 0 %}
{% set userRoleId = app.user.getRole().getId() %}
{% if (userRoleId == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_NETSUITE_SUBSCRIPTION_ID')) and ( adPackageArray[adId] is defined and adPackageArray[adId] is not null) %}
    {% set categoryId       =  ad['cat_id'] %}
    {% set adLocationRepository = fetch_repository('FaAdBundle:AdLocation') %}
    {% set locationGroupIds = adLocationRepository.getLocationGroupIdForAd(adId, true) %}
    {% set userRolesArray = {0:constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_NETSUITE_SUBSCRIPTION_ID')} %}

    {% set packageRuleRepository = fetch_repository('FaPromotionBundle:PackageRule') %}
    {% set upgradePackages = packageRuleRepository.getActivePackagesByCategoryId(categoryId, locationGroupIds, userRolesArray) %}
    {% set upgradePackagesCount = upgradePackages|length %}
{% endif %}

{% set parentCatIds = {} %}
{% if ad['cat_id']!='' %}
	{%  set parentCatIds  = fetch_repository('FaEntityBundle:Category').getCategoryParentArrayById(ad['cat_id']) %}
{% endif %}

{% set featuredToggleFlag = 0 %}
{% set featuredToggleUpsellId = 0 %}
{% set featuredToggleCatUpsellId = 0 %}
{% if categoryUpsellArray is defined  %}
    {% for categoryUpsell in categoryUpsellArray %}
        {% if parentCatIds is defined and categoryUpsell['category_id'] in parentCatIds %}
            {% set featuredToggleFlag = 1 %}
            {% set featuredToggleUpsellId = categoryUpsell['upsell_id'] %}
            {% set featuredToggleCatUpsellId = categoryUpsell['id'] %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if isFeaturedAd==1 %}
    {% set featuredToggleFlag = 1 %}
{% endif %}

{% set featuredTopUpsell7days = constant('Fa\\Bundle\\PromotionBundle\\Repository\\UpsellRepository::UPSELL_FEATURED_TOP_7DAYS_ID')  %}

{%  set adLocation = '' %}
{% if (userRoleId == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_NETSUITE_SUBSCRIPTION_ID')) and (userBusinessCategory is defined and userBusinessCategory == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID')) and ad.status_id == adStatusLive %}
    {% if ad['locality_id'] is defined and ad['locality_id'] is not null %}
        {%  set adLocation = entityCacheManager.getEntityNameById('FaEntityBundle:Locality', ad['locality_id']) %}
    {% elseif ad['town_id'] is defined and ad['town_id'] is not null %}
        {% if ad['area_id'] is defined and ad['area_id'] is not null %}
            {%  set adLocation = entityCacheManager.getEntityNameById('FaEntityBundle:Location', ad['area_id']) ~ ', ' ~ entityCacheManager.getEntityNameById('FaEntityBundle:Location', ad['town_id']) %}
        {% else %}
            {%  set adLocation = entityCacheManager.getEntityNameById('FaEntityBundle:Location', ad['town_id']) %}
        {% endif %}
    {% endif %}
{% endif %}

{% if not app.request.isXmlHttpRequest() %} 
<div class="manage-item-list" id="item_card_{{adId}}">
{% endif %}
<div class="netsuite-user-mma">
<div class="row">
	<div class="small-8 medium-1 large-1 columns">		
	{% if currentRoute == 'manage_my_ads_active' or currentRoute=='ajax_manage_my_ads_get_status' %}	
        {% if isBoostEnabled is defined and isBoostEnabled==1 and boostAdRemaining is defined and boostAdRemaining > 0 and currentRoute == 'manage_my_ads_active' and (userBusinessCategory is defined and userBusinessCategory == rootCategoryId) and ad.status_id == adStatusLive %}
            <span class="custom-checkbox ajaxcustom-checkbox"><input type="checkbox" class="boostad" value="{{adId}}" name="boostads[]"></span><span class="seladv-addet">Select</span>
        {% elseif isBoostEnabled is defined and isBoostEnabled==1 and boostAdRemaining is defined and boostAdRemaining > 0 and currentRoute=='ajax_manage_my_ads_get_status' and (userBusinessCategory is defined and userBusinessCategory == rootCategoryId) and ad.status_id == adStatusLive %}
            <span class="custom-checkbox ajaxcustom-checkbox"><input type="checkbox" class="boostad" value="{{adId}}" name="boostads[]"></span><span class="seladv-addet">Select</span>
        {% elseif isBoostEnabled is defined and isBoostEnabled==1 and currentRoute == 'manage_my_ads_boosted' and (userBusinessCategory is defined and  userBusinessCategory == rootCategoryId) and ad.status_id == adStatusLive %}
            <span class="custom-checkbox ajaxcustom-checkbox"><input type="checkbox" class="boostad" value="{{adId}}" name="boostads[]"></span><span class="seladv-addet">Select</span>
        {% elseif ad.status_id == adStatusLive and (currentRoute == 'manage_my_ads_active' or currentRoute=='ajax_manage_my_ads_get_status') %}    
        	<span class="custom-checkbox ajaxcustom-checkbox"><input type="checkbox" class="boostad" value="{{adId}}" name="boostads[]"></span><span class="seladv-addet">Select</span>
        {% else %}
            <span class="dummychk"></span>
        {% endif %}
    {% endif %}
	</div>        
<div class="hide-for-small-only">    
        <div class="small-10 medium-6 large-6 columns  medium-left-cols">
            <div class="manage-list-img">
                {% if ad['status_id'] == adStatusLive %}
                    <a href="{{adUrl}}" target="_blank">
                {% endif %}
                    {% if adImageArray[adId]['path'] is defined and adImageArray[adId]['hash'] %}
                        {% set adImageUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getAdImageUrl', [container, adId, adImageArray[adId]['path'], adImageArray[adId]['hash'], '300X225', adImageArray[adId]['aws'], adImageArray[adId]['image_name']]) %}
                        <img src="{{ adImageUrl }}" />
                    {% else %}
                        <!--<div class="user_icon"><i class="gray_color fi-photo size-48"></i></div>-->
                        <img src="/bundles/fafrontend/images/no-image.svg" alt="" class="no-img-cls"/>
                    {% endif %}
                {% if ad['status_id'] == adStatusLive %}
                    </a>
                {% endif %}
                
                {% set statusClass = '' %}
                {% set statusText = '' %}
                {% if ad.status_id is defined and ad.status_id is not null %}
                	{% if ad.status_id == adStatusSold %}
                        {% set statusClass = 'successCls' %}
                        {% set statusText = 'Successful' %}
                    {% elseif ad.status_id == adStatusRejectedWithReason or ad.status_id == adStatusRejected %}
                    	{% set statusClass = 'rejectedCls' %}
                    	{% set statusText = 'Rejected' %}
                    {% elseif ad.status_id == adStatusModerated or ad.status_id == adStatusInModeration %}
                    	{% set statusClass = 'moderationCls' %}	
                    	{% set statusText = 'Advert in Review' %}
                    {% elseif (adId in inModerationLiveAdIds and ad.status_id == adStatusLive) %}
                    	{% set statusClass = 'moderationCls' %}	
                    	{% set statusText = fa_entity_cache_manager.getEntityNameById('FaEntityBundle:Entity', ad.status_id)~' - Edits in Review' %}
                    {% elseif ad.status_id == adStatusExpired %}
                    	{% set statusClass = 'expiredCls' %}
                    	{% set statusText = 'Expired' %}
                    {% elseif ad.status_id == adStatusDraft %}
                    	{% set statusClass = 'draftCls' %}	
                    	{% set statusText = 'Draft' %}
                    {# {% elseif ad.status_id == adStatusLive %}
                        {% set statusClass = 'activeCls' %}
                        {% set statusText = '' %} #}
                    {% else %}
                        {% set statusClass = '' %}   
                        {% set statusText = '' %}              
                    {% endif %}
                {% endif %}
                
                <div class="img-status-overlay {{ statusClass  }}">
                	{% if (ad.status_id == adStatusInModeration and modToolTipText is defined) or ( adId in inModerationLiveAdIds and ad.status_id == adStatusLive and modToolTipText is defined) %}
                      <div class="image-tooltip-wrapper in-mod-tooltip">
                      	<span class="image-tooltip">{{ modToolTipText['inModeration'] }}</span>
                        <span class="info-icon">info</span>
                        <p class="img-status-overlay-text">{{ statusText }}</p>
                      </div>
                    {% else %}
                    <p class="img-status-overlay-text">{{ statusText }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="small-14 medium-10 large-11 columns medium-center-cols">
            <div class="clearfix">
                <h3 id="item_detail_link_{{adId}}">
                    {% if ad['status_id'] == adStatusLive %}
                        <a href="{{adUrl}}" target="_blank">{{ad['title']}}</a>
                    {% else %}
                        {{ad['title']}}
                    {% endif %}
                </h3>
                {% if adLocation!='' %}
                    <div class="list-miles clearfix">
                        <b>{{ adLocation }}</b>
                    </div>
                {% endif %}
                {% if ad['status_id'] == adStatusLive %}
                
                    <div class="clearfix dtl-social-icons-desk-tab dtl-social-icons manage-list-social-icons show-for-small-up-only">
                        {# <a onclick="return socialShare('{{ ad.id }}', '{{container.getParameter('fa.social.share.url')}}/facebook/offer?url={{container.getParameter('base_url')}}{{adUrl}}&pubid={{container.getParameter('fa.add.this.pubid')}}&ct=1&title={% if ad['title'] is defined %}{{ad['title']}}{% endif %}&pco=tbxnj-1.0','Facebook');" href="javascript:void(0);" title="{{'Facebook'|trans({}, 'frontend-show-ad')}}" class="dtl-fb" id="dtl-fb-id"></a> #}
                        <a onclick="return socialShare('{{ ad.id }}', '{{container.getParameter('fa.social.share.url')}}/twitter/offer?url={{container.getParameter('base_url')}}{{adUrl}}&pubid={{container.getParameter('fa.add.this.pubid')}}&ct=1&title={% if ad['title'] is defined %}{{ad['title']}}{% endif %}&pco=tbxnj-1.0', 'Twitter');" href="javascript:void(0);" title="{{'Twitter'|trans({}, 'frontend-show-ad')}}" class="dtl-twi" id="dtl-twi-id"></a>
                        {# <a onclick="return socialShare('{{ ad.id }}', 'https://plus.google.com/share?url={{container.getParameter('base_url')}}{{adUrl}}&pubid={{container.getParameter('fa.add.this.pubid')}}&ct=1&title={% if ad['title'] is defined %}{{ad['title']}}{% endif %}&pco=tbxnj-1.0', 'GooglePlus');" href="javascript:void(0);" title="{{'Google Plus'|trans({}, 'frontend-show-ad')}}" class="dtl-gpl" id="dtl-gpl-id"></a>
                        <a onclick="return socialShare('{{ ad.id }}', '{{container.getParameter('fa.social.share.url')}}/pinterest/offer?url={{container.getParameter('base_url')}}{{adUrl}}&pubid={{container.getParameter('fa.add.this.pubid')}}&ct=1&title={% if ad['title'] is defined %}{{ad['title']}}{% endif %}&pco=tbxnj-1.0', 'Pinterest');" href="javascript:void(0);" title="{{'Pinterest'|trans({}, 'frontend-show-ad')}}" class="dtl-pin" id="dtl-pin-id"></a> #}
                        <a onclick="return socialShare('{{ ad.id }}', '{{container.getParameter('fa.social.share.url')}}/email/offer?url={{container.getParameter('base_url')}}{{adUrl}}&pubid={{container.getParameter('fa.add.this.pubid')}}&ct=1&title={% if ad['title'] is defined %}{{ad['title']}}{% endif %}&pco=tbxnj-1.0', 'Email');" href="javascript:void(0);" title="{{'Email'|trans({}, 'frontend-show-ad')}}" class="dtl-eml" id="dtl-eml-id"></a>
                    
                    
                    {% if isBoostEnabled is defined and isBoostEnabled==1 and ad.boosted_at is defined and ad.is_boosted==1 %}
                        <div class="list-boosted-hours list-boosted-hours-desk-tab show-for-small-up-only">
                        {% set boostedInwords = ad.boosted_at |time_ago_in_words %}
                    	{% set boostedInwords = (boostedInwords=='less than 1 minute ago' or boostedInwords=='less than a minute ago')?'1 minute ago':boostedInwords %}
                        {{ 'Boosted'|trans({}, 'frontend-manage-my-ad') }} {{boostedInwords|replace({'minute': 'min','about' : ''})}}
                        </div>
                    {% endif %} 
                </div>
                {% endif %}

                <div class="mma-ad-block hide-for-small-only">
                    <span class="mma-ad-list maa-small-text">
                        {{ 'Reference : '|trans({}, 'frontend-manage-my-ad') }} {{ad.id}}
                    </span>

                    {% set adViewCounter = 0 %}
                    {% if adViewCounterArray[adId] is defined and adViewCounterArray[adId] is not null %}
                        {% set adViewCounter = adViewCounterArray[adId] %}
                    {% endif %}
                    <span class="mma-ad-list maa-small-text">
                        {{ 'Page views : '|trans({}, 'frontend-manage-my-ad') }} {{ adViewCounter }}
                    </span>
                </div>

                {% if adPackageArray[adId] is defined and adPackageArray[adId] is not null and adPackageArray[adId]['price'] > 0 %}
                    <div class="list-created-hours">
                        {{ 'Ad package : '|trans({}, 'frontend-manage-my-ad') }}<span class="pkg-title-mma">{{adPackageArray[adId]['title']}}</span>
                    </div>
                {% endif %}

            </div>
        </div>

        <div class="small-24 medium-8 large-5 columns medium-right-cols">
            <div class="manage-item-btns text-right">
            	{% if ad['status_id'] == adStatusLive and featuredToggleFlag==1 %}
            	<div class="right-manage-buttons featuredBlock">
            		{% if isFeaturedAd==1 %}
            			<div class="featured-switch toggle-on">
            		{% else %}
                		{% if adFeaturedUpsellArray[adId] is defined and adFeaturedUpsellArray[adId] is not null %}
                			<div class="featured-switch netsuite-featured-indiv-upsell toggle-on" id="netsuiteFeaturedTopId_{{ adId }}_{{ featuredToggleUpsellId }}_{{ featuredToggleCatUpsellId }}_{{ dateRemainingForExpiry }}_{{ rootCategoryId }}">
                		{% else %}
                			<div class="featured-switch netsuite-featured-indiv-upsell toggle-off" id="netsuiteFeaturedTopId_{{ adId }}_{{ featuredToggleUpsellId }}_{{ featuredToggleCatUpsellId }}_{{ dateRemainingForExpiry }}_{{ rootCategoryId }}">
                		{% endif %}
                	{% endif %}
            			<div class="toggle-wrap">            
            				<div class="toggle-bg-on"></div>
            			</div>
            			<div class="toggle-handler"></div>
            		</div>
            		<span class="featuredTxt">Featured</span>
            	</div>
            	{% endif %}
            	{% if ad.status_id != adStatusSold  and ad.status_id != adStatusExpired %} 
                <div class="right-manage-buttons adEditBlock">
                    <a class="xs-btn-1 expand button" href="{{ path('ad_edit', {'id': adId})}}">{{'Edit'|trans({}, 'frontend-manage-my-ad')}}</a>                  
                </div>
                {% endif %}
                 {% if ad.status_id == constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_EXPIRED_ID') or ad.status_id == constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_SOLD_ID') %}
                        <div class="right-manage-buttons adEditBlock"><a class="xs-btn-1 expand button" href="{{ path('ad_promote', {'adId': ad.id, 'type': 'repost'}) }}">{{'Repost this ad'|trans({}, 'frontend-manage-my-ad')}}</a></div>
                {% endif %}
                                
                {% if (adPackageArray[adId] is defined and adPackageArray[adId]['price'] <=0)  and ad.status_id == constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_LIVE_ID') and ((adPackageArray[adId] is defined and adPackageArray[adId]['price'] == 0) or adPackageArray[adId] is not defined) %}
                     {% if ((userRoleId == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_NETSUITE_SUBSCRIPTION_ID')) and upgradePackagesCount > 1) or (userRoleId != constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_NETSUITE_SUBSCRIPTION_ID')) %}
                        <div class="right-manage-buttons adEditBlock"><a class="secondary-btn-2 thin-btn expand button" href="{{ path('ad_promote', {'adId': ad.id, 'type': 'promote'}) }}">{{'Upgrade'|trans({}, 'frontend-manage-my-ad')}}</a></div>
                     {% endif %}
                {% endif %}
                
                {% if ad.status_id != constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_IN_MODERATION_ID') %}
                     <div class="right-manage-buttons adRemoveBlock"><a class="secondary-btn-2 thin-btn expand button" href="javascript:void(0);" onclick="removeAdConfirmation('{{adId}}', '{{ad.status_id}}');">{% if ad.status_id == constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_LIVE_ID') %} Stop this ad {% else %} Delete {% endif %}</a></div>
                {% endif %}
            </div>
        </div>
    </div>

{# Mobile Version Starts here #}
<div class="show-for-small-only">
        <div class="small-16 columns" style="float:right">
        	{% if ad['status_id'] == adStatusLive %}
        	<div class="featuredBlock1">
        		<a href="javascript:void(0);" onclick="openSocialSharePopup('{{ adId }}', '{{container.getParameter('base_url')}}{{adUrl}}', '{{ad['title']}}')" class="mobile-share"></a>                
        	    {% if featuredToggleFlag==1 %}
        	    {% if isFeaturedAd==1 %}
            			<div class="featured-switch toggle-on">
            	{% else %}	    
        	        {% if adFeaturedUpsellArray[adId] is defined and adFeaturedUpsellArray[adId] is not null %}
            			<div class="featured-switch netsuite-featured-indiv-upsell toggle-on" id="netsuiteFeaturedTopId_{{ adId }}_{{ featuredToggleUpsellId }}_{{ featuredToggleCatUpsellId }}_{{ dateRemainingForExpiry }}_{{ rootCategoryId }}">
            		{% else %}
            			<div class="featured-switch netsuite-featured-indiv-upsell toggle-off" id="netsuiteFeaturedTopId_{{ adId }}_{{ featuredToggleUpsellId }}_{{ featuredToggleCatUpsellId }}_{{ dateRemainingForExpiry }}_{{ rootCategoryId }}">
            		{% endif %}
				{% endif %}
        			<div class="toggle-wrap">            
        				<div class="toggle-bg-on"></div>
        			</div>
        			<div class="toggle-handler"></div>
        		</div>
        		<span class="featuredTxt">Featured</span>
        		{% endif %}
        	</div>
           {% endif %}
        </div>
        
        
        <div class="small-24 columns">            
            <h3 id="item_detail_link_{{adId}}">
                {% if ad['status_id'] == adStatusLive %}
                    <a href="{{adUrl}}" target="_blank">{{ad['title']}}</a>
                {% else %}
                    {{ad['title']}}
                {% endif %}
            </h3>        	
        </div>
        <div class="small-24 columns location-boost-blk">
            {% if (userRoleId == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_NETSUITE_SUBSCRIPTION_ID')) and (userBusinessCategory is defined and userBusinessCategory == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID')) and ad.status_id == adStatusLive %}
                <div {% if ad['town_id'] is defined or ad['area_id'] is defined or ad['locality_id'] is defined %} class="list-miles clearfix" {% endif %}>
                    {% if ad['locality_id'] is defined and ad['locality_id'] is not null %}
                        <b>{{ entityCacheManager.getEntityNameById('FaEntityBundle:Locality', ad['locality_id']) }}</b>
                    {% elseif ad['town_id'] is defined and ad['town_id'] is not null %}
                        {% if ad['area_id'] is defined and ad['area_id'] is not null %}
                            <b>{{ entityCacheManager.getEntityNameById('FaEntityBundle:Location', ad['area_id']) ~ ', ' ~ entityCacheManager.getEntityNameById('FaEntityBundle:Location', ad['town_id']) }}</b>
                        {% else %}
                            <b>{{ entityCacheManager.getEntityNameById('FaEntityBundle:Location', ad['town_id']) }}</b>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
            
            {% if ad['status_id'] == adStatusLive %}
                {% if isBoostEnabled is defined and isBoostEnabled==1 and ad.boosted_at is defined and ad.is_boosted==1 %}
                    <div class="list-boosted-hours list-boosted-hours-desk-tab">
                        {% set boostedInwords = ad.boosted_at |time_ago_in_words %}
                    	{% set boostedInwords = (boostedInwords=='less than 1 minute ago' or boostedInwords=='less than a minute ago')?'1 minute ago':boostedInwords %}
                        {{ 'Boosted'|trans({}, 'frontend-manage-my-ad') }} {{boostedInwords|replace({'minute': 'min','about' : ''})}}
                    </div>
                {% endif %} 
            {% endif %}
       </div>

        <div class="small-24 columns img-btns-blk">
        	<div class="manage-list-img">
                {% if ad['status_id'] == adStatusLive %}
                    <a href="{{adUrl}}" target="_blank">
                {% endif %}
                    {% if adImageArray[adId]['path'] is defined and adImageArray[adId]['hash'] %}
                        {% set adImageUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getAdImageUrl', [container, adId, adImageArray[adId]['path'], adImageArray[adId]['hash'], '300X225', adImageArray[adId]['aws'], adImageArray[adId]['image_name']]) %}
                        <img src="{{ adImageUrl }}" />
                    {% else %}
                        <!--<div class="user_icon"><i class="gray_color fi-photo size-48"></i></div>-->
                        <img src="/bundles/fafrontend/images/no-image.svg" alt="" class="no-img-cls"/>
                    {% endif %}
                {% if ad['status_id'] == adStatusLive %}
                    </a>
                {% endif %}
                
                {% set statusClass = '' %}
                {% set statusText = '' %}
                {% if ad.status_id is defined and ad.status_id is not null %}
                	{% if ad.status_id == adStatusSold %}
                        {% set statusClass = 'successCls' %}
                        {% set statusText = 'Successful' %}
                    {% elseif ad.status_id == adStatusRejectedWithReason or ad.status_id == adStatusRejected %}
                    	{% set statusClass = 'rejectedCls' %}
                    	{% set statusText = 'Rejected' %}
                    {% elseif ad.status_id == adStatusModerated or ad.status_id == adStatusInModeration %}
                    	{% set statusClass = 'moderationCls' %}	
                    	{% set statusText = 'Advert in Review' %}
                    {% elseif (adId in inModerationLiveAdIds and ad.status_id == adStatusLive) %}
                    	{% set statusClass = 'moderationCls' %}	
                    	{% set statusText = fa_entity_cache_manager.getEntityNameById('FaEntityBundle:Entity', ad.status_id)~' - Edits in Review' %}
                    {% elseif ad.status_id == adStatusExpired %}
                    	{% set statusClass = 'expiredCls' %}
                    	{% set statusText = 'Expired' %}
                    {% elseif ad.status_id == adStatusDraft %}
                    	{% set statusClass = 'draftCls' %}	
                    	{% set statusText = 'Draft' %}                    		
                    {% else %}
                        {% set statusClass = '' %}   
                        {% set statusText = '' %}              
                    {% endif %}
                {% endif %}
                
                <div class="img-status-overlay {{ statusClass  }}">
                	{% if (ad.status_id == adStatusInModeration and modToolTipText is defined) or ( adId in inModerationLiveAdIds and ad.status_id == adStatusLive and modToolTipText is defined) %}
                      <div class="image-tooltip-wrapper in-mod-tooltip">
                      	<span class="image-tooltip">{{ modToolTipText['inModeration'] }}</span>
                        <span class="info-icon">info</span>
                        <p class="img-status-overlay-text">{{ statusText }}</p>
                      </div>
                    {% else %}
                    	<p class="img-status-overlay-text">{{ statusText }}</p>
                    {% endif %}
                    
                </div>
            </div>
            <div class="manage-item-btns text-right">  
                {% if ad.status_id != adStatusSold  and ad.status_id != adStatusExpired %}           	
                <div class="right-manage-buttons adEditBlock">
                    <a class="xs-btn-1 expand button" href="{{ path('ad_edit', {'id': adId})}}">{{'Edit'|trans({}, 'frontend-manage-my-ad')}}</a>                  
                </div>
                {% endif %}
                
                {% if ad.status_id == constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_EXPIRED_ID') or ad.status_id == constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_SOLD_ID') %}
                        <div class="right-manage-buttons adEditBlock"><a class="xs-btn-1 expand button" href="{{ path('ad_promote', {'adId': ad.id, 'type': 'repost'}) }}">{{'Repost this ad'|trans({}, 'frontend-manage-my-ad')}}</a></div>
                {% endif %}
                                
                {% if (adPackageArray[adId] is defined and adPackageArray[adId]['price'] <=0)  and ad.status_id == constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_LIVE_ID') and ((adPackageArray[adId] is defined and adPackageArray[adId]['price'] == 0) or adPackageArray[adId] is not defined) %}
                     {% if ((userRoleId == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_NETSUITE_SUBSCRIPTION_ID')) and upgradePackagesCount > 1) or (userRoleId != constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_NETSUITE_SUBSCRIPTION_ID')) %}
                        <div class="right-manage-buttons adEditBlock"><a class="secondary-btn-2 thin-btn expand button" href="{{ path('ad_promote', {'adId': ad.id, 'type': 'promote'}) }}">{{'Upgrade'|trans({}, 'frontend-manage-my-ad')}}</a></div>
                     {% endif %}
                {% endif %}
                
                {% if ad.status_id != constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_IN_MODERATION_ID') %}
                     <div class="right-manage-buttons adRemoveBlock"><a class="secondary-btn-2 thin-btn expand button" href="javascript:void(0);" onclick="removeAdConfirmation('{{adId}}', '{{ad.status_id}}');">{% if ad.status_id == constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_LIVE_ID') %} Stop this ad {% else %} Delete {% endif %}</a></div>
                {% endif %}
            </div>
        </div>
        <div class="small-24 columns img-btns-blk"></div>
    </div>  
{# Mobile Version Ends here #}

</div>  
</div>
{% if not app.request.isXmlHttpRequest() %}    
</div>
{% endif %}
