{% extends 'FaFrontendBundle::layout.html.twig' %}

{% block title %}
    {{'Manage ads'|trans({}, 'frontend-manage-my-ad')}}
{% endblock %}

{% block dimension2 %}
    <script language="javascript" type="text/javascript">
        //<![CDATA[
        {% if app.user.getId() is not defined or app.user.getId() is null %}
        ga('set', 'dimension9', 'not logged in');
        {% else %}
        ga('set', 'dimension9', 'logged in');
        {% endif %}

        {% if dimension12 is defined and dimension12 %}
        ga('set', 'dimension12', '{{ dimension12 }}');
        {% endif %}
        ga('send', 'pageview', {'dimension1': defLocationText, 'dimension2':  'Peripheral_Content'{% if app.request.get('ti_url') %} ,'dimension8': '{{ app.request.get('ti_url') }}' {% endif %}});
        //]]>
    </script>
{% endblock %}

{% set container = fetch_container_instance() %}
{% set adIdArray = {} %}
{% if pagination.getNbResults() %}
    {% for ad in pagination.getCurrentPageResults() %}
        {% set adIdArray = adIdArray|merge({0 : ad.id}) %}
    {% endfor %}
{% endif %}

{% block body %}

    {{ include('FaUserBundle:ManageMyAd:list.html.twig', {}) }}
    
    {% if showCompetitionPopup is defined and showCompetitionPopup %}
        <div id="competitionModel" class="reveal-modal small remove-item-modal" data-reveal></div>
    {% endif %}
{% endblock %}

{% block scriptbottom %}
{{ include('FaCoreBundle:Default:blockJs.html.twig') }}
{{ include('FaUserBundle:ManageMyAd:mma-js.html.twig', {}) }}
<script>
{% if ga_transaction is defined and ga_transaction.PAYMENT_ID is defined %}
    ga('require', 'ecommerce');

    {% if getTranscationJs is defined %}
    {{ getTranscationJs | raw }}
    {% endif %}

    {% if getItemJs is defined %}
    {{ getItemJs | raw }}
    {% endif %}

    ga('ecommerce:send');
    $.ajax({
        type: "POST",
        url: "{{path('ajax_update_ga_status')}}",
        data: {'id':'{{ ga_transaction.PAYMENT_ID }}'},
    })
    .done(function(response) {
    });
{% endif %}

function socialShare(adId, url, socialSite)
{
    window.dataLayer = window.dataLayer || []
    dataLayer.push({

        'event' : 'Options',
        'eventCategory':  'Options',
        'eventAction': socialSite+'(profile)',
        'eventLabel': adId
    });
  if (socialSite == 'Facebook') {
    ga('send', 'event', 'Options', socialSite+' (profile)', adId);
      openWindow(url, 'fb-share', '500', '300');
    OneSignal.push(["sendTags", {'Facebook': 'share'}]);
  } else if (socialSite == 'Twitter') {
    ga('send', 'event', 'Options', socialSite+' (profile)', adId);
    openWindow(url, 'twitter-share', '500', '300');
    OneSignal.push(["sendTags", {'Twitter': 'share'}]);
  } else if (socialSite == 'GooglePlus') {
    ga('send', 'event', 'Options', socialSite+' (profile)', adId);
    openWindow(url, 'google-plush-share', '500', '300');
  } else if (socialSite == 'Pinterest') {
    ga('send', 'event', 'Options', socialSite+' (profile)', adId);
    openWindow(url, 'pinterest-share', '800', '600');
  } else if (socialSite == 'Email') {
    ga('send', 'event', 'Options', socialSite+' (profile)', adId);
    openWindow(url, 'email-share', '800', '600');
  }
}
function convertUserToBusiness(user,category)
{
    $.ajax({
        type: "POST",
        url: "{{path('convert_user_to_business')}}",
        data: {userId:user, businessCategoryId:category }
    })
        .done(function(response) {
            window.location="{{ path('user_package_choose_profile') }}";
        });
}
</script>
{% if ga_transaction.ID is defined %}
    <!-- Google Tag Manager Start -->
    <script>
        var transactionstring = '{{ ga_transaction.ID }}';
        var transactionarray = transactionstring.split('-');
        window.dataLayer = window.dataLayer || []
        dataLayer.push({
            "transactionId": '{{ ga_transaction.ID }}',
            "transactionTotal": {{ ga_transaction.Revenue }},
            "transactionProducts": [
                {% for item in ga_transaction.items %}
                {
                    'sku': '{{ item.SKU }}',
                    'name': '{{ item.Name }}',
                    'category': '{{ item.Category }}',
                    'price': {{ item.Price }},
                    'quantity': {{ item.Quantity }},
                    // 'coupon': ((transactionarray.length = 3) ? transactionarray[2] : 'null'),
                },
                {% endfor %}
            ]
        });
    </script>
    <!-- Google Tag Manager End -->
{% endif %}
{% endblock %}

{% block pushNotification %}
    {% if ga_transaction is defined and ga_transaction.PAYMENT_ID is defined %}
        OneSignal.push(["sendTags", {'PAA_process': 'ad_placed'}]);
    {% endif %}
{% endblock %}
