{% extends 'FaFrontendBundle::layout.html.twig' %}

{% block title %}
    {{'Manage ads'|trans({}, 'frontend-manage-my-ad')}}
{% endblock %}

{% set container = fetch_container_instance() %}
{% set adIdArray = {} %}
{% if pagination.getNbResults() %}
    {% for ad in pagination.getCurrentPageResults() %}
        {% set adIdArray = adIdArray|merge({0 : ad.id}) %}
    {% endfor %}
{% endif %}

{% block body %}

    {{ include('FaUserBundle:ManageMyAd:list.html.twig', {}) }}
    
    {% if showCompetitionPopup is defined and showCompetitionPopup %}
        <div id="competitionModel" class="reveal-modal small remove-item-modal" data-reveal></div>
    {% endif %}
{% endblock %}

{% block scriptbottom %}
{{ include('FaCoreBundle:Default:blockJs.html.twig') }}
<script language="javascript" type="text/javascript">
//<![CDATA[
    var adIdToRemove = '';
    var statusIdToChange = '';

    function removeAdConfirmation(adId, currentAdStatus)
    {
    	adIdToRemove = adId;
        if (currentAdStatus == "{{constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_LIVE_ID')}}") {
        	$('#markAdAsSoldOrExpireModal').foundation('reveal', 'open');
        } else {
        	$('#markAdAsInactiveModal').foundation('reveal', 'open');
        }
    }

    function closeRemoveAdConfirmationBox(modelId)
    {
    	adIdToRemove = '';
    	statusIdToChange = '';
    	closeRevealModel('#'+modelId);
    }

    function openMarkAdAsBoostedModal() {
        var selectedBoostAdCnt = 0;var msgInsideModal = '';
        var remainingCnt = {{(boostAdRemaining is defined and boostAdRemaining!='')?boostAdRemaining:0}};
        var remainingCntAfterSelection = 0;
        $(".boostad").each(function(){
            if($(this).parent('span').hasClass('checked')) {
                selectedBoostAdCnt = selectedBoostAdCnt+1;
            }
        });
        remainingCntAfterSelection = remainingCnt - selectedBoostAdCnt;
        if(selectedBoostAdCnt > remainingCnt) {
            alert('Sorry! Your maximum boost count exceeds. Please select only '+ remainingCnt +'adverts ');
        } else if(selectedBoostAdCnt==0) {
            $('#markAdAsBoostedModal').hide();
            $("#markAdAsBoostedModal").removeClass('manage-my-ads-list-pad-bot');
        } else {
            $('.selAdsCount').html(selectedBoostAdCnt);
            $('.leftoutAdCount').html(remainingCntAfterSelection);
            $('#markAdAsBoostedModal').show();
            $("#markAdAsBoostedModal").addClass('manage-my-ads-list-pad-bot');
            /*$('html, body').animate({
                scrollTop: $("#markAdAsBoostedModal").offset().top
            }, 2000);*/
        }
    }
    function openMarkAdAsUnBoostModal() {
        $('#markAdAsUnBoostModal').foundation('reveal', 'open');
    }

    var ajaxLoading = false;
    function changeAdStatus(statusId)
    {
    	statusIdToChange = statusId;
        if (!ajaxLoading && adIdToRemove != '') {
        	ajaxLoading = true;
        	blockPage();
        	blockElement('.db-right-part');
        	$.ajax({
                type: "POST",
                url: '{{path("ajax_manage_my_ads_change_status")}}',
                data: {'adId':adIdToRemove, 'newStatusId':statusIdToChange},
                cache:false,
                asyn:false
            })
            .always(function(response) {
                unblockPage();
             })
            .done(function(response) {
                location.reload();
            });
        }
    }

    function openSocialSharePopup(adId, adUrl, adTitle)
    {
        if (adUrl != '' && adTitle != '') {
        	blockPage();
        	blockElement('.db-right-part');
        	$.ajax({
                type: "POST",
                url: '{{path("manage_my_ads_social_share_popup")}}',
                data: {'adId':adId, 'adUrl':adUrl, 'adTitle':adTitle}
            })
            .always(function(response) {
                unblockPage();
             })
            .done(function(response) {
                $('#social_share_icon_div').html(response.htmlContent);
            	$('#socialShareMobileModal').foundation('reveal', 'open');
            });
        }
    }

    function getAdsStatus(adIdArray)
    {
    	$.ajax({
            type: "POST",
            url: '{{path("ajax_manage_my_ads_get_status")}}',
            data: {'adIds':adIdArray, 'type': '{{app.request.get('type')}}'}
        })
        .done(function(response) {
            $.each (response, function (key, value) {
                /*$('#item_status_'+key).removeAttr("class");
                $('#item_status_'+key).addClass("item-status "+value.class);
                $('#item_status_'+key).html(value.status);
                if (value.status == 'Live') {
                    if ($('#item_detail_link_'+key).children('a').length < 1) {
                        var item_title = $('#item_detail_link_'+key).html();
                        var item_url   = Routing.generate('ad_detail_page_by_id', {'id':key});
                        $('#item_detail_link_'+key).html('<a href="'+item_url+'" target="_blank">'+item_title+'</a>');
                    }
                }*/
                $('#item_card_'+key).html(value);
            });
        });
    }

    {% if showCompetitionPopup is defined and showCompetitionPopup %}
        function enterInCompetition()
        {
            blockPage();
            $.ajax({
                type: "GET",
                async: true,
                url : '{{ path('enter_in_competition', {'transaction_id': app.request.get('transaction_id')}) }}',
            })
            .always(function(response) {
                unblockPage();
            })
            .done(function(response) {
                hideAlertMessage();
                if (response.htmlContent.length) {
                    $('#competitionModel').html(response.htmlContent);
                    $('#competitionModel').foundation('reveal', 'open', {
                        close_on_background_click : false,
                        close_on_esc : false
                    });
                } else if (response.error.length) {
                    $('.manage-item-tabs').prepend(decorateMessage(response.error, 'alert'));
                    scrollToElement('.manage-item-tabs', '1000', -150);
                }
            });
        }
    {% endif %}
    
    $(document).ready(function() {
    	{% if showCompetitionPopup is defined and showCompetitionPopup %}
    	    enterInCompetition();
    	{% endif %}
        {% if adIdArray|length and getTranscationJs is defined %}
            setTimeout(function() {   //calls click event after a certain time
                getAdsStatus('{{ adIdArray|join(',') }}');
            }, 3000);
        {% endif %}
    });
//]]>
</script>

<script>
{% if ga_transaction is defined and ga_transaction.PAYMENT_ID is defined %}
    ga('require', 'ecommerce');
    
    {% if getTranscationJs is defined %}
    {{ getTranscationJs | raw }}
    {% endif %}
    
    {% if getItemJs is defined %}
    {{ getItemJs | raw }}
    {% endif %}
    
    ga('ecommerce:send');
    $.ajax({
        type: "POST",
        url: "{{path('ajax_update_ga_status')}}",
        data: {'id':'{{ ga_transaction.PAYMENT_ID }}'},
    })
    .done(function(response) {
    });
{% endif %}

function socialShare(adId, url, socialSite)
{
  if (socialSite == 'Facebook') {
    ga('send', 'event', 'Options', socialSite+' (profile)', adId);
    openWindow(url, 'fb-share', '500', '300');
    OneSignal.push(["sendTags", {'Facebook': 'share'}]);
  } else if (socialSite == 'Twitter') {
    ga('send', 'event', 'Options', socialSite+' (profile)', adId);
    openWindow(url, 'twitter-share', '500', '300');
    OneSignal.push(["sendTags", {'Twitter': 'share'}]);
  } else if (socialSite == 'GooglePlus') {
    ga('send', 'event', 'Options', socialSite+' (profile)', adId);
    openWindow(url, 'google-plush-share', '500', '300');
  } else if (socialSite == 'Pinterest') {
    ga('send', 'event', 'Options', socialSite+' (profile)', adId);
    openWindow(url, 'pinterest-share', '800', '600');
  } else if (socialSite == 'Email') {
    ga('send', 'event', 'Options', socialSite+' (profile)', adId);
    openWindow(url, 'email-share', '800', '600');
  }
}
</script>
{% endblock %}

{% block pushNotification %}
    {% if ga_transaction is defined and ga_transaction.PAYMENT_ID is defined %}
        OneSignal.push(["sendTags", {'PAA_process': 'ad_placed'}]);
    {% endif %}
{% endblock %}