{% set currentRoute = app.request.attributes.get('_route') %}
{% set container = fetch_container_instance() %}
{% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
{% set adRepository         = fetch_repository('FaAdBundle:Ad') %}
{% set adLocationRepository = fetch_repository('FaAdBundle:AdLocation') %}
{% set adImageRepository = fetch_repository('FaAdBundle:AdImage') %}
{% set adViewCounterRepository = fetch_repository('FaAdBundle:AdViewCounter') %}
{% set adUserPackageRepository = fetch_repository('FaAdBundle:AdUserPackage') %}
{% set adModerateRepository = fetch_repository('FaAdBundle:AdModerate') %}
{% set userCreditRepository = fetch_repository('FaUserBundle:UserCredit') %}
{% set userCreditCount = userCreditRepository.getActiveCreditCountForUser(app.user.getId()) %}

{% set adStatusLive   = constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_LIVE_ID') %}
{% set adUrl = ''%}

{% set userRoleId = app.user.getRole().getId() %}
{% set userBusType = 'private' %}
{% if (userRoleId == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_NETSUITE_SUBSCRIPTION_ID')) %}
	{% set userBusType = 'netsuite' %}
{% elseif (userRoleId == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_BUSINESS_SELLER_ID')) %}
	{% set userBusType = 'business' %}
{% else %}
	{% set userBusType = 'private' %}
{% endif %}

{% if pagination.getNbResults() %}
    {% set adCategoryIdArray    = adRepository.getAdCategoryIdArrayByAdId(adIdArray) %}
    {% set adImageArray         = adImageRepository.getAdMainImageArrayByAdId(adIdArray) %}
    {% set adViewCounterArray   = adViewCounterRepository.getAdViewCounterArrayByAdId(adIdArray) %}
    {% set adPackageArray       = adUserPackageRepository.getAdPackageArrayByAdId(adIdArray, true) %}
    {% set adModerateArray      = adModerateRepository.findResultsByAdIdsAndModerationResult(adIdArray, 'rejected') %}
    {% set inModerationLiveAdIds = adModerateRepository.getInModerationStatusForLiveAdIds(adIdArray) %}
{% endif %}

{{ include('FaUserBundle:ManageMyAd:manageMyAd-css.html.twig') }}

{# {% if adsBoostedCount>0 and isBoostEnabled==1 %}
    <style>.manage-item-tabs li { width:33.3% !important; }</style>
{% else %}
    <style>.manage-item-tabs li { width:50% !important; }</style>
{% endif %} #}

<div class="posting-bg manage-lst">
    {{ include('FaUserBundle:Default:leftCanvasMenuLink.html.twig') }}
    <div class="row">
        <div class="off-canvas-wrap" data-offcanvas>
            <div class="inner-wrap">
                {{ include('FaUserBundle:Default:userLeftMenu.html.twig') }}
                
                <div class="small-24 medium-18 large-18 columns" id="db-right-part">
                <div id="manage-my-ads-list-only">
                    <h1 class="db-title">Manage ads</h1>                   
					<div class="toplistdiv clearfix">                    	
                		<ul class="toplistWithBullets">
                		{% if userBusType is defined and userBusType == 'netsuite' and adLimitCount!=0 %}
                			<li class="greencircle">Live ads: <span>{{onlyActiveAdCount}}/{{ adLimitCount }}</span></li>
                		{% else %}
                			<li class="greencircle">Live ads: <span>{{onlyActiveAdCount}}/{{ totalAdCount }}</span></li>
                		{% endif %}
                			<li class="bluecircle">Featured ads: <span>{{ userCreditRepository.getActiveFeaturedCreditCountForUser(app.user.getId()) }}/{{ userCreditRepository.getActiveCreditCountForUser(app.user.getId()) }}</span></li>
                			{% if isBoostEnabled==1 %}
                    			<li class="lightgreencircle">Boosts remaining: <span>{{ boostAdRemaining }}</span></li>
                    			<li class="boostBtn"><a id="boost_ad_selected_all" class="xs-btn-1 button all-sel-texts">Boost All Actives</a></li>
                    		{% endif %}
                		</ul>                    	
					</div>

                    <ul class="tab-menu manage-item-tabs clearfix">
                        <li {% if currentRoute == 'manage_my_ads_active' %} class="active" {% endif %}>
                        	<a href="{{path('manage_my_ads_active')}}" class="hide-for-small-only">{{ 'My Active Ads'|trans({}, 'frontend-inbox') }} (<span id="unreadUserMsgCount_div">{{activeAdCount}}</span>)</a>
                        	<a href="{{path('manage_my_ads_active')}}" class="show-for-small-only">{{ 'Active ads'|trans({}, 'frontend-inbox') }} (<span id="unreadUserMsgCount_div">{{activeAdCount}}</span>)</a>
                        </li>                       
                        <li {% if currentRoute == 'manage_my_ads_inactive' %} class="active" {% endif %}>
                       		<a href="{{path('manage_my_ads_inactive')}}" class="hide-for-small-only">{{ 'My Inactive Ads'|trans({}, 'frontend-inbox') }} (<span id="unreadUserMsgCount_div">{{inActiveAdCount}}</span>)</a>
                        	<a href="{{path('manage_my_ads_inactive')}}" class="show-for-small-only">{{ 'Inactive ads'|trans({}, 'frontend-inbox') }} (<span id="unreadUserMsgCount_div">{{inActiveAdCount}}</span>)</a>
                        </li>
                    </ul>
                 
                   <div class="manage-items-main">
                       {% if pagination.getNbResults() %}  
                       	   {% if userBusType is defined and userBusType == 'netsuite' %}
                       		<div class="manage-item-list top-selects-mma" style="border-top:0px">                       			
                           		<div class="select-diff-ads"><select class="fa-select-white"><option value="">Select</option><option value="sel-all">All ads</option><option value="sel-basic">Basic ads</option><option value="sel-featured">Featured ads</option></select></div>                           		
                       			{% if isBoostEnabled==1 and boostAdRemaining > 0 and (currentRoute == 'manage_my_ads_active') %}                                
                                    <div class="select-all-ads-active"><span class="all-sel-chkbox custom-checkbox"><input type="checkbox" class="boostad_selectall"></span> <a class="all-sel-text boostad_selectall"> {% if currentRoute == 'manage_my_ads_active' %}
                                        Select all ads <span class="hide-for-small-only">on this page</span> ({{ onlyActiveAdInPageCount }})
                                    {% endif %} </a></div>                                                                    
                                {% endif %}
                           </div>
                           {% endif %}  
                                                   
                            {% for ad in pagination.getCurrentPageResults() %}
                                {% set adId = ad.id %}
                                {% set adCategoryId = null %}
                                {% if adCategoryIdArray[adId] is defined %}
                                    {% set adCategoryId = adCategoryIdArray[adId] %}
                                {% endif %}
                                {% if ad['status_id'] == adStatusLive %}
                                    {% set adUrl = container.get('router').generate('ad_detail_page_by_id', {'id': adId}, true) %}
                                    {# {% set adUrl = adUrl|trim('/') %} #}
                                {% endif %}
								{% if userBusType is defined and userBusType == 'netsuite' %}
                                    {{ include('FaUserBundle:ManageMyAd:adNetsuiteDetail.html.twig') }}                                    
                                {% else %}
                                    {{ include('FaUserBundle:ManageMyAd:adDetail.html.twig') }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="row">
                                <div class="columns">
                                    {% if app.request.attributes.get('type') == 'inactive' %}
                                        {{ 'You currently have no inactive adverts.'|trans({}, 'frontend-manage-my-ad') }}
                                    {% else %}
                                        {{ 'You currently have no active adverts.'|trans({}, 'frontend-manage-my-ad') }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        <div class="pagination-centered">
                            {{ include('FaFrontendBundle:Default:googlePager.html.twig', {'pagination': pagination, 'addToEndPage': 0, 'seoPager': false}) }}
                        </div>
                    </div>
                </div>
                    <!-- BoostModal -->
                    <div id="markAdAsBoostedModal" style="display:none" class="">
                        <div class="boostedModal">
                            <div class="row d-board-main-boost">
                                <div class="off-canvas-wrap" data-offcanvas>
                                    <div class="inner-wrap">
                                    <div class="db-left-part-boost" class="large-6 columns left-off-canvas-menu"></div>
                                    <div class="large-18 columns boostRightContentBox" id="db-right-part-boost">
                                            <div class="small-24 medium-24 large-24 columns fixdesktopwidth">
                                            <div class="small-24 medium-18 large-18 columns">
                                                <div><span class="custom-checkbox checked"><input type="checkbox" checked="checked" id="boostad_selectall_inmodal"></span> <span class="selAdContent"><span class="selAdsCount">0</span> Ads selected</span></div>
                                                <div class="manage-list-desc">You will have <span class="leftoutAdCount">0</span> boosts left</div>
                                            </div>
                                            <div class="small-24 medium-6 large-6 columns">
                                                <button type="button" id="boost-sel-ads-btn" class="button primary-btn-2  expand" onclick="closeRevealModel('#markAdAsBoostedModal');boostSelectedAds();">{{'Boost Ads'|trans({}, 'frontend-manage-my-ad')}}</button>
                                            </div>
                                        </div>
            </div>
        </div>
    </div>
</div>
                        </div>
                    </div>
                </div>
<!-- BoostModal Ends Here-->
            </div>
        </div>
    </div>
</div>

            
           
                
<div id="markAdAsSoldOrExpireModal" class="reveal-modal tiny remove-item-modal" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <h5 class="modal-title">
        {{'Remove ad'|trans({}, 'frontend-manage-my-ad')}}
    </h5>
    <div class="modal-content remove-modal">
        <div class="row">
            <div class="columns">
                <h5>{{'Was your advert successful?'|trans({}, 'frontend-manage-my-ad')}}</h5>
            </div>
        </div>
        <div class="mt20 remove-item-btn">
            <div class="row">
                <div class="large-6 columns">
                    <button type="button" class="button secondary-btn-4 thin-btn expand" onclick="closeRevealModel('#markAdAsSoldOrExpireModal');changeAdStatus('{{constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_SOLD_ID')}}');">{{'Yes'|trans({}, 'frontend-manage-my-ad')}}</button>
                </div>
                <div class="large-6 columns">
                    <button type="button" class="button secondary-btn-4 thin-btn expand" onclick="closeRevealModel('#markAdAsSoldOrExpireModal');changeAdStatus('{{constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_EXPIRED_ID')}}');">{{'No'|trans({}, 'frontend-manage-my-ad')}}</button>
                </div>
                <div class="large-12 columns">
                    <button type="button" class="button secondary-btn-1 thin-btn expand" onclick="closeRemoveAdConfirmationBox('markAdAsSoldOrExpireModal');">{{'Cancel'|trans({}, 'frontend-manage-my-ad')}}</button>
                </div>
            </div>
        </div>
    </div>
</div>




<div id="markAdAsUnBoostModal" class="reveal-modal tiny remove-item-modal" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <h5 class="modal-title">
        {{'Boost ads'|trans({}, 'frontend-manage-my-ad')}}
    </h5>
    <div class="modal-content remove-modal">
        <div class="row">
            <div class="columns">
                <h5>{{'Do you really want to unboost all your selected ads?'|trans({}, 'frontend-manage-my-ad')}}</h5>
            </div>
        </div>
        <div class="mt20 remove-item-btn">
            <div class="row">
                <div class="large-12 columns">
                    <button type="button" class="button secondary-btn-4 thin-btn expand" onclick="closeRevealModel('#markAdAsUnBoostModal');unBoostSelectedAds();">{{'Yes'|trans({}, 'frontend-manage-my-ad')}}</button>
                </div>
                <div class="large-12 columns">
                    <button type="button" class="button secondary-btn-1 thin-btn expand" onclick="closeRemoveAdConfirmationBox('markAdAsUnBoostModal');">{{'Cancel'|trans({}, 'frontend-manage-my-ad')}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="markAdAsInactiveModal" class="reveal-modal tiny remove-item-modal" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <h5 class="modal-title">
        {{'Remove ad'|trans({}, 'frontend-manage-my-ad')}}
    </h5>
    <div class="modal-content remove-modal">
        <div class="row">
            <div class="columns">
                <h5>{{'Are you sure that you want to permanently delete this advert?'|trans({}, 'frontend-manage-my-ad')}}</h5>
            </div>
        </div>
        <div class="mt20 remove-item-btn">
            <div class="row">
                <div class="large-12 columns">
                    <button type="button" class="button secondary-btn-4 thin-btn expand" onclick="closeRevealModel('#markAdAsInactiveModal');changeAdStatus('{{constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::AD_STATUS_INACTIVE_ID')}}');">{{'Delete'|trans({}, 'frontend-manage-my-ad')}}</button>
                </div>
                <div class="large-12 columns">
                    <button type="button" class="button secondary-btn-1 thin-btn expand" onclick="closeRemoveAdConfirmationBox('markAdAsInactiveModal');">{{'Cancel'|trans({}, 'frontend-manage-my-ad')}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="socialShareMobileModal" class="reveal-modal tiny" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <h5 class="modal-title">
        {{'Share this ad'|trans({}, 'frontend-manage-my-ad')}}
    </h5>
    <div class="modal-content remove-modal">
        <div class="row">
            <div class="columns">
                <div id="social_share_icon_div" class="dtl-social-icons manage-list-social-icons text-left"></div>
            </div>
        </div>
    </div>
</div>
{% block scriptbottom%}
<script language="javascript" type="text/javascript">	
    function boostSelectedAds() {
        $('#boost-sel-ads-btn').prop("disabled", true);
        var selectedBoostAdIds = '';
        $(".boostad").each(function(){
            if($(this).parent('span').hasClass('checked')) {
                selectedBoostAdIds += $(this).val()+',';
            }
        });

        $.ajax({
                type: "POST",
                url: '{{path("ajax_manage_my_ads_boost_multiple_ad")}}',
                data: {'adIds':selectedBoostAdIds,boost_value:1},
                asyn:false,
                cache:false,
                success:function(result)
                        {
                    if(result.error == "")
                    {
                        ga('send','event','MMA', 'Multi-Boost Button', result.gaStr);
                            window.location.href = '{{ path('manage_my_ads_active') }}';
                        }
                }
        });
    }

    function unBoostSelectedAds() {
        var selectedBoostAdIds = '';
        $(".boostad").each(function(){
            if($(this).parent('span').hasClass('checked')) {
                selectedBoostAdIds += $(this).val()+',';
            }
        });

        $.ajax({
                type: "POST",
                url: '{{path("ajax_manage_my_ads_boost_multiple_ad")}}',
                data: {'adIds':selectedBoostAdIds,boost_value:0},
                asyn:false,
                cache:false,
                success:function(result)
                        {
                    if(result.error == "")
                    {
                            window.location.href = '{{ path('manage_my_ads_active') }}';
                        }
                    }
        });
                }

    

    $(function(){
        $('#boost_ad_selected_all').on('click',function(e) {
        	var activeAdIds = '{{ activeAdIds }}';
        	$.ajax({
                type: "POST",
                url: '{{path("ajax_manage_my_ads_boost_multiple_ad")}}',
                data: {'adIds':activeAdIds,boost_value:1},
                asyn:false,
                cache:false,
                success:function(result)
                        {
                    if(result.error == "")
                    {
                            window.location.href = '{{ path('manage_my_ads_active') }}';
                        }
                    }
        	});            
        });
        
        $('.boost_your_ad').on('click',function(e)
        {
            var boost_value = 1;
            var elem_id = $(this).attr('id');
            var split_ad_id = elem_id.split("_");
            var adIdToBoost = split_ad_id[split_ad_id.length-1];

            if($('#markAdAsBoostedModal').css('display')=='none') {
                $('.boost_your_ad').attr("disabled", true);
                $(this).off('click');
                $('.boost_your_ad').removeClass('ajaxboost_your_ad');

                $.ajax({
                        type: "POST",
                        url: '{{path("ajax_manage_my_ads_boost_ad")}}',
                        data: {'adId':adIdToBoost,boost_value:boost_value},
                        asyn:false,
                        cache:false,
                        success:function(result)
                        {
                            if(result.error == "")
                            {
                                ga('send','event','MMA','Boost Button', result.gaStr);
                            }
                        },
                        complete: function(){
                            window.location.href = '{{ path('manage_my_ads_active') }}';
                        }
                    });
            }
        });

        $(".boostad_selectall").parent('span').change(function () {
            if($(this).hasClass('checked')) {
                $('.boostad').attr('checked', 'checked');
                $('.boostad').parent('span').addClass('checked');
                $('#boostad_selectall_inmodal').attr('checked', 'checked');
                $('#boostad_selectall_inmodal').parent('span').addClass('checked');
                $('.boost_your_ad').removeClass('ajaxboost_your_ad');
                openMarkAdAsBoostedModal();
            } else {
                $(".boostad").removeAttr("checked");
                $('.boostad').parent('span').removeClass('checked');
                $("#boostad_selectall_inmodal").removeAttr("checked");
                $('#boostad_selectall_inmodal').parent('span').removeClass('checked');
                $('#markAdAsBoostedModal').hide();
                $('.boost_your_ad').addClass('ajaxboost_your_ad');
            }
        });

        $("#boostad_selectall_inmodal").parent('span').change(function () {
            if($(this).hasClass('checked')) {
                $('.boostad').attr('checked', 'checked');
                $('.boostad').parent('span').addClass('checked');
                $('.boostad_selectall').attr('checked', 'checked');
                $('.boostad_selectall').parent('span').addClass('checked');
                $('.boost_your_ad').removeClass('ajaxboost_your_ad');
                openMarkAdAsBoostedModal();
            } else {
                $(".boostad").removeAttr("checked");
                $('.boostad').parent('span').removeClass('checked');
                $(".boostad_selectall").removeAttr("checked");
                $('.boostad_selectall').parent('span').removeClass('checked');
                $('#markAdAsBoostedModal').hide();
                $('.boost_your_ad').addClass('ajaxboost_your_ad');
            }
        });

        

        $(".boostad").parent('span').change(function(){
            if(checkAllBoostButtonEnabled()) {
                if($(this).hasClass('checked')) {
                    $(this).find('.boostad').attr('checked', 'checked');
                } else {
                    $(this).find('.boostad').removeAttr("checked");
                }
                if($(".boostad").length == $(".boostad:checked").length) {
                    $(".boostad_selectall").attr("checked", "checked");
                    $('.boostad_selectall').parent('span').addClass('checked');
                    $("#boostad_selectall_inmodal").attr("checked", "checked");
                    $('#boostad_selectall_inmodal').parent('span').addClass('checked');
                } else if($(".boostad").length > $(".boostad:checked").length) {
                    $("#boostad_selectall_inmodal").attr("checked", "checked");
                    $('#boostad_selectall_inmodal').parent('span').addClass('checked');
                    $(".boostad_selectall").removeAttr("checked");
                    $('.boostad_selectall').parent('span').removeClass('checked');
                } else {
                    $(".boostad_selectall").removeAttr("checked");
                    $('.boostad_selectall').parent('span').removeClass('checked');
                    $("#boostad_selectall_inmodal").removeAttr("checked");
                    $('#boostad_selectall_inmodal').parent('span').removeClass('checked');
                }
                openMarkAdAsBoostedModal();
                $('.boost_your_ad').removeClass('ajaxboost_your_ad');
            }
        });
    });

    $(window).scroll(function() {
        if ($("#markAdAsBoostedModal").css('display') != 'none') {
            var footerPosition = $('#footer_tag').offset().top;
            var el = $('#markAdAsBoostedModal');
            var hT = $('#footer_tag').offset().top,
                hH = $('#footer_tag').outerHeight(),
                wH = $(window).height(),
                wS = $(this).scrollTop();
            if (wS > Math.abs(wH-hT)){  
                $(".boostedModal").addClass('footerTopBoostedModal');
            } else {
                $(".boostedModal").removeClass('footerTopBoostedModal');
            }
        }
    });
</script>
<script>
(function($) {
    $.fn.extend({
    	toggleSwitch: function(){
            $('.featured-switch').on('click',function(){
              if($(this).hasClass('toggle-off')){
                $(this).removeClass('toggle-off').addClass('toggle-on');
              }else{
                $(this).removeClass('toggle-on').addClass('toggle-off');
              }
            })
        }
    })
})(jQuery)
$(document).ready(function(){
    $('.featured-switch').toggleSwitch();
 });
</script>
{% endblock %}