{% set paaFieldRepository = fetch_repository('FaAdBundle:PaaField') %}
{% set adAdultRepository = fetch_repository('FaAdBundle:AdAdult') %}
{% set solrMapping = 'Fa\\Bundle\\AdBundle\\Solr\\Ad' ~ rootCategoryName ~ 'SolrFieldMapping::' %}
<div class="detail-tabpart-2" id="vif_tabs">
	<nav>
		<div class="nav nav-tabs nav-fill custom-tabs" id="ad_adult_tabs" role="tablist">
            {% if (adAdultDetail['description'] is defined and adAdultDetail['description'] is not null) %}
                <a href="#basic_info_panel"  id="description-tab-id" aria-controls="nav-basic" class="nav-item nav-link active" data-toggle="tab" role="tab" aria-selected="true">{{'Description'|trans({}, 'frontend-show-ad')}}</a></li>
            {% endif %}
            {% if adDetail['user']['about_us'] is defined and adDetail['user']['about_us'] is not null %}
                <a href="#about_us_panel" id="aboutus-tab-id" aria-controls="nav-aboutus" class="nav-item nav-link" data-toggle="tab" role="tab" aria-selected="false">{{'About Us'|trans({}, 'frontend-show-ad')}}</a></li>
            {% endif %}
		</div>
	</nav>
    <div class="tab-content">
		<div class="tab-pane fade show active" id="basic_info_panel" role="tabpanel" aria-labelledby="nav-basic-tab">
                {% if adAdultDetail['description'] is defined %}
                    <div class="d-none d-md-block">
                        <div id="ad_desc">
                            <p>{{adAdultDetail['description']|replace({"\\n": "<br />", "&nbsp;": " "})|raw|nl2br }}</p>
                        </div>
                        <a href="javascript:void(0);" class="read-more" style="display:none;">{{ 'Read more'|trans({}, 'frontend-preview-ad') }}</a>
                        <a href="javascript:void(0);" class="read-less" style="display:none;">{{ 'Read less'|trans({}, 'frontend-preview-ad') }}</a>
                    </div>
                {% endif %}
                
                
                 <h5 class="detail-label-adult">{{'The details'|trans({}, 'frontend-show-ad')}}</h5>
		             <div class="motor-info">
                        <div class="info-row flexy-box">
                        	<div class="clearfix parent_box" data-equalizer> 
                        		{% if adDetailAndDimensionFields['detail']['Gender'] is defined and adDetailAndDimensionFields['detail']['Gender'] != '' %}
                                    <div class="info-box child_box" data-equalizer-watch>
                                        <div class="flexy-outer-div">
                                        	<label class="flexy-label">{{ 'Gender'|trans({}, 'frontend-show-ad')}}</label>
                                    	</div>
                                        <span class="motor-info-icon adult-{{ adDetailAndDimensionFields['detail']['Gender']|lower }}"></span>
                                        <span class="info-dtl">
                                            {{ adDetailAndDimensionFields['detail']['Gender'] }}
                                        </span>
                                    </div>
                                {% endif %}
                                
                                {% if (adDetailAndDimensionFields['detail'][constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::MY_SERVICE_IS_FOR')] is defined and adDetailAndDimensionFields['detail'][constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::MY_SERVICE_IS_FOR')] != '') or  (adDetailAndDimensionFields['detail'][constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::LOOKING_FOR')] is defined and adDetailAndDimensionFields['detail'][constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::LOOKING_FOR')] != '') or (serviceStrArr is defined) %}
                                    {% set serviceIsFor = (serviceStrArr is defined?serviceStrArr:(adDetailAndDimensionFields['detail'][constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::LOOKING_FOR')] is defined?adDetailAndDimensionFields['detail'][constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::LOOKING_FOR')]:adDetailAndDimensionFields['detail'][constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::MY_SERVICE_IS_FOR')])) %}
                                    {% set serviceLabel = (serviceLabel is defined?serviceLabel:(adDetailAndDimensionFields['detail'][constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::LOOKING_FOR')] is defined?constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::LOOKING_FOR'):'Service is for')) %}
                                    {% set amendString = adAdultRepository.getAdultAmendString(serviceIsFor) %}
                                    <div class="info-box child_box" data-equalizer-watch>
                                    	<div class="flexy-outer-div">
                                        	<label class="flexy-label">{{ serviceLabel }}</label>
                                    	</div>
                                        <span class="motor-info-icon service-for-{{ (amendString|lower == 'men' or amendString|lower == 'male'?'men':(amendString|lower == 'women'?"women":"couples")) }}"></span>
                                        <span class="info-dtl">
                                        	{{ amendString }}
                                        </span>
                                    </div>
                                {% endif %}
                                
                                {% if (adDetailAndDimensionFields['detail'][constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::TRAVEL_ARRANGEMENTS')] is defined and adDetailAndDimensionFields['detail'][constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::TRAVEL_ARRANGEMENTS')] != '') or (adPreviewTravelAgent is defined) %}
                                    {% set adAdultTravelId = (adPreviewTravelAgent is defined)?adPreviewTravelAgent: attribute(adDetail, constant('Fa\\Bundle\\AdBundle\\Solr\\AdAdultSolrFieldMapping::TRAVEL_ARRANGEMENTS_ID'))  %}
                                    {% set travelArrangementName =  entityCacheManager.getEntityNameById('FaEntityBundle:Entity', adAdultTravelId) %}
                                    <div class="info-box child_box" data-equalizer-watch>
                                        <div class="flexy-outer-div">
                                        	<label class="flexy-label">{{ 'Travel Arrangement'|trans({}, 'frontend-show-ad')}}</label>
                                    	</div>
                                        <span class="motor-info-icon travel-arrangement-{{ travelArrangementName|lower }}"></span>
                                        <span class="info-dtl">
                                        	{% if travelArrangementName == 'Either' %}
                                        		{{ 'In-call and Out-call'|trans({}, 'frontend-show-ad')}}
                                        	{% else %}
                                                {{ travelArrangementName }}
                                            {% endif %}
                                        </span>
                                    </div>
                                 {% endif %}
                                 
                                {% if (adDetailAndDimensionFields['detail'][constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::INDEPENDENT_OR_AGENCY')] is defined and adDetailAndDimensionFields['detail'][constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::INDEPENDENT_OR_AGENCY')] != '') or (adPreviewIndependentOrAgencyId is defined) %}
                                    {% set adAdultTypeId = (adPreviewIndependentOrAgencyId is defined)?adPreviewIndependentOrAgencyId:attribute(adDetail, constant('Fa\\Bundle\\AdBundle\\Solr\\AdAdultSolrFieldMapping::INDEPENDENT_OR_AGENCY_ID'))  %}
                                    {% set adultTypeName =  entityCacheManager.getEntityNameById('FaEntityBundle:Entity', adAdultTypeId) %}
                                    <div class="info-box child_box" data-equalizer-watch>
                                        <div class="flexy-outer-div">
                                        	<label class="flexy-label">{{ 'Type'|trans({}, 'frontend-show-ad')}}</label>
                                    	</div>
                                        <span class="motor-info-icon adult-{{ adultTypeName|lower }}"></span>
                                        <span class="info-dtl">
                                            {{ adultTypeName }}
                                        </span>
                                    </div>
                                 {% endif %}
                                
                            </div>
                        </div>                            
                    </div> 
               {% if adDetailAndDimensionFields['detail'] is defined %} 
                    <ul class="details-info clearfix">
                        {% for fieldName, fieldValue in adDetailAndDimensionFields['detail'] %}
                        	{% if fieldName != constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::TRAVEL_ARRANGEMENTS') and fieldName != constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::INDEPENDENT_OR_AGENCY') and fieldName != 'Gender' and fieldName != constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::MY_SERVICE_IS_FOR') and fieldName != 'Gender' and fieldName != constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::LOOKING_FOR') %}
                                <li>
                                    <div class="detail-text">{{fieldName}}</div>
                                    <div class="detail-text">{{fieldValue|join(', ')|raw}}</div>
                                </li>
                            {% endif %}
                        {% endfor %}
                        
                        {% if adDetailAndDimensionFields['payment_method_id'] is defined and adDetailAndDimensionFields['payment_method_id'] != '' %}
                        	<li>
                                    <div class="detail-text">{{ 'Payment Method'|trans({}, 'frontend-show-ad')}}</div>
                                    <div class="detail-text">
                                    	{% if adDetailAndDimensionFields['payment_method_id'] == '4' %}
                                    		{{ 'Bank Transfer'|trans({}, 'frontend-show-ad')}}
                                    	{% else %}
                                    		{{ 'Paypal'|trans({}, 'frontend-show-ad')}}
                                    	{% endif %}
                                    </div>
                                </li>
                        {% endif %}
                        
                        {% if attribute(adDetail, constant(solrMapping ~ 'PAYMENT_METHOD_OPTION_ID')) is defined %}
                    		<li>
                                    <div class="detail-text">{{ 'Payment Method'|trans({}, 'frontend-show-ad')}}</div>
                                    <div class="detail-text">
                                    	{% if attribute(adDetail, constant(solrMapping ~ 'PAYMENT_METHOD_OPTION_ID')) == '4' %}
                                    		{{ 'Bank Transfer'|trans({}, 'frontend-show-ad')}}
                                    	{% else %}
                                    		{{ 'Paypal'|trans({}, 'frontend-show-ad')}}
                                    	{% endif %}
                                    </div>
                                </li>
                    	{% endif %}
                        
                    </ul>
                {% endif %} 
                    
                {% if servicesIds|length %}
                    {% set paaFieldsLabel = paaFieldRepository.getDimensionPaaFieldsWithLabel(adCategoryId, container) %}
                    <h5 class="safety-title">
                        {% if paaFieldsLabel['services_id'] is defined and paaFieldsLabel['services_id'] %}
                            {{ paaFieldsLabel['services_id'] }}
                        {% else %}
                            {{'Services provided'|trans({}, 'frontend-show-ad')}}
                        {% endif %}
                    </h5>
                    <div class="safety-features mb20">
                    {#  DeskTop and Tablet View  #}
                        <table class="responsive-card-table hide-for-medium-down adult_services_box">
                            <tbody>
                            	<tr></tr>
                                <tr>
                                	{% set cnt = 0 %}
                                	{% for servicesId in servicesIds %}
                                		{% set cnt = cnt + 1 %}
                                        <td class="in-out-detail-text-f">{{ entityCacheManager.getEntityNameById('FaEntityBundle:Entity', servicesId) }}</td>
                                    	<td class="in-out-detail-text-f"><span class="safety-fe-check"></span></td>
                                    	{{ (cnt%2 == '0')?'</tr><tr>':'' }}	
                                	      
                                	{% endfor %}
                                </tr>                                                            
                            </tbody>
                        </table>
                    {#  Mobile View  #}
                        <ul class="details-info show-for-medium-down clearfix">
                            {% for servicesId in servicesIds %}
                                <li>
                                    <div class="detail-text">{{ entityCacheManager.getEntityNameById('FaEntityBundle:Entity', servicesId) }}</div>
                                    <div class="detail-text text-center"><span class="safety-fe-check"></span></div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                
                
                {% if adultInCallRates is defined or adultOutCallRates is defined %} 
                <h5 class="safety-title">Rates</h5>
                <div class="in-out-calls-block">
                	{% if adultInCallRates is defined and travelArrangementName is defined and (travelArrangementName|lower == 'in-call' or travelArrangementName|lower == 'either')  %}
                        <div class="in-out-calls-subblock">
                            <div class="in-out-calls-text"><span colspan="4"><span class="safety-fe-incall m-r-10"></span><span>In-calls</span></span></div>
                            <table class="responsive-card-table boder-rates"  style="table-layout: fixed!important;">
                                <tbody>                            
                                    <tr class="d-none d-md-block hide-for-medium-down hide-block">
                                    	{% set strInCallContent = '<tr>' %}
                                    	{% for fieldName, fieldValue in adultInCallRates %}
                                    	{% set fieldLabel = entityCacheManager.getEntityNameById('FaEntityBundle:Entity', fieldName) %}
                                    	{% set fieldValue = (fieldValue != '')?"&pound;"~fieldValue:'-' %}
                                          <td class="in-out-detail-text-f">{{ fieldLabel }}</td>
                                          {% set strInCallContent = strInCallContent~'<td data-label="'~fieldLabel~'" class="in-out-detail-text-l"><span>'~fieldValue~'</span></td>' %}
                                          {% endfor %}
                                          {% set strInCallContent = strInCallContent~'</tr>' %}
                                    </tr>
                                    {{ strInCallContent|raw }}
                                </tbody>
                            </table>
                        </div>
                	<br>
            	    {% endif %}
                	{% if adultOutCallRates is defined and travelArrangementName is defined and (travelArrangementName|lower == 'out-call' or travelArrangementName|lower == 'either')  %}
                        <div class="in-out-calls-subblock">
                            <div class="in-out-calls-text"><span colspan="4"><span class="safety-fe-outcall m-r-10"></span><span>Out-calls</span></span></div>
                            <table class="responsive-card-table boder-rates"  style="table-layout: fixed!important;">
                                <tbody>                            
                                    <tr class="d-none d-md-block">
                                    	{% set strOutCallContent = '<tr>' %}
                                    	{% for fieldName, fieldValue in adultOutCallRates %}
                                        	{% set fieldLabel = entityCacheManager.getEntityNameById('FaEntityBundle:Entity', fieldName) %}
                                        	{% set fieldValue = (fieldValue != '')?"&pound;"~fieldValue:'-' %}
                                              <td class="in-out-detail-text-f">{{ fieldLabel }}</td>
                                              {% set strOutCallContent = strOutCallContent~'<td data-label="'~fieldLabel~'" class="in-out-detail-text-l"><span>'~fieldValue~'</span></td>' %}
                                          {% endfor %}
                                          {% set strOutCallContent = strOutCallContent~'</tr>' %}
                                    </tr>
                                    {{ strOutCallContent|raw }}
                                </tbody>
                            </table> 
                        </div>
                    {% endif %}
                </div>
                {% endif %}
            	<div class="detail-text">
            		<h5 class="detail-label-adult">
            			<a href="javascript:void(0)" rel="nofollow" onclick="return showAdultPopup(1);"  title="Disclaimer">{{ 'Disclaimer'|trans({}, 'frontend-show-ad')}}</a>
            		</h5>
            	</div>
            </div>
            
            {% if adDetail['user']['about_us'] is defined and adDetail['user']['about_us'] is not null %}
                <div class="tab-pane fade" id="about_us_panel" role="tabpanel" aria-labelledby="nav-aboutus">
                    <p>{{adDetail['user']['about_us']|replace({"\\n": "<br />"})|raw}}</p>
                </div>
            {% endif %}
        </div>
</div>