{% set paaFieldRepository = fetch_repository('FaAdBundle:PaaField') %}
<div class="detail-tabpart-2" id="vif_tabs">
    <ul class="tabs hide-for-small-only" data-tab id="ad_property_tabs">
        {% if (adDetail['user']['about_us'] is defined and adDetail['user']['about_us'] is not null) %}
            <li class="tab-title active"><a href="#basic_info_panel" id="description-tab-id">{{'Description'|trans({}, 'frontend-show-ad')}}</a></li>
        {% endif %}
        {% if adDetail['user']['about_us'] is defined and adDetail['user']['about_us'] is not null %}
            <li class="tab-title"><a href="#about_us_panel" id="aboutus-tab-id">{{'About Us'|trans({}, 'frontend-show-ad')}}</a></li>
        {% endif %}
    </ul>
    <dl class="accordion {% if servicesIds|length == 0 %}hide-for-small-only{% endif %}" data-accordion="">
        <dd class="accordion-navigation">
            <div class="content active" id="basic_info_panel">
                {% if adAdultDetail['description'] is defined %}
                    <div class="hide-for-small-only">
                        <div id="ad_desc">
                            <p>{{adAdultDetail['description']|replace({"\\n": "<br />", "&nbsp;": " "})|raw|nl2br }}</p>
                        </div>
                        <a href="javascript:void(0);" class="read-more" style="display:none;">{{ 'Read more'|trans({}, 'frontend-preview-ad') }}</a>
                        <a href="javascript:void(0);" class="read-less" style="display:none;">{{ 'Read less'|trans({}, 'frontend-preview-ad') }}</a>
                    </div>
                {% endif %}
                
                {% if servicesIds|length %}
                    {% set paaFieldsLabel = paaFieldRepository.getDimensionPaaFieldsWithLabel(adCategoryId, container) %}
                    <h5 class="safety-title">
                        {% if paaFieldsLabel['services_id'] is defined and paaFieldsLabel['services_id'] %}
                            {{ paaFieldsLabel['services_id'] }}
                        {% else %}
                            {{'Services provided'|trans({}, 'frontend-show-ad')}}
                        {% endif %}
                    </h5>
                    <div class="safety-features mb20">
                        <ul class="details-info">
                            {% for servicesId in servicesIds %}
                                <li class="clearfix">
                                    <div class="detail-text">{{ entityCacheManager.getEntityNameById('FaEntityBundle:Entity', servicesId) }}</div>
                                    <div class="detail-text text-center"><span class="safety-fe-check"></span></div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                    
                {% if adDetailAndDimensionFields['detail'] is defined %}
                    <ul class="details-info">
                        {% for fieldName, fieldValue in adDetailAndDimensionFields['detail'] %}
                            <li class="clearfix">
                                <div class="detail-text">{{fieldName}}</div>
                                <div class="detail-text">{{fieldValue|join(', ')|raw}}</div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            {% if adDetail['user']['about_us'] is defined and adDetail['user']['about_us'] is not null %}
                <div class="content" id="about_us_panel">
                    <p>{{adDetail['user']['about_us']|replace({"\\n": "<br />"})|raw}}</p>
                </div>
            {% endif %}
        </dd>
    </dl>
</div>