<div class="detail-tabpart-2" id="vif_tabs">
	<nav>
		<div class="nav nav-tabs nav-fill custom-tabs" id="ad_community_tabs" role="tablist">
            {% if adDetailAndDimensionFields['detail'] is defined or adCommunityDetail['price'] is defined %}
                <a href="#basic_info_panel" id="basic-tab-id" aria-controls="nav-basic" class="nav-item nav-link active" data-toggle="tab" role="tab" aria-selected="true">{{'Description'|trans({}, 'frontend-show-ad')}}</a></li>
            {% endif %}
		</div>
	</nav>
    <div class="tab-content">
		<div class="tab-pane fade show active" id="basic_info_panel" role="tabpanel" aria-labelledby="nav-basic">
                {% if adDetailAndDimensionFields['detail'] is defined or adCommunityDetail['price'] is defined %}
                    <ul class="details-info clearfix">
                        {% for fieldName, fieldValue in adDetailAndDimensionFields['detail'] %}
                            <li>
                                <div class="detail-text">{{fieldName}}</div>
                                <div class="detail-text">{{fieldValue|join(', ')|raw}}</div>
                            </li>
                        {% endfor %}
                        {% if adCommunityDetail['price'] is defined and adCommunityDetail['price'] %}
                            <li>
                                <div class="detail-text">
                                    {{'Price'|trans({}, 'frontend-preview-ad')}}
                                </div>
                                <div class="detail-text">{{ format_currency(adCommunityDetail['price']) }}</div>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
                {% if adCommunityDetail['description'] is defined %}
                    <div class="d-none d-md-block">
                        <div id="ad_desc">
                            <p>{{adCommunityDetail['description']|replace({"\\n": "<br />", "&nbsp;": " "})|raw|nl2br }}</p>
                        </div>
                        <a href="javascript:void(0);" class="read-more" style="display:none;">{{ 'Read more'|trans({}, 'frontend-preview-ad') }}</a>
                        <a href="javascript:void(0);" class="read-less" style="display:none;">{{ 'Read less'|trans({}, 'frontend-preview-ad') }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
</div>