<div class="detail-tabpart-2" id="vif_tabs">
    <dl class="accordion" data-accordion="">
        <dd class="accordion-navigation">
             <div class="content active" id="basic_info_panel">
                 <div class="hide-for-small-only">
                    <div id="ad_desc">
                        {% if attribute(adDetail, constant(solrMapping ~ 'DESCRIPTION')) is defined %}
                            {{attribute(adDetail, constant(solrMapping ~ 'DESCRIPTION'))|replace({"\\n": "<br />", "&nbsp;": " "})|raw|nl2br }}
                        {% endif %}
                    </div>
                    <a href="javascript:void(0);" class="read-more" style="display:none;">{{ 'Read more'|trans({}, 'frontend-show-ad') }}</a>
                    <a href="javascript:void(0);" class="read-less" style="display:none;">{{ 'Read less'|trans({}, 'frontend-show-ad') }}</a>
                 </div>
                 {% if adDetailAndDimensionFields['detail'] is defined %}
                     <h5>{{'The details'|trans({}, 'frontend-show-ad')}}</h5>
                        <ul class="details-info">
                            {% for fieldName, fieldValue in adDetailAndDimensionFields['detail'] %}
                                <li class="clearfix">
                                    <div class="detail-text">{{fieldName}}</div>
                                    <div class="detail-text">{{fieldValue|join(', ')|raw}}</div>
                                </li>
                            {% endfor %}
                        </ul>
                 {% endif %}
            </div>
        </dd>
    </dl>
</div>