<div class="detail-tabpart-2" id="vif_tabs">
	<nav>
		<div class="nav nav-tabs nav-fill custom-tabs" id="ad_services_tabs" role="tablist">
            {% if (adDetail['user']['about_us'] is defined and adDetail['user']['about_us'] is not null) or servicesOfferedIds|length %}
                <a href="#basic_info_panel" id="description-tab-id" aria-controls="nav-basic" class="nav-item nav-link active" data-toggle="tab" role="tab" aria-selected="true">{{'Description'|trans({}, 'frontend-show-ad')}}</a></li>
            {% endif %}
            {% if adDetail['user']['about_us'] is defined and adDetail['user']['about_us'] is not null %}
                <a href="#about_us_panel"  id="aboutus-tab-id" aria-controls="nav-aboutus" class="nav-item nav-link" data-toggle="tab" role="tab" aria-selected="false">{{'About Us'|trans({}, 'frontend-show-ad')}}</a></li>
            {% endif %}
            {% if servicesOfferedIds|length %}
                <a href="#features_panel" id="features_panel_tab" aria-controls="nav-features" class="nav-item nav-link" data-toggle="tab" role="tab" aria-selected="false">{{'Features'|trans({}, 'frontend-show-ad')}}</a></li>
            {% endif %}
		</div>
	</nav>

    <div class="tab-content">
		<div class="tab-pane fade show active" id="basic_info_panel" role="tabpanel" aria-labelledby="nav-basic">
            {% if (adDetail['user']['about_us'] is defined and adDetail['user']['about_us'] is not null) or servicesOfferedIds|length %}
                <a href="#basic_info_panel" id="basic_info_panel_anchor" class="d-block d-md-none">{{'Description'|trans({}, 'frontend-show-ad')}} <i class="fi-plus right"></i></a>
            {% endif %}
                {% if adServiceDetail['description'] is defined %}
                    <div id="ad_desc">
                        <p>{{adServiceDetail['description']|replace({"\\n": "<br />", "&nbsp;": " "})|raw|nl2br }}</p>
                    </div>
                    <a href="javascript:void(0);" class="read-more" style="display:none;">{{ 'Read more'|trans({}, 'frontend-preview-ad') }}</a>
                    <a href="javascript:void(0);" class="read-less" style="display:none;">{{ 'Read less'|trans({}, 'frontend-preview-ad') }}</a>
                {% endif %}
                {% if adDetailAndDimensionFields['detail'] is defined %}
                    <ul class="details-info clearfix">
                        {% for fieldName, fieldValue in adDetailAndDimensionFields['detail'] %}
                            <li>
                                <div class="detail-text">{{fieldName}}</div>
                                <div class="detail-text">{{fieldValue|join(', ')|raw}}</div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            {% if adDetail['user']['about_us'] is defined and adDetail['user']['about_us'] is not null %}
            <div class="tab-pane fade show active" id="about_us_panel" role="tabpanel" aria-labelledby="nav-aboutus">
                <a href="#about_us_panel" class="d-block d-md-none" id="aboutus-tab-id">{{'About Us'|trans({}, 'frontend-show-ad')}}<i class="fi-plus right"></i></a>
                    <p>{{adDetail['user']['about_us']|replace({"\\n": "<br />", "&nbsp;": " "})|raw}}</p>
            </div>
            {% endif %}
            
            {% if servicesOfferedIds|length %}
            <div class="tab-pane fade show active" id="features_panel" role="tabpanel" aria-labelledby="nav-features">
                <a href="#features_panel" class="d-block d-md-none">{{'More details'|trans({}, 'frontend-show-ad')}}<i class="fi-plus right"></i></a>
                    <div class="safety-features">
                        <ul class="details-info clearfix">
                            {% for servicesOfferedId in servicesOfferedIds %}
                                <li>
                                    <div class="detail-text">{{ entityCacheManager.getEntityNameById('FaEntityBundle:Entity', servicesOfferedId) }}</div>
                                    <div class="detail-text text-center"><span class="safety-fe-check"></span></div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
</div>