{% set customized_url = app.request.get('customized_url')  %}
{% if blocks|length %}
    {% set container = fetch_container_instance() %}
    {% set entityCacheManager = container.get('fa.entity.cache.manager') %}
    {% set categoryRepository = fetch_repository('FaEntityBundle:Category') %}
    <div class="container">
        <div class="row">
            <div class="col-md-24">
    			<div class="wrapper center-block details-list-location-box mt20">
                  	<div class="panel-group" id="detail_seo_box" role="tablist" aria-multiselectable="true">
                  	{% set panelCnt = 0 %}
                    {% for solrFieldName, block in blocks %}
                        {% if block['facet'] is defined and block['facet']|length %}
                            {% set seoSearchParams = block['seoSearchParams'] %}
                  		<div class="panel panel-default">
    	                    <div class="panel-heading {% if (panelCnt == 0) %} active{% endif %}" role="tab" id="panelBlock{{panelCnt}}">
    	                      <h4 class="panel-title">
    	                        <a role="button" data-toggle="collapse" data-parent="#detail_seo_box" href="#addetailBlock{{panelCnt}}" aria-expanded="true" aria-controls="addetailBlock{{panelCnt}}">Top Counties <i class="fa float-right fa-plus"></i></a>
    	                      </h4>
    	                    </div>
    	                    <div id="addetailBlock{{panelCnt}}" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="ad-detail-headingOne">
    	                        <div class="panel-body list-panel-body">
    	                            <ul class="link-list">
    	                                
    	                                {% if block['is_top_links'] is defined and block['is_top_links'] == 1 %}
                                            {% set facetIdArray = block['facet'] %}
                                            {% set ctr = 0 %}
                                            {% set totalItems = facetIdArray|length %}
                                            {% for i in 0..totalItems-1 %}
                                            	{% if facetIdArray[ctr] is defined %}
                                                	<li><a href="{{ facetIdArray[ctr]['url'] }}">{{ facetIdArray[ctr]['title'] }}</a></li>
                                                {% endif %}
                                                {% set ctr = ctr + 1 %}
                                            {% endfor %}
                                    {% else %}
                                        {% set facetIdArray = block['facet']|keys %}                                       
                                        {% set ctr = 0 %}
                                        {% set totalItems = facetIdArray|length %}
                                        {% set parentFullSlug = null %}
                                        {% set secondLevelParentFullSlug = null %}
                                        {% if seoSearchParams.item__category_id is defined and seoSearchParams.item__category_id is not null %}
                                            {% set categoryPath = fetch_repository('FaEntityBundle:Category').getCategoryPathArrayById(seoSearchParams.item__category_id, false, fetch_container_instance()) %}
                                            {% set categoryPathKeys = categoryPath|keys %}
                                            {% if categoryPathKeys[0] is defined %}
                                                {% set parentFullSlug = fetch_repository('FaEntityBundle:Category').getFullSlugById(categoryPathKeys[0], fetch_container_instance()) %}
                                            {% endif %}
                                            {% if categoryPathKeys[1] is defined %} 
                                                {% set secondLevelParentFullSlug = fetch_repository('FaEntityBundle:Category').getFullSlugById(categoryPathKeys[1], fetch_container_instance()) %}
                                            {% endif %}
                                        {% endif %}
                                        {% for i in 0..totalItems-1 %}
                                            {% if facetIdArray[ctr] is defined %}
                                                {% set facetId = facetIdArray[ctr] %}
                                                {% if block['first_entry_as_uk'] is defined and block['first_entry_as_uk'] == 1 and facetId == 0 %}
                                                    <li><a href="{{ block['facet'][0]['url'] }}">{{ block['facet'][0]['title'] }}</a></li>
                                                {% else %}
                                                    {% set searchResultUrl = container.get('fa_ad.manager.ad_routing').getListingUrl(seoSearchParams|merge({ (block['search_field_name']): facetId}), null, false, null, false, parentFullSlug, secondLevelParentFullSlug) %}
                                                    <li><a href="{{ searchResultUrl }}">{{ entityCacheManager.getEntityNameById(block['repository'], facetId) }}</a></li>
                                                {% endif %}
                                                {% set ctr = ctr + 1 %}
                                            {% endif %} 
                                        {% endfor %}                                               
                                     {% endif %}   	                                
    	                            </ul>
    	                        </div>
    	                    </div>
                  		</div>
                  		{% set panelCnt = panelCnt + 1 %}
                        {% endif %}
                    {% endfor %}                   
            		</div>
            	</div>
            </div>
        </div>
    </div>
{% endif %}