{% set userRepository = fetch_repository('FaUserBundle:User') %}
{% set  recommendedSlotCls = 'recommend-slot-1' %}
{% set recommendedSlotCnt = recommendedSlotArray|length %}
{% if recommendedSlotArray is defined and recommendedSlotArray|length == 2 %}
	{% set  recommendedSlotCls = 'recommend-slot-2' %}
{% elseif recommendedSlotArray is defined and recommendedSlotArray|length == 3 %}
	{% set  recommendedSlotCls = 'recommend-slot-3' %}
{% endif %}

{% if recommendedSlotCnt>0 %}
<div id="recom-item-slider-slot2" class="owl-carousel owl-theme fa-slider recommended-div listing">
	{% for recommendedSlot in recommendedSlotArray%}
        {% set userLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogoByUserId', [fetch_container_instance(), recommendedSlot['user_id'], true, true]) %}
        {% set userName = userRepository.getUserProfileName(recommendedSlot['user_id'], container)~' - Friday-Ad' %}
        {% set no_protocol = recommendedSlot['url']|split('//')[1] ?: recommendedSlot['url'] %}
        {% set only_domains = no_protocol|split('/')[0] ?: no_protocol %}
        {% set only_domains = only_domains|replace({'www.': ''})%}
        <div class="item recommended-addetail-div" data-equalizer-watch="">
            <div class="{{ recommendedSlotCls }}">
                <div class="col-md-24 media">
                    <div class="col-md-6 pad-none recom-l-col">
                        <div class="media-left align-self-center">
                        	{% if userLogo is null%}
                                <div class="list-img list-placeholder"><img class="img-responsive" src="{{container.getParameter('fa.static.url')}}/fafrontend/images/user-no-logo.svg" alt="{{ userName }}" /></div>
                            {% else %}
                                <div class="list-img"><img class="img-responsive" src="{{ userLogo }}" alt="{{ userName }}" /></div>
                            {% endif %}                            
                        </div>
                    </div>
                    <div class="col-md-18 pad-none recom-r-col">
                        <div class="media-body">
                            <h3 class="list-title show-title-r-ad-det d-none d-md-block">
                                {{ recommendedSlot['title']|length > 50 ? trim_text(recommendedSlot['title'], 50)|raw ~ '...': recommendedSlot['title'] }}
                            </h3>
                            <h3 class="list-title show-title-r-ad-det d-block d-md-none">
                                {{ recommendedSlot['mobile_title']|length > 50 ? trim_text(recommendedSlot['mobile_title'], 50)|raw ~ '...': recommendedSlot['mobile_title'] }}
                            </h3>
                            {% if recommendedSlot['display_url'] !='' and recommendedSlotCnt==1 %}
                            	<h5 class="mt5 list-display-url d-none d-md-block">{{ recommendedSlot['display_url'] }}</h5>
                            {% endif %} 
                            {% if(recommendedSlot['show_sponsored_lbl']) %}
                                <div class="recommendedtxt gray-text text-right">
                                    Sponsored Ad<span class="sponsored-ad-icon"></span>
                                </div>
                            {% endif %}
                            
                            <div class="outer-btn d-none d-md-block">
                            	{% if recommendedSlot['sub_title'] !='' and recommendedSlotCnt==1 %}
                                	<div class="list-desc">
                                        {{ recommendedSlot['sub_title']|length > 150 ? trim_text(recommendedSlot['sub_title'], 150)|raw ~ '...': recommendedSlot['sub_title'] }}
                                    </div>
                                {% endif %}
                                {% if recommendedSlot['cta_text'] !='' %}
                                	<div class="button secondary-btn-1 btn-h-md" style="cursor: pointer;">{{ recommendedSlot['cta_text'] }}</div>
                           		{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
    {% if recommendedSlotCnt>1 %}
    <script>
    $(document).ready(function() {
        var recomslot2Slider = $("#recom-item-slider-slot2");
        if (recomslot2Slider) {
            recomslot2Slider.owlCarousel({
                loop:true,
                items:2,
                responsiveClass:true,
                dots: false,
                navText: ['<img src="/bundles/fafrontend/images/small-slider-prev.svg" alt="" />', '<img src="/bundles/fafrontend/images/small-slider-next.svg" alt="" />'],
                responsive:{
                    0:{
                        items:1,
                        nav:true,
                    },
                    760:{
                        items:3,
                        nav:false
                    },
                }
            });
        }
    });
    </script>
    {% endif %}
{% endif %}

