{% if (extraParams is defined) %}
    {% if (extraParams['isSoldExpiredAdFlag'] is defined) %}
        {% set isSoldExpiredAdFlag = extraParams['isSoldExpiredAdFlag'] %}
        {{ isSoldExpiredAdFlag }}
    {% endif %}
    {% if (extraParams['solrMapping'] is defined) %}
        {% set solrMapping = extraParams['solrMapping'] %}
    {% endif %}
    {% if (extraParams['adFavoriteAdIds'] is defined) %}
        {% set adFavoriteAdIds = extraParams['adFavoriteAdIds'] %}
    {% endif %}
{% endif %}

{# {% if not isSoldExpiredAdFlag %} #}
<div class="detail-tabpart-1 mb20" id="adDetailMainTabs">
	<nav>
		<div class="nav nav-tabs nav-fill custom-tabs" id="nav-tab" role="tablist">
			{% if rootCategoryId in {0:constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::JOBS_ID'), 1:constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::SERVICES_ID'), } %}
                <a class="nav-item nav-link" id="map_tab_anchor" data-toggle="tab" href="#map_panel" role="tab" aria-controls="nav-profile" aria-selected="false"><span class="map-tab">Map-tab</span>{{'Map'|trans({}, 'frontend-show-ad')}}</a>
                {% if adImages|length or (allowAdEdit is defined and allowAdEdit) %}
                    <a class="nav-item nav-link active" id="photo-panel-id" data-toggle="tab" href="#photo_panel" role="tab" aria-controls="nav-home" aria-selected="true"><span class="photo-tab">Photo-tab</span>{{'Photos'|trans({}, 'frontend-show-ad')}}</a>
                {% endif %}
                {% if youtubeVideoUrl|length or (allowAdEdit is defined and allowAdEdit) %}
                    <a class="nav-item nav-link {% if not adImages|length and not (allowAdEdit is defined and allowAdEdit) %} active {% endif %}" id="video-panel-id" data-toggle="tab" href="#video_panel" role="tab" aria-controls="nav-profile" aria-selected="false"><span class="video-tab">Video-tab</span>{{'Video'|trans({}, 'frontend-show-ad')}}</a>
                {% endif %}
            {% else %}
                {% if adImages|length or (allowAdEdit is defined and allowAdEdit) %}
                    <a class="nav-item nav-link active" id="photo-panel-id" data-toggle="tab" href="#photo_panel" role="tab" aria-controls="nav-home" aria-selected="true"><span class="photo-tab">Photo-tab</span>{{'Photos'|trans({}, 'frontend-show-ad')}}</a>
                {% endif %}
                {% if 'youtube_video_url' in paaFieldArray and (youtubeVideoUrl|length or (allowAdEdit is defined and allowAdEdit)) %}
                    <a class="nav-item nav-link {% if not adImages|length and not (allowAdEdit is defined and allowAdEdit) %} active {% endif %}" id="video-panel-id" data-toggle="tab" href="#video_panel" role="tab" aria-controls="nav-profile" aria-selected="false"><span class="video-tab">Video-tab</span>{{'Video'|trans({}, 'frontend-show-ad')}}</a>
                {% endif %}
                <a class="nav-item nav-link {% if not adImages|length and not (allowAdEdit is defined and allowAdEdit) and  not youtubeVideoUrl|length %} active {% endif %}" id="map_tab_anchor" data-toggle="tab" href="#map_panel" role="tab" aria-controls="nav-profile" aria-selected="false"><span class="map-tab">Map-tab</span>{{'Map'|trans({}, 'frontend-show-ad')}}</a>
            {% endif %}
            <a class="text-right report-tab d-none d-md-block"><span class="report" onclick="return reportAd('{{ adId }}');" id="add-report-id">{{'Report'|trans({}, 'frontend-show-ad')}}</span></a>
		</div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active photo-panel" id="photo_panel" role="tabpanel" aria-labelledby="nav-home-tab">
			{{ image_slider_html|raw }}
		</div>
		
		{% if (youtubeVideoUrl|length or (allowAdEdit is defined and allowAdEdit)) %}
            {% if youtubeVideoUrl|length %}
                {% set youtubeVideoId = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getYouTubeVideoId', [youtubeVideoUrl]) %}
                <div class="content" id="video_panel">
                    <iframe id="ytplayer" type="text/html" width="100%" height="400px" src="https://www.youtube.com/embed/{{youtubeVideoId}}" frameborder="0"></iframe>
                </div>
            {% else %}
                {% if 'youtube_video_url' in paaFieldArray %}
                <div class="content" id="video_panel">
                    <div class="no-photo">
                        <div class="no-photo-heading">{{ 'No video?'|trans({}, 'frontend-show-ad') }}</div>
                        <p>
                            {{ 'Adding a review/demo/commercial video from Youtube will give people an even better insight into what you\'re advertising.'|trans({}, 'frontend-show-ad') }}
                        </p>
                        <a id="add_video_no_video_link" class="primary-btn-3 button thin-btn" href="javascript:void(0);">{{ 'Add video'|trans({}, 'frontend-show-ad') }}</a>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endif %}
		<div class="tab-pane fade" id="map_panel" role="tabpanel" aria-labelledby="nav-profile-tab">
			<div class="content" id="map_panel">
            	{{ googlemap_location_html|raw }}
		    </div>
		</div>
	</div>
</div>	
{# {% endif %} #}
{% if not isSoldExpiredAdFlag %}
<div class="two-grid-col dtl-user-links">
	<div class="left-col dtl-white-btn">
        <span id="fav_{{ adId }}">
            {% if adId in adFavoriteAdIds %}
                <a href="javascript:void(0);" onclick="return removeFromFavorite('{{adId}}');" class="save-item-btn added-in-fav" id="save-item-btn-id"><span class="saved-icon">save</span>{{'Favourite'|trans({}, 'frontend-show-ad')}}</a>
            {% else %}
                <a href="javascript:void(0);" onclick="return addToFavorite('{{adId}}');" class="save-item-btn" id="save-item-btn-id"><span class="save-icon">save</span>{{'Favourite'|trans({}, 'frontend-show-ad')}}</a>
            {% endif %}
        </span>

        <span class="text-right report d-block d-md-none" onclick="return reportAd('{{ adId }}');" id="add-report-id">{{'Report'|trans({}, 'frontend-show-ad')}}</span>
	</div>
	<div class="right-col">
		<div class="dtl-social-icons">
           {{'Share'|trans({}, 'frontend-show-ad')}}:
            <a onclick="return socialShare('{{adId}}', '{{container.getParameter('fa.social.share.url')}}/facebook/offer?url={{app.request.getUri()}}&pubid={{container.getParameter('fa.add.this.pubid')}}&ct=1&title={% if attribute(adDetail, constant(solrMapping ~ 'TITLE')) is defined %}{{attribute(adDetail, constant(solrMapping ~ 'TITLE'))}}{% endif %}&pco=tbxnj-1.0', 'fb-share', '500', '300');" href="javascript:void(0);" title="{{'Facebook'|trans({}, 'frontend-show-ad')}}" class="dtl-fb" id="dtl-fb-id"></a>
            <a onclick="return socialShare('{{adId}}', '{{container.getParameter('fa.social.share.url')}}/twitter/offer?url={{app.request.getUri()}}&pubid={{container.getParameter('fa.add.this.pubid')}}&ct=1&title={% if attribute(adDetail, constant(solrMapping ~ 'TITLE')) is defined %}{{attribute(adDetail, constant(solrMapping ~ 'TITLE'))}}{% endif %}&pco=tbxnj-1.0', 'twitter-share', '500', '300');" href="javascript:void(0);" title="{{'Twitter'|trans({}, 'frontend-show-ad')}}" class="dtl-twi" id="dtl-twi-id"></a>
            <a onclick="return socialShare('{{adId}}', '{{container.getParameter('fa.social.share.url')}}/google_plusone_share/offer?url={{app.request.getUri()}}&pubid={{container.getParameter('fa.add.this.pubid')}}&ct=1&title={% if attribute(adDetail, constant(solrMapping ~ 'TITLE')) is defined %}{{attribute(adDetail, constant(solrMapping ~ 'TITLE'))}}{% endif %}&pco=tbxnj-1.0', 'google-plush-share', '500', '300');" href="javascript:void(0);" title="{{'Google Plus'|trans({}, 'frontend-show-ad')}}" class="dtl-gpl" id="dtl-gpl-id"></a>
            <a onclick="return socialShare('{{adId}}', '{{container.getParameter('fa.social.share.url')}}/pinterest/offer?url={{app.request.getUri()}}&pubid={{container.getParameter('fa.add.this.pubid')}}&ct=1&title={% if attribute(adDetail, constant(solrMapping ~ 'TITLE')) is defined %}{{attribute(adDetail, constant(solrMapping ~ 'TITLE'))}}{% endif %}&pco=tbxnj-1.0', 'pinterest-share', '800', '600');" href="javascript:void(0);" title="{{'Pinterest'|trans({}, 'frontend-show-ad')}}" class="dtl-pin" id="dtl-pin-id"></a>
            <a onclick="return socialShare('{{adId}}', '{{container.getParameter('fa.social.share.url')}}/email/offer?url={{app.request.getUri()}}&pubid={{container.getParameter('fa.add.this.pubid')}}&ct=1&title={% if attribute(adDetail, constant(solrMapping ~ 'TITLE')) is defined %}{{attribute(adDetail, constant(solrMapping ~ 'TITLE'))}}{% endif %}&pco=tbxnj-1.0', 'email-share', '800', '600');" href="javascript:void(0);" title="{{'Email'|trans({}, 'frontend-show-ad')}}" class="dtl-eml" id="dtl-eml-id"></a>        
        </div>
	</div>
</div>
{% endif %}

{% if recommendedSlotArray is defined and recommendedSlotArray|length %}
    {{ include('FaAdBundle:Ad:showRecommendedSlots.html.twig', { }) }}
{% endif %}

{% set zoneId = constant('Fa\\Bundle\\ContentBundle\\Repository\\BannerZoneRepository::ZONE_AD_DETAIL_BELOW_SOCIAL_BUTTONS_MOBILE') %}
{{ include('FaContentBundle:Banner:show.html.twig', {'zone_id': zoneId, 'otherParams':{'ad':adDetail}}) }}
