{% block carSearchForm_html %}

<h3 class="homepage-title">{{ 'Find a car'|trans({}, 'frontend-landing-page') }} </h3>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_errors(form) }}

<div class="landing-divider find-car">
    <div class="row">
        <div class="large-8 columns">
            {{ form_label(attribute(form, 'item__make_id')) }}
            <div class="white-select car-lading-field">{{ form_widget(attribute(form, 'item__make_id')) }}</div>
        </div>
        <div class="large-8 columns">
            <div class="car-budget car-mid-column">
                <label>{{ 'My budget is from'|trans({}, 'frontend-landing-page')}}</label>
                <ul class="budget-box clearfix">
                    <li class="budget-field">
                        <span>&pound;</span>{{ form_widget(form.item__price_from, {'attr': {'class': 'white-field', 'autocomplete': 'off'}}) }}
                    </li>
                    <li class="budget-to-caption">{{ 'to'|trans({}, 'frontend')}}</li>
                    <li class="budget-field">
                        <span>&pound;</span>{{ form_widget(form.item__price_to, {'attr': {'class': 'white-field', 'autocomplete': 'off'}}) }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="large-8 columns">
            <div class="car-distance car-last-column">
                <label>{{ 'Distance I\'m happy to travel'|trans({}, 'frontend-landing-page')}}</label>
                <ul class="clearfix">
                    <li class="miles-col white-select">{{ form_widget(form.item__distance) }}</li>
                    <li class="from-col">{{ 'from'|trans({}, 'frontend')}}</li>
                    <li class="location-col">
                        {{ form_widget(form.item__location_autocomplete, {'attr': {'class': 'white-field'}}) }}
                        <a href="javascript:void(0);" id="fa_landing_page_car_search_item__location_close" class="ui-autocomplete-close select2-search-choice-close">Close</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="landing-divider">
    <div class="row">
        <div class="columns">
            <div class="mt20">
                {{ form_label(attribute(form, 'item_motors__body_type_id')) }}
                <div id="body_type_choices" class="white-select show-for-small-only">
                    {{ form_widget(attribute(form, 'item_motors__body_type_id')) }}
                </div>
                <div id="body-type-circles" class="clearfix landing-circles hide-for-small-only">
                    <a href="javascript:void(0)" class="any-category body_type_choice active" id="body_type_choice_">{{ 'Any'|trans({}, 'frontend-landing-page') }}</a>
                    {% set selectedBodyTypeId = attribute(form, 'item_motors__body_type_id').vars.data %}
                    {% for choice in attribute(form, 'item_motors__body_type_id').vars.choices %}
                        {% set activeClass = '' %}
                        {% if choice.value == selectedBodyTypeId %}
                            {% set activeClass = 'active' %}
                        {% endif %}
                        <a href="javascript:void(0)" class="car-{{ choice.label|lower }} body_type_choice {{ activeClass }}" id="body_type_choice_{{ choice.value }}">{{ choice.label }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="columns">
        <div class="more-options"><a href="javascript:void(0);" id="show_hide_more_options">{{ 'More options'|trans({}, 'frontend-landing-page')}}</a></div>
        <div id="more_options" style="display:none">
            <div class="white-select">
                <div class="row">
                    <div class="large-8 columns">
                        <div class="car-lading-field">
                            {{ form_label(attribute(form, 'item__model_id')) }}
                            {{ form_widget(attribute(form, 'item__model_id')) }}
                        </div>
                    </div>

                    <div class="large-8 columns">
                        <div class="options-mid-column">
                            <div class="car-lading-field2">
                                {{ form_label(attribute(form, 'keywords')) }}
                                {{ form_widget(attribute(form, 'keywords')) }}
                            </div>
                        </div>
                    </div>

                    <div class="large-8 columns">
                        <div class="options-last-column">
                            {{ form_label(attribute(form, 'item_motors__mileage_range')) }}
                            {{ form_widget(attribute(form, 'item_motors__mileage_range')) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="large-8 columns">
                        <div class="car-lading-field">
                            {{ form_label(attribute(form, 'item_motors__transmission_id')) }}
                            {{ form_widget(attribute(form, 'item_motors__transmission_id')) }}
                        </div>
                    </div>

                    <div class="large-8 columns">
                        <div class="options-mid-column">
                            <div class="car-lading-field2">
                                {{ form_label(attribute(form, 'item_motors__colour_id')) }}
                                {{ form_widget(attribute(form, 'item_motors__colour_id')) }}
                            </div>
                        </div>
                    </div>

                    <div class="large-8 columns">
                        <div class="options-last-column">
                            {{ form_label(attribute(form, 'item_motors__fuel_type_id')) }}
                            {{ form_widget(attribute(form, 'item_motors__fuel_type_id')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-wrapper">
            <button class="secondary-btn-1 expand button mb0 landing-search-btn" type="submit">{{ 'Search cars'|trans({}, 'frontend-landing-page') }}</button>
        </div>
    </div>
</div>

{{ form_end(form) }}
{% endblock %}

{% block carSearchForm_script %}
<script language="javascript" type="text/javascript">
//<![CDATA[
    $(document).ready(function(){
        setDefaultLocatonFromCookie();
        loadModelsByMakeId();
        bindBodyTypeCircleClickEvent();

        $('#fa_landing_page_car_search_item__make_id').change(function(event){
            $('#fa_landing_page_car_search_item__category_id').val($(this).val());
            loadModelsByMakeId($(this).val());
        });

        $('#fa_landing_page_car_search_item__model_id').change(function(event){
            $('#fa_landing_page_car_search_item__category_id').val($(this).val());
        });

        $("form[name='fa_landing_page_car_search']").submit(function() {
            $('#fa_landing_page_car_search_item__make_id').val('');
            $('#fa_landing_page_car_search_item__model_id').val('');
        });

        $('#show_hide_more_options').click(function(){
           $(this).toggleText("{{ 'More options'|trans({}, 'frontend-landing-page') }}", "{{ 'Fewer options'|trans({}, 'frontend-landing-page') }}");
           $('#more_options').toggle();
           $('#fa_landing_page_car_search_item__model_id').selectmenu('refresh');
           $('#fa_landing_page_car_search_item_motors__mileage_range').selectmenu('refresh');
           $('#fa_landing_page_car_search_item_motors__transmission_id').selectmenu('refresh');
           $('#fa_landing_page_car_search_item_motors__colour_id').selectmenu('refresh');
           $('#fa_landing_page_car_search_item_motors__fuel_type_id').selectmenu('refresh');
           return false;
       });
    });

    function bindBodyTypeCircleClickEvent()
    {
        $('.body_type_choice').click(function(){
            $('.body_type_choice').removeClass('active');
            $('#body_type_choices input:checkbox').removeAttr('checked');
            $(this).addClass('active');

            var choiceId   = $(this).attr('id');
            var selectedId = choiceId.replace('body_type_choice_', '');

            $('#fa_landing_page_car_search_item_motors__body_type_id').val(selectedId);
        });
    }

    function setDefaultLocatonFromCookie()
    {
        if (checkCookie('location')) {
            var locationCookie = $.parseJSON(decodeURIComponent(getCookie('location')));
            $('#fa_landing_page_car_search_item__location').val(locationCookie.location);
            $('#fa_landing_page_car_search_item__location_autocomplete').val(locationCookie.location_text);
        }
    }

    function loadModelsByMakeId(makeId)
    {
        var selectedModelId = $('#fa_landing_page_car_search_item__model_id').val();
        if (!makeId) {
            makeId = $('#fa_landing_page_car_search_item__make_id').val();
        }

        $('#fa_landing_page_car_search_item__model_id').html('<option value="">{{ 'Any  model'|trans({}, 'frontend-landing-page') }}</option>');
        if (makeId) {
            var data = {
                id: makeId
            };
            $.ajax({
                type: 'post',
                url: '{{ path("category_ajax_get_node_json") }}',
                data: data,
                success: function(data) {
                    if (data.length > 0) {
                        for (var i=0, total = data.length; i < total; i++) {
                            if (selectedModelId == data[i].id) {
                                $('#fa_landing_page_car_search_item__model_id').append('<option value="' + data[i].id + '" selected="selected">' + data[i].text + '</option>');
                            } else {
                                $('#fa_landing_page_car_search_item__model_id').append('<option value="' + data[i].id + '">' + data[i].text + '</option>');
                            }
                        }
                        $('#fa_landing_page_car_search_item__model_id').selectmenu('refresh');
                    }
                }
            });
        }
    }
//]]>
</script>
{{ include('FaCoreBundle::jqueryAutoSuggestFieldJs.html.twig', {'field' : '#fa_landing_page_car_search_item__location', 'placeHolder': 'Type postal code or town'|trans, 'route' : 'town_ajax_find_town_by_term', 'displayOnlyTown' : 'true'}) }}
{% endblock %}