{% extends 'FaFrontendBundle::layout.html.twig' %}

{% set container = fetch_container_instance() %}
{% set seoManager = container.get('fa.seo.manager') %}

{% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
{% set currentDevice = 'D' %}
{% if mobileDetectManager.isMobile() and not mobileDetectManager.isTablet() %}
    {% set currentDevice = 'M' %}
{% elseif mobileDetectManager.isMobile() and mobileDetectManager.isTablet() %}
    {% set currentDevice = 'T' %}
{% endif %}

{% block meta_robots %}
    {% if seoFields.meta_robots is defined %}
        {{seoFields.meta_robots}}
    {% endif %}
{% endblock %}

{% block page_title %}
    {% if seoFields.page_title is defined %}
        {{ seoManager.parseSeoString(seoFields.page_title, {'{location}': seoLocationName}) }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if seoFields.meta_description is defined %}
        {{ seoManager.parseSeoString(seoFields.meta_description, {'{location}': seoLocationName}) }}
    {% endif %}
{% endblock %}

{% block meta_keywords %}
    {% if seoFields.meta_keywords is defined %}
        {{ seoManager.parseSeoString(seoFields.meta_keywords, {'{location}': seoLocationName}) }}
    {% endif %}
{% endblock %}

{% block canonical_url %}
    {% if app.request.get('location') == 'uk' and app.request.get('category_string') is defined %}
        {{ container.get('router').generate('landing_page_category', {'category_string' : app.request.get('category_string')}, true) }}
    {% else %}
        {{ app.request.uri|replace({('?'~app.request.queryString) : ''}) }}
    {% endif %}
{% endblock %}

{% if form is defined %}
    {% form_theme form 'FaFrontendBundle:Form:fields.html.twig' %}
{% endif %}
{% block stylesheet %}
	<link rel="stylesheet" href="{{ asset('/build/css/landing.css') }}">
{% endblock %}

{% set categoryRepository = fetch_repository('FaEntityBundle:Category') %}
{% set adRepository = fetch_repository('FaAdBundle:Ad') %}
{% set adPropertyRepository = fetch_repository('FaAdBundle:AdProperty') %}

{% block body %}
<div class="landing-block {{ app.request.get('category_string') }}">
    {% if categoryId is defined and categoryId is not null %}
        {% set prevSectionBgClass = '' %}
        {% if categoryId != constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') %}
            {% set adCounts = fetch_repository('FaAdBundle:Ad').getLandingPageAdCountsBasedOnSearchParams(searchParams, fetch_container_instance()) %}
        {% endif %}
        {% set landingPageImages = fetch_repository('FaContentBundle:LandingPageInfo').getLandingPageImagesBySecton(landingPage.id, fetch_container_instance()) %}

            <div class="wp-block-cover-image landing-page-bg has-background-dim landing-header {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') %}adult-parallax{% endif %}" >
                <div class="container">
                    <div class="row">
                        <div class="col landing-header-content">
                            <div class="cat-icon"></div>
                            {% if seoFields.h1_tag is defined %}
                                {% set h1LocationString = '' %}
                                {% if seoLocationName|lower != 'uk' and categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') %}
                                    {% set h1LocationString = '<span> in {location}</span>' %}
                                {% endif %}
                                <h1>{{ seoManager.parseSeoString(seoFields.h1_tag~h1LocationString, {'{location}': seoLocationName})|raw }}</h1>
                            {% endif %}
                            {% if categoryId != constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') %}
                                <div class="col-lg-12 offset-lg-6 col-md-18 offset-md-3 col-sm-18 offset-sm-3">
                                        <div class="intro-text">
                                        {% if adCounts.a_parent_category_lvl_1_id_i is defined and attribute(adCounts.a_parent_category_lvl_1_id_i, categoryId) is defined %}
                                            {% set listurl = container.get('fa_ad.manager.ad_routing').getListingUrl(searchParams) %}
                                            <div class="item-count"><a href="{{ listurl }}">{{ 'See all %adCount% ads'|trans({'%adCount%' : (attribute(adCounts.a_parent_category_lvl_1_id_i, categoryId)|number_format)}, 'frontend-landing-page') }}</a></div>
                                        {% endif %}
                                        <span class="landing-desc d-none d-md-block">{{ landingPage.description }}</span>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% set bannerimageUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getOtherImageUrl', [container, 'landingpage', landingPage.getFileName()]) %}
                        <style>
                            .landing-page-bg{
                                background-image: url("{{ bannerimageUrl }}");
                            }
                        </style>
                        <div class="parallax-window" data-speed="0.6" data-parallax="scroll" data-image-src="{{ bannerimageUrl }}"></div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>

            {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::MOTORS_ID') %}
                <div class="homepage-row">
                    {% use "FaContentBundle:LandingPage:carSearchForm.html.twig" %}
                    {{ block('carSearchForm_html') }}
                </div>

                {# vehicales Block#}
                {% set motor_other_vehicles_id = constant('Fa\\Bundle\\ContentBundle\\Repository\\LandingPageInfoRepository::MOTOR_OTHER_VEHICLES_ID')%}
                {% if attribute(landingPageImages, motor_other_vehicles_id) is defined %}
                    {% set prevSectionBgClass = 'white-bg' %}
                    <div class="homepage-row white-bg">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="homepage-title">{{ 'Other vehicles'|trans({}, 'frontend-landing-page') }}</div>
                                    <div id="other-vehicles" class="row popular-items">
                                        {% for imageInfo in attribute(landingPageImages, motor_other_vehicles_id) %}
                                            {% set queryParams = searchParams %}
                                            {% set adCount = 0 %}
                                            {% if imageInfo.category_id is defined %}
                                                {% set queryParams = queryParams|merge({'item__category_id': (imageInfo.category_id)}) %}
                                                {% if adCounts.a_parent_category_lvl_2_id_i is defined and attribute(adCounts.a_parent_category_lvl_2_id_i, imageInfo.category_id) is defined %}
                                                    {% set adCount = attribute(adCounts.a_parent_category_lvl_2_id_i, imageInfo.category_id) %}
                                                {% endif %}
                                            {% endif %}
                                            {% set listurl = container.get('fa_ad.manager.ad_routing').getListingUrl(queryParams) %}
                                            <div class="col-md-8 col-lg-8">
                                                <div class="item-box">
                                                    <a class="tricky-link" href="{{ listurl }}">
                                                        {% if imageInfo.file_name is defined %}
                                                            {{ imageInfo.file_name }}
                                                        {% endif %}
                                                    </a>
                                                    <div class="overlay"></div>
                                                    <div class="popular-graphic">
                                                        {% if imageInfo.overlay_file_name is defined %}
                                                            {% set imageOverlayUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getLandingImageUrl', [container, imageInfo.overlay_file_name]) %}
                                                            <img class="img-fluid" alt="{{ imageInfo.overlay_file_name }}" src="{{ imageOverlayUrl }}">
                                                        {% endif %}
                                                    </div>
                                                    <div class="explore-price">{{ adCount|number_format }}</div>
                                                    {% if imageInfo.file_name is defined %}
                                                        {% set imageUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getLandingImageUrl', [container, imageInfo.file_name]) %}
                                                        <img class="img-fluid popular-graphic-img" alt="{{ imageInfo.file_name }}" src="{{ imageUrl }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {# More Motors Block#}
                {% set motor_more_in_motor_id = constant('Fa\\Bundle\\ContentBundle\\Repository\\LandingPageInfoRepository::MOTOR_MORE_IN_MOTOR_ID')%}
                {% if attribute(landingPageImages, motor_more_in_motor_id) is defined %}
                    {% if prevSectionBgClass == '' %}
                        {% set bgColour = 'white-bg' %}
                    {% else %}
                        {% set bgColour = '' %}
                    {% endif %}
                    {% set prevSectionBgClass = bgColour %}
                    <div class="homepage-row">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="homepage-title">{{ 'More in motors'|trans({}, 'frontend-landing-page') }}</div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                {% for imageInfo in attribute(landingPageImages, motor_more_in_motor_id) %}
                                    {% set queryParams = searchParams %}
                                    {% set adCount = 0 %}
                                    {% if imageInfo.category_id is defined %}
                                        {% set queryParams = queryParams|merge({'item__category_id': (imageInfo.category_id)}) %}
                                        {% if adCounts.a_parent_category_lvl_2_id_i is defined and attribute(adCounts.a_parent_category_lvl_2_id_i, imageInfo.category_id) is defined %}
                                            {% set adCount = attribute(adCounts.a_parent_category_lvl_2_id_i, imageInfo.category_id) %}
                                        {% endif %}
                                    {% endif %}
                                    {% set listurl = container.get('fa_ad.manager.ad_routing').getListingUrl(queryParams) %}
                                    <div class="col-md-10 col-lg-8 col">
                                        <div class="homepage-more-items">
                                            <a class="tricky-link" href="{{ listurl }}">
                                                {% if imageInfo.file_name is defined %}
                                                    {{ imageInfo.file_name }}
                                                {% endif %}
                                            </a>
                                            <div class="explore-price">{{ adCount|number_format }}</div>
                                            {% if imageInfo.file_name is defined %}
                                            	{% set imageUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getLandingImageUrl', [container, imageInfo.file_name]) %}
                                                <img class="img-fluid" alt="{{ imageInfo.file_name }}" src="{{ imageUrl }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                {% endif %}
            {% endif %}

            {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::PROPERTY_ID') %}
                <div class="homepage-row">
                    {% use "FaContentBundle:LandingPage:propertySearchForm.html.twig" %}
                    {{ block('propertySearchForm_html') }}
                </div>

                {# landing page images#}
                {% set property_discover_id = constant('Fa\\Bundle\\ContentBundle\\Repository\\LandingPageInfoRepository::PROPERTY_DISCOVER_ID')%}
                {% if attribute(landingPageImages, property_discover_id) is defined %}
                    {% set prevSectionBgClass = 'white-bg' %}
                    <div class="homepage-row white-bg">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="homepage-title">{{ 'Discover...'|trans({}, 'frontend-landing-page') }}</div>
                                    <div id="discover-populars" class="row popular-items">
                                        {% for imageInfo in attribute(landingPageImages, property_discover_id) %}
                                            {% set queryParams = searchParams %}
                                            {% set adCount = 0 %}
                                            {% if imageInfo.category_id is defined %}
                                                {% set queryParams = queryParams|merge({'item__category_id': (imageInfo.category_id)}) %}
                                                {% if adCounts.a_parent_category_lvl_2_id_i is defined and attribute(adCounts.a_parent_category_lvl_2_id_i, imageInfo.category_id) is defined %}
                                                    {% set adCount = attribute(adCounts.a_parent_category_lvl_2_id_i, imageInfo.category_id) %}
                                                {% endif %}
                                            {% endif %}
                                            {% set listurl = container.get('fa_ad.manager.ad_routing').getListingUrl(queryParams) %}
                                            <div class="col-md-8 col-lg-8">
                                                <div class="item-box">
                                                    <a class="tricky-link" href="{{ listurl }}">
                                                        {% if imageInfo.file_name is defined %}
                                                            {{ imageInfo.file_name }}
                                                        {% endif %}
                                                    </a>
                                                    <div class="overlay"></div>
                                                    <div class="popular-graphic">
                                                        {% if imageInfo.overlay_file_name is defined %}
                                                        	{% set imageOverlayUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getLandingImageUrl', [container, imageInfo.overlay_file_name]) %}
                                                            <img class="img-fluid" alt="{{ imageInfo.overlay_file_name }}" src="{{ imageOverlayUrl }}">
                                                        {% endif %}
                                                    </div>
                                                    <div class="explore-price">{{ adCount|number_format }}</div>
                                                    {% if imageInfo.file_name is defined %}
                                                        {% set imageUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getLandingImageUrl', [container, imageInfo.file_name]) %}
                                                        <img class="img-fluid popular-graphic-img" alt="{{ imageInfo.file_name }}" src="{{ imageUrl }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::JOBS_ID') %}
                <div class="homepage-row">
                    {% use "FaContentBundle:LandingPage:jobsSearchForm.html.twig" %}
                    {{ block('jobsSearchForm_html') }}
                </div>
                {% if popularSearches is defined and popularSearches|length %}
                    {% if prevSectionBgClass == '' %}
                        {% set bgColour = 'white-bg' %}
                    {% else %}
                        {% set bgColour = '' %}
                    {% endif %}
                    {% set prevSectionBgClass = bgColour %}
                    {{ include('FaContentBundle:LandingPage:popularSearches.html.twig') }}
                {% endif %}
                {% if featuredEmployers is defined and featuredEmployers|length %}
                    {% if prevSectionBgClass == '' %}
                        {% set bgColour = 'white-bg' %}
                    {% else %}
                        {% set bgColour = '' %}
                    {% endif %}
                    {% set prevSectionBgClass = bgColour %}
                    <div class="homepage-row {{ bgColour }}">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="homepage-title">
                                        {{'Featured employers'|trans({}, 'frontend-landing-page')}}
                                    </div>
                                    <div class="owl-carousel owl-theme fa-slider" id="featured_employers_slider" data-equalizer>
                                        {% set userRepository = fetch_repository('FaUserBundle:User') %}
                                        {% for featuredEmployer in featuredEmployers %}
                                            {% set adUserId = featuredEmployer['id'] %}
                                            {% set shopName = userRepository.getUserProfileName(adUserId, container) %}
                                            {% set profilePageUrl = container.get('fa_ad.manager.ad_routing').getProfilePageUrl(adUserId) %}
                                            <div class="item" data-equalizer-watch>
                                                <div class="card custom-card">
                                                    <a class="tricky-link" href="{{ profilePageUrl }}">{{ shopName }}</a>
                                                    {% set userLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogoByUserId', [fetch_container_instance(), adUserId, true, true]) %}
                                                    {% set userName = shopName~' - Friday-Ad' %}
                                                    <div style="padding:20px;" class="border-botttom">
                                                        {% if userLogo %}
                                                            <img class="card-img-top img-fluid" src="{{ userLogo }}" alt="{{ userName }}" />
                                                        {% else %}
                                                            <img class="card-img-top img-fluid" src="{{ asset_url('fafrontend/images/no-image-grey.svg') }}" alt="{{ userName }}" />
                                                        {% endif %}
                                                    </div>
                                                    <div class="card-body pt0">
                                                        <div class="card-title s-h3">{{ shopName }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::FOR_SALE_ID') %}
                {% set exloreId = constant('Fa\\Bundle\\ContentBundle\\Repository\\LandingPageInfoRepository::FOR_SALE_EXPLORE_ID')%}
                {% if attribute(landingPageImages, exloreId) is defined %}
                    {% set prevSectionBgClass = '' %}
                    <div class="homepage-row">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="homepage-title">{{ 'Explore...'|trans({}, 'frontend-landing-page') }}</div>
                                    <div id="explore-items" class="row popular-items">
                                        {% for imageInfo in attribute(landingPageImages, exloreId) %}
                                            {% set queryParams = searchParams %}
                                            {% set adCount = 0 %}
                                            {% if imageInfo.category_id is defined %}
                                                {% set queryParams = queryParams|merge({'item__category_id': (imageInfo.category_id)}) %}
                                                {% if adCounts.a_parent_category_lvl_2_id_i is defined and attribute(adCounts.a_parent_category_lvl_2_id_i, imageInfo.category_id) is defined %}
                                                    {% set adCount = attribute(adCounts.a_parent_category_lvl_2_id_i, imageInfo.category_id) %}
                                                {% endif %}
                                            {% endif %}
                                            {% set listurl = container.get('fa_ad.manager.ad_routing').getListingUrl(queryParams) %}
                                            <div class="col-md-8 col-lg-6">
                                                <div class="item-box">
                                                    <a class="tricky-link" href="{{ listurl }}">
                                                        {% if imageInfo.file_name is defined %}
                                                            {{ imageInfo.file_name }}
                                                        {% endif %}
                                                    </a>
                                                    <div class="overlay"></div>
                                                    <div class="popular-graphic">
                                                        {% if imageInfo.overlay_file_name is defined %}
                                                        	{% set imageOverlayUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getLandingImageUrl', [container, imageInfo.overlay_file_name]) %}
                                                            <img class="img-fluid" alt="{{ imageInfo.overlay_file_name }}" src="{{ imageOverlayUrl }}">
                                                        {% endif %}
                                                    </div>
                                                    <div class="explore-price">{{ adCount|number_format }}</div>
                                                    {% if imageInfo.file_name is defined %}
                                                        {% set imageUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getLandingImageUrl', [container, imageInfo.file_name]) %}
                                                        <img class="img-fluid popular-graphic-img" alt="{{ imageInfo.file_name }}" src="{{ imageUrl }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            {% endif %}

            {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ANIMALS_ID') %}
                {% set petsCircleClass = fetch_repository('FaEntityBundle:Category').getLandingPagePetsCircleClassArray() %}
                <div class="homepage-row">
                    <div>
                        <div class="homepage-title">{{ 'Pets'|trans({}, 'frontend-landing-page') }}</div>
                    </div>
                    <div class="container">
                        <div class="row mt20 mb20">
                            <div class="col-md-24">
                                <div class="d-flex justify-content-center f-width">
                                    <ul class="landing-pet-circles center-grid-list">
                                    {% for pet_id, class in petsCircleClass %}
                                        {% set queryParams = searchParams|merge({'item__category_id': pet_id}) %}
                                        {% set listurl = container.get('fa_ad.manager.ad_routing').getListingUrl(queryParams) %}
                                        <li>
                                            <a href="{{ listurl }}" class="pets-{{ class }} pets_choice" id="pets_choice_{{ pet_id }}">{{ class }}</a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% set animal_horses_and_euestion_id = constant('Fa\\Bundle\\ContentBundle\\Repository\\LandingPageInfoRepository::ANIMAL_HORSES_AND_EUESTION')%}
                {% if attribute(landingPageImages, animal_horses_and_euestion_id) is defined %}
                    {% set prevSectionBgClass = 'white-bg' %}
                    <div class="homepage-row white-bg">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="homepage-title">{{ 'Horses & equestion'|trans({}, 'frontend-landing-page') }}</div>
                                    <div id="explore-items" class="row popular-items">
                                    {% for imageInfo in attribute(landingPageImages, animal_horses_and_euestion_id) %}
                                        {% set queryParams = searchParams %}
                                        {% set adCount = 0 %}
                                        {% if imageInfo.category_id is defined %}
                                            {% set queryParams = queryParams|merge({'item__category_id': (imageInfo.category_id)}) %}
                                            {% if imageInfo.category_id ==  constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::HORSE_SUPPLIES_AND_ACCESSORIES') %}
                                                {% if adCounts.a_parent_category_lvl_3_id_i is defined and attribute(adCounts.a_parent_category_lvl_3_id_i, imageInfo.category_id) is defined %}
                                                    {% set adCount = attribute(adCounts.a_parent_category_lvl_3_id_i, imageInfo.category_id) %}
                                                {% endif %}
                                            {% else %}
                                                {% if adCounts.a_category_id_i is defined and attribute(adCounts.a_category_id_i, imageInfo.category_id) is defined %}
                                                    {% set adCount = attribute(adCounts.a_category_id_i, imageInfo.category_id) %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        {% set listurl = container.get('fa_ad.manager.ad_routing').getListingUrl(queryParams) %}
                                        <div class="col-md-8 col-lg-6">
                                            <div class="item-box">
                                                <a class="tricky-link" href="{{ listurl }}">
                                                    {% if imageInfo.file_name is defined %}
                                                        {{ imageInfo.file_name }}
                                                    {% endif %}
                                                </a>
                                                <div class="overlay"></div>
                                                <div class="popular-graphic">
                                                    {% if imageInfo.overlay_file_name is defined %}
                                                        {% set imageOverlayUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getLandingImageUrl', [container, imageInfo.overlay_file_name]) %}
                                                        <img class="img-fluid" alt="{{ imageInfo.overlay_file_name }}" src="{{ imageOverlayUrl }}">
                                                    {% endif %}
                                                </div>
                                                <div class="explore-price">{{ adCount|number_format }}</div>
                                                {% if imageInfo.file_name is defined %}
                                                    {% set imageUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getLandingImageUrl', [container, imageInfo.file_name]) %}
                                                    <img class="img-fluid popular-graphic-img" alt="{{ imageInfo.file_name }}" src="{{ imageUrl }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% set animal_livestock_id = constant('Fa\\Bundle\\ContentBundle\\Repository\\LandingPageInfoRepository::ANIMAL_LIVESTOCK')%}
                {% if attribute(landingPageImages, animal_livestock_id) is defined %}
                    {% if prevSectionBgClass == '' %}
                        {% set bgColour = 'white-bg' %}
                    {% else %}
                        {% set bgColour = '' %}
                    {% endif %}
                    {% set prevSectionBgClass = bgColour %}
                    <div class="homepage-row {{ bgColour }}">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="homepage-title">{{ 'Livestock'|trans({}, 'frontend-landing-page') }}</div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                            {% for imageInfo in attribute(landingPageImages, animal_livestock_id) %}
                                {% set queryParams = searchParams %}
                                {% set adCount = 0 %}
                                {% if imageInfo.category_id is defined %}
                                    {% set queryParams = queryParams|merge({'item__category_id': (imageInfo.category_id)}) %}
                                    {% if imageInfo.category_id ==  constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::LIVESTOCK') %}
                                        {% if adCounts.a_parent_category_lvl_2_id_i is defined and attribute(adCounts.a_parent_category_lvl_2_id_i, imageInfo.category_id) is defined %}
                                            {% set adCount = attribute(adCounts.a_parent_category_lvl_2_id_i, imageInfo.category_id) %}
                                        {% endif %}
                                    {% elseif imageInfo.category_id ==  constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::LIVESTOCK_SUPPLIES') %}
                                        {% if adCounts.a_parent_category_lvl_3_id_i is defined and attribute(adCounts.a_parent_category_lvl_3_id_i, imageInfo.category_id) is defined %}
                                            {% set adCount = attribute(adCounts.a_parent_category_lvl_3_id_i, imageInfo.category_id) %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% set listurl = container.get('fa_ad.manager.ad_routing').getListingUrl(queryParams) %}
                                <div class="col-md-10 col-lg-8 col">
                                    <div class="homepage-more-items">
                                        <a class="tricky-link" href="{{ listurl }}">
                                            {% if imageInfo.file_name is defined %}
                                                {{ imageInfo.file_name }}
                                            {% endif %}
                                        </a>
                                        <div class="explore-price">{{ adCount|number_format }}</div>
                                        {% if imageInfo.file_name is defined %}
                                            {% set imageUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getLandingImageUrl', [container, imageInfo.file_name]) %}
                                            <img class="img-fluid popular-graphic-img" alt="{{ imageInfo.file_name }}" src="{{ imageUrl }}">
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') %}
                <div class="homepage-row" id="adult_landing_page_main_div">
                    {% use "FaContentBundle:LandingPage:adultSearchForm.html.twig" %}
                    {{ block('adultSearchForm_html') }}
                </div>
                <div class="homepage-row white-bg {% if popularShops is defined and popularShops|length %}pb0{% endif %}">
                    {% set zoneId = constant('Fa\\Bundle\\ContentBundle\\Repository\\BannerZoneRepository::ZONE_LANDING_PAGE_DESKTOP') %}
                    {% if currentDevice == 'M' %}
                        {% set zoneId = constant('Fa\\Bundle\\ContentBundle\\Repository\\BannerZoneRepository::ZONE_LANDING_PAGE_MOBILE') %}
                    {% endif %}
                    {{ include('FaContentBundle:Banner:show.html.twig', {'zone_id': zoneId}) }}
                </div>
            {% endif %}

            {% if categoryId is defined and (categoryId in {0: constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::FOR_SALE_ID'), 1: constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID')}) %}
                {% if popularShops is defined and popularShops|length %}
                    {% set bgColour = 'white-bg' %}
                    {% set prevSectionBgClass = bgColour %}
                    <div class="homepage-row {{ bgColour }}">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="homepage-title">
                                        {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') %}
                                            {{'Featured Business'|trans({}, 'frontend-landing-page')}}
                                        {% else %}
                                            {{'Popular shops'|trans({}, 'frontend-landing-page')}}
                                        {% endif %}
                                    </div>
                                    <div class="owl-carousel owl-theme fa-slider" id="popular_shops_slider" data-equalizer>
                                        {% set userRepository = fetch_repository('FaUserBundle:User') %}
                                        {% for popularShop in popularShops %}
                                            {% set adUserId = popularShop['id'] %}
                                            {% set shopName = popularShop['shop_name'] %}
                                            {% set profilePageUrl = container.get('fa_ad.manager.ad_routing').getProfilePageUrl(adUserId) %}
                                            <div class="item" data-equalizer-watch>
                                                {% set userLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogoByUserId', [fetch_container_instance(), adUserId, true, true]) %}
                                                {% set userName = userRepository.getUserProfileName(adUserId, container)~' - Friday-Ad' %}
                                                <a href="{{ profilePageUrl }}">
                                                    <div class="card custom-card">
                                                        <div style="padding:20px;" class="border-botttom">
                                                            {% if userLogo %}
                                                                <img class="card-img-top img-fluid" src="{{ userLogo }}" alt="{{ userName }}" />
                                                            {% else %}
                                                                <img class="card-img-top img-fluid" src="{{ asset_url('fafrontend/images/no-image-grey.svg') }}" alt="{{ userName }}" />
                                                            {% endif %}
                                                        </div>
                                                        <div class="card-body pt0">
                                                            <div class="card-title s-h3">
                                                                {{ shopName }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if latestAds|length %}
                {% set bgColour = '' %}
                {% set smallSlider = '' %}
                {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::FOR_SALE_ID') or categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ANIMALS_ID') or categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::JOBS_ID') %}
                    {% set bgColour = 'white-bg' %}
                {% endif %}
                {% if categoryId != constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::MOTORS_ID') %}
                    {% set smallSlider = 'other-latest-items' %}
                {% endif %}
                {% set prevSectionBgClass = bgColour %}
                <div class="homepage-row {{ smallSlider }} {{ bgColour }}">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="homepage-title">
                                    {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::JOBS_ID') %}
                                        {{'Jobs of the week'|trans({}, 'frontend-landing-page')}}
                                    {% else %}
                                        {{'Latest ads'|trans({}, 'frontend-landing-page')}}
                                    {% endif %}
                                </div>
                                {{ include('FaContentBundle:LandingPage:latestAdsSlider.html.twig', {'divId': 'latest-item-slider'}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-24">
                                <div class="col-md-8 offset-md-8 mt20">
                                    {% set listurl = container.get('fa_ad.manager.ad_routing').getListingUrl(searchParams) %}
                                    <a href="{{ listurl }}" class="secondary-btn-1 btn btn-block landing-search-btn">{{'Discover more'|trans({}, 'frontend-landing-page')}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if categoryId is defined and (categoryId in {0: constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID')}) %}
                {% if prevSectionBgClass == '' %}
                    {% set bgColour = 'white-bg' %}
                {% else %}
                    {% set bgColour = '' %}
                {% endif %}
                {% set prevSectionBgClass = bgColour %}
                <div class="homepage-row {{ bgColour }}">
                    <div class="row">
                        <div class="columns">
                            {% cache 'landing|page|location|block|'~categoryId~currentDevice 3600 %}
                                {{ render(controller('FaContentBundle:LandingPage:showLandingPageLocationBlocks', {'searchParams': searchParams})) }}
                            {% endcache %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if mostPopularAds|length %}
                {% if prevSectionBgClass == '' %}
                    {% set bgColour = 'white-bg' %}
                {% else %}
                    {% set bgColour = '' %}
                {% endif %}
                {% set prevSectionBgClass = bgColour %}
                <div class="homepage-row {{ bgColour }}">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="homepage-title">{{'Most popular'|trans({}, 'frontend-landing-page')}}</div>
                                {{ include('FaContentBundle:LandingPage:mostPopularAdsSlider.html.twig', {'divId': 'most-popular-slider'}) }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::FOR_SALE_ID') %}
                {% set other_ways_id = constant('Fa\\Bundle\\ContentBundle\\Repository\\LandingPageInfoRepository::FOR_SALE_OTHER_WAYS_ID')%}
                {% if attribute(landingPageImages, other_ways_id) is defined %}
                    {% if prevSectionBgClass == '' %}
                        {% set bgColour = 'white-bg' %}
                    {% else %}
                        {% set bgColour = '' %}
                    {% endif %}
                    {% set prevSectionBgClass = bgColour %}
                    <div class="homepage-row {{ bgColour }}">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="homepage-title">{{ 'Other ways to shop...'|trans({}, 'frontend-landing-page') }}</div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                {% for imageInfo in attribute(landingPageImages, other_ways_id) %}
                                    {% set queryParams = searchParams %}
                                    {% set adCount = 0 %}
                                    {% if imageInfo.category_id is defined %}
                                        {% set queryParams = queryParams|merge({'item__category_id': (imageInfo.category_id)}) %}
                                        {% if adCounts.a_category_id_i is defined and attribute(adCounts.a_category_id_i, imageInfo.category_id) is defined %}
                                            {% set adCount = attribute(adCounts.a_category_id_i, imageInfo.category_id) %}
                                        {% endif %}
                                    {% endif %}
                                    {% if imageInfo.ad_type_id is defined %}
                                        {% set queryParams = queryParams|merge({'item__ad_type_id': (imageInfo.ad_type_id)}) %}
                                        {% if adCounts.a_type_id_i is defined and attribute(adCounts.a_type_id_i, imageInfo.ad_type_id) is defined %}
                                            {% set adCount = attribute(adCounts.a_type_id_i, imageInfo.ad_type_id) %}
                                        {% endif %}
                                    {% endif %}
                                    {% set listurl = container.get('fa_ad.manager.ad_routing').getListingUrl(queryParams) %}
                                    <div class="col-md-10 col-lg-6 col">
                                        <div class="homepage-more-items">
                                            <a class="tricky-link" href="{{ listurl }}">
                                                {% if imageInfo.file_name is defined %}
                                                    {{ imageInfo.file_name }}
                                                {% endif %}
                                            </a>
                                            <div class="explore-price">{{ adCount|number_format }}</div>
                                            {% if imageInfo.file_name is defined %}
                                                {% set imageUrl = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getLandingImageUrl', [container, imageInfo.file_name]) %}
                                                <img class="img-fluid popular-graphic-img" alt="{{ imageInfo.file_name }}" src="{{ imageUrl }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

    {% endif %}

    {% if popularSearches is defined and popularSearches|length and categoryId in {0: constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::FOR_SALE_ID'), 1: constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::PROPERTY_ID'), 2: constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ANIMALS_ID'), 3: constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID')} %}
        {% if prevSectionBgClass == '' %}
            {% set bgColour = 'white-bg' %}
        {% else %}
            {% set bgColour = '' %}
        {% endif %}
        {% set prevSectionBgClass = bgColour %}
        {{ include('FaContentBundle:LandingPage:popularSearches.html.twig') }}
    {% endif %}
    
    {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::FOR_SALE_ID') and (popularSearches is not defined or popularSearches|length == 0) %}
        {% if prevSectionBgClass == '' %}
            {% set bgColour = 'white-bg' %}
        {% else %}
            {% set bgColour = '' %}
        {% endif %}
        {% set prevSectionBgClass = bgColour %}
        <div class="homepage-row {{ bgColour }}">
            <div class="container">
                <div class="row">
                    <div class="col list-location-box">
                        <div class="homepage-title">{{ 'Popular searches'|trans({}, 'frontend-landing-page') }}</div>
                        {% set staticPageLocationSlug = 'uk' %}
                        {% if location_slug is defined and location_slug is not null %}
                            {% set staticPageLocationSlug = location_slug %}
                        {% endif %}
                        {% set staticPageUrls = fetch_repository('FaContentBundle:SeoTool').getLandingPageStaticPageUrlArray('for-sale', container, staticPageLocationSlug) %}
                        {% set totalChoices = staticPageUrls|length %}
                        {% set totalColumns = 4 %}
                        {% set choicesPerColumn = (totalChoices / totalColumns)|round(0, 'floor') %}
                        {% set choiceCount = 0 %}
                        {% for linkText, linkUrl in staticPageUrls %}
                            {% if choiceCount == 0 or (choiceCount % choicesPerColumn) == 0 %}
                            <ul class="link-list">
                            {% endif %}
                                <li><a href="{{ linkUrl }}">{{ linkText }}</a></li>
                                {% set choiceCount = choiceCount + 1 %}
                            {% if choiceCount == totalChoices or (choiceCount % choicesPerColumn) == 0 %}
                            </ul>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {#{% if location is defined and location is not null and adsNearYou is defined and adsNearYou|length %}
        {% if prevSectionBgClass == '' %}
            {% set bgColour = 'white-bg' %}
            {% set mapBgColour = 'near-items2' %}
        {% else %}
            {% set bgColour = '' %}
            {% set mapBgColour = 'near-items1' %}
        {% endif %}
        {% set prevSectionBgClass = bgColour %}
        {% use "FaContentBundle:LandingPage:adsNearYou.html.twig" %}
        {{ block('adsNearYou_html') }}
    {% endif %}#}

    {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::MOTORS_ID') %}
        {% if topCarMakes is defined and topCarMakes|length %}
            {% if prevSectionBgClass == '' %}
                {% set bgColour = 'white-bg' %}
            {% else %}
                {% set bgColour = '' %}
            {% endif %}
            {% set prevSectionBgClass = bgColour %}
            <div class="homepage-row  {{ bgColour }}">
                <div class="container">
                    <div class="row">
                        <div class="col list-location-box">
                            {% if location is defined and location is not null %}
                                <div class="homepage-title">{{ 'Browse used cars in %location%'|trans({'%location%': (location_text)}, 'frontend-landing-page') }}</div>
                            {% else %}
                                <div class="homepage-title">{{ 'Browse used cars'|trans({}, 'frontend-landing-page') }}</div>
                            {% endif %}
                            {% set totalChoices = topCarMakes|length %}
                            {% set totalColumns = 4 %}
                            {% set choicesPerColumn = (totalChoices / totalColumns)|round(0, 'ceil') %}
                            {% set choiceCount = 0 %}
                            <ul class="link-list">
                                {% for catId, adCount in topCarMakes %}
                                    {% set queryParams = searchParams %}
                                    {% set queryParams = queryParams|merge({'item__category_id': (catId)}) %}
                                    {% set listurl     = container.get('fa_ad.manager.ad_routing').getListingUrl(queryParams) %}
                                    {% if choiceCount == 0 or (choiceCount % choicesPerColumn) == 0 %}

                                    {% endif %}
                                    <li>
                                        <a href="{{ listurl }}">{{ fa_entity_cache_manager.getEntityNameById('FaEntityBundle:Category', catId) }}</a>
                                    </li>
                                    {% set choiceCount = choiceCount + 1 %}
                                    {% if choiceCount == totalChoices or (choiceCount % choicesPerColumn) == 0 %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% set staticPageUrls = fetch_repository('FaContentBundle:LandingPagePopularSearch').getPopularSearchArrayByLandingPageId(landingPage.getId(), container) %}
                    {% if staticPageUrls|length %}
                        <div class="row">
                            <div class="col list-location-box">
                                    {% set staticPageLocationSlug = 'uk' %}
                                    {% if location_slug is defined and location_slug is not null %}
                                        {% set staticPageLocationSlug = location_slug %}
                                    {% endif %}

                                    {% set columns = 4 %}
                                    {% set ctr = 0 %}
                                    {% set totalItems = staticPageUrls|length %}
                                    {% set itemsPerCol = (totalItems/columns)|round(0, 'floor') %}
                                    {% set extraColumn = (totalItems % columns) %}
                                    {% set colCounter = {} %}
                                    {% for i in 0..columns-1 %}
                                        {% if loop.index0 < extraColumn %}
                                            {% set colCounter = colCounter|merge({0: itemsPerCol + 1}) %}
                                        {% else  %}
                                            {% set colCounter = colCounter|merge({0: itemsPerCol}) %}
                                        {% endif %}
                                    {% endfor %}

                                    {% for i in 0..columns-1 %}
                                        <ul class="link-list">
                                            {% for k in 0..colCounter[i]-1 %}
                                                {% if staticPageUrls[ctr] is defined %}
                                                    <li><a href="{{ replace_case_insensitive('{Location}', staticPageLocationSlug, staticPageUrls[ctr]['url']) }}">{{ staticPageUrls[ctr]['title'] }}</a></li>
                                                {% endif %}
                                                {% set ctr = ctr + 1 %}
                                            {% endfor %}
                                        </ul>
                                    {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::JOBS_ID') %}
        {% if browseByCategorySort is defined and browseByCategorySort|length %}
            {% if prevSectionBgClass == '' %}
                {% set bgColour = 'white-bg' %}
            {% else %}
                {% set bgColour = '' %}
            {% endif %}
            {% set prevSectionBgClass = bgColour %}
            <div class="homepage-row {{ bgColour }}">
                <div class="container">
                    <div class="row">
                        <div class="col list-location-box">
                            {% if location is defined and location is not null %}
                                <div class="homepage-title">{{ 'Browse by category in %location%'|trans({'%location%': (location_text)}, 'frontend-landing-page') }}</div>
                            {% else %}
                                <div class="homepage-title">{{ 'Browse by category'|trans({}, 'frontend-landing-page') }}</div>
                            {% endif %}
                            {% set columns = 4 %}
                            {% set ctr = 0 %}
                            {% set totalItems = browseByCategorySort|length %}
                            {% set itemsPerCol = (totalItems/columns)|round(0, 'floor') %}
                            {% set extraColumn = (totalItems % columns) %}
                            {% set colCounter = {} %}
                            {% for i in 0..columns-1 %}
                                {% if loop.index0 < extraColumn %}
                                    {% set colCounter = colCounter|merge({0: itemsPerCol + 1}) %}
                                {% else  %}
                                    {% set colCounter = colCounter|merge({0: itemsPerCol}) %}
                                {% endif %}
                            {% endfor %}
                            <ul class="link-list jobs-link-list">
                                {% for i in 0..columns-1 %}
                                    {% for k in 0..colCounter[i]-1 %}
                                        {% if browseByCategorySort[ctr] is defined %}
                                            {% set queryParams = searchParams %}
                                            {% set queryParams = queryParams|merge({'item__category_id': (browseByCategorySort[ctr]['id'])}) %}
                                            {% set listurl     = container.get('fa_ad.manager.ad_routing').getListingUrl(queryParams) %}
                                            <li>
                                                <a href="{{ listurl }}">{{ browseByCategorySort[ctr]['name'] }} ({{browseByCategorySort[ctr]['count']}})</a>
                                            </li>
                                        {% endif %}
                                        {% set ctr = ctr + 1 %}
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block scriptbottom %}
{{ include('FaCoreBundle:Default:blockJs.html.twig') }}
<script type="text/javascript" src="{{ asset_url('fafrontend/js/parallax.min.js') }}"></script>

{% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
{% set currentDevice = 'D' %}
{% if mobileDetectManager.isMobile() and not mobileDetectManager.isTablet() %}
    {% set currentDevice = 'M' %}
{% elseif mobileDetectManager.isMobile() and mobileDetectManager.isTablet() %}
    {% set currentDevice = 'T' %}
{% endif %}
{% if mobileDetectManager.is('IE') %}
    <script type="text/javascript" src="{{ asset_url('fafrontend/js/scroll.js') }}"></script>
    <script type="text/javascript" src="{{ asset_url('fafrontend/js/TweenMax.min.js') }}"></script>
{% endif %}

{% if categoryId is defined and categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::MOTORS_ID') %}
    {{ block('carSearchForm_script') }}
{% elseif categoryId is defined and categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::PROPERTY_ID') %}
    {{ block('propertySearchForm_script') }}
{% elseif categoryId is defined and categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::JOBS_ID') %}
    {{ block('jobsSearchForm_script') }}
{% elseif categoryId is defined and categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') %}
    {{ block('adultSearchForm_script') }}
{% endif %}

{#{% if location is defined and location is not null and adsNearYou is defined and adsNearYou|length %}
    {% set adsnearyouscript = block('adsnearyou_script') is defined ? block('adsnearyou_script') : '' %}
    {{ adsnearyouscript }}
{% endif %}#}

<script language="javascript" type="text/javascript">
//<![CDATA[
    {% if mobileDetectManager.is('IE') %}
        $(function(){
            var $window = $(window);
            var scrollTime = 1.2;
            var scrollDistance = 250;
            $window.on("mousewheel DOMMouseScroll", function(event){
                event.preventDefault();
                var delta = event.originalEvent.wheelDelta/120 || -event.originalEvent.detail/3;
                var scrollTop = $window.scrollTop();
                var finalScroll = scrollTop - parseInt(delta*scrollDistance);
                TweenMax.to($window, scrollTime, {
                    scrollTo : { y: finalScroll, autoKill:true },
                        ease: Power1.easeOut,
                        overwrite: 1
                });
            });
        });
    {% endif %}
    $(document).ready(function(){
        var latestItemSlider = $("#latest-item-slider");
        latestItemSlider.owlCarousel({
            items : 4,
            itemsCustom:[[320, 1], [568, 2], [768, 3], [1024, 4]],
            navigation: true,
            pagination:false,
            responsiveRefreshRate : 100,
            navigationText: ['<img src="{{ asset_url('fafrontend/images/small-slider-prev.svg') }}" alt="" />', '<img src="{{ asset_url('fafrontend/images/small-slider-next.svg') }}" alt="" />'],
            lazyLoad: true,
            scrollPerPage: true,
        });

        var mostPopularSlider = $("#most-popular-slider");
        mostPopularSlider.owlCarousel({
            items : 6,
            itemsCustom:[[320, 1], [568, 3], [768, 4], [1024, 5], [1151, 6]],
            navigation: true,
            pagination:false,
            responsiveRefreshRate : 100,
            navigationText: ['<img src="{{ asset_url('fafrontend/images/small-slider-prev.svg') }}" alt="" />', '<img src="{{ asset_url('fafrontend/images/small-slider-next.svg') }}" alt="" />'],
            lazyLoad: true,
            scrollPerPage: true,
        });

        {% if categoryId is defined and categoryId == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::JOBS_ID') %}
            {% if featuredEmployers is defined and featuredEmployers|length %}
                var featuredEmployerSlider = $("#featured_employers_slider");
                featuredEmployerSlider.owlCarousel({
                    items : 4,
                    itemsCustom:[[320, 1], [568, 2], [768, 3], [1024, 4]],
                    navigation: true,
                    pagination:false,
                    responsiveRefreshRate : 100,
                    navigationText: ['<img src="{{ asset_url('fafrontend/images/small-slider-prev.svg') }}" alt="" />', '<img src="{{ asset_url('fafrontend/images/small-slider-next.svg') }}" alt="" />'],
                    lazyLoad: true,
                    scrollPerPage: true,
                });
                {% endif %}
        {% endif %}

        {% if categoryId is defined and (categoryId in {0: constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::FOR_SALE_ID'), 1: constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID')}) %}
            {% if popularShops is defined and popularShops|length %}
                var popularShopsSlider = $("#popular_shops_slider");
                popularShopsSlider.owlCarousel({
                    items : 4,
                    itemsCustom:[[320, 1], [568, 2], [768, 3], [1024, 4]],
                    navigation: true,
                    pagination:false,
                    responsiveRefreshRate : 100,
                    navigationText: ['<img src="{{ asset_url('fafrontend/images/small-slider-prev.svg') }}" alt="" />', '<img src="{{ asset_url('fafrontend/images/small-slider-next.svg') }}" alt="" />'],
                    lazyLoad: true,
                    scrollPerPage: true,
                });
            {% endif %}
        {% endif %}

        $( window ).scroll(function() {
            if ($("#sticky_nav").hasClass('fixed')) {
                $("#sticky_nav_top").addClass('fixed');
                $("#sticky_nav_top").addClass('top-bar-shadow');
            } else {
                $("#sticky_nav_top").removeClass('fixed');
                $("#sticky_nav_top").removeClass('top-bar-shadow');
            }
        });
        
        // $(document).foundation({
        //     accordion: {
        //         multi_expand: true,
        //         callback : function (accordion) {
        //             accordionCallback(accordion);
        //         }
        //     }
        // });

        function accordionCallback(accordion)
        {
            $(accordion).siblings('a').find('i').toggleClass("fi-plus fi-minus");
            $(accordion).find('select.fa-select').selectmenu().selectmenu('refresh',true);
        }
    });
//]]>
</script>
{% endblock %}

{% block dimension2 %}
<script language="javascript" type="text/javascript">
//<![CDATA[
   {% if app.user.getId() is not defined or app.user.getId() is null %}
    	ga('set', 'dimension9', 'not logged in');
    {% else %}
    	ga('set', 'dimension9', 'logged in');
    {% endif %}
    ga('send', 'pageview', {'dimension1': defLocationText, 'dimension2':  'Category_Homepage'{% if app.request.get('ti_url') %} ,'dimension8': '{{ app.request.get('ti_url') }}' {% endif %}});
//]]>
</script>
{% endblock %}

