{% set container = fetch_container_instance() %}
{% set userRepository = fetch_repository('FaUserBundle:User') %}
{% set paymentRepository = fetch_repository('FaPaymentBundle:Payment') %}
{% set orderDetailValuesArray = array_unserialize(orderDetail['value']) %}
{% set profileName = userRepository.getFullNameFromArray(orderDetail) %}
{% set buyerRole = userRepository.getUserRole(orderDetail['user_id']) %}
{% set sellerRole = userRepository.getUserRole(orderDetail['seller_id']) %}
{% set buyerLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogoByUserId', [fetch_container_instance(), orderDetail['user_id'], null]) %}
{% set sellerLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogoByUserId', [fetch_container_instance(), orderDetail['seller_id'], null]) %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <script src="{{ asset_url('fafrontend/js/vendor/jquery.js') }}"></script>
    <meta charset="utf-8" />
    <title>Receipt</title>
    <link rel="stylesheet" type="text/css" href="{{ static_asset_url('/bundles/fafrontend/css/google-fonts.css') }}" />
    {{ include('FaPaymentBundle:OrderReceipt:orderReceipt-css.html.twig') }}
</head>
<body>
    <div class="lsize">
        <img style="margin: 20px 0 0 0" src="{{ shared_url('/bundles/fafrontend/images/fad-logo-new.svg') }}">
        <div class="receipt-item clearfix">
            <div class="col-1 order-no"><b>Order no.</b> {{ orderDetail['cart_code'] }}</div>
            <div class="col-2 order-no"><b>Order placed</b> {{ staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'formatDate', [orderDetail['created_at'], container]) }}</div>
        </div>
        <div class="receipt-item clearfix">
            <div class="col-1">
                <b>Payment method</b> <br />
                Paid via {{ paymentRepository.getPaymentMethodNameById(constant('Fa\\Bundle\\PaymentBundle\\Repository\\PaymentRepository::PAYMENT_METHOD_PAYPAL_ID'), container) }} <br />
                Paid on {{ staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'formatDate', [orderDetail['created_at'], container]) }}
            </div>
            <div class="col-2">
                <b>Shipping</b>
                <p>Post to:</p>
                <div class="shipping-address">
                {% if orderDetail['delivery_method_id'] !=  constant('Fa\\Bundle\\PaymentBundle\\Repository\\DeliveryMethodOptionRepository::COLLECTION_ONLY_ID') and orderDetailValuesArray['delivery_address_id'] != -1 %}
                    {{ profileName }}<br />
                    {% set orderDeliveryAddressArray = orderDetailValuesArray['delivery_address_info'] %}
                        {% if orderDeliveryAddressArray['street_address'] is defined %}
                            {% if orderDeliveryAddressArray['street_address'] is defined %}
                                {{orderDeliveryAddressArray['street_address']}}&nbsp;
                            {% endif %}
                            {% if orderDeliveryAddressArray['street_address_2'] is defined %}
                                {{orderDeliveryAddressArray['street_address_2']}}, <br />
                            {% endif %}
                            {% if orderDeliveryAddressArray['town_name'] is defined %}
                                {{orderDeliveryAddressArray['town_name']}}, <br />
                            {% endif %}
                            {% if orderDeliveryAddressArray['domicile_name'] is defined %}
                                {{orderDeliveryAddressArray['domicile_name']}}, <br />
                            {% endif %}
                            {% if orderDeliveryAddressArray['zip'] is defined %}
                                {{orderDeliveryAddressArray['zip']}}
                            {% endif %}
                        {% endif %}
                {% else %}
                    {{'Buyer will collect the item.'|trans({}, 'frontend-my-orders')}}
                {% endif %}
                </div>
            </div>
        </div>
        <div class="receipt-item clearfix">
            <div class="col-1">
                <b>Seller</b>
                <div class="clearfix">
                    <div class="user-pro-pic {% if sellerRole == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_SELLER') %}rounded{% endif %}">
                        {{sellerLogo|raw}}
                    </div>
                    <div class="user-name">{{ orderDetail['sender_profile_name'] }}</div>
                </div>
            </div>
            <div class="col-2">
                <b>Buyer</b>
                <div class="clearfix">
                    <div class="user-pro-pic {% if buyerRole == constant('Fa\\Bundle\\UserBundle\\Repository\\RoleRepository::ROLE_SELLER') %}rounded{% endif %}">
                        {{buyerLogo|raw}}
                    </div>
                    <div class="user-name">{{ profileName }}</div>
                </div>
            </div>
        </div>
        <div class="receipt-item clearfix">
            <div><b>Order</b></div>
            <div class="col-1">
                {{ orderDetail['title'] }}<br />
                 {% set productPrice = orderDetail['amount'] %}
                {% if orderDetailValuesArray['postage_price'] is defined %}
                    {% set productPrice = orderDetail['amount'] - orderDetailValuesArray['postage_price'] %}
                    Postage cost<br />
                {% endif %}
                Total
            </div>
            <div class="col-2">
                {{ format_currency(productPrice) }}<br />
                {% if orderDetailValuesArray['postage_price'] is defined %}
                    {{ format_currency(orderDetailValuesArray['postage_price']) }}<br />
                {% endif %}
                <b>{{ format_currency(orderDetail['amount']) }}</b>
            </div>
        </div>
    </div>
</body>
</html>
<script language="javascript" type="text/javascript">
//<![CDATA[
$(window).load(function()
{
   var action = "{{action}}"

   if (action == "viewandprint") {
    window.print();
   }
});
//]]>
</script>