{% if externalSiteBlogDetails|length %}
    <div class="homepage-row">
        <div class="row">
            <div class="columns">
                <div class="homepage-title">{{'Latest from the blog'|trans({}, 'frontend-homepage')}}</div>
            </div>
            <div class="blog-block medium-20 medium-offset-2 large-16 large-offset-4 columns">
                {% for externalSiteBlogDetail in externalSiteBlogDetails %}
                    <div class="medium-12 columns">
                        <div class="blog-item-block">
                            <div class="blog-item active" style="cursor:pointer">
                            <a href="{{ externalSiteBlogDetail['link'] }}">
                                <div class="list-img">
                                    <img src="{{ externalSiteBlogDetail['mediaUrl'] }}" class="lazyOwl">
                                </div>
                                <div class="blog-cont">
                                    <div class="list-title">{{ externalSiteBlogDetail['title'] }}</div>
                                    <div class="list-author-pub-date">by {{ externalSiteBlogDetail['author']|title }} - {{ externalSiteBlogDetail['publishdate']|date("d M, Y") }}</div>
                                </div>
                                </a>
                            </div>
                            <div class="text-center"><a href="{{ externalSiteBlogDetail['siteurl'] }}" class="secondary-btn-1 thin-btn button ga-ahpBlogLatest">{{ externalSiteBlogDetail['buttonLabel'] }}</a></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}