<div class="row">
    <div class="large-18 column">
        <div class="row">
            owl-carousel
            <div class="owl-carousel fa-slider">
{#                {% set userRepository = fetch_repository('FaUserBundle:User') %}#}
{#                {% for popularShop in popularShops %}#}
{#                    {% set adUserId = popularShop['id'] %}#}
{#                    {% set shopName = popularShop['shop_name'] %}#}
{#                    {% set profilePageUrl = container.get('fa_ad.manager.ad_routing').getProfilePageUrl(adUserId) %}#}
{#                    <div class="item" data-equalizer-watch>#}
{#                        <a class="tricky-link" href="{{ profilePageUrl }}">{{ shopName }}</a>#}
{#                        {% set userLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogoByUserId', [fetch_container_instance(), adUserId, true, true]) %}#}
{#                        {% set userName = userRepository.getUserProfileName(adUserId, container)~' - Friday-Ad' %}#}
{#                        <div class="list-img">#}
{#                            {% if userLogo %}#}
{#                                <img class="lazyOwl" data-src="{{ userLogo }}" alt="{{ userName }}" />#}
{#                            {% else %}#}
{#                                <img class="lazyOwl" data-src="{{ asset_url('fafrontend/images/no-image-grey.svg') }}" alt="{{ userName }}" />#}
{#                            {% endif %}#}
{#                        </div>#}
{#                        <h3>#}
{#                            {{ shopName }}#}
{#                        </h3>#}
{#                    </div>#}
{#                {% endfor %}#}
            </div>
        </div>
        <div class="row">
            <div class="large-8 columns">
                <div class="item-box">
                    <a class="tricky-link" href="/uk/motors/commercial-vehicles/">
                        uploads/landingpage/5e85b956878de.jpeg
                    </a>
                    <div class="overlay"></div>
                    <div class="popular-graphic">
                        <img alt="uploads/landingpage/5551915d191c7.svg" src="https://fmtinew.friday-ad.co.uk/uploads/landingpage/5551915d191c7.svg">
                    </div>
                    <div class="explore-price">9,807</div>
                    <img alt="uploads/landingpage/5e85b956878de.jpeg" src="http://fadtest-images.friday-ad.co.uk/uploads/landingpage/5e85b956878de.jpeg">
                </div>
            </div>
            <div class="large-8 columns">
                <div class="item-box">
                    <a class="tricky-link" href="/uk/motors/motorbikes/">
                        uploads/landingpage/55c0ba8b26ea6.jpeg
                    </a>
                    <div class="overlay"></div>
                    <div class="popular-graphic">
                        <img alt="uploads/landingpage/5551915d1a199.svg" src="https://fmtinew.friday-ad.co.uk/uploads/landingpage/5551915d1a199.svg">
                    </div>
                    <div class="explore-price">17,619</div>
                    <img alt="uploads/landingpage/55c0ba8b26ea6.jpeg" src="https://fmtinew.friday-ad.co.uk/uploads/landingpage/55c0ba8b26ea6.jpeg">
                </div>
            </div>
            <div class="large-8 columns">
                <div class="item-box">
                    <a class="tricky-link" href="/uk/motors/motorhomes-caravans/">
                        uploads/landingpage/55c0ba8b299e3.jpeg
                    </a>
                    <div class="overlay"></div>
                    <div class="popular-graphic">
                        <img alt="uploads/landingpage/5551915d1b206.svg" src="https://fmtinew.friday-ad.co.uk/uploads/landingpage/5551915d1b206.svg">
                    </div>
                    <div class="explore-price">14,822</div>
                    <img alt="uploads/landingpage/55c0ba8b299e3.jpeg" src="https://fmtinew.friday-ad.co.uk/uploads/landingpage/55c0ba8b299e3.jpeg">
                </div>
            </div>
            <div class="large-8 columns">
                <div class="item-box">
                    <a class="tricky-link" href="/uk/motors/boats/">
                        uploads/landingpage/55c0ba8b2c881.jpeg
                    </a>
                    <div class="overlay"></div>
                    <div class="popular-graphic">
                        <img alt="uploads/landingpage/5551915d1c1fd.svg" src="https://fmtinew.friday-ad.co.uk/uploads/landingpage/5551915d1c1fd.svg">
                    </div>
                    <div class="explore-price">6,866</div>
                    <img alt="uploads/landingpage/55c0ba8b2c881.jpeg" src="https://fmtinew.friday-ad.co.uk/uploads/landingpage/55c0ba8b2c881.jpeg">
                </div>
            </div>
            <div class="large-8 columns">
                <div class="item-box">
                    <a class="tricky-link" href="/uk/motors/farm/">
                        uploads/landingpage/55c0ba8b2fb07.jpeg
                    </a>
                    <div class="overlay"></div>
                    <div class="popular-graphic">
                        <img alt="uploads/landingpage/5551915d1d18b.svg" src="https://fmtinew.friday-ad.co.uk/uploads/landingpage/5551915d1d18b.svg">
                    </div>
                    <div class="explore-price">32</div>
                    <img alt="uploads/landingpage/55c0ba8b2fb07.jpeg" src="https://fmtinew.friday-ad.co.uk/uploads/landingpage/55c0ba8b2fb07.jpeg">
                </div>
            </div>
            <div class="large-8 columns">
                <div class="item-box">
                    <a class="tricky-link" href="/uk/motors/horseboxes-trailers/">
                        uploads/landingpage/55c0ba8b32773.jpeg
                    </a>
                    <div class="overlay"></div>
                    <div class="popular-graphic">
                        <img alt="uploads/landingpage/5551915d1e14a.svg" src="https://fmtinew.friday-ad.co.uk/uploads/landingpage/5551915d1e14a.svg">
                    </div>
                    <div class="explore-price">54</div>
                    <img alt="uploads/landingpage/55c0ba8b32773.jpeg" src="https://fmtinew.friday-ad.co.uk/uploads/landingpage/55c0ba8b32773.jpeg">
                </div>
            </div>
        </div>
    </div>
    <div class="large-6 column">
        <div class="item-box">
            <a class="tricky-link" href="/uk/motors/commercial-vehicles/">
                uploads/landingpage/5e85b956878de.jpeg
            </a>
            <div class="overlay"></div>
            <div class="popular-graphic">
                <img alt="uploads/landingpage/5551915d191c7.svg" src="https://fmtinew.friday-ad.co.uk/uploads/landingpage/5551915d191c7.svg">
            </div>
            <div class="explore-price">9,807</div>
            <img alt="uploads/landingpage/5e85b956878de.jpeg" src="http://fadtest-images.friday-ad.co.uk/uploads/landingpage/5e85b956878de.jpeg">
        </div>
        <div class="item-box">
            <a class="tricky-link" href="/uk/motors/commercial-vehicles/">
                uploads/landingpage/5e85b956878de.jpeg
            </a>
            <div class="overlay"></div>
            <div class="popular-graphic">
                <img alt="uploads/landingpage/5551915d191c7.svg" src="https://fmtinew.friday-ad.co.uk/uploads/landingpage/5551915d191c7.svg">
            </div>
            <div class="explore-price">9,807</div>
            <img alt="uploads/landingpage/5e85b956878de.jpeg" src="http://fadtest-images.friday-ad.co.uk/uploads/landingpage/5e85b956878de.jpeg">
        </div>
    </div>
</div>