<div class="blog-block row justify-content-center">
 	{% for externalSiteBlogDetail in externalSiteBlogDetails %}
        <div class="col-24 col-md-10 col-lg-8 mb20">
            <div class="blog-item-block">           	
                <div class="blog-item active" style="cursor:pointer">
                <a href="{{ externalSiteBlogDetail['link'] }}">
                    <div class="list-img">
                        <img src="{{ externalSiteBlogDetail['mediaUrl'] }}" class="lazyOwl img-fluid">
                    </div>
                    <div class="blog-cont">
                        <div class="list-title">{{ externalSiteBlogDetail['title'] }}</div>
                        <div class="list-author-pub-date">by {{ externalSiteBlogDetail['author']|title }} - {{ externalSiteBlogDetail['publishdate']|date("d M, Y") }}</div>
                    </div>
                    </a>
                </div>
                <div class="text-center"><a href="{{ externalSiteBlogDetail['siteurl'] }}" class="secondary-btn-1 thin-btn btn ga-ahpBlogLatest">{{ externalSiteBlogDetail['buttonLabel'] }}</a></div>
            </div>
        </div>
    {% endfor %}
</div>