{% extends 'FaFrontendBundle::layout.html.twig' %}

{% set container = fetch_container_instance() %}
{% set seoManager = container.get('fa.seo.manager') %}
{% set categoryRepository = fetch_repository('FaEntityBundle:Category') %}
{% set adRepository = fetch_repository('FaAdBundle:Ad') %}
{% set adPropertyRepository = fetch_repository('FaAdBundle:AdProperty') %}
{% set adForSaleRepository = fetch_repository('FaAdBundle:AdForSale') %}
{% set seoToolRepository = fetch_repository('FaContentBundle:SeoTool') %}
{% set seoPageRule = {} %}
{% set seoPageRules = seoToolRepository.getSeoRulesKeyValueArray(constant('Fa\\Bundle\\ContentBundle\\Repository\\SeoToolRepository::HOME_PAGE'), container) %}
{% if seoPageRules[constant('Fa\\Bundle\\ContentBundle\\Repository\\SeoToolRepository::HOME_PAGE')~'_global'] is defined and seoPageRules[constant('Fa\\Bundle\\ContentBundle\\Repository\\SeoToolRepository::HOME_PAGE')~'_global']|length %}
    {% set seoPageRule = seoPageRules[constant('Fa\\Bundle\\ContentBundle\\Repository\\SeoToolRepository::HOME_PAGE')~'_global'] %}
{% endif %}
{% if seoPageRule|length %}
    {% set seoFields = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getSeoFields', [seoPageRule]) %}
{% endif %}

{% block page_title %}
    {% if seoFields.page_title is defined %}
        {{ seoManager.parseSeoString(seoFields.page_title, {'{location}': seoLocationName}) }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if seoFields.meta_description is defined %}
        {{ seoManager.parseSeoString(seoFields.meta_description, {'{location}': seoLocationName}) }}
    {% endif %}
{% endblock %}

{% block canonical_url %}
    {{ app.request.uri|replace({('?'~app.request.queryString) : ''}) }}
{% endblock %}

{% block meta_keywords %}
    {% if seoFields.meta_keywords is defined %}
        {{ seoManager.parseSeoString(seoFields.meta_keywords, {'{location}': seoLocationName}) }}
    {% endif %}
{% endblock %}
{% block scripttop %}
    {{ include('FaFrontendBundle:Default:home-css.html.twig') }}
{% endblock %}

{% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
{% set currentDevice = 'D' %}
{% if mobileDetectManager.isMobile() and not mobileDetectManager.isTablet() %}
    {% set currentDevice = 'M' %}
{% elseif mobileDetectManager.isMobile() and mobileDetectManager.isTablet() %}
    {% set currentDevice = 'T' %}
{% endif %}
    
{% block body %}
    <div class="{% if currentRoute in {0: 'fa_frontend_homepage', 1: 'location_home_page'} %}homepage-hero{% endif %}">
        <div class="hero-img">
            {{ render(controller('FaAdBundle:AdList:topSearch', { 'searchParams': searchParams is defined ? searchParams : {}, 'isHomeSearch': true } )) }}
            <div class="parallax-window" id="header_image_div"></div>
        </div>
    </div>

    <div class="advance-search" style="background-color: #313133;padding-bottom: 35px;">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}
            <div class="row">
                <div class="large-12 columns">
                    <div class="mt20">
                        {{ form_label(attribute(form, 'item__category_id')) }}
                        {{ form_widget(attribute(form, 'item__category_id')) }}
                    </div>
                </div>
                <div class="large-12 columns">
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="mt20">
                                <label>.</label>
                                {{ form_widget(form.item__distance) }}
                            </div>
                        </div>
                        <div class="large-12 columns">
                            <div class="mt20">
                                <label>{{ 'from'|trans({}, 'frontend')}}</label>
                                {{ form_widget(form.item__location_autocomplete, {'attr': {'class': 'white-field'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-wrapper">
                    <button class="secondary-btn-1 expand button mb0 landing-search-btn" type="submit">{{ 'Search'|trans({}, 'frontend-left-search') }}</button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>

    <div class="what-u-discover">
        <div class="row">
            <div class="columns">
                {% set adultContactId = constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_CONTACTS_ID') %}
                {% set escortsId = constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ESCORT_SERVICES_ID') %}
                {% set fetishRoleplayId = constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::FETISH_AND_ROLE_PLAY_ID') %}
                {% set gayMaleEscortId = constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::GAY_MALE_ESCORT_ID') %}
                {% set adultIndustryJobsId = constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_INDUSTRY_JOBS_ID') %}
                {% set adultMassageId = constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_MASSAGE_ID') %}
                
                {% set locationId = '' %}
                {% if cookieLocationDetails is defined and cookieLocationDetails is not null and cookieLocationDetails.location is defined and cookieLocationDetails.location %}
                    {% set locationId = cookieLocationDetails.location %}
                {% endif %}
                {# {% cache 'home|page|'~locationId~'front/home_page_discover' 1800 %} #}
                <div class="discover-categories large-20 discover-adult-categories">
                    {% set linkParams = { 'item__location': locationId, 'item__category_id': adultContactId } %}
                    <a href="{{ container.get('fa_ad.manager.ad_routing').getListingUrl(linkParams) }}" class="discover-adult-contacts">{{'Adult Contacts'|trans({}, 'frontend-homepage')}}</a>

                    {% set linkParams = { 'item__location': locationId, 'item__category_id': escortsId } %}
                    <a href="{{ container.get('fa_ad.manager.ad_routing').getListingUrl(linkParams) }}" class="discover-escorts">{{'Escorts'|trans({}, 'frontend-homepage')}}</a>

                    {% set linkParams = { 'item__location': locationId, 'item__category_id': fetishRoleplayId } %}
                    <a href="{{ container.get('fa_ad.manager.ad_routing').getListingUrl(linkParams) }}" class="discover-fetish-and-roleplay">{{'Fetish and Role Play'|trans({}, 'frontend-homepage')}}</a>

                    {% set linkParams = { 'item__location': locationId, 'item__category_id': gayMaleEscortId } %}
                    <a href="{{ container.get('fa_ad.manager.ad_routing').getListingUrl(linkParams) }}" class="discover-gay-male-escort">{{'Gay Male Escort'|trans({}, 'frontend-homepage')}}</a>

                    {% set linkParams = { 'item__location': locationId, 'item__category_id': adultIndustryJobsId } %}
                    <a href="{{ container.get('fa_ad.manager.ad_routing').getListingUrl(linkParams) }}" class="discover-adult-industry-jobs">{{'Adult Industry Jobs'|trans({}, 'frontend-homepage')}}</a>

                    {% set linkParams = { 'item__location': locationId, 'item__category_id': adultMassageId } %}
                    <a href="{{ container.get('fa_ad.manager.ad_routing').getListingUrl(linkParams) }}" class="discover-adult-massage">{{'Adult Massage'|trans({}, 'frontend-homepage')}}</a>
                </div>
                    {# {% endcache %} #}
            </div>
        </div>
    </div>

    <div class="homepage-row">
        <div class="row">
            <div class="columns">
                <h3 class="homepage-title">{{'Popular searches'|trans({}, 'frontend-homepage')}}</h3>
                {{ include('FaFrontendBundle:Adult:homePopularSearches.html.twig', {'divId': 'recommended-item-slider', 'ads': ''}) }}
            </div>
        </div>
    </div>
    

    {% if latestAds|length %}
        <div class="homepage-row latest-items">
            <div class="row">
                <div class="columns">
                    <h3 class="homepage-title">
                        {% if locationName is not null %}
                            {{'Latest in %locationName%'|trans({'%locationName%': locationName}, 'frontend-homepage')}}
                        {% else %}
                            {{'Latest ads'|trans({}, 'frontend-homepage')}}
                        {% endif %}
                    </h3>
                    {{ include('FaFrontendBundle:Default:homePageLatestAdsSlider.html.twig', {'divId': 'latest-item-slider'}) }}
                    {% if searchResultUrl is not null%}
                        <div class="small-wrapper">
                            <a href="{{ searchResultUrl }}" class="secondary-btn-1 expand button mb0" rel="nofollow">{{'View all'|trans({}, 'frontend-homepage')}}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}


    <div class="homepage-row">
        <div class="row">
            <div class="columns">
                <h3 class="homepage-title">{{'Featured Advertisers'|trans({}, 'frontend-homepage')}}</h3>
            </div>
            <div class="columns">
                {{ include('FaFrontendBundle:Adult:homePageFeaturedAdvertisers.html.twig') }}
            </div>
        </div>
    </div>

    <div class="homepage-row">
        <div class="row">
            <div class="columns">
                <h3 class="homepage-title">{{'Latest from the blog'|trans({}, 'frontend-homepage')}}</h3>
             </div>
                {{ include('FaFrontendBundle:Adult:homePageLatestBlog.html.twig', {'divId': 'recently-viwed-item-slider', 'ads': '', noImageColor:'grey'}) }}
            </div>
        </div>
    </div>

    <div class="homepage-row">
        <div class="row">
            <div class="columns">
                <h3 class="homepage-title">{{'Browse adverts in popular locations'|trans({}, 'frontend-homepage')}}</h3>
                {# {% cache 'home|page|location|block'~currentDevice 3600 %} #}
                    {{ render(controller('FaFrontendBundle:Adult:showAdultHomePageLocationBlocks')) }}
                {# {% endcache %} #}
            </div>
        </div>
    </div>

{% endblock %}


{% block scriptbottom %}
    {% javascripts filter='uglifyjs2' output='bundles/js/compiled/home.js'
        'bundles/facore/js/owl.carousel.min.js'
        'bundles/fafrontend/js/parallax.min.js'
    %}
    <script defer src="{{ static_asset_url(asset_url) }}"></script>
    {% endjavascripts %}
    
    {% set mobileDetectManager = container.get('fa.mobile.detect.manager') %}
    {% if mobileDetectManager.is('IE') %}
        {% javascripts filter='uglifyjs2' output='bundles/js/compiled/parallaxFix.js'
            'bundles/fafrontend/js/scroll.js'
            'bundles/fafrontend/js/TweenMax.min.js'
        %}
        <script src="{{ static_asset_url(asset_url) }}"></script>
        {% endjavascripts %}
    {% endif %}
    <script language="javascript" type="text/javascript">
    //<![CDATA[
    {% if mobileDetectManager.is('IE') %}
        $(function(){   
            var $window = $(window);
            var scrollTime = 1.2;
            var scrollDistance = 250;
            $window.on("mousewheel DOMMouseScroll", function(event){
                event.preventDefault(); 
                var delta = event.originalEvent.wheelDelta/120 || -event.originalEvent.detail/3;
                var scrollTop = $window.scrollTop();
                var finalScroll = scrollTop - parseInt(delta*scrollDistance);
                TweenMax.to($window, scrollTime, {
                    scrollTo : { y: finalScroll, autoKill:true },
                        ease: Power1.easeOut,
                        overwrite: 1                            
                    });
            });
        });
    {% endif %}

    var headerParallax;
    $(document).ready(function() {
        $('div.homepage-row:even').addClass('white-bg');
        getHeaderImage();
        var featuredAdvertisersItemSlider = $("#featured_advertisers_slider");
        featuredAdvertisersItemSlider.owlCarousel({
            items : 4,
            itemsCustom:[[320, 1], [568, 2], [768, 3], [1024, 4]],
            navigation: true,
            pagination:false,
            responsiveRefreshRate : 100,
            navigationText: ['<img src="{{ asset_url('fafrontend/images/small-slider-prev.svg') }}" alt="" />', '<img src="{{ asset_url('fafrontend/images/small-slider-next.svg') }}" alt="" />'],
            lazyLoad: true,
            scrollPerPage: true,
        });

        

        var featuredItemSlider = $("#featured-item-slider");
        featuredItemSlider.owlCarousel({
            items : 3,
            itemsCustom:[[320, 1], [568, 2], [768, 3], [1024, 3]],
            navigation: true,
            pagination:false,
            responsiveRefreshRate : 100,
            navigationText: ['<img src="{{ asset_url('fafrontend/images/small-slider-prev.svg') }}" alt="" />', '<img src="{{ asset_url('fafrontend/images/small-slider-next.svg') }}" alt="" />'],
            lazyLoad: true,
            scrollPerPage: true,
        });

        var recentlyViwedItemSlider = $("#recently-viwed-item-slider");
        recentlyViwedItemSlider.owlCarousel({
            items : 6,
            itemsCustom:[[320, 1], [568, 3], [768, 4], [1024, 5], [1151, 6]],
            navigation: true,
            pagination:false,
            responsiveRefreshRate : 100,
            navigationText: ['<img src="{{ asset_url('fafrontend/images/small-slider-prev.svg') }}" alt="" />', '<img src="{{ asset_url('fafrontend/images/small-slider-next.svg') }}" alt="" />'],
            lazyLoad: true,
            scrollPerPage: true,
        });

        var popularShopsSlider = $("#popular_shops_slider");
        if (popularShopsSlider) {
            popularShopsSlider.owlCarousel({
                items : 4,
                itemsCustom:[[320, 1], [568, 2], [768, 3], [1024, 4]],
                navigation: true,
                pagination:false,
                responsiveRefreshRate : 100,
                navigationText: ['<img src="{{ asset_url('fafrontend/images/small-slider-prev.svg') }}" alt="" />', '<img src="{{ asset_url('fafrontend/images/small-slider-next.svg') }}" alt="" />'],
                lazyLoad: true,
                scrollPerPage: true,
            });
        }

        $(document).foundation({
            accordion: {
                multi_expand: true,
                callback : function (accordion) {
                    accordionCallback(accordion);
                }
            }
        });
    });

    $( window ).scroll(function() {
        if ($("#sticky_nav").hasClass('fixed')) {
            $("#sticky_nav_top").addClass('fixed');
            $("#sticky_nav_top").addClass('top-bar-shadow');
        } else {
            $("#sticky_nav_top").removeClass('fixed');
            $("#sticky_nav_top").removeClass('top-bar-shadow');
        }
    });

    function accordionCallback(accordion)
    {
        $(accordion).siblings('a').find('i').toggleClass("fi-plus fi-minus");
        $(accordion).find('select.fa-select').selectmenu().selectmenu('refresh',true);
    }
    
    function getHeaderImage()
    {
        var viewPort = getViewport();
        $.ajax({
            type: "POST",
            url : '{{ path('ajax_get_header_image') }}',
            data : {'screenWidth': viewPort.width, 'location': '{{ app.request.get('location') }}'},
        })
        .done(function(response) {
            if (response.image) {
                headerParallax = $('#header_image_div').parallax({imageSrc: response.image, naturalWidth: response.width, naturalHeight: response.height});
                if (response.phone_image && response.phone_image_url)
                    $(".forsale-phone").html('<a href="'+response.phone_image_url+'"><img src="'+response.phone_image+'"></a>');
                else if (response.phone_image)
                    $(".forsale-phone").html('<img src="'+response.phone_image+'">');
            } else {
                $('#header_image_div').parallax({imageSrc: "{{ asset_url('/fafrontend/images/home-slider.png') }}" });
            }
        });
    }
    //]]>
    </script>
{% endblock %}
{% block dimension2 %}
<script language="javascript" type="text/javascript">
//<![CDATA[
{% if app.user.getId() is not defined or app.user.getId() is null %}
	ga('set', 'dimension9', 'not logged in');
{% else %}
	ga('set', 'dimension9', 'logged in');
{% endif %}
           
    ga('send', 'pageview', {'dimension1': defLocationText, 'dimension2':  'Homepage'{% if app.request.get('ti_url') %} ,'dimension8': '{{ app.request.get('ti_url') }}' {% endif %}});
//]]>
</script>
{% endblock %}
