{% set userGuid = '' %}
{% if halfAccountUser is defined and halfAccountUser.guid %}
    {% set userGuid = halfAccountUser.guid %}
{% endif %}
<div class="modal-dialog"><div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title save-search-title">
		{{'Alert set up'|trans({}, 'frontend-create-alert')}}
		</h5>
	    <button class="close-modal" class="close" data-dismiss="modal">×</button>
	</div>
	<div class="modal-body">
    {% if app.user and app.request.cookies.has('save_search_agent_flag') and app.request.cookies.get('save_search_agent_flag') and app.request.cookies.get('save_search_agent_flag') != constant('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager::COOKIE_DELETED') %}
        <div data-alert class="alert-box success radius">
            <span class="alert alert-icon">&nbsp;</span>
            {{'You have successfully logged in.'|trans({}, 'frontend')}}
            <a data-dismiss="alert" class="close">&times;</a>
        </div>
        {{ fetch_repository('FaUserBundle:User').removeUserCookies() }}
    {% endif %}
    <h5 id="saved_search_header">{{'Your search has been set up!'|trans({}, 'frontend-create-alert')}}</h5>
    <p>{{'Manage your <a href="%search_agent_link%">alerts.</a>'|trans({'%search_agent_link%': path('list_search_agent', {'guid': (userGuid)})}, 'frontend-create-alert')|raw}}</p>
    <button class="secondary-btn-1 btn btn-block" onclick="return $('#createAlertModal').modal('hide');">{{'Done'|trans({}, 'frontend-create-alert')}}</button>
</div>
</div></div>
<script language="javascript" type="text/javascript">
//<![CDATA[
    $(document).ready(function(){
        bindCustomRadioEvent();
        bindCustomCheckboxEvent();
    });

    $('#emailAlert').on('change', function() {
        sendGaForOnOffAlert();
    });

    function updateSearchAgent()
    {
        blockPage();
        $.ajax({
            type: "POST",
            url : '{{ path('update_search_agent', {'userSearchAgentId': userSearchAgent.getId(), 'guid': (userGuid)}) }}',
            data : {'emailAlert': $('#emailAlert').is(":checked") ? 1 : 0},
        })
        .always(function(response) {
            unblockPage();
        })
        .done(function(response) {
            hideAlertMessage();
            if (response.error.length) {
                $(decorateMessage(response.error, 'error')).insertBefore('#saved_search_header');
            } else {
                $('#createAlertModal').modal('hide');
            }
        });
    }
//]]>
</script>