{% extends 'FaFrontendBundle::layout.html.twig' %}

{% block title %}
    {{'Alerts & Searches'|trans({}, 'frontend-my-saved-searches')}}
{% endblock %}

{% block scripttop %}
    <link rel="stylesheet" href="{{ asset('build/css/dashboard.css') }}"/>
{% endblock %}

{% set container = fetch_container_instance() %}

{% block body -%}

{% if guid is not defined %}
<div class="dash-block">
    <div class="posting-bg">
        <div class="container">
            {{ include('FaUserBundle:Default:leftCanvasMenuLink.html.twig') }}
            <div class="row d-board-main">
                <div class="off-canvas-wrap" data-offcanvas>
{% endif %}
            {% if guid is not defined %}
                <div class="inner-wrap">
            {% else %}
                <div class="row">
            {% endif %}

                {% if guid is not defined %}
                    {{ include('FaUserBundle:Default:userLeftMenu.html.twig') }}
                {% endif %}

                {% if guid is not defined %}
                    <div id="db-right-part" class="col-md-19 d-right-col">
                {% else %}
                    <div id="db-right-part-guid" class="large-18 columns">
                {% endif %}

                    <h1 class="s-h1 db-title mt30 mb20">{{'Alerts & Searches (%saved_search_count%)'|trans({'%saved_search_count%': pagination.getNbResults()}, 'frontend-manage-my-ad')}}</h1>
                    <h2 class="s-h2 mb10">Set up alerts for searches and you’ll always know when new items have been added via an email alert. Never miss out again!</h2>

                    {{ include('FaUserBundle:UserSearchAgent:list.html.twig', {}) }}
                    {{ include('FaFrontendBundle:Default:pager.html.twig', {}) }}
                </div>
            </div>
{% if guid is not defined %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if guid is not defined %}
<div id="renameSavedSearch" class="modal custom-modal tiny">
	<div class="modal-dialog"><div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title save-search-title">
		{{'Rename your saved search'|trans({}, 'frontend-my-saved-searches')}}
		</h5>
	    <button class="close-modal" class="close" data-dismiss="modal">×</button>
	</div>
	<div class="modal-body">
        <div class="container">
            <div class="row">
                <label>{{'New name'|trans({}, 'frontend-my-saved-searches')}}</label>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <input type="text" name="txt_title" id="txt_title" maxlength="50">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-24 col-md-24">
                <button type="button" class="button secondary-btn-1 thin-btn expand mb0" onclick="closeRevealModel('#removeSavedSearch'); renameSavedSearch();">{{'Save changes'|trans({}, 'frontend-my-saved-searches')}}</button>
            </div>
        </div>
    </div>
</div>
</div></div>
{% endif %}

{% if guid is not defined %}
<div id="removeSavedSearch" class="modal custom-modal tiny">
	<div class="modal-dialog"><div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title save-search-title">
		{{'Stop search alert'|trans({}, 'frontend-my-saved-searches')}}
		</h5>
	    <button class="close-modal" class="close" data-dismiss="modal">×</button>
	</div>
	<div class="modal-body">
        <div class="container">
            <div class="row">
                <h5>{{'Are you sure you want to stop this search alert?'|trans({}, 'frontend-my-saved-searches')}}</h5>
            </div>
        </div>
        <div class="mt20 remove-search-btn">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <button type="button" class="button secondary-btn-4 thin-btn expand mb0" onclick="closeRevealModel('#removeSavedSearch');removeSavedSearch();">{{'Ok'|trans({}, 'frontend-my-saved-searches')}}</button>
                </div>
                <div class="col-lg-12 col-md-12">
                    <button type="button" class="button secondary-btn-1 thin-btn expand mb0" onclick="closeRevealModel('#removeSavedSearch');">{{'Cancel'|trans({}, 'frontend-my-saved-searches')}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div></div>
<div id="blankTitleAlert" class="modal custom-modal tiny">
    <div class="modal-dialog"><div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title save-search-title">
		{{'Blank title'|trans({}, 'frontend-my-saved-searches')}}
		</h5>
	    <button class="close-modal" class="close" data-dismiss="modal">×</button>
	</div>
	<div class="modal-body">
        <div class="container">
            <div class="row">
                <h5>{{'Sorry saved search name can not be blank!!'|trans({}, 'frontend-my-saved-searches')}}</h5>
            </div>
        </div>
        <div class="mt20">
            <div class="row">
                <div class="col-lg-24 col-md-24">
                    <button type="button" class="button secondary-btn-4 thin-btn expand mb0" onclick="closeRevealModel('#blankTitleAlert'); renameSavedSearch();">{{'Ok'|trans({}, 'frontend-my-saved-searches')}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div></div>
{% endif %}

{% endblock %}

{% block scriptbottom %}
{{ include('FaCoreBundle:Default:blockJs.html.twig') }}
<script language="javascript" type="text/javascript">
//<![CDATA[
    var savedSearchIdToRemove = '';
    var savedSearchIdToRename = '';

    {% if userSearchAgentId is defined %}
      renameSavedSearchConfirmation('{{userSearchAgentId}}');
    {% endif %}

    function updateSavedSearchAgent(id)
    {
        var route = Routing.generate('update_search_agent', { 'userSearchAgentId': id });
        {% if guid is defined %}
            route = route + "?guid={{ guid }}";
        {% endif %}
        blockPage();
        $.ajax({
            type: "POST",
            url : route,
            data : {'emailAlert': $('#emailAlert_'+id).is(":checked") ? 1 : 0},
        })
        .always(function(response) {
                unblockPage();
            })
        .done(function(response) {
            hideAlertMessage();
            if (response.error && response.error.length) {
                $(decorateMessage(response.error, 'alert')).prependTo('#saved_search_'+id);
            } else if (response.success && response.success.length) {
                $(decorateMessage(response.success, 'success')).prependTo('#saved_search_'+id);
            }
        });
    }

    function removeSavedSearch()
    {
    	if (savedSearchIdToRemove != '') {
        	var route = Routing.generate('delete_search_agent', { 'userSearchAgentId': savedSearchIdToRemove });
        	blockPage();
            $.ajax({
                type: "POST",
                url : route,
            })
            .always(function(response) {
                unblockPage();
            })
            .done(function(response) {
                hideAlertMessage();
                if (response.error.length) {
                    $(decorateMessage(response.error, 'alert')).insertBefore('#saved_search_'+id);
                } else {
                    location.reload();
                }
            });
    	}
    }

    function removeSavedSearchConfirmation(savedSearchId)
    {
    	savedSearchIdToRemove = savedSearchId;
        $('#removeSavedSearch').modal('show');
    }

    function renameSavedSearchConfirmation(savedSearchId)
    {
    	savedSearchIdToRename = savedSearchId;
    	var searchAgentTitle = $('#saved_search_title_'+savedSearchIdToRename+'_desktop').html();
    	if (parseInt(searchAgentTitle.length) == 0) {
    		searchAgentTitle = $('#saved_search_title_'+savedSearchIdToRename+'_mobile').html();
    	}
    	$('#txt_title').val(searchAgentTitle);
        $('#renameSavedSearch').modal('show');
    }

    function renameSavedSearch()
    {
    	if (savedSearchIdToRename != '') {
    		var searchAgentTitle = $('#txt_title').val();
    		searchAgentTitle = searchAgentTitle.trim();

    		if (searchAgentTitle == '') {
    			$('#blankTitleAlert').modal('show');
    		} else {
            	var route = Routing.generate('rename_search_agent', { 'userSearchAgentId': savedSearchIdToRename, 'userSearchAgentTitle': searchAgentTitle });
            	blockPage();
                $.ajax({
                    type: "POST",
                    url : route,
                })
                .always(function(response) {
                    unblockPage();
                })
                .done(function(response) {
                    hideAlertMessage();
                    if (response.error.length) {
                        $(decorateMessage(response.error, 'alert')).prependTo('#saved_search_'+savedSearchIdToRename);
                    } else {
                    	$('#saved_search_title_'+savedSearchIdToRename+'_mobile').html(searchAgentTitle);
                    	$('#saved_search_title_'+savedSearchIdToRename+'_desktop').html(searchAgentTitle);
                        scrollToElement('#saved_search_'+savedSearchIdToRename, '1000', -100);
                    	$(decorateMessage(response.successMsg, 'success')).prependTo('#saved_search_'+savedSearchIdToRename);
                    }
                });
    		}
    	}
    }
//]]>
</script>
{% endblock %}