<div class="own-item search-alert-block" id="saved_search_{{ searchAgent.id }}">
    <h4 id="saved_search_title_{{searchAgent.id}}_mobile" class="show-for-small-only">{{ searchAgent.name }}</h4>
    <div class="media">
        <div class="col-md-15 col-lg-17 l-block">
            <div class="my-msg-heading">
                <h3 id="saved_search_title_{{searchAgent.id}}_desktop" class="s-h3 mb5">{{ searchAgent.name }}</h3>
            </div>
            <div class="my-msg-desc">
                <div class="list-dimensions">
                    {% set searchParams = {} %}
                    {% set searchAgentCriteria = array_unserialize(searchAgent.criteria) %}
                    {% if searchAgentCriteria['search'] is defined %}
                        {% set searchParams = searchParams|merge(searchAgentCriteria['search']) %}
                    {% endif %}
                    {% if searchAgentCriteria['sorter'] is defined %}
                        {% set searchParams = searchParams|merge(searchAgentCriteria['sorter']) %}
                    {% endif %}

                    {% set searchResultUrl = container.get('fa_ad.manager.ad_routing').getListingUrl(searchParams) %}
                    {% set displayCriteriaArray = userSearchAgentRepository.getSearchAgentDisplayCriteriaArray(searchParams, container) %}

                    {% for displayCriteria in displayCriteriaArray %}
                        <span>{{ displayCriteria }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-9 col-lg-7 r-block">
            {% if guid is not defined %}
                <div class="group-m-btn">
                    <span class="ad-edit">
                        <a class="xs-btn-2 btn small-btn edit-btn" href="javascript:void(0)" onclick="renameSavedSearchConfirmation('{{searchAgent.id}}');">
                            <span class="edit-icon"></span>
                            {{'Rename'|trans({}, 'frontend-my-saved-searches')}}
                        </a>
                    </span>
                    <span class="ad-remove float-right">
                        <a class="xs-btn-2 btn last-btn small-btn delete-btn" href="javascript:void(0);" onclick="removeSavedSearchConfirmation('{{searchAgent.id}}');">
                            <span class="delete-icon"></span>
                            {{'Remove'|trans({}, 'frontend-my-saved-searches')}}
                        </a>
                    </span>
                </div>
            {% endif %}
            <div class="group-m-btn">
                <a href="{{ searchResultUrl }}" class="secondary-btn-1 xs-thin-btn btn btn-block small-btn">{{'Search now'|trans({}, 'frontend-my-saved-searches')}}</a>
            </div>
            <div class="label-inline">
                <ul class="custom-control custom-checkbox search-type crawlable-checkbox">
                    <li>
                        <input class="custom-control-input" type="checkbox" name="emailAlert_{{ searchAgent.id }}" id="emailAlert_{{ searchAgent.id }}" onclick="return updateSavedSearchAgent({{ searchAgent.id }});" value="1" {% if searchAgent.is_email_alerts %} checked="checked" {% endif %} />
                        <label for="emailAlert_{{ searchAgent.id }}" class="custom-control-label">{{'Send me email alerts'|trans({}, 'frontend-my-saved-searches')}}</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>