{% extends 'FaAdminBundle::layout.html.twig' %}
{% form_theme form 'FaAdminBundle:Form:adminFields.html.twig' %}

{% block content -%}

{{ include('FaAdminBundle:Default:addEditHeading.html.twig') }}
<style>
ul.creative_tabs { list-style: none;display: inline-flex;margin-left: 0px; }
li.creative_tab { margin-right: 10px;background: #eee;padding: 2px 15px;color:#3278b4}
.tabs-ouline { margin-top:20px; margin-bottom:20px; padding:10px; border:1px solid #ddd}
#recommended_slot_searchlist_fields_main_div h4 { margin-top:20px; }
.creative_tab_content { padding-top:20px }
</style>
<div class="row">
    <div class="columns">
        <div class="panel">
            <p class="text-right"><span class="required">*</span> = mandatory fields</p>
            <div class="row">
                <div class="large-9 columns">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate','id':'fa_entity_category_admin'}}) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.slug) }}
                        {{ form_row(form.display_on_footer) }}
                        {{ form_row(form.status) }}
                        {{ form_row(form.synonyms_keywords) }}
                        {{ form_row(form.is_nimber_enabled) }}
                        <div id="nimber_size_div" style="display:none;">
                            {{ form_row(form.nimber_size) }}
                        </div>
                        {{ form_row(form.is_finance_enabled) }}
                        <div id="finance_div" style="display:none;">
                            {{ form_row(form.finance_title) }}
                            {{ form_row(form.finance_url) }}
                        </div>
                        {{ form_row(form.is_paa_disabled) }}
                        {{ form_row(form.is_oneclickenq_enabled) }}
                        {% if form.is_featured_upgrade_enabled is defined %}
                            {{ form_row(form.is_featured_upgrade_enabled) }}
                            <div id="featured_upgrade_slot_fields_main_div" style="display:none;">
                                {{ form_row(form.featured_upgrade_info) }}
                                {{ form_row(form.featured_upgrade_btn_txt) }}
                            </div>
                        {% endif %}
                        <div>
                            {{ form_row(form.has_recommended_slot) }}
                            {{ form_row(form.has_recommended_slot_searchlist) }}
                            <div style="display:none;" id="recommended_slot_fields_main_div">
                                {% for i in 1..3 %}
                                    <h4>{{ 'Sponsored Slot'~' '~(loop.index)|trans }}</h4>
                                    <hr class="hr_margin" />
                                    <div class="row">
                                        <div class="large-2 columns">
                                            {{ form_label(form['recommended_slot_title_'~i]) }}
                                        </div>
                                        <div class="large-10 columns">
                                            {{ form_widget(form['recommended_slot_title_'~i]) }}
                                            {{ form_errors(form['recommended_slot_title_'~i]) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-2 columns">
                                            {{ form_label(form['recommended_slot_sub_title_'~i]) }}
                                        </div>
                                        <div class="large-10 columns">
                                            {{ form_widget(form['recommended_slot_sub_title_'~i]) }}
                                            {{ form_errors(form['recommended_slot_sub_title_'~i]) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-2 columns">
                                            {{ form_label(form['recommended_slot_user_id_'~i]) }}
                                        </div>
                                        <div class="large-10 columns">
                                            {{ form_widget(form['recommended_slot_user_id_'~i]) }}
                                            {{ form_errors(form['recommended_slot_user_id_'~i]) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-2 columns">
                                            {{ form_label(form['recommended_slot_url_'~i]) }}
                                        </div>
                                        <div class="large-10 columns">
                                            {{ form_widget(form['recommended_slot_url_'~i]) }}
                                            {{ form_errors(form['recommended_slot_url_'~i]) }}
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="large-2 columns">
                                            {{ form_label(form['recommended_slot_display_url_'~i]) }}
                                        </div>
                                        <div class="large-10 columns">
                                            {{ form_widget(form['recommended_slot_display_url_'~i]) }}
                                            {{ form_errors(form['recommended_slot_display_url_'~i]) }}
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="large-2 columns">
                                            {{ form_label(form['recommended_slot_cta_text_'~i]) }}
                                        </div>
                                        <div class="large-5 columns">
                                            {{ form_widget(form['recommended_slot_cta_text_'~i]) }}
                                            {{ form_errors(form['recommended_slot_cta_text_'~i]) }}
                                        </div>
                                        <div class="large-5 columns">
                                            {{ form_widget(form['recommended_slot_show_sponsored_lbl_'~i]) }}
                                            {{ form_label(form['recommended_slot_show_sponsored_lbl_'~i]) }}
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="large-2 columns">
                                            {{ form_label(form['recommended_slot_mobile_title_'~i]) }}
                                        </div>
                                        <div class="large-10 columns">
                                            {{ form_widget(form['recommended_slot_mobile_title_'~i]) }}
                                            {{ form_errors(form['recommended_slot_mobile_title_'~i]) }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div>
                            
                            <div style="display:none;" id="recommended_slot_searchlist_fields_main_div">
                                {% set slotCnt = 1 %}{% set creativeCnt = 1 %}
                                {% for i in 1..24 %}
                                    {% if(i%3==1) %} 
                                        <h4>{{ 'Sponsored Slot For Search List Page '~' '~(slotCnt)|trans }}</h4>
                                        <div class="tabs-ouline">
                                        <ul id="creative_tabs_{{slotCnt}}" class="tabs tab-menu clearfix" data-tab>
                                              <li class="creative_tabs active"><a href="#Creative1_{{slotCnt}}">Creative1</a></li>
                                              <li class="creative_tabs"><a href="#Creative2_{{slotCnt}}">Creative2</a></li>
                                              <li class="creative_tabs"><a href="#Creative3_{{slotCnt}}">Creative3</a></li>
                                        </ul>

                                    {% endif %}
                                   
                                    <div class="tabs-content creative_tab_content" style="display:{{(i%3==1)?'block':'none'}}" id="Creative{{creativeCnt}}_{{slotCnt}}" data-recommended="{{i}}">   
                                        <div class="row">
                                            <div class="large-2 columns">
                                                {{ form_label(form['recommended_slot_searchlist_title_'~i]) }}
                                            </div>
                                            <div class="large-10 columns">
                                                {{ form_widget(form['recommended_slot_searchlist_title_'~i]) }}
                                                {{ form_errors(form['recommended_slot_searchlist_title_'~i]) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="large-2 columns">
                                                {{ form_label(form['recommended_slot_searchlist_sub_title_'~i]) }}
                                            </div>
                                            <div class="large-10 columns">
                                                {{ form_widget(form['recommended_slot_searchlist_sub_title_'~i]) }}
                                                {{ form_errors(form['recommended_slot_searchlist_sub_title_'~i]) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="large-2 columns">
                                                {{ form_label(form['recommended_slot_searchlist_slot_file_'~i]) }}
                                            </div>
                                            <div class="large-5 columns">
                                                {{ form_widget(form['recommended_slot_searchlist_slot_file_'~i]) }}
                                                {{ form_errors(form['recommended_slot_searchlist_slot_file_'~i]) }}
                                            </div>

                                            <div class="large-5 columns">
                                                {% if form['recommended_slot_searchlist_slot_filename_'~i].vars.value is not empty %}
                                                    <img src="{{shared_url('uploads/category_recommended_slots/'~form['recommended_slot_searchlist_slot_filename_'~i].vars.value)}}?{{ random(1000) }}" width="100px" />
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="large-2 columns">
                                                {{ form_label(form['recommended_slot_searchlist_url_'~i]) }}
                                            </div>
                                            <div class="large-10 columns">
                                                {{ form_widget(form['recommended_slot_searchlist_url_'~i]) }}
                                                {{ form_errors(form['recommended_slot_searchlist_url_'~i]) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="large-2 columns">
                                                {{ form_label(form['recommended_slot_searchlist_display_url_'~i]) }}
                                            </div>
                                            <div class="large-10 columns">
                                                {{ form_widget(form['recommended_slot_searchlist_display_url_'~i]) }}
                                                {{ form_errors(form['recommended_slot_searchlist_display_url_'~i]) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="large-2 columns">
                                                {{ form_label(form['recommended_slot_searchlist_cta_text_'~i]) }}
                                            </div>
                                            <div class="large-5 columns">
                                                {{ form_widget(form['recommended_slot_searchlist_cta_text_'~i]) }}
                                                {{ form_errors(form['recommended_slot_searchlist_cta_text_'~i]) }}
                                            </div>
                                            <div class="large-5 columns">
                                                {{ form_widget(form['recommended_slot_searchlist_show_sponsored_lbl_'~i]) }}
                                                {{ form_label(form['recommended_slot_searchlist_show_sponsored_lbl_'~i]) }}
                                            </div>                                                                                       
                                        </div>
                                        <div class="row">
                                            <div class="large-2 columns">
                                                {{ form_label(form['recommended_slot_searchlist_mobile_title_'~i]) }}
                                            </div>
                                            <div class="large-10 columns">
                                                {{ form_widget(form['recommended_slot_searchlist_mobile_title_'~i]) }}
                                                {{ form_errors(form['recommended_slot_searchlist_mobile_title_'~i]) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            {{ form_widget(form['recommended_slot_searchlist_creative_group_'~i]) }}
                                            {{ form_widget(form['recommended_slot_searchlist_creative_ord_'~i]) }}
                                        </div>
                                        
                                    </div>
                                    {% set creativeCnt = creativeCnt + 1 %}
                                    {% if(i%3==0) %} 
                                        </div>
                                        {% set creativeCnt = 1 %}
                                        {% set slotCnt = slotCnt + 1 %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {{ include('FaAdminBundle:Default:saveButton.html.twig', {'cancelUrl': 'category_admin', 'isSaveAndNew': false}) }}
                        {{ form_end(form) }}
                </div>
                </div>
                <div class="large-3 columns">
                    <b>{{ 'Indexable Dimensions'|trans }}</b>
                    <div style="overflow: auto; height: 500px;">
                        {{ staticCall('Fa\\Bundle\\EntityBundle\\Repository\\CategoryDimensionRepository', 'getIndexableDimesionsArray')|join('<br />')|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptbottom %}
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script>
    var form = $( "#fa_entity_category_admin" );
    $(document).ready(function(){
        hideShowNimberSize();
        $("#fa_entity_category_admin_is_nimber_enabled").change(function(){
            hideShowNimberSize();
        });

        hideShowFinance();
        $("#fa_entity_category_admin_is_finance_enabled").change(function(){
          hideShowFinance();
        });

        hideShowRecommendedSlotFields();
        $("#fa_entity_category_admin_has_recommended_slot").click(function(){
            hideShowRecommendedSlotFields();
        });

        hideShowFeaturedUpgrade();
        $("#fa_entity_category_admin_is_featured_upgrade_enabled").change(function(){
        	hideShowFeaturedUpgrade();
        });
        
	hideShowRecommendedSlotSearchlistFields();
        $("#fa_entity_category_admin_has_recommended_slot_searchlist").click(function(){
            hideShowRecommendedSlotSearchlistFields();
        });

        $('#recommended_slot_searchlist_fields_main_div .tabs .creative_tabs a').click(function(){
            var targ = $(this).attr("href");
            var getCreative = targ.split("#Creative");
            var getCreativeOrd = getCreative[1].split("_");
            var irow = $(targ).attr("data-recommended");
            $('#creative_tabs_'+getCreativeOrd[1]+' .creative_tabs').removeClass('active');
            $(this).parent("li").addClass('active');
            $('#Creative1_'+getCreativeOrd[1]).css('display','none');
            $('#Creative2_'+getCreativeOrd[1]).css('display','none');
            $('#Creative3_'+getCreativeOrd[1]).css('display','none');
            $('#fa_entity_category_admin_recommended_slot_searchlist_creative_group_'+irow).val(getCreativeOrd[1]);
            $('#fa_entity_category_admin_recommended_slot_searchlist_creative_ord_'+irow).val(getCreativeOrd[0]);
            $(targ).css('display','block');
        });
        $('#recommended_slot_searchlist_fields_main_div .creative_tab_content').each(function(){
            var targ = $(this).attr("id");
            var getCreative = targ.split("Creative");
            var getCreativeOrd = getCreative[1].split("_");
            var irow = $(this).attr("data-recommended");
            $('#fa_entity_category_admin_recommended_slot_searchlist_creative_group_'+irow).val(getCreativeOrd[1]);
            $('#fa_entity_category_admin_recommended_slot_searchlist_creative_ord_'+irow).val(getCreativeOrd[0]);
           
            if(typeof $('#'+targ).find('.error').html() != "undefined") {
                $('#creative_tabs_'+getCreativeOrd[1]+' .creative_tabs').removeClass('active');
                $('a[href="#'+targ+'"]').parent('li').addClass('active');
                $('#Creative1_'+getCreativeOrd[1]).css('display','none');
                $('#Creative2_'+getCreativeOrd[1]).css('display','none');
                $('#Creative3_'+getCreativeOrd[1]).css('display','none');
                $('#'+targ).css('display','block');
                $('li a[href="#'+targ+'"]').css('border-color','#FF0000');
            }
        });

    });
    
    function hideShowNimberSize()
    {
        if ($('#fa_entity_category_admin_is_nimber_enabled').is(':checked')) {
            $('#nimber_size_div').show();
        } else {
            $('#fa_entity_category_admin_nimber_size').val('');
            $('#nimber_size_div').hide();
        }
    }

    function hideShowFinance()
    {
        if ($('#fa_entity_category_admin_is_finance_enabled').is(':checked')) {
            $('#finance_div').show();
        } else {
            $('#fa_entity_category_admin_finance_title').val('');
            $('#fa_entity_category_admin_finance_url').val('');
            $('#finance_div').hide();
        }
    }

    function hideShowRecommendedSlotFields()
    {
        var recommendedSlotFlag = $('#fa_entity_category_admin_has_recommended_slot').is(':checked');
        if (recommendedSlotFlag) {
            $('#recommended_slot_fields_main_div').show();
        } else {
            $('#recommended_slot_fields_main_div').hide();
        }
    }

    function hideShowFeaturedUpgrade() {
    	var recommendedSlotFlag = $('#fa_entity_category_admin_is_featured_upgrade_enabled').is(':checked');
        if (recommendedSlotFlag) {
            $('#featured_upgrade_slot_fields_main_div').show();
        } else {
            $('#featured_upgrade_slot_fields_main_div').hide();
        }    
    }
    
    
    function hideShowRecommendedSlotSearchlistFields()
    {
        var recommendedSlotSearchlistFlag = $('#fa_entity_category_admin_has_recommended_slot_searchlist').is(':checked');
        if (recommendedSlotSearchlistFlag) {
            $('#recommended_slot_searchlist_fields_main_div').show();
        } else {
            $('#recommended_slot_searchlist_fields_main_div').hide();
        }
    }
    </script>
{% endblock %}
