{% extends 'FaFrontendBundle::layout.html.twig' %}

{% block title %}
    {{'My orders'|trans({}, 'frontend-my-orders')}}
{% endblock %}

{% set container = fetch_container_instance() %}
{% set paymentRepository = fetch_repository('FaPaymentBundle:Payment') %}
{% set deliveryStatusArray = paymentRepository.getDeliveryStatusOptionsArray(container) %}
{% set orderStatusButtonColorClassesArray = {0:'', 1:'new-order', 2:'preparing-dispatched', 3:'dispatched', 4:'delivered', 5:'closed'} %}
{% set entityCacheManager = container.get('fa.entity.cache.manager') %}

{% block scripttop %}
    <link rel="stylesheet" href="{{ asset('build/css/dashboard.css') }}"/>
{% endblock %}

{% block body -%}
    <div class="dash-block">
        <div class="posting-bg">
            <div class="container">
                {{ include('FaUserBundle:Default:leftCanvasMenuLink.html.twig') }}
                <div class="row d-board-main">
                    <div class="off-canvas-wrap" data-offcanvas>
                        <div class="inner-wrap">
                            {{ include('FaUserBundle:Default:userLeftMenu.html.twig') }}
                            <div class="col-md-19 d-right-col" id="db-right-part">
                                <h1 class="s-h1 db-title mt30 mb20">{{'Orders'|trans({}, 'frontend-my-orders')}}</h1>
                                <h2 class="db-sub-title" id="sub_title_div">{{ 'From here you can keep track of orders placed by your customers, the details of those orders, customer addresses and update the status of those orders.'|trans({}, 'frontend-my-orders') }}</h2>

                                <div id="leave_review_modal" class="reveal-modal" data-reveal></div>
                                <div class="order-purchase-main">
                                    {% if pagination.getNbResults() %}
                                    {% for paymentDetail in pagination.getCurrentPageResults() %}
                                        {% set paymentValue = array_unserialize(paymentDetail['value']) %}
                                        {% set orderId = paymentDetail['payment_id'] %}
                                        {% if paymentDetail['user_status_id'] == constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::USER_STATUS_ACTIVE_ID') %}
                                            {% set profileUrl = container.get('fa_ad.manager.ad_routing').getProfilePageUrl(paymentDetail['user_id']) %}
                                            {% set userStatusText = entityCacheManager.getEntityNameById('FaEntityBundle:Entity', paymentDetail['user_status_id']) %}
                                        {% else %}
                                            {% set profileUrl = '#' %}
                                            {% set userStatusText = entityCacheManager.getEntityNameById('FaEntityBundle:Entity', paymentDetail['user_status_id']) %}
                                        {% endif %}
                                        {% set objMessage = fetch_repository('FaMessageBundle:Message').getLastConversionOfTwoUsersForAd(paymentDetail['ad_id'], paymentDetail['seller_id'], paymentDetail['user_id']) %}
                                        <div class="purchase-item">
                                            <div class="row" id="order_{{ paymentDetail['payment_id'] }}">
                                                <div class="large-12 columns">
                                                    {% set userRepository = fetch_repository('FaUserBundle:User') %}
                                                    {% set profileName = userRepository.getFullNameFromArray(paymentDetail) %}
                                                    <b>{{ 'Buyer name'|trans({}, 'frontend-my-orders') }}</b>
                                                    {% if paymentDetail['user_status_id'] == constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::USER_STATUS_ACTIVE_ID') %}
                                                        <a target="_blank" href="{{profileUrl}}">{{ profileName }}</a>
                                                    {% else %}
                                                        {{ profileName }} <i>({{userStatusText}})</i>
                                                    {% endif %}
                                                    <br />
                                                    <b>{{ 'Order no.'|trans({}, 'frontend-my-orders') }}</b> {{paymentDetail['cart_code']}}<br />
                                                    <b>{{ 'Order placed'|trans({}, 'frontend-my-orders') }}</b> {{ staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'formatDate', [paymentDetail['created_at'], container]) }}<br />
                                                    <b>{{ 'Item'|trans({}, 'frontend-my-orders') }}</b> <a target="_blank" href="{{ container.get('router').generate('ad_detail_page_by_id', {'id': paymentDetail['ad_id']}, true) }}">{{paymentDetail['title']}}</a>
                                                </div>
                                                <div class="large-12 columns">
                                                    <div class="clearfix">
                                                        <div class="order-status">{{'Order status'|trans({}, 'frontend-my-orders')}}</div>
                                                        <div class="order-select">
                                                            {% set currentStatusId = paymentDetail['buy_now_status_id'] %}
                                                            {% set currentStatusName = deliveryStatusArray[paymentDetail['buy_now_status_id']] %}
                                                            <button id="order_status_button_{{orderId}}" class="button alert round dropdown {{orderStatusButtonColorClassesArray[paymentDetail['buy_now_status_id']]}}" aria-expanded="false" aria-controls="order_status_dd_{{orderId}}" data-dropdown="order_status_dd_{{orderId}}">{{ currentStatusName }}</button>
                                                            <ul aria-hidden="true" class="f-dropdown" data-dropdown-content="" id="order_status_dd_{{orderId}}">
                                                                {% for deliveryStatusId, deliveryStatusName in deliveryStatusArray %}
                                                                    <li><a href="javascript:void(0)" onclick="updateOrderStatus('{{orderId}}', '{{ deliveryStatusId }}', '{{deliveryStatusName}}')">{{ deliveryStatusName }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <button class="xs-btn-1 button order-details-btn" id="order_detail_button_{{orderId}}" onclick="toggleOrderDetail('{{orderId}}')">{{ 'Show details'|trans({}, 'frontend-my-orders') }}</button>
                                                </div>
                                            </div>
                                            <div class="row" id="order_detail_div_{{orderId}}" style="display: none;">
                                                <div class="large-18 columns">
                                                    <div class="order-disc">
                                                        {% set paymentDetailValuesArray = array_unserialize(paymentDetail['value']) %}
                                                        <div class="clearfix">
                                                            <b class="left ">{{'Delivery method'|trans({}, 'frontend-my-orders')}}</b>
                                                            <div class="delivery-method {% if paymentDetail['delivery_method_id'] == constant('Fa\\Bundle\\PaymentBundle\\Repository\\DeliveryMethodOptionRepository::COLLECTION_ONLY_ID') or paymentDetailValuesArray['delivery_address_id'] == -1 %} mb0{% endif %}">
                                                                {% if paymentDetail['delivery_method_id'] !=  constant('Fa\\Bundle\\PaymentBundle\\Repository\\DeliveryMethodOptionRepository::COLLECTION_ONLY_ID') and paymentDetailValuesArray['delivery_address_id'] != -1 %}
                                                                    {{'Post to'|trans({}, 'frontend-my-purchases')}}:
                                                                {% endif %}
                                                                <div class="{% if paymentDetail['delivery_method_id'] !=  constant('Fa\\Bundle\\PaymentBundle\\Repository\\DeliveryMethodOptionRepository::COLLECTION_ONLY_ID') and paymentDetailValuesArray['delivery_address_id'] != -1 %}mt10{% endif %}">
                                                                    {% if paymentDetail['delivery_method_id'] !=  constant('Fa\\Bundle\\PaymentBundle\\Repository\\DeliveryMethodOptionRepository::COLLECTION_ONLY_ID') and paymentDetailValuesArray['delivery_address_id'] != -1 %}
                                                                        {{ profileName }}<br />
                                                                        {% set paymentDeliveryAddressArray = paymentDetailValuesArray['delivery_address_info'] %}
                                                                        {% if paymentDeliveryAddressArray['street_address'] is defined %}
                                                                            {% if paymentDeliveryAddressArray['street_address'] is defined %}
                                                                                {{paymentDeliveryAddressArray['street_address']}}&nbsp;
                                                                            {% endif %}
                                                                            {% if paymentDeliveryAddressArray['street_address_2'] is defined %}
                                                                                {{paymentDeliveryAddressArray['street_address_2']}}, <br />
                                                                            {% endif %}
                                                                            {% if paymentDeliveryAddressArray['town_name'] is defined %}
                                                                                {{paymentDeliveryAddressArray['town_name']}}, <br />
                                                                            {% endif %}
                                                                            {% if paymentDeliveryAddressArray['domicile_name'] is defined %}
                                                                                {{paymentDeliveryAddressArray['domicile_name']}}, <br />
                                                                            {% endif %}
                                                                            {% if paymentDeliveryAddressArray['zip'] is defined %}
                                                                                {{paymentDeliveryAddressArray['zip']}}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% else %}
                                                                        {{'Buyer will collect the item.'|trans({}, 'frontend-my-orders')}}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <b>{{'Total price'|trans({}, 'frontend-my-orders')}}</b> {{ format_currency(paymentDetail['amount']) }}<br />
                                                        <b>{{'Payment method'|trans({}, 'frontend-my-orders')}}</b> {{ paymentRepository.getPaymentMethodNameById(constant('Fa\\Bundle\\PaymentBundle\\Repository\\PaymentRepository::PAYMENT_METHOD_PAYPAL_ID'), container) }}<br />
                                                    </div>
                                                </div>
                                                <div class="large-6 columns">
                                                    <button class="xs-btn-2 button expand order-receipt-btn" onclick="viewReceipt('{{orderId}}');"><span class="view-icon">View receipt</span></button>
                                                    <button class="xs-btn-2 button expand mb10" onclick="printReceipt('{{orderId}}');"><span class="print-receipt-icon">Print receipt</span></button>
                                                    <div class="purchase-link-list">
                                                        {% if paymentDetail['user_status_id'] == constant('Fa\\Bundle\\EntityBundle\\Repository\\EntityRepository::USER_STATUS_ACTIVE_ID') %}
                                                            {{ include('FaUserBundle:Review:leaveReviewLink.html.twig', {'reviewDetails' : paymentDetail, 'to_whom' : 'buyer'}) }}<br />
                                                            {% if objMessage.getId() is defined and  objMessage.getId() == 1 %}
                                                                <a href="javascript:void(0);" onclick="return contactUser('{{orderId}}', '{{ paymentDetail['ad_id'] }}', '{{ paymentDetail['seller_id'] }}', '{{ paymentDetail['user_id'] }}');">Send buyer a message</a>
                                                            {% elseif objMessage.getId() is defined  %}
                                                                {% if objMessage.getReceiver().getId() is defined and objMessage.getReceiver().getId() == app.user.getId() %}
                                                                    {% set messageType = 'receiver' %}
                                                                {% else %}
                                                                    {% set messageType = 'sender' %}
                                                                {% endif %}
                                                                <a href="{{path('user_ad_message_reply', {'type': messageType, 'replyId': objMessage.getId()})}}">Send buyer a message</a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="pagination-centered">
                                    {{ include('FaFrontendBundle:Default:googlePager.html.twig', {'pagination': pagination, 'addToEndPage': 0, 'seoPager': false}) }}
                                </div>
                                {% else %}
                                    <div class="row">
                                        <div class="columns">
                                            {{ 'No records found.'|trans({}, 'frontend-my-orders') }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="messageUserModal" class="reveal-modal" data-reveal></div>
{% endblock %}

{% block scriptbottom %}
{{ include('FaUserBundle:Review:reviewJs.html.twig', {'success_url': app.request.getUri}) }}
{{ include('FaCoreBundle::starRatingJs.html.twig') }}
{{ include('FaCoreBundle:Default:blockJs.html.twig') }}
<script language="javascript" type="text/javascript">
//<![CDATA[
    $( document ).ready(function() {
        {% if recordPositionArray is defined and recordPositionArray|length and recordPositionArray['id'] is defined %}
            toggleOrderDetail({{recordPositionArray['id']}});
            scrollToElement($('#order_{{recordPositionArray['id']}}'));
        {% endif %}
    });
    var orderStatusButtonColorClassesArray = {0:'', 1:'new-order', 2:'preparing-dispatched', 3:'dispatched', 4:'delivered', 5:'closed'};
    function updateOrderStatus(orderId, newStatusId, newStatusName)
    {
    	$(document).foundation('dropdown', 'closeall');
    	var newClass = orderStatusButtonColorClassesArray[newStatusId];
        var route = Routing.generate('ajax_update_order_status', { 'orderId': orderId });
        blockPage();
        $.ajax({
            type: "POST",
            url : route,
            data : {orderStatusId: newStatusId},
        })
        .always(function(response) {
        	   unblockPage();
        })
        .done(function(response) {
            hideAlertMessage();
            if (response.successMsg.length) {
            	$('#order_status_button_'+orderId).html(newStatusName);
            	for (index in orderStatusButtonColorClassesArray) {
            		$('#order_status_button_'+orderId).removeClass(orderStatusButtonColorClassesArray[index]);
            	}
            	$('#order_status_button_'+orderId).addClass(newClass);
                $(decorateMessage(response.successMsg, 'success')).insertBefore('#order_'+orderId);
            }
            if (response.error.length) {
                $(decorateMessage(response.error, 'alert')).insertBefore('#order_'+orderId);
            }
        });
    }

    function toggleOrderDetail(orderId)
    {
        var buttonText = '';
        if ($('#order_detail_div_'+orderId).css('display') == 'none') {
            buttonText = "{{ 'Hide details'|trans({}, 'frontend-my-orders') }}";
        } else {
        	buttonText = "{{ 'Show details'|trans({}, 'frontend-my-orders') }}";
        }
        $('#order_detail_button_'+orderId).html(buttonText);
        $('#order_detail_div_'+orderId).toggle('slow');
    }

    function viewReceipt(orderId)
    {
    	var route = Routing.generate('order_receipt', { 'orderId': orderId, 'action':'viewonly' });
    	window.open(route,"Order receipt", "height=600, width=750, status=no, titlebar=no, menubar=no, location=no, toolbar=no, resizable=no");
    }

    function printReceipt(orderId)
    {
    	var route = Routing.generate('order_receipt', { 'orderId': orderId, 'action':'viewandprint' });
    	window.open(route,"Order receipt", "height=600, width=750, status=no, titlebar=no, menubar=no, location=no, toolbar=no, resizable=no");
    }

    function contactUser(orderId, adId, senderId, buyerId)
    {
        blockPage();
        var route = Routing.generate('contact_user', { 'adId': adId, 'senderId': senderId, 'receiverId': buyerId, 'whoToWhome': 'S2B' });
        $.ajax({
            type: "GET",
            url : route,
            data : {'redirectUrl': '{{app.request.getUri()}}'},
        })
        .always(function(response) {
            unblockPage();
        })
        .done(function(response) {
            hideAlertMessage();
            if (response.htmlContent.length) {
                $('#messageUserModal').html(response.htmlContent);
                $('#messageUserModal').foundation('reveal', 'open');
            } else if (response.error.length) {
                $(decorateMessage(response.error, 'alert')).insertBefore('#order_'+orderId);
            } else if (response.redirectToUrl.length) {
                window.location.href = response.redirectToUrl;
            }
        });
    }
//]]>
</script>
{% endblock %}