{% extends 'FaFrontendBundle::simpleLayout.html.twig' %}
{% form_theme form 'FaFrontendBundle:Form:fields.html.twig' %}
{% set staticPageRepository = fetch_repository('FaContentBundle:StaticPage') %}
{% if (app.user.getId() is defined) %}
    {% set userId = app.user.getId() %}
{% else  %}
    {% set userId = tempUserId %}
{% endif %}
{# {% use "\\App\\Entity\\User\\UserImage/showProfileImageUploader.html.twig" %} #}
{% block scripttop %}
    {# { block('profileImageUploadStylesheets') } #}
    {{ set_variables('profileImageUploadStylesheets', {'loaded':'true'}) }}
{% endblock %}
{% set getProfileBigImageRoute = "ajax_get_profile_big_image_registration" %}
{% set formName = 'user_registration' %}

{% block title %}
    {{'User registration'|trans({}, 'frontend-register')}}
{% endblock %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        <ul class="error_list">
            {% for error in errors %}
                <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% set socialMediaData = app.session.get('register_user_info') %}
{% if socialMediaData['user_facebook_id'] is defined or socialMediaData['user_google_id'] is defined %}
    {% if socialMediaData['user_facebook_id'] is defined %}
        {% set socialSiteName = 'Facebook' %}
    {% elseif socialMediaData['user_google_id'] is defined %}
        {% set socialSiteName = 'Google' %}
    {% endif %}
{% endif %}

{% set privateLogoLabel = 'Upload a profile image:'|trans({}, 'frontend-paa-register') %}
{% set businessLogoLabel = 'Upload a logo image:'|trans({}, 'frontend-paa-register') %}

{% block body %}
<section class="login-register-block">
    <div class="container">
        <div class="row">
            <div class="col-md-24 pad-none">
                <h1 class="s-h1 mt30 mb30 text-center">{{'Create an account'|trans({}, 'frontend-register')}}</h1>
            </div>
        </div>
	   {% if socialSiteName is defined %}
            <div class="confirm-fb col-md-24 d-block d-md-none">
                <h2 class="titile-one">{{'These are the details we got from %socialSiteName%, please confirm or change them.'|trans({'%socialSiteName%': socialSiteName}, 'frontend-register')|raw}}</h2>
                <h5>{{'This is the contact info buyers will use to get in touch.'|trans({}, 'frontend-register')}}</h5>
            </div>
       {% endif %}
        <div class="row justify-content-center">        	
            <div class="col-md-24 d-block d-md-none">
                <button type="submit" id="" onclick="handleRegEmail()" class="primary-btn-1 btn btn-block btn-fad-blue-large mb20 mobile-reg-with-email-btn">Register with email</button>
            </div>
            <div class="col-md-11 col-lg-8 login-left reg-process mobile-block-reg mobile-form-view">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <div>
                    {{ form_label(form.first_name) }}
                    {{ form_widget(form.first_name, {'attr': {'class': 'form-control white-field'}}) }}
                </div>
                <div>
                    {{ form_label(form.last_name) }}
                    {{ form_widget(form.last_name, {'attr': {'class': 'form-control white-field'}}) }}
                </div>
                <div>
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control white-field'}}) }}
                </div>
                <div>
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password, {'attr': {'class': 'form-control white-field'}}) }}
                </div>
                {% if form.password is defined %}
                <div class="mb10">
                    <div class="label-inline">
                        <ul class="custom-control custom-checkbox search-type crawlable-checkbox">
                            <li>                               
                                {{ form_widget(form.show_password, {'attr': {'class': 'custom-control-input'}}) }}
                                {{ form_label(form.show_password, null, {'label_attr': {'class': 'custom-control-label'}}) }}
                            </li>
                        </ul>              
                    </div>
                </div>
                {% endif %}
                <div>
                    {{ form_label(form.phone) }}
                    {{ form_widget(form.phone, {'attr': {'class': 'form-control white-field'}}) }}
                </div>
                <div class="mb05">
                    <label>{{'I would like buyers to contact me by:'|trans({}, 'frontend-paa-register')}}</label>
                    <div class="label-inline d-inline-flex">
                        <div class="white-check">
                        	{{ form_widget(form.contact_through_phone, {'attr': {'class': 'checkbox'}}) }}
                        	<label for="{{ form.contact_through_phone.vars.id }}"></label>Contact through phone                                                                                    
                        </div>
                        <div class="white-check">
                        	{{ form_widget(form.contact_through_email, {'attr': {'class': 'checkbox'}}) }}
                        	<label for="{{ form.contact_through_email.vars.id }}"></label>Contact by email                                                                                
                        </div>                             
                    </div>
                </div>

                <div class="mb05">
                	<label>Account status</label>
                    {{ form_widget(form.user_roles, {'attr': {'class': 'white-radio radio-circle-btn'}}) }}                 
                </div>
                <div>
                	{% set logoLabel = privateLogoLabel %}
                    {% if isCompany == 1 %}
                       {% set logoLabel = businessLogoLabel %}
                    {% endif %}
                    <div><label>{{ logoLabel }}:</label></div>

                    <div class="d-inline-flex mb20">
                        <div class="profile-logo-img">
                            <div class="bz-profile-logo {% if isCompany == 0 %} rounded{% endif %}" id="profile_image_div"></div>
                        </div>
                        <div class="profile-logo-ins private-profile reg-profile-btn {% if isCompany == 1 %}bz-profile-btn{% endif %}">
                            <div id="profile_change_btn_with_opt" {% if logoUploaded == 0 %}style="display:none;"{% endif %}>
                                <a href="javascript:void(0);" data-dropdown="profile_image_upload" aria-controls="profile_image_upload" aria-expanded="false" class="primary-btn-2 button dropdown thin-btn">{{'Upload image'|trans({}, 'frontend-my-profile')}}</a><br />
                                <ul id="profile_image_upload" data-dropdown-content class="f-dropdown" aria-hidden="true">
                                    <li><a href="javascript:void(0)" class="pickProfileFile needsclick" id="pickProfileFile">{{'Upload profile photo'|trans({}, 'frontend-my-profile')}}</a></li>
                                    <li><a href="javascript:getProfileBigImage('{{ path(getProfileBigImageRoute, {'userId': userId, 'isCompany': isCompany}) }}')">{{'Edit profile photo'|trans({}, 'frontend-my-profile')}}</a></li>
                                    <li><a href="javascript:removeImage()">{{'Remove'|trans({}, 'frontend-my-profile')}}</a></li>
                                </ul>
                            </div>
                            <div id="profile_change_btn_without_opt" style="position: relative;{% if logoUploaded == 1 %}display:none;{% endif %}">
                                <a href="javascript:void(0);" id="pickProfileFile1" class="secondary-btn-1 btn pickProfileFile needsclick thin-btn" style="z-index: 1;">{{'Upload image'|trans({}, 'frontend-my-profile')}}</a>
                            </div>
                        </div>
                    </div>
				   <div class="business_seller_fields white-select" style="display:none;">
                        {{ form_row(form.business_name, {'attr': {'class':'white-field'}}) }}
                        {{ form_row(form.business_category_id, {'attr': {'class':'select-control white-field'}}) }}
                    </div>
                    <div class="label-inline mt10">
                        <div class="white-check mb10">
                        	{{ form_widget(form.is_email_alert_enabled, {'attr': {'class': 'checkbox'}}) }}
                        	<label class="mb0" for="{{ form.is_email_alert_enabled.vars.id }}"></label>I'd like to receive news, offers and promotions by email from Friday-Ad                                                        
                        </div> 
                        <div class="white-check mb10">    
                        	{{ form_widget(form.is_third_party_email_alert_enabled, {'attr': {'class': 'checkbox'}}) }}
                        	<label class="mb0" for="{{ form.is_third_party_email_alert_enabled.vars.id }}"></label>I'd like to receive offers and promotions by email on behalf of carefully chosen partners                                                        
                        </div> 
                        <div class="white-check mb10">
                           {{ form_widget(form.is_terms_agreed, {'attr': {'class': 'checkbox'}}) }}
                           <label class="mb0" for="{{ form.is_terms_agreed.vars.id }}"></label>I have read and agree to the <a href="/terms-and-conditions/" target="_blank">terms and conditions</a>                            
                        </div> 
                    </div>
                </div>
                <div class="mt20 mb20">
                      We will use your data to help us create your account. Please take a look at our <a href="/privacy-policy/" target="_blank">Privacy Policy</a> for more information about how we use your data.
                </div>
                <div class="mt20">
                	{{ form_widget(form.Register, {'attr': {'class':'primary-btn-1 btn btn-block btn-fad-blue-large'}}) }}
                </div>
             {{ form_end(form) }}
            </div>
            
            <div class="col-md-11 col-lg-8 login-right">
                <div class="mobile-block-reg">
                    <div>
                        <button type="reset" class="signup-fb-btn button expand" onclick="javascript:fbLoginPopup('{{ facebookLoginUrl }}');">
                            <span class="signup-fb-icon">&nbsp;</span>{{ 'Sign Up with Facebook'|trans({}, 'frontend') }}
                        </button>
                    </div>
                    <div>
                        <button type="reset" class="signup-google-btn button expand" onclick="javascript:googleLoginPopup('{{ googleLoginUrl }}');">
                            <span class="signup-google-icon">&nbsp;</span>{{ 'Sign Up with Google'|trans({}, 'frontend') }}
                        </button>
                    </div>
                    <span class="signup-ins">
                        {{'We won\'t post anything <b>without your permission.</b>'|trans({}, 'frontend-login')|raw}}{{ include('FaAdBundle:AdPost:paaToolTipHelp.html.twig', {'paaBlockSlug': 'registration-login-help'}) }}</b>            
                    </span>
                </div>
                <div class="reg-here">
                    <h2 class="s-h2 mb20">{{'Already have an account?'|trans({}, 'frontend-register')}}</h2>
                    <a href="{{ path('login') }}" class="secondary-btn-1 btn register-btn">{{'Log In here'|trans({}, 'frontend-register')}}</a>
                </div>
            </div>
            </div>
        </div>
</section>
<div id="privacyNumberModal" class="reveal-modal" data-reveal style="display:none">
    {% set privacyNumberBlock = staticPageRepository.getStaticBlockDetailArray('privacy-number-block', fetch_container_instance()) %}
    <a class="close-reveal-modal">&#215;</a>
    {% if privacyNumberBlock['title'] is defined %}
        <h5 class="modal-title">{{privacyNumberBlock['title']}}</h5>
    {% endif %}
    <div class="modal-content">
        {{privacyNumberBlock['description']|raw}}
    </div>
</div>
<div id="cropProfileImageModal" class="reveal-modal small" data-reveal></div>
{% endblock %}

{% block scriptbottom %}
{{ include('FaCoreBundle:Default:blockJs.html.twig') }}
<script language="javascript" type="text/javascript">
//<![CDATA[
    $(document).ready(function(){
        showHideBusinessSellerFields();
        enableDisableContactThroughPhone();
        // untick show_password
        if ($('#user_registration_show_password').is(':checked')) {
            $('#user_registration_show_password').attr('checked', false);
            $('#user_registration_show_password').closest('span').removeClass('checked');
        }

        $('#register_with_email').click(function() {
            $('.login-right').hide();
            $('.login-left').show();
        });

        $("input[name='user_registration[user_roles]']:radio").change(function() {
            showHideBusinessSellerFields();
        });

        $("#user_registration_show_password").click(function() {
            showHidePassword();
        });
        
        {% if  app.request.getMethod() == 'POST' or socialSiteName is defined %}
            if (screen.width < 700) {
                $('.login-right').hide();
                $('.login-left').show();
            }
        {% endif %}

        function showHidePassword() {
            if ($('#user_registration_show_password:checked').val()) {
                $('#user_registration_password').attr('type', 'text');
            } else {
                $('#user_registration_password').attr('type', 'password');
            }
        }

        $("#user_registration_is_third_party_email_alert_enabled").parent('span').on('click', function (e) {
            if ($('#user_registration_is_third_party_email_alert_enabled').parent().hasClass('checked')) {
                $('#user_registration_is_third_party_email_alert_enabled').attr('checked', true);
            } else {
                $('#user_registration_is_third_party_email_alert_enabled').attr('checked', false);
            }

            if ($('#user_registration_is_third_party_email_alert_enabled').attr('checked')) {
                $('#user_registration_is_email_alert_enabled').attr('checked', $('#user_registration_is_third_party_email_alert_enabled').attr('checked'));
                $('#user_registration_is_email_alert_enabled').parent().addClass('checked');
            }
        });

        $("#user_registration_is_email_alert_enabled").parent('span').on('click', function (e) {
            if ($('#user_registration_is_email_alert_enabled').parent().hasClass('checked')) {
                //$('#user_registration_is_third_party_email_alert_enabled').attr('disabled', false);
                $('#user_registration_is_email_alert_enabled').attr('checked', true);
            } else {
                //$('#user_registration_is_third_party_email_alert_enabled').attr('disabled', true);
                $('#user_registration_is_email_alert_enabled').attr('checked', false);
            }
            if (!$('#user_registration_is_email_alert_enabled').attr('checked')) {
                $('#user_registration_is_third_party_email_alert_enabled').attr('checked', false);
                $('#user_registration_is_third_party_email_alert_enabled').parent().removeClass('checked');
            }
        });
        
        function showHideBusinessSellerFields() {
            if ($("input[name='user_registration[user_roles]']:checked").val() == "ROLE_BUSINESS_SELLER" || $("input[name='user_registration[user_roles]']:checked").val() == "ROLE_NETSUITE_SUBSCRIPTION") {
                $('#logo_label').html("{{businessLogoLabel}}");
                $('.business_seller_fields').show();
                $('.fa-select-white').selectmenu().selectmenu('refresh',true);
                $('.profile-logo-ins').addClass('bz-profile-btn');
                  $.ajax({
                    type: "POST",
                    url : '{{ path("ajax_get_user_image") }}',
                    data: { userId: '{{userId}}', isCompany: '1'}
                  })
                 .done(function(response) {
                    $('#profile_image_div').html(response.image);
                 });
                $('#profile_image_div').removeClass('rounded');
            }
            else {
                $('#logo_label').html("{{privateLogoLabel}}");
                $('.business_seller_fields').hide();
                $('.profile-logo-ins').removeClass('bz-profile-btn');
                  $.ajax({
                    type: "POST",
                    url : '{{ path("ajax_get_user_image") }}',
                    data: { userId: '{{userId}}', isCompany: '0'}
                  })
                 .done(function(response) {
                    $('#profile_image_div').html(response.image);
                 });
                $('#profile_image_div').addClass('rounded');
            }
        }

        function enableDisableContactThroughPhone() {
            $('#user_registration_phone').keyup(function() {
                validatePhoneAndEnableDisableContactThroughPhone();
            });
            validatePhoneAndEnableDisableContactThroughPhone();
        }

        function validatePhoneAndEnableDisableContactThroughPhone() {
            var phone = $.trim($('#user_registration_phone').val());
            var phone = phone.replace(/\s/g, '');
            var patt = new RegExp(/^\+?\d{7,11}$/);
            if (patt.test(phone)) {
                $('#user_registration_contact_through_phone').parent().removeClass('checkbox-disabled');
                $('#user_registration_contact_through_phone').attr('disabled', false);

                $('#user_registration_is_private_phone_number').parent().removeClass('checkbox-disabled');
                $('#user_registration_is_private_phone_number').attr('disabled', false);
            } else {
                $('#user_registration_contact_through_phone').parent().addClass('checkbox-disabled');
                $('#user_registration_contact_through_phone').attr('checked', false);
                $('#user_registration_contact_through_phone').attr('disabled', 'disabled');
                $('#user_registration_contact_through_phone').parent().removeClass('checked');

                $('#user_registration_is_private_phone_number').parent().addClass('checkbox-disabled');
                $('#user_registration_is_private_phone_number').attr('checked', false);
                $('#user_registration_is_private_phone_number').attr('disabled', 'disabled');
                $('#user_registration_is_private_phone_number').parent().removeClass('checked');
            }
        }
   });

    function removeImage()
    {
      var isCompany = 0;
      if ($("input[name='user_registration[user_roles]']:checked").val() == "ROLE_BUSINESS_SELLER") {
        isCompany = 1;
      }
      $.ajax({
        type: "POST",
        url : '{{ path("ajax_remove_temp_user_image") }}',
        data: { userId: '{{userId}}'},
      })
      .done(function(response) {
        if (isCompany == 1) {
          $('#profile_image_div').html(response.businessUserLogo);
        } else {
          $('#profile_image_div').html(response.privateUserLogo);
        }
        $('#profile_image_upload').foundation('dropdown', 'close', $('#profile_image_upload'));
        $('#profile_change_btn_with_opt').hide();
        $('#profile_change_btn_without_opt').show();
        $('#filelist').html('');
        
        if (response.error.length) {
            $('#filelist').html(decorateMessage(response.error, 'alert'));
        } else if (response.successMsg) {
          $('#filelist').html(decorateMessage(response.successMsg, 'success'));}
      });
    }
//]]>
</script>
{% endblock %}

{% block dimension2 %}
<script language="javascript" type="text/javascript">
//<![CDATA[
    {% if app.user.getId() is not defined or app.user.getId() is null %}
    	ga('set', 'dimension9', 'not logged in');
    {% else %}
    	ga('set', 'dimension9', 'logged in');
    {% endif %}
    ga('send', 'pageview', {'dimension1': defLocationText, 'dimension2':  'Login_Or_Register'{% if app.request.get('ti_url') %} ,'dimension8': '{{ app.request.get('ti_url') }}' {% endif %}});
//]]>
</script>
{% endblock %}
