{% extends 'FaAdminBundle::layout.html.twig' %}
{% form_theme form 'FaAdminBundle:Form:adminFields.html.twig' %}
{% set queryParams = app.request.query.all %}

{% set exportToCsv     = false %}
{% set adReportCsvList = false %}

{% if fa_resource_authorization_manager.isGranted('fa_report_ad_export_to_csv') %}
  {% set exportToCsv = true %}
{% endif %}

{% if fa_resource_authorization_manager.isGranted('ajax_fa_report_ad_csv_list') %}
  {% set adReportCsvList = true %}
{% endif %}

{% block content -%}
    <div class="large-row">
        {{ include('FaAdminBundle:Default:listSearchHeading.html.twig', {'isAddNew': false}) }}

        {% use "FaReportBundle:AdReportAdmin:search.html.twig" %}
        {{ block('search_html') }}

        {% if pagination is not null and pagination.getNbResults() %}
            {% if exportToCsv %}
                <div class="row">
                    <div class="columns text-right mb10">
                        <a href="{{ path('fa_report_ad_export_to_csv') }}">{{'Export to csv'}}</a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% if pagination is not null and searchParams|length and not isCountQuery %}
            {{ include('FaAdminBundle:Default:pager.html.twig', {'pagination': pagination}) }}
        {% endif %}

        {% if searchParams|length and form.vars.valid %}
            {{ include('FaReportBundle:AdReportAdmin:list.html.twig', {'pagination': pagination}) }}
        {% endif %}

        {% if pagination is not null and searchParams|length and not isCountQuery %}
            {{ include('FaAdminBundle:Default:pager.html.twig', {'pagination': pagination}) }}
        {% endif %}
    </div>
{% endblock %}

{% block scriptbottom %}
    {{ block('search_script') }}
{% endblock %}