{% set reportFieldsArray = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserReportFieldsChoices') %}
{% set reportSortFieldsArray = staticCall('Fa\\Bundle\\ReportBundle\\Repository\\UserReportRepository', 'getReportSortFields') %}

<div class="row">
    <div class="columns">
        <div class="table-fix-col">
            <div class="fa-scroller2">
            <table class="fixed-table fatable">
            {% if searchParams is defined %}
                {% if searchParams['rus_report_columns'] is defined %}
                    <thead>
                        <tr>
                            {% if searchParams['rus_report_type'] == 'user_wise' %}
                                <th width="100">
                                    {{ sortable_link('fa_report_user', 'name', 'Name', sorter) }}
                                </th>

                            {% endif %}
                            {% for key, value in searchParams['rus_report_columns'] %}
                                <th width="100">
                                    {% if value in reportSortFieldsArray %}
                                        {{ sortable_link('fa_report_user', value, reportFieldsArray[value], sorter) }}
                                    {% else %}
                                        {{ reportFieldsArray[value] }}
                                    {% endif %}
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                {% endif %}
             {% endif %}
                 <tbody>

                 {% for reportFieldsData in reportDataArray %}
                    <tr>
                        {% if searchParams['rus_report_type'] == 'user_wise' %}
                            <td width="100">{{reportFieldsData['name']}}</td>
                        {% endif %}
                    {% for innerKey, value in searchParams['rus_report_columns'] %}
                        <td width="100">
                        {% if reportFieldsData[value] is defined %}
                            {{ reportFieldsData[value] }}
                        {% endif %}
                        </td>
                    {% endfor %}
                    </tr>
                 {% endfor %}
                 </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
